[2019-10-08 21:31] jameslew commented on #138
Looks like the path was changed: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-facebook?view=azure-bot-service-4.0.  I'll get entered as a hopper bug.

[2019-10-08 21:37] jameslew commented on #138
Entered into the backlog.  Closing as it's tracked in product db.

[2019-10-08 21:37] #138 closed

[2019-10-09 13:15] wethil commented on #139
You mean if I am using the last version of botbuilder (v4.x) this means graph api version won't be a problem right?

[2019-10-09 16:16] Jeffders commented on #124
In current DL ASE, you can establish the socket with either a secret or token, no conversationID is needed. (i.e. Connect no longer requires a conversation ID).

You can then call StartConversation as normal.

[2019-10-09 16:16] #124 closed

[2019-10-10 15:08] marcasmar94 commented on #71
Using the Virtual Assistant template, i keep getting:
 **ArgumentNullException: invalid activity-missing Conversation.Id**
at  **Microsoft.Bot.Builder.ConversationState.GetStorageKey**

Please check the issue opened here [issue](https://github.com/microsoft/botbuilder-dotnet/issues/2630)
This only happens on Facebook Channel.

[2019-10-10 18:11] EricDahlvang commented on #71
@marcasmar94  Which Facebook Messenger events have you subscribed to?

[2019-10-10 18:21] marcasmar94 commented on #71
Webhoook  is subscribed to:

- messages
- messaging_postbacks
- messaging_optins
- message_deliveries
- standby
- message_echoes
- messaging_handovers

[2019-10-11 01:09] sphanley commented on #137
Hello @anusharavindar! Bad news - I'm experiencing the same issue again, and again, no change whatsoever has been made to my code or azure configuration. Any chance this can be reopened so someone can look into if there's an issue between the Bot Service and GroupMe?

[2019-10-11 07:48] marcasmar94 commented on #71
It seems **message_echoes** was causing these issues, As soon as i Unsubscribed from this event in Facebook settings, the exceptions were gone.

Thank you @EricDahlvang  for pointing me to the right direction!

[2019-10-11 18:49] sphanley commented on #137
Interestingly - it seems like the issue may be specifically with URL shorteners. The URLs being sent by my bot are all bit.ly URLs, and we've discovered that when users in our chats send bit.ly or tinyurl URLs in messages, those messages are showing up normally for the users who sent them, but aren't visible to anyone else. Any chance someone on the Microsoft side can investigate whenever there's

[2019-10-11 20:52] jameslew commented on #139
Yes, but more specifically, the Graph implementation is done in the Bot Service itself, not in the SDK; the SDK (unless you're using a channel specific adapter in the SDK) is channel agnostic.

[2019-10-11 20:55] jameslew commented on #136
Moved to an internally tracked item in the Bot Service devops instance.  Thank you!

[2019-10-11 20:55] #136 closed

[2019-10-11 21:29] mickeydjw commented on #115
Does this need to remain open?  We have a bug open for the issue.

[2019-10-11 21:46] v-kydela commented on #115
@bwamie - Is this fixed?

[2019-10-11 21:54] CoHealer commented on #115
Confirmed the bug fix has been merged:
Merged PR 10411: Fix facebook channel receipt quantity bug.

[2019-10-11 21:54] #115 closed

[2019-10-12 02:06] arturl commented on #104
Fix available -- should be deployed before 10/18

[2019-10-12 02:06] arturl commented on #106
Fix available -- should be deployed before 10/18

[2019-10-12 18:01] inirudebwoy opened #140 "Generic OAuth2 configuration"
Hi,

I'm working on a bot that integrates with Bitbucket and Jira. I have followed this guide https://docs.microsoft.com/en-gb/azure/bot-service/bot-builder-authentication?view=azure-bot-service-4.0&tabs=csharp%2Cbot-oauth and managed to successfully use `OAuthPrompt` for Bitbucket. BTW this is a great feature that saves a lot of time.

Unfortunately I'm not able to make it work for Jira and the p

[2019-10-14 14:22] aishwaryaumachandran opened #141 "Adaptive Cards - Cannot display more than 7 cards on the channels"
## Adaptive cards - Cannot display more than 7 cards on the channels (Directline, Teams, Facebook).

## Issue
*Card carousel with more than 7 cards does not work on the following channels - Teams, Directline, Facebook. It works correctly on the emulator*

Please find the illustrative screenshot of the response from the emulator (Response has 16 cards):

<img width="561" alt="Screen Shot 2019-10-14

[2019-10-14 16:27] sphanley commented on #97
Any expected ETA on a fix for this issue? Because of the fact that these messages are coming through as message activities rather than conversation update activities, the ID(s) of the added user(s) aren't present on the message, which really limits the ability to directly interact with those users when they join the chat.

As an aside - it's worth mentioning that GroupMe sends slightly different s

[2019-10-14 16:28] NickEricson commented on #133
A fix was deployed world wide for this last week. Please let me know if you are still seeing this issue.

[2019-10-14 16:28] #133 closed

[2019-10-14 21:25] CoHealer commented on #137
Reactivating with positive repro of the issue. @craigjensen / @jameslew can someone please assist?

[2019-10-14 21:29] sphanley commented on #137
For what it's worth, it seems like other GroupMe users are confirming that it's a general GroupMe issue that's affecting bitly and tinyURL links - sounds like it's not specific to using the Bot Framework GroupMe service. I found other people discussing it on the GroupMe subreddit: https://www.reddit.com/r/GroupME/comments/dem0x5/bitly_links_do_not_show_up_any_longer/

[2019-10-14 22:06] anusharavindrar commented on #137
Hello @sphanley, I was able to repro the issue with bit.ly and tinyURL links, but it works fine with other URL shorteners like Short URL and Cuttly. The issue seems to be on the GroupMe side on how they handle and allow the shortened URLS.

[2019-10-14 22:18] sphanley commented on #137
I agree - it seems like it's a GroupMe issue, not a bot service issue. Do any of you know whether there's a better way to transfer this issue to the relevant GroupMe folks other than just emailing their support address?

Just to capture the last of my findings: I tried a handful of URL shorteners, here's the results.

http://tinyurl.com/c8xugfa - didn’t work
http://bit.ly/ZKdYbB - didn’t work
http

[2019-10-14 23:51] jameslew commented on #137
We're working to identify the right team contact for this issue.  @mickeydjw is following up.

[2019-10-14 23:55] jameslew commented on #139
Thanks for reporting; I think we can mark this one as closed now - though do feel free to raise if you have any further questions.

[2019-10-14 23:55] #139 closed

[2019-10-15 06:33] stevkan commented on #141
@aishwaryaumachandran, can you post the code you are using for generating and calling the carousel cards? Also, which SDK and version are you using? It is also important to note that it is the individual channels that determine how they handle the various activities, including receiving card carousels.

That said, I tested the three channels with the following results:

- Direct Line (via Web Chat

[2019-10-15 19:47] mickeydjw commented on #97
Assigning to myself for tracking purposes.   @sphanley I'll update you with an ETA here once I have more info for you.

[2019-10-15 19:50] sphanley commented on #97
Thanks @mickeydjw! I really appreciate the support.

[2019-10-16 18:15] jwiley84 commented on #134
Karen, I am so sorry for not getting back to you. Is your bot deployed with local memory as storage? Is it saving any information from the users at all? Local Memory is advised only for debugging purposes. It effectively "resets" as soon as you turn your bot off. It's not meant for deployment purposes.

[2019-10-16 20:26] jwiley84 commented on #140
Taking a look at the Generic Oauth 2 settings on the Azure blade, I see this:

![image](https://user-images.githubusercontent.com/17333688/66955885-23ae0800-f018-11e9-8570-eda16e05cf22.png)

Couldn't you just put the 'audience' in as part of the auth URL? Like, instead of putting just 'https://auth.atlassian.com', put the whole thing?
[code]

Either that, or use 'Oauth 2 generic provider', which o

[2019-10-16 21:10] inirudebwoy commented on #140
I have tried adding audience like you said
![Screenshot 2019-10-16 at 10 58 00 PM](https://user-images.githubusercontent.com/205848/66958485-8c24d580-f068-11e9-988f-6f4538bbfcf7.png)
Unfortunately URL that is constructed after this change is not what JIRA expects. `cliend_id` in params becomes `?client_id`.

![Screenshot 2019-10-16 at 11 01 52 PM](https://user-images.githubusercontent.com/205848/6

[2019-10-17 00:26] arturl commented on #104
I sent a hero card with empty title, subtitle and text and it worked fine:
![image](https://user-images.githubusercontent.com/1875734/66968389-c6c34980-f039-11e9-8c87-930bba7f12bb.png)

If you still need a fix, please attach the exact repro case.
Do I understand correctly that using `null` instead of empty string works? If so, just use null.

[2019-10-17 15:42] bhushanvadgave opened #142 "Directline API failures causing downtime of bots"
We have multiple bot services running in production serving multiple customer businesses. All of our bots have become unresponsive due to Directline API failures.

Below is the error we are seeing in our bot services.
``
POST to 'https://directline.botframework.com/v3/conversations/BwFsKMH1RkWGpM14IOOnWM-h/activities/BwFsKMH1RkWGpM14IOOnWM-h%7C0000017' failed: [503] Service Unavailable
``
Help us

[2019-10-17 17:37] v-kydela commented on #104
I'm very sorry Artur! It looks like I did leave out some vital information from the original post. This can't be reproduced with just the empty strings, and it also can't be reproduced by including images in the card. It only happens when the card has buttons.

Here's a repro for C#:

[code]

Here's a repro for Postman:

[code]

[2019-10-17 18:25] DanielTizon commented on #142
This is not serious. Supposedly this is a production-ready service, and it is not the first time that we have many hours of downtime in **EUROPE REGION**.

[2019-10-17 18:44] clearab commented on #102
Can you send an example of what you mean by "garbled"? I've been unable to reproduce the behavior you're describing.

[2019-10-17 18:56] ckkashyap commented on #142
Sorry about that.
We had an incident in our european  data centers where a number of requests resulted in 503 (Service Unavailable) responses. We have taken mitigation steps and are closely monitoring the services. Please let us know if you continue to experience issues.

[2019-10-18 00:02] arturl commented on #104
Fix available. Deployment ETA 10/24

[2019-10-18 03:44] sharmadine commented on #142
The Botha are back again. I wish the issue doesn't reoccur again.

[2019-10-18 15:30] jmnsf commented on #102
@clearab there's one [here](https://github.com/microsoft/BotFramework-Services/issues/102#issue-476942480) (check the `src` attribute):

[2019-10-18 15:42] jwiley84 commented on #140
Let me reach out to a teammate, see if I can figure out what's going on. If that '?' in client_id was removed, would it (hypothetically) work as expected?

[2019-10-18 18:49] inirudebwoy commented on #140
Thanks. Yes, it would. I've opened URL with same params (except state) in the browser, I saw consent screen where I approved my app. I received `400` response from `https://token.botframework.com/.auth/web/redirect` but I'm guessing it's because my `state` param has not been matched.

[2019-10-18 21:16] kds-snyder commented on #134
The bot is using local memory for storage, and I realize that it is cleared whenever the bot is re-deployed or restarted. I have not yet been able to allocate the time needed to change to Azure storage or Cosmos DB. However, is using local memory for storage a potential cause of the intermittent 502 errors?

[2019-10-18 21:22] #132 closed

[2019-10-18 21:23] mickeydjw commented on #132
Work item in backlog, closing issue.

[2019-10-21 15:38] stevkan commented on #141
@aishwaryaumachandran, are you still needing help on this? Are you able to provide your code?

[2019-10-21 18:04] jwiley84 commented on #134
It's a potential cause. What version of the SDK are you using?

[2019-10-22 18:06] congysu commented on #106
@arturl can you please confirm this is deployed?  thanks.

[2019-10-22 22:59] arturl commented on #106
The deployment just completed, the issue is fixed.

[2019-10-22 22:59] #106 closed

[2019-10-24 19:06] stevkan opened #148 "Typing indicator fails to display in Azure Portal"
## Screenshots

![noTypingIndicator](https://user-images.githubusercontent.com/18403946/67516154-fc2cf000-f654-11e9-94d7-0ed84a7f0631.gif)

## Version
Test in Web Chat

## Describe the bug
As reported by a customer in [this](https://stackoverflow.com/questions/58518661/typing-indicator-in-chatbot) Stack Overflow post: Sending the typing indicator in `sendActivities()` fails to display in Test in W

[2019-10-24 20:23] wethil commented on #139
Okey, thank you for help

[2019-10-24 20:49] stevkan commented on #141
Closing due to a lack of activity.

[2019-10-24 20:49] #141 closed

[2019-10-25 14:43] olliecwl opened #144 "BotFrameworkAdapter.CreateConversation call for SMS fails to provide Conversation Id"
## Versions
What package version of the SDK are you using: 4.6.0-preview1
What nodejs version are you using: 11.12
What browser version are you using: N/A
What os are you using: Windows 10 Pro

## Describe the bug
Our bot is hosted outside of Azure and interacts with users via SMS. Our bot is registered on Azure and we are using it as a go-between for our SMS provider.

When we attempt to [create

[2019-10-27 19:52] muminasaad opened #143 "[Feature Request]: Change channel id in directline"
## Issue
Cannot diffirentiate between multiple implemented directline channels.

I have implemented multiple channels that are not supported by Microsoft and to customize the UX i need to differentiate between them.

it would be great if we can customize channel id or add the site name that is defined in the azure portal somewhere

## Proposed change
Customizable channel id or add site name to req

[2019-10-28 18:07] johnataylor commented on #143
@dandriscoll a custom feature request - can you comment? thanks

[2019-10-28 18:12] johnataylor commented on #144
@dandriscoll can you assign this appropriately. We think this is a limitation of the support in the twillio channel?

[2019-10-28 22:35] stevkan commented on #144
I was able to successfully repro this issue. The SDK doesn't appear to have changed in significant ways so I would agree that this is likely a channel issue.

[2019-10-29 05:14] archmangler opened #145 "Azure Bot Portal: "Failed to dynamically fetch target download uri.""
From the Azure Bot Portal for Web app bot, under the "Build" tab, when I try to download the bot source  code the operation fails with this error:

[code]

After dozens of tries with multiple bot deployments this behaviour is consistent.

How can I down load the bot code?

[2019-10-29 12:09] Valerii-Poliakov opened #146 "Facebook insists on formal application review or will ban the bot channel on Dec 16."
Hi
We have bot which is working in Workplace by Facebook environment for more than 1 year. The channel created as Custom Integration in Workplace and corresponding token passed to the Azure Bot Channel Registration.
Now this integration has the following warning "This integration has not yet completed this updated review process. On December 16, 2019, we will remove access to any integration that

[2019-10-29 17:34] v-kydela commented on #146
Hello @Valerii-Poliakov

Microsoft is currently working to make sure your bot will continue to work. The only thing I know of that's required from your end is to enable your integration:

![image](https://user-images.githubusercontent.com/41968495/67793154-91562d00-fa37-11e9-93c9-26073c7abab0.png)

I will ask for more information and let you know if there's anything else you need to do.

[2019-10-29 18:11] #142 closed

[2019-10-29 18:15] johnataylor commented on #102
@clearab do you have any update on this?

[2019-10-29 19:38] mickeydjw commented on #97
@sphanley I haven't forgotten about you.  We're working on finding the right folks for help with the groupme issues.

[2019-10-29 19:42] sphanley commented on #97
I appreciate the update @mickeydjw! I know how hard it can be sometimes to work across multiple teams and services. I'm looking forward to eventual movement on this and #101!

[2019-10-29 20:24] dandriscoll commented on #143
Hi @muminasaad this is not possible with today's architecture. Bot Framework has a security model that prevents impersonation or spoofing between channels -- it ensures separation between channels and allows bot code to rely on channel IDs as a basis for other IDs within the system: user IDs, conversation IDs, etc. Changing this would require changes to our security infrastructure.

Instead, you h

[2019-10-29 20:24] #143 closed

[2019-10-29 23:13] EricDahlvang commented on #140
@inirudebwoy Can you try the **OAuth 2 Generic Provider**? (you might get away with adding audience param to the Authorization URL Query String Template, or the Token Body Template)

Property | Description | AADv2 example
-- | -- | --
ClientId | The AAD v2 AppID | -a guid-
ClientSecret | The AAD v2 Password | -a pwd-
Scope List Delimiter | The character to use between scope values (often a space

[2019-10-30 09:05] muminasaad commented on #143
@dandriscoll Actually the first point you have mentioned is what i am searching, and if you can check the third line of the original request it says
" add the site name that is defined in the azure portal somewhere "

Thank you for mentioning this information it would help alot as it was not mentioned in the documentation and i was not able to find nor rely on it

[2019-10-30 09:15] Valerii-Poliakov commented on #146
Thank you for response. Waiting for updates.

[2019-10-30 09:37] muminasaad commented on #143
@dandriscoll Can you provide a way to know the site id from the portal

[2019-10-30 11:11] muminasaad commented on #143
@dandriscoll  Thank you i found the answer.

for anyone is checking for the answer, the Recipient.Id property will have the following format:

BotHandle@SiteID

the Bot handle is under settings in the WebApp Bot
the Site ID can be parsed from the Token as the following:
     Assume you have the following Token ABCD.EFGHJKLMN.OPQRSTUV=-
     Split it by "." and the first part of the token is the si

[2019-10-30 20:56] inirudebwoy commented on #140
I got it working 😄
I tried already with audience in Authorization URL Query String Template and it did not work. What was wrong in my case was Refresh Body Template. I can not remember where I got it from.

Thanks for help.

[2019-10-30 20:56] #140 closed

[2019-10-31 16:01] jwiley84 commented on #134
If your bot is deployed to azure, you can go into the 'build' function on the bot management portion of the overview blade, and select 'open online code editor'. That should get you a list of the associated files, including '<BOTNAME>.deps.json'. It will have a list of the dependencies and their versions, like this:

![image](https://user-images.githubusercontent.com/17333688/67964160-09019480-fbb

[2019-10-31 20:52] kds-snyder commented on #134
In the online code editor there is 'HelpDeskBot.deps.json' with the following, so it appears that I am using the 4.4 SDK:
![image](https://user-images.githubusercontent.com/14143452/67984981-1f234b00-fbe5-11e9-889f-cda7a10764c8.png)

![image](https://user-images.githubusercontent.com/14143452/67985118-5db90580-fbe5-11e9-9786-36ece22fbc5c.png)

[2019-11-01 17:53] cwhitten commented on #87
@jameslew when it this scheduled to be addressed? We continue to get complaints from customers on the WebChat project.

[2019-11-01 19:08] dandriscoll commented on #87
I have status on this from our last standup -- we are waiting on a bugfixed version of Adaptive Cards and are targeting ~11/22 for a fix in production.

[2019-11-01 21:26] dandriscoll commented on #146
Hi @Valerii-Poliakov -

You're correct, starting December 16, 2019, Workplace by Facebook is changing security model for custom integrations. Current integrations built using Microsoft Bot Framework v4 on JavaScript/Node.js may be updated to use the [Bot Framework Facebook for Workplace Adapter](https://www.npmjs.com/package/botbuilder-adapter-facebook) and deployed using Azure Web App to continue

[2019-11-01 22:04] DDEfromOR commented on #144
Picking this up to look into on the SDK and Service sides and figure out where to make the fix.

[2019-11-04 07:51] paulio commented on #87
Potential dumb question warning ;) A client is suggesting that when they use Web Sockets they don't see the issue. I confess I don't know too much about this, is there any truth/reason for this?

[2019-11-04 10:05] Valerii-Poliakov commented on #146
Hi @dandriscoll

So, I have to migrate my bot code from ver. 3.15 to ver. 4.x and use "Bot Framework Facebook for Workplace Adapter" in order to avoid Dec 16th ban. Am I understand right?

Best Regards
Valerii

[2019-11-04 15:11] dandriscoll commented on #87
It's a good question but I can't think of a reason for that as the processing occurs inbound from the bot, not outbound to the client (over GET vs. Web Socket). Not all cards trigger the issue in the current library.

[2019-11-04 18:08] v-kydela commented on #87
@dandriscoll - Does the fix account for future versions of Adaptive Cards by allowing Adaptive Cards that Direct Line doesn't understand pass through unchanged? Or does the fix just incorporate the latest version of Adaptive Cards without changing the underlying design of Direct Line?

[2019-11-05 19:54] compulim commented on #137
Talked to @mickeydjw offline, we are still finding the right contacts for this issue and #97.

[2019-11-05 20:18] sphanley commented on #137
For what it's worth, I can't reproduce this issue anymore - bit\.ly URLs are showing up normally in my group chats. I'm assuming it was fixed, either intentionally or incidentally, on the GroupMe side.

[2019-11-05 22:08] DDEfromOR commented on #144
Looking at this from the channel side and hunting for inconsistencies between the formatting in responses vs requests sent from the channel to the bot. The code hasn't changed in over 6 months and this is the first report of the bug so I'm digging a bit deeper to make sure something hasn't changed upstream before deciding where the fix should live.

[2019-11-07 17:54] kavita-rajbhar opened #147 "I am trying to update message endpoint in web app bot in azure. It takes longer time and it doesn't update new endpoint"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) where there is a robust community to help you

To file an issue against a component please go to the components repo
* [Create Azure Bot Framewor

[2019-11-07 19:12] sgellock commented on #147
This is related to today's service bus outage.

[2019-11-07 19:14] compulim commented on #147
@Joseph-Szymanski could you take this one and status on it?

[2019-11-07 22:53] dandriscoll commented on #148
We progressively move Web Chat instances from polling to Web Socket to manage service load. This work was paused a while back but we can get it started again -- eventually all instances of Web Chat will prefer to use Web Socket when available.

[2019-11-07 22:56] dandriscoll commented on #147
Hi @kavita-rajbhar, thank you for reporting this issue. Earlier today we experienced a failure within Azure that caused bot creation, edit, and deletion operations to fail.

This issue has been resolved and all services are working normally now. Please let us know if you encounter problems and we can investigate.

[2019-11-07 22:56] #147 closed

[2019-11-08 20:48] CoHealer commented on #137
Thanks @sphanley. With this not repro'ing any more I'm going to close this issue. Please continue to track #97 and #101 for further updates.

[2019-11-08 20:48] #137 closed

[2019-11-08 20:53] CoHealer commented on #146
That's correct @Valerii-Poliakov. Closing as resolved. If you have questions arise during the 3.5 > 4 migration, please open an issue in the[ BotBuilder v3 repo](https://github.com/microsoft/BotBuilder-V3) and add a reference to this issue. Someone on the Bot Framework Support Engineers team will assist you.

[2019-11-08 20:53] #146 closed

[2019-11-08 20:54] CoHealer commented on #134
@jwiley84 will reengage when back in office on Monday.

[2019-11-09 18:45] MIRo2k commented on #87
@tdurnford the workarround it is ok but if the bot return a simple text plain message print an error
![Anotation](https://user-images.githubusercontent.com/3925125/68533468-7635c800-0329-11ea-829f-291dbb678717.png)
Any sugestion ???

[2019-11-09 19:26] tdurnford commented on #87
@MIRo2k It’s most likely an issue with your Adaptive Card

[2019-11-11 10:01] rrc2k4 opened #149 "Watermark reset issues for DirectLine API"
We had observed water mark reset issues for our bot hosted on Azure services and when consumed through Direct Line API channel.

In middle of the conversations where the current water mark value was more than 0 it was observed that water mark value got reset for the message that was posted to bot and next posted conversations it started again from 1 while the current expected water mark value was

[2019-11-11 17:50] v-kydela commented on #149
Hi @rrc2k4 - it would help if I could get some more information. Can you provide a bot ID so we can check it in our logs? I would also like to know how you're determining what the watermark is, and whether you're sure a new conversation wasn't being started

[2019-11-12 09:39] rrc2k4 commented on #149
Hi Kyle, I am not sure if i can share the bot id in this post as it is hosted in our customer environment. Need to check with customer before sharing details.

Regarding watermark value for every post, we capture the watermark value from the bot response and for every pull of messages we capture the updated watermark. we are making sure that we have the correct water mark value for pulling the mes

[2019-11-12 16:07] rrc2k4 commented on #149
Microsoft Support request ID : 119111223001489

[2019-11-12 18:51] jwiley84 commented on #134
Sorry for the delay, was away from the office.

Can you update your packages to 4.6.0 (or at least 4.5.3?)

[2019-11-12 19:08] axelsrz commented on #145
@archmangler We're closing this due to lack of activity, please open a new issue if you keep encountering this.

[2019-11-12 19:08] #145 closed

[2019-11-12 21:21] CoHealer commented on #149
Adding @Jeffders, referencing https://github.com/microsoft/BotFramework-DirectLineJS/issues/242 as it appears to be a duplicate.

[2019-11-12 22:44] v-kydela commented on #149
That issue was posted on October 23, and this issue occurred from October 21-23. This is consistent with there having been a problem with Direct Line at that time.

[2019-11-13 18:30] kds-snyder commented on #134
I'm not sure how to update the packages. Do I do that via Visual Studio?

[2019-11-14 10:32] crow-ua opened #150 "AAD token not refreshed by service"
We are using Microsoft.Bot.Builder v.4.6.2 and want to leverage Azure Bot Service OAuth connection to Azure Active Directory v2.
There is following code:
[code]
It returns valid token only after sign in, when it expires it still returns the same token, `TokenResponse.Expiration` is null.
I've debugged this method down to `Microsoft.Bot.Connector.UserToken` internals, the response from service inde

[2019-11-14 13:16] getangar commented on #97
Hi there, I'm sorry if this is not the proper way to attach my request too. But the same issue happens also with the Web Chat channel.

[2019-11-14 17:48] anusharavindrar commented on #97
@getangar, please open a  new issue in the Web Chat [repo](https://github.com/microsoft/BotFramework-WebChat/issues/new/choose) and explain your issue in detail. Thanks!

[2019-11-14 19:04] axelsrz commented on #150
@carlosscastro hey could you take a look at this and work with Jeff if necessary? Thanks.

[2019-11-14 21:15] DDEfromOR commented on #144
I've filed a bug against the channel as I feel this behavior is unintentional, but also recognize it has likely always been the implementation. Any changes to the involved code will have a large blast radius that impacts multiple channels, so it's not something we'll do quickly or without careful consideration, but it is now on the radar.

I'm going to close this ticket since it's in the Services

[2019-11-14 21:15] #144 closed

[2019-11-15 22:51] arturl commented on #101
Thank you for the issue report and working with us to get to the detail.  We've evaluated the issue and determined that it doesn't fit in our current semester's schedule.  We have added it to our backlog for future planning, but do not have an ETA to offer at this time.

[2019-11-15 22:51] #101 closed

[2019-11-15 22:51] arturl commented on #97
Thank you for the issue report and working with us to get to the detail.  We've evaluated the issue and determined that it doesn't fit in our current semester's schedule.  We have added it to our backlog for future planning, but do not have an ETA to offer at this time.

[2019-11-15 22:51] #97 closed

[2019-11-18 15:27] PiLp commented on #87
I am also experiencing the same issue as v-kydela in #2912, the adaptive card is rendering but cuts off when it should display ActionSets. I am also interacting with the bot using DirectLine.

[2019-11-18 16:03] jwiley84 commented on #134
If you're not using some sort of release pipeline, then yes, you'd have to pull the files down from azure, update the packages in then nuget package manager, and then redeploy the bot.

[2019-11-18 18:20] sphanley commented on #101
Gotta say, this is really disappointing, especially considering that GroupMe is a first-party Microsoft channel - I understand that it's likely a low-traffic channel, and fully addressing this such that GroupMe attachments are well-supported by the framework is a big lift, but I'd hope that you'd at least consider prioritizing fixing the broken connector such that it's possible to send dynamic att

[2019-11-18 18:48] compulim commented on #129
This is resolved.

[2019-11-18 18:48] #129 closed

[2019-11-18 21:35] carlosscastro commented on #150
Hello @crow-ua, I'm investigating this. Thanks for reporting!

[2019-11-18 23:21] clearab commented on #102
Hi - my apologies for the delayed response. Can you please confirm for me that you're using the `content` field from the `attachments` array, and not the message?

[2019-11-19 13:51] crow-ua commented on #150
@carlosscastro If you need any additional information feel free to contact me. I'm happy to help and try to resolve this issue asap.

[2019-11-19 22:11] arturl commented on #104
Fix deployed

[2019-11-19 22:11] #104 closed

[2019-11-20 05:28] Crazedpeanut opened #151 "[Directline] Very slow to establish websocket"
Our customers are having intermittent issues sending messages to their bots. This normally begins with a long initial connection.

Response Time: around  80,000 ms
GET wss://directline.botframework.com/v3/directline/conversations/5GvoKcen2xv4tLBWLYZHS5-0/stream
Conversation ID: 5GvoKcen2xv4tLBWLYZHS5-0
x-ms-request-id |e41973cbdf82584f9d3d238b6fa4641f.77d6027c_
Timestamp: 2019-11-20T03:53:14.638Z

[2019-11-20 17:47] CoHealer commented on #149
Issue is not repro'ing and there's nothing new in the logs.

[2019-11-20 17:47] #149 closed

[2019-11-20 20:01] kds-snyder commented on #134
When I updated the packages in NuGet package manager, I got the warning below, so not sure if the update succeed
![image](https://user-images.githubusercontent.com/14143452/69273577-76d22800-0b8d-11ea-9127-3e4f8871ab0f.png)

[2019-11-21 18:21] v-kydela commented on #134
Hello @kds-snyder

You can tell if the update succeeded by checking the version of each package in NuGet Package Manager. If an update for a package is still available then it will have an up icon.

![image](https://user-images.githubusercontent.com/41968495/69364903-17851e00-0c48-11ea-8989-57ec61b08173.png)

If you're having trouble updating all of your packages at once then you should try just u

[2019-11-21 22:46] jwiley84 commented on #151
Are your bots deployed on Azure? If so, are they set to 'always on'?

[2019-11-22 10:05] paulio commented on #87
Any news on the target release of 22nd Nov?

[2019-11-22 17:55] ckkashyap commented on #87
Hi @paulio ,
Bot Framework services have been updated with AdaptiveCard 1.2.4 - as of last evening. Please let us know if you see any issues.
Regards,
Kashyap

[2019-11-25 07:57] MIRo2k commented on #87
hello @ckkashyap , you can confirm which components and versions we have to update ??

[2019-11-25 17:16] ckkashyap commented on #87
Hi @MIRo2k ,
We have upgraded the Adaptive Cards library used by the channels - to version 1.2.4. You don't really "have to" update anything. This upgrade fixes certain bugs in the channel such as dropping actionset from the adaptive card json payload.
HTH
Regards,
Kashyap

[2019-11-25 19:10] benbrown commented on #148
hey @dandriscoll can you give us an update on this thread?

[2019-11-26 19:59] DDEfromOR commented on #151
Assigning to @mickeydjw for triage. This will be the classic, non-duplexed, WebSocket on DirectLine SaaS. I took a quick look in our logs and couldn't find any tracing for the conversation mentioned above.

[2019-11-27 22:40] CoHealer commented on #134
@kds-snyder do you still require assistance?

[2019-11-28 00:45] Crazedpeanut commented on #151
Yes, deployed on Azure and set to 'always on'. We don't see this long request in our logs

[2019-11-28 15:21] crow-ua commented on #150
Support engineer suggested to call `OAuthPrompt` in bot and it should refresh token.
I presume this originates from [here](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/18.bot-authentication/Dialogs/MainDialog.cs#L67):
[code]
My code:
[code]
No prompt is displayed. Debug log is interesting because it may indicate second time ADAL was indeed doing request to

[2019-11-28 16:51] paulio commented on #87
FYI it seems to be working :)

[2019-11-28 17:07] ckkashyap commented on #87
Thanks @paulio - I am going to close this issue.

[2019-11-28 17:07] #87 closed

[2019-11-29 18:51] kds-snyder commented on #134
The Nuget packages were updated, but it seems that the bot does not function with the updated packages when deployed. **Microsoft.AspNetCore.App** is already the latest version, so it does not need to be updated. After updating the Nuget packages and building the solution, there were the following warnings:
![image](https://user-images.githubusercontent.com/14143452/69885835-31101080-12ad-11ea-901

[2019-11-29 19:25] v-kydela commented on #134
@kds-snyder - So you're getting a 500 error now instead of a 502?

You say Microsoft.AspNetCore.App is already the latest version, but your warnings say you're still using Microsoft.AspNetCore.App 2.1.1. This is very strange, and it's hard to diagnose what's going on here. Perhaps your project has been corrupted somehow and your code will have to be moved to a fresh project. Please check the conte

[2019-11-29 19:56] kds-snyder commented on #134
@v-kydela, thank you for noticing this discrepancy.

The Microsoft.AspNetCore.App version in the Nuget package manager is 2.2.8.
![image](https://user-images.githubusercontent.com/14143452/69887637-f5c60f80-12b5-11ea-8982-12383c0daad9.png)

I believe the version discrepancy is caused by this line in Startup.cs, which I had overlooked until you pointed out the issue; presumably it overrides the Nug

[2019-11-29 20:30] v-kydela commented on #134
@kds-snyder - Memory storage is the most common cause of errors that are only encountered in published bots. I would consider the likelihood to be very high that it is causing problems for you.

For your package issue, please try uninstalling Microsoft.AspNetCore.App, then checking to make sure it's been removed from your csproj file, then reinstalling it.

[2019-11-29 21:22] kds-snyder commented on #134
I'm not sure how to uninstall Microsoft.AspNetCore.App in the Nuget manager. The Uninstall button is not enabled. And now I noticed that 2.1.1 is shown in Nuget as the installed version, on the right.
![image](https://user-images.githubusercontent.com/14143452/69890552-62480b00-12c4-11ea-84ff-b947a9a73502.png)

[2019-11-29 22:23] v-kydela commented on #134
@kds-snyder - It looks like you're viewing the packages for your solution instead of the packages for your project. You can manage the packages for your project by right-clicking the project in Solution Explorer.

It's possible that the package is [implicitly defined](https://docs.microsoft.com/en-us/nuget/consume-packages/install-use-packages-visual-studio#update-a-package) for you, which might m

[2019-11-29 22:48] kds-snyder commented on #134
@v-kydela, the package is implicitly defined, and I will have to update the .NET Core installation. But if I do that, will it still be possible to build branches that have Microsoft.AspNetCore.App 2.1.1?

I do not believe that I need Razor. The bot was based on sample code that probably had the package installed. I know that I didn't add the Razor package.

[2019-11-29 23:33] v-kydela commented on #134
@kds-snyder - The .NET Core version is actually part of your project settings. You can use any installed version:

![image](https://user-images.githubusercontent.com/41968495/69892649-9c151380-12bc-11ea-8dc7-ffc781d286d9.png)

[2019-12-01 20:39] jmnsf commented on #102
Hi @clearab, I am using the one in attachments. I don't think there's any other that I have available, I posted the full payload.

[2019-12-03 21:49] kds-snyder commented on #134
I changed the .NET version in project properties to .NET Core 2.2, and then the Microsoft.AspNetCore.App version was 2.2.0 for the project and solution Nuget package managers. But when I try to open the bot from the UI, I still get status code 500. It seems that something in the updates caused the bot to not function correctly.

[2019-12-03 22:24] v-kydela commented on #134
@kds-snyder - Please go ahead and try out the instructions in [this document](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-troubleshoot-500-errors) to help troubleshoot your 500 errors

[2019-12-04 08:35] fuine6 opened #152 "[LINE Channel] How to get sender id in group?"
This is what i found in ngrok, I can't seem to get sender id.
[code]

But I can get it from the [reference](https://developers.line.biz/en/reference/messaging-api/#source-group).
[code]
In bot framework, whether i can't get sender id.

[2019-12-04 18:36] dandriscoll commented on #148
Our current target for this change is end of December.

[2019-12-04 18:39] kds-snyder commented on #134
@v-kydela, regarding adding Application Insights Telemetry as described at https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net, I already have  an Application Insights app for the bot in the Azure portal. I added Telemetry middleware in the bot as described at https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-telemetry?view=azure-bot-service-4.0, and the bot does log cust

[2019-12-04 19:36] mdrichardson commented on #152
@fuine6 I just tested this on a new bot and I am receiving my user ID when sending a message to the bot.

Can you provide detailed reproduction steps so that I can try to troubleshoot this?

[2019-12-05 02:00] fuine6 commented on #152
I create a line group, It has two members and a bot.
![Capture2](https://user-images.githubusercontent.com/34824302/70195658-4370cb00-1741-11ea-8865-39fe964a2b0b.PNG)

First I set the webhook url to the location of ngrok.
![Capture3](https://user-images.githubusercontent.com/34824302/70196513-e1659500-1743-11ea-95a9-b51f94af10c9.PNG)

Then send a message to the group.
![Capture4](https://user-imag

[2019-12-05 02:26] fuine6 opened #153 "[LINE Channel] When the bot is in a group which type is room, it cannot send messages correctly."
I create a [room](https://developers.line.biz/en/reference/messaging-api/#source-room), it can chat with multiple members, but it is not a group.

I send a message to the room, I expected the bot to respond in the room, but the bot responded to the personal chat room.
![capture8](https://user-images.githubusercontent.com/34824302/70198200-2c35db80-1749-11ea-85a9-a5f1482ca754.png)

The message from

[2019-12-05 09:29] fuine6 opened #154 "[LINE Channel] Activity.From.Name is always 'LINE'"
I can't seem to get the sender's name from Activity.From.Name, the value is always 'LINE'.

[code]

Is this correct?

[2019-12-05 16:38] rvallireply commented on #87
Hello,
I built and deployed the ITSM experimental skill for Virtual Assistant sample, and the Web Chat has an OpenUrl action in an ActionSet that still gives issues:

The card could not be rendered. It is either malformed or uses features not supported by this host.

using a 1.2.4 Adaptive Cards, on westeurope.

this is the card payload in the sample, it works in the Bot Emulator but not in Web Ch

[2019-12-05 18:44] mdrichardson commented on #154
@fuine6 This was actually fixed in a recent PR after another customer noticed this. You should see the change go live in the next couple of weeks. The change is on the backend, so no need to update packages. Please re-open this if you still experience the issue in a couple of weeks.

[2019-12-05 18:46] mdrichardson commented on #152
@fuine6 I believe I see where the change is needed to fix this on the backend. I will do some testing and let you know. Just FYI: it will take a couple of weeks for the change to go live after it gets fixed.

[2019-12-05 22:14] kds-snyder commented on #134
I switched to the dev branch and deployed it, because I was making some website changes that required a functioning bot, and still got the 500 error! Same thing when I deployed the master branch, which is currently deployed to the production resource group and working fine there. It looks like I'll have to delete all the resources in the test resource group and re-create them.

[2019-12-06 12:58] amistry79 opened #155 "Direct Line service returned 403 while generating new token"
There are performance and availability issues with directline API where we get error code 0, <undefined>,  502 or 403 at Browser and server level.

Few error messages are as below:

POST request to https://directline.botframework.com/v3/directline/tokens/generate failed, reason: getaddrinfo ENOTFOUND directline.botframework.com directline.botframework.com:443
Direct Line service returned 403 while

[2019-12-06 16:41] mdrichardson commented on #152
@fuine6 Just to give you an update, I spoke with the dev team about this a little.

The reason that it currently uses the group ID is because when the bot replies to the message, it needs to go to the group and not the user. The botframework schema doesn't currently allow adding an additional parameter like `from.userId`. There's currently a discussion about possible appending the userId to `from.

[2019-12-06 16:42] stevkan commented on #153
@fuine6, can you check that you enabled group chat for you bot in Line?

To do so:

- Log into Line and access the [developer site](https://developers.line.biz/en/services/bot-designer/), then access your Line bot.
- Next, click on the "Messaging API", scroll down to "Line Official Account Features" => "Allow bot to join group chats", and click the "edit" link to the right. This will open up a sep

[2019-12-06 17:30] mdrichardson commented on #155
@amistry79 This is not expected behavior. Can you please provide the following information:

1. appId and/or bot name
2. How long has your bot been deployed and when did you begin experiencing this behavior?
3. Does your bot work when hosted locally?
4. In what circumstances are each of those error codes presented?
5. What are steps to reproduce each of those error codes?

[2019-12-06 19:09] fuine6 commented on #153
Bot works well in groups, but not in room, this is the channelData I received.
[code]

[2019-12-07 10:00] fuine6 opened #156 "[LINE Channel] Activity.Conversation.IsGroup is always 'false'"
I am in a group, but the value is false.

[code]

[2019-12-09 09:49] rvallireply opened #157 "The card could not be rendered. It is either malformed or uses features not supported by this host."
Hello,
I built and deployed the ITSM experimental skill for Virtual Assistant sample, and the Web Chat has an OpenUrl action in an ActionSet that still gives issues:

**

**

using a 1.2.4 Adaptive Cards, on westeurope.

this is the card payload in the sample, it works in the Bot Emulator but not in Web Chat. If I remove the ActionSet element it renders without error:
[code]

_Originally posted by

[2019-12-09 15:57] cdwaddell opened #158 "Multiple Asterisks in Dialog Choice are Truncated in Twilio"
I am not sure which integration point causes this issue, but when I present the user with a dialog prompt where I present the user with masked values:

[code]

I receive a text with the following items to choose from:

[code]

Note this works fine in the emulator or in the web interface. It only seems to be an issue with the Twilio integration.

![image](https://user-images.githubusercontent.com/3

[2019-12-09 16:11] cdwaddell commented on #158
We had a similar problem with line breaks as noted in the following issue #49, so we added a hack specifically for SMS.

[2019-12-09 18:41] mdrichardson commented on #156
@fuine6 I can confirm that I can reproduce this issue. I have also identified where the backend code needs to change, but I am unsure of the repercussions of changing it. For now you could use `channelData.source.type` to determine if it is a group or not (as well as grab the userId like your last question).

@youyu16 Do you have any comments on this?

[2019-12-09 18:53] mdrichardson commented on #157
@rvallireply A few things:

[Web Chat currently supports v1.2.3](https://github.com/microsoft/BotFramework-WebChat/blob/1f100e72c427d9c4117f58479976ac671eb5cd16/packages/bundle/package.json#L36), so a card with v1.2.4 features will not work.

That being said, this card should work, if you change the `version` in the json (near the bottom of what you posted) to `1.2`, since [ActionSet didn't get re

[2019-12-10 02:20] youyu16 commented on #156
@mdrichardson I think this bug is already been fixed and waiting next regular release.

[2019-12-10 02:26] youyu16 commented on #153
looks like roomId was lost. investigating

[2019-12-10 06:56] youyu16 commented on #152
@fuine6  you can get groupId/userId from activity channelData.source as a workaround

[2019-12-10 10:42] rvallireply commented on #157
Changing the version in the json to 1.2 and deploying the 1.2.3 adaptive card dll gives me the red error in webchat test on Azure:

(note: Azure interface is set to italian, and zone is West Europe)

[code]

[2019-12-10 16:03] mdrichardson commented on #152
@youyu16 I thought that might be the case. Thanks for confirming.

@fuine6 I'm going to close this for now. Feel free to re-open if you don't see that it's been fixed in a couple of weeks.

[2019-12-10 16:04] mdrichardson commented on #152
Oops. Closed the wrong one.

@youyu16 Are we planning on sticking with the workaround, or will `from.userId` be changed in the future?

[2019-12-10 16:05] mdrichardson commented on #156
@youyu16 I thought that might be the case. Thanks for confirming.

@fuine6 I'm going to close this for now. Feel free to re-open if you don't see that it's been fixed in a couple of weeks.

[2019-12-10 16:05] #156 closed

[2019-12-10 16:58] mdrichardson commented on #157
"Test in Web Chat" is often a version or two behind, same with Emulator. Have you tested this in [a Web Chat sample](https://github.com/Microsoft/BotFramework-WebChat#samples-list)? I did, after removing the templating for easier testing:

![image](https://user-images.githubusercontent.com/40401643/70550809-367e1e00-1b2b-11ea-8607-4e3cb4947880.png)

[2019-12-10 19:32] mdrichardson commented on #155
@amistry79  Are you still experiencing this issue?

[2019-12-11 02:14] youyu16 commented on #152
@mdrichardson still trying to find a strong solution for this one and this workaround always work if LINE don't change there webhook interface.

[2019-12-11 10:54] stevkan commented on #158
Hi @cdwaddell, if you wrap the choice string values in triple backticks (```), the string will display as you intended with the text being read as a block.

The issue is that the connector is designed to render any markdown formatted text passed thru it. Generally, this isn't an issue however, in the case of Twilio, it _appears_ that the service does not support markdown resulting in it being stri

[2019-12-11 11:17] rvallireply commented on #157
I am using the latest webchat in a test page now and it works...I wonder why the main Azure test tool isn't already up-to-date.  That and the emulator are the first places developers try to mess up with for sure...who is responsible for the platforms? They should be alerted, IMHO...
Thanks

[2019-12-11 11:17] #157 closed

[2019-12-11 14:35] cdwaddell commented on #158
Thanks @stevkan.

[2019-12-11 15:00] cdwaddell commented on #158
@stevkan Apparently this introduces a problem in the chat emulator. Before I added the backticks, I was presented with buttons:
![image](https://user-images.githubusercontent.com/3679097/70632451-d788d980-1bfc-11ea-8231-c6f35f7dc9d3.png)

Now I am presented with a single message that is not interactive:
![image](https://user-images.githubusercontent.com/3679097/70632120-3e59c300-1bfc-11ea-9789-bd3

[2019-12-11 15:05] cdwaddell commented on #158
I am going to work around this issue by conditionally adding the backticks on Twilio only.

[2019-12-11 15:51] mdrichardson commented on #152
@youyu16 Sounds good.

@fuine6 As the workaround offers a more permanent solution, I'm going to go ahead and close this. Feel free to re-open if you disagree or have an issue relating to this.

[2019-12-11 15:51] #152 closed

[2019-12-11 15:57] mdrichardson commented on #157
@rvallireply Glad you got it working!

Unfortunately, Adaptive Cards update very frequently. Web Chat is mostly able to keep up, but then that has to be pushed to Emulator and they have to test it thoroughly before integrating it. Since Emulator is constantly adding additional features, it takes some time to get around to this. Test in Web Chat also takes quite some time to update because it requi

[2019-12-12 16:27] mdrichardson commented on #155
Closing due to inactivity.

[2019-12-12 16:27] #155 closed

[2019-12-12 18:13] CoHealer commented on #134
@kds-snyder do you still require assistance or did recreating the resources resolve your issue?

[2019-12-12 20:13] kds-snyder commented on #134
I reached out to our Microsoft contact engineer to ask if they know what setting in the Azure portal I could check, because it seemed excessive to me that I would have to delete and recreate all the resources. I haven't heard back yet.

[2019-12-12 22:08] v-kydela commented on #134
@kds-snyder - Can you explain what UI you mean here?

Please provide screenshots and repro steps to help explain the problem you're experiencing.

[2019-12-12 23:13] #153 closed

[2019-12-13 02:12] youyu16 commented on #152
Should go alive in next few weeks.
![image](https://user-images.githubusercontent.com/17819112/70763928-cbce1c00-1d90-11ea-9ac1-93d613ca6142.png)

[2019-12-13 06:05] fuine6 commented on #152
This looks good, does this mean that userId can also be obtained from from.id when the source type is group?

Currently, if the source type is group, from.id is groupId.
[code]

[2019-12-13 06:14] youyu16 commented on #152
@fuine6 Yes, the from id will be the userId except LINE version less then 7.4.x

[2019-12-13 18:43] dandriscoll commented on #158
Hi @cdwaddell, another workaround is to suppress markdown formatting by setting the ```textFormat``` property on the activity to ```plain```. This will inhibit the markdown processing from taking place.

Let us know if any issues applying either of these workarounds.

[2019-12-13 18:44] dandriscoll commented on #158
(You can find the textFormat field documented here: https://github.com/Microsoft/botframework-sdk/blob/master/specs/botframework-activity/botframework-activity.md#text-format Simply apply it to the activity before sending it.)

[2019-12-13 18:45] mickeydjw commented on #151
Is this issue still occurring for your customers?

[2019-12-16 21:36] kds-snyder commented on #134
The problem has changed; now if I deploy the **dev** branch, the bot works fine. But when I deploy the branch with updated packages, I get 502 status code result.

The repro step is to click the Q&A bot button.
I posted the jquery that is used to open the bot in the comment that I wrote on 10/2/18. This is the HTML for the button:
`<a class="webchat-btn" href="#" title="Search for answers with the

[2019-12-17 00:31] v-kydela commented on #134
@kds-snyder - If you run your website locally in debug mode then you should be able to get more information about this error. You can try using ngrok: https://blog.botframework.com/2017/10/19/debug-channel-locally-using-ngrok/

[2019-12-17 05:16] mindncz opened #168 "AttachmentBot failes to upload file"
## Sample information
1. Sample type: BotBuilder-Samples/samples
2. Sample language: dotnetcore
3. Sample name: AttachmentsBot

## Describe the bug
GetUploadedAttachmentAsync throws exception: "Operation returned an invalid status code 'NotFound'"  in Teams.
When tested in Bot emulator, GetUploadedAttachmentAsync works well and the file could be uploaded.

## To Reproduce
Steps to reproduce the be

[2019-12-18 19:50] v-kydela commented on #134
@kds-snyder - Are you still working on this?

[2019-12-18 20:57] NickEricson commented on #109
Hi @stevkan - I believe the issue you are seeing:

```[onTurnError]: TypeError: Cannot read property 'toLowerCase' of undefined```

is coming out of the bot builder sdk perhaps because of this bug (or something similar).

https://github.com/microsoft/BotBuilder-Samples/issues/1728

To make sure the messages were flowing through the channel I created a new C# bot, enabled inline mode on it (https:/

[2019-12-18 23:27] kds-snyder commented on #134
I'm trying to figure out how to run the website locally in debug mode.

[2019-12-23 06:54] fuine6 commented on #154
I found this change has taken effect, but only if the user and the bot are friends.

Is there a way to get the sender's name when the sender and robot are not friends?

Currently, I have to use api to get the name of the sender in the [group](https://developers.line.biz/en/reference/messaging-api/#get-group-member-profile) or [room.](https://developers.line.biz/en/reference/messaging-api/#get-room

[2019-12-23 09:10] Amita-PM opened #159 "Integration of Livezilla(version 8.0.1.6) (a third-party application with Microsoft Bot Framework)"
There are APIs to create session and send message from Azure Bot Framework to Livezilla. But we don't have an API to retrieve any message from Livezilla into Bot Framework.
The documentation provided by Livezilla directs user to communicate through webhooks. Currently we are able to retrieve a response from Livezilla which doesn't have the user-agent conversation, which is needed to showcase on th

[2019-12-23 16:09] mdrichardson commented on #159
Closing here as this is a [duplicate of a StackOverflow post](https://stackoverflow.com/questions/59452963/livezilla-version-8-0-1-6-integration-with-microsoft-bot-framework-sdk-v4), which is the more appropriate forum for this request.

[2019-12-23 16:09] #159 closed

[2019-12-23 19:45] mdrichardson commented on #154
@youyu16 Is this intended?

[2019-12-23 20:04] v-kydela commented on #134
@kds-snyder - Do you need help with that? Are you running ASP.NET Core?

[2019-12-24 02:25] youyu16 commented on #154
Yes, bot need to be a friend of the user to get user profile depend on LINE document.
https://developers.line.biz/en/docs/messaging-api/user-consent/
![image](https://user-images.githubusercontent.com/17819112/71389465-74a13480-2637-11ea-9e8a-f24127acd93c.png)

[2019-12-24 03:29] fuine6 commented on #154
Is it possible to use this [api](https://developers.line.biz/en/reference/messaging-api/#get-group-member-profile)?

It can get user profiles of users who have not added the bot as a friend.

[2019-12-24 03:33] youyu16 commented on #154
@fuine6  Thanks for reminding, Just aware of the API, let me see what I can do.

[2019-12-24 16:00] maximicciullo opened #160 "How to associate each connection with a different tenant"
Hi,

We are using our bot application and we've in mind to use **botframework-webchat** in order to connect it. We just been doing some prove of concept using **Direct Line** and all went well, but we're concerned about the following:

- how can we associate each connection with each tenant?

- How can we sure each connection only correspond to a tenant and no other can use it to connect?

Thanks

[2019-12-26 20:32] anusharavindrar commented on #160
Hello @maximicciullo , could you elaborate more on what you are trying to achieve and about your bot application?

[2019-12-27 14:10] maximicciullo commented on #160
Hi @anusharavindrar,

We have a bot that needs to be put in private sites of different clients. The bot is multitenant so we need to make sure we can securely determine from which tenant(or website?) the user is chatting from.

Our requirements would be:

- Identify the tenant for the user

- Make sure they can’t fake the tenant so that they can’t access the wrong information.

- Be able to provid

[2019-12-27 21:27] anusharavindrar commented on #160
@maximicciullo  I would suggest you to get started by implementing [Enhanced Direct Line Authentication Features](https://blog.botframework.com/2018/09/25/enhanced-direct-line-authentication-features/) and also look at the [sample](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/19.a.single-sign-on-for-enterprise-apps) for single sign on for enterprise apps. Also, if you want

[2019-12-30 23:05] kds-snyder commented on #134
I had to submit a request for the IT department to approve my access to https://ngrok.com, because it is blocked, so I haven't been able to try it yet.

[2019-12-31 00:06] v-kydela commented on #134
@kds-snyder - You can use [Azure Service Bus](https://blog.botframework.com/2019/04/16/debugging-your-locally-hosted-v4-bot-using-azure-relays/) as an alternative to ngrok in order to debug your project locally.

It feels like this issue has drifted pretty far and I'm not sure the problems you're facing now reflect the problems that you had originally opened the issue about. Would it be all right

[2019-12-31 17:27] dandriscoll commented on #160
Hi @maximicciullo, you can separate each tenant into a "site" within Direct Line. Sites contain distinct keys and configurations, and are designed to allow a single bot to be exposed in different security domains. Clients cannot impersonate the site ID -- it is locked by the DL secret/token.

You can allocate new sites within the UI or via the ARM API.

Your bot can identify the site by inspecting

[2019-12-31 17:28] dandriscoll commented on #158
Closing this issue as a solution (`textFormat: 'plain'`) and a workaround (backticks) are available. Let us know if you have additional questions.

[2019-12-31 17:28] #158 closed

[2019-12-31 19:17] kds-snyder commented on #134
@v-kydela, I will try with Azure Service Bus. It's true that this issue has drifted far. Last time a 502 error occurred in the production bot was October 16. Since then, there have been intermittent errors, but with status code 0, and it was always possible to open the bot afterwards, so those errors were non-blocking. You can go ahead and close the issue, and if I need help, I can open another is

[2019-12-31 19:53] #134 closed

[2020-01-02 09:56] piyushkacha7 opened #161 "MS-Team image does not reader with activity text."
I'm also phasing image rendering issue in MS-Teams. I sent in activity text. some days ago that working but now does not work.

![image](https://user-images.githubusercontent.com/47378765/71661358-f0a42680-2d73-11ea-949a-5afc9326a6ce.png)
Above image both way working before some days. but now result in the below image.
![image](https://user-images.githubusercontent.com/47378765/71661219-8b503580-2

[2020-01-02 10:07] samirkatyar commented on #161
I'm also facing this issue
im sending image in this way but still not rendering
`<img src="img_url" alt="Duck on a rock" height="170" width="220"></img>`

[2020-01-02 10:07] Bhargav-Kalaria commented on #161
The same issue is been faced by me, near about 15 days.

[2020-01-02 10:08] samirkatyar commented on #161
I'm also facing this issue
im sending image in this way but still not rendering
`<img src="img_url" alt="" height="170" width="220"></img>`

[2020-01-02 16:38] maximicciullo commented on #160
Hi @anusharavindrar and @dandriscoll for both anwsers!

I've been trying to use DL with **Enhanced authentication options** enabled and I got a 500 Service Error.

I'm trying with different ways as using a script with in html file and also as hitting directly with Postman and both cases I got same error.

Let me show you the json body that I'm sending in the Request (with the Authorization Header

[2020-01-02 18:11] jwiley84 commented on #161
Investigating this, but can I get everyone to post their language and SDK version?

[2020-01-02 18:52] jwiley84 commented on #161
I cannot repro the issue, but I think that's how the card is being configured in the code. @piyushkacha7, can you post your code on how you're creating the card attachment, so I can attempt a repro of your specific issue?

[2020-01-02 22:21] DDEfromOR commented on #160
Hi @maximicciullo,

Just to be sure, when you're sending the request to the generate endpoint are you including the Content-Type header with a value of application/json? Postman automatically does this if you set the body type to JSON. While working to repro this issue I learned the hard way leaving body set to text causes a ServiceError response.

[2020-01-02 22:27] v-kydela opened #162 "Facebook and Telegram return errors when a card action's value is not a string"
The [Messenger platform](https://developers.facebook.com/docs/messenger-platform/send-messages/buttons#button-format-2) and the [Telegram Bot API](https://core.telegram.org/bots/api#inlinekeyboardbutton) both expect the returned data in their buttons to be strings, but Bot Framework postBack and messageBack actions are designed so that [their values are expected to be objects](https://github.com/m

[2020-01-02 22:50] maximicciullo commented on #160
Hi @DDEfromOR, you're totally right! the body type was wrong... thank you very much!

Now I got a **200 ok** with the conversationId and token.

By the way, I don't understand why it gave me that response if I remove the **trustedOrgins** string, Shouldn't it fail anyway?

[2020-01-02 23:48] v-kydela opened #163 "Telegram connector says Delete Activity is not supported"
When a bot tries to use the [Delete Activity](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference#delete-activity) conversation operation, the Telegram connector service returns the same error that Direct Line and all the other channels that don't support Delete Activity return ("This channel does not support this operation"), but [the Telegram Bo

[2020-01-02 23:52] DDEfromOR commented on #160
Awesome! I'm glad you're able to generate tokens now.

My understanding is the trustedOrigins string is optional because at least one trusted origin has to be defined on the bot's channel configuration when enabling enhanced authentication options for DirectLine, but to be certain I've emailed the subject matter expert and will give you a better answer once I hear back.

[2020-01-02 23:55] maximicciullo commented on #160
Great @DDEfromOR, thanks for your soon help!

[2020-01-03 05:49] piyushkacha7 commented on #161
@jwiley84 Thank you for helping for issue
Language is javascript/Node.js and below package.json
[code]
I'm does not sending image from card attachment just **sendActivity()** text with image;

[code]
also, I tried with the latest all bot builder package with `4.7.0` but not working on that.

1) `![Duck on a rock](https://tineye.com/images/widgets/mona.jpg)`
2) `<img src="https://tineye.com/images/

[2020-01-03 17:20] EmanuelCD95 opened #164 "Exception caught: Value cannot be null. Parameter name: invalid activity-missing From.Id"
**Version**
4.5.3

**Description**
A lot of conversations arrived via the Facebook channel that was potentially missing identity key. I can't track the origin of the problem. If it is from BotFramework  or something went wrong on the Facebook Messenger

The exception was dealing with a missing From data. Missing From.Id:
`Value cannot be null. Parameter name: invalid activity-missing From.Id`

[2020-01-03 18:22] EricDahlvang commented on #164
Hi @EmanuelCD95

Which Webhooks is the bot subscribed to?

![image](https://user-images.githubusercontent.com/11055362/71740784-036d3880-2e12-11ea-866b-99344877072c.png)

Also, if you are able to debug the bot locally, and add the following to the Messages controller, it will print the incoming message contents to the output window in Visual Studio (this should help determine more about the incomi

[2020-01-03 18:42] dandriscoll commented on #151
Hi @Crazedpeanut are you still experiencing this problem? We would like to take a look but have not been able to find details about the one example you sent. It has also been removed from our logs so we would need a more recent instance to investigate further. A conversation ID or a URL like you sent in your first post should be sufficient.

[2020-01-03 18:48] dandriscoll commented on #148
All instances of the Web Chat control in the Azure portal have been upgraded to use websockets, and will receive Typing messages now. Please reply or open a new issue if you encounter any problems.

[2020-01-03 18:48] #148 closed

[2020-01-03 19:19] clearab commented on #102
In the original payload you posted, attachments.contentUrl is not garbled. That URL should be working to retrieve the image as expected.

"attachments" => [%{
    "contentType" => "image/*",
    "contentUrl" => "https://smba.trafficmanager.net/emea/v3/attachments/0-weu-d8-c0eefd41d5780e60966d61f934e5de0b/views/original"
  }

[2020-01-03 21:31] jwiley84 commented on #161
Option 2 is not going to work, because according to the Teams bot docs, they don't support img as an html tag in text. I'm not certain why it was supported before, but it is not supported now. It appears that the teams client attempts to render the image link a rich card, and that is not supported:

![image](https://user-images.githubusercontent.com/17333688/71748926-e42dd580-2e28-11ea-94a6-0ca546

[2020-01-04 09:33] EmanuelCD95 commented on #164
Hi Eric.

Thank you for your fast reply.

I saw here https://github.com/microsoft/BotFramework-Services/issues/71, that message_echoes could be a problem, but I'm not using it on page Webhooks.

Unfortunately, I cannot debug it locally, but I will add this piece of code and check the logs on Azure.

[2020-01-04 15:49] maximicciullo commented on #160
Hi, in order to give more information about my issue I'm goin to leave here all the different scenarios that I was doing and testing. I'm aiming to validate a tenant using Direct Line in our Web Chat, so to do that I set **Enhanced Authentication Options enable** in Portal Azure and then define the necessary Request with Secret, UserId and TrustedOrigins values as mentioned in documentation to get

[2020-01-06 05:05] piyushkacha7 commented on #161
Okay, thank you for helping.
Currently, I don't have an option for change format to sending images. If I change image format with an attachment then that's the biggest change for me. For my client, they know image works with text and suddenly if not support by ms-teams then it's difficult so I waiting for an official answer.

[2020-01-06 05:14] sherlock666 opened #166 "Azure BotService BotTemplate"
I remember that Azure Platform - BotService shall support python in v4.6
But currently still only exist choice for C# & Python
When will Azure Platform - BotService support python

Thanks!!!

[2020-01-06 11:09] EmanuelCD95 commented on #164
Hi @EricDahlvang,

I checked our page Webhooks,
I am not sure if that's what you were talking about:
![image](https://user-images.githubusercontent.com/32335898/71814611-de2c3480-3074-11ea-8212-463351183930.png)

Thank you

[2020-01-06 15:23] andresvettori commented on #7
Hi Team, a few months have passed since last Aug 2019, anything new over this topic?

Thanks!

[2020-01-06 17:32] EricDahlvang commented on #164
From https://developers.facebook.com/apps/YOUR_APP_ID/messenger/settings/ there should be a Page associated with the App:

![image](https://user-images.githubusercontent.com/11055362/71835805-55f36280-3067-11ea-86ca-1a6c8bd6108c.png)

[2020-01-06 17:56] EmanuelCD95 commented on #164
Hi @EricDahlvang,

Sorry for the misunderstanding.
![image](https://user-images.githubusercontent.com/32335898/71837186-b907e800-30ad-11ea-91ce-6f357fd7f047.png)

My page has no webhooks configured then.

[2020-01-06 18:12] EricDahlvang commented on #164
Hi @EmanuelCD95

Step 7. [here](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-facebook?view=azure-bot-service-4.0#enable-webhooks) describes how to subscribe to webhooks.  Please look this over and let us know if it helps.

[2020-01-06 20:46] carlosscastro commented on #150
Hello @crow-ua. Apologizes that we didn't update the issue, however there was work on the background related to this. This is related to a bug on our service (not SDK) which we fixed before the holidays but just got deployed. The service that provides the oauth connection tokens to the bot was returning expired tokens. Even though the service does not renew tokens on the bot's behalf, it is wrong

[2020-01-07 10:19] EmanuelCD95 commented on #164
Hi @EricDahlvang ,

There's our configuration:
![image](https://user-images.githubusercontent.com/32335898/71887968-16944700-3137-11ea-9706-5a02e48d8b1a.png)

[2020-01-07 16:29] maximicciullo commented on #160
Hi @DDEfromOR, did you have any news? Please let me know!

Thanks!

[2020-01-07 17:59] turbozapekanka opened #165 "Welcome message is duplicated in Facebook channel"
I'm using the following pattern used in multiple samples and it works fine in WebChat and Emulator channels but when I connected my bot to the Facebook channel it sends a duplicate welcome message.

        protected override async Task OnMembersAddedAsync(IList<ChannelAccount> membersAdded, ITurnContext<IConversationUpdateActivity> turnContext, CancellationToken cancellationToken)
        {

[2020-01-07 20:46] EmanuelCD95 commented on #164
Should I uncheck message_deliveries? And check the boxes on message_reads, messaging_handovers, standby and message_reactions?

[2020-01-08 03:58] sherlock666 commented on #166
![image](https://user-images.githubusercontent.com/35552608/71949332-0f8c3800-320e-11ea-870f-f7ca261acd27.png)

The SDK Language part
When will it add the button for python?

Thanks!!!

[2020-01-08 09:48] yoagauthier commented on #146
Hello @dandriscoll !
I want to provide a third party bot on Workplace (so no custom integration). I am currently using the REST API for our bot and we configure it on the Azure Bot Channel Registration portal for other channels (Slack ..).

I understood from the [Workplace integration doc](https://developers.facebook.com/docs/workplace/third-party-apps/development) that the deployment process chan

[2020-01-08 11:34] EmanuelCD95 commented on #164
Hi @EricDahlvang,

Just to provide an extra context of our problem: Our bot works as expected most of the time, but when we send a promotion to our clients to use it on Facebook Messenger, we got a lot of those errors. At that time we have extra requests: around 700k/min. And that's when that exception appears on app insight.

[2020-01-08 15:05] crow-ua commented on #150
@carlosscastro We've already noticed changed behavior, and unfortunately it still does break our workflow. Our bot is essentially an integration with on-premises system and valid AAD token passed along with request is a security requirement. Making every user sign in in bot every hour instead of silently refreshing token is too ugly.
It looks like we need to revert back to MSAL + Azure Cache for R

[2020-01-08 16:40] turbozapekanka commented on #165
It looks like Bot's member.Id for Facebook channel is wrong, it has both user's and bot's ids combined with "-":

![image](https://user-images.githubusercontent.com/20775323/71997291-3d1fb400-3203-11ea-8ecd-f3e4f13ea206.png)

Is this intentional or should be considered a bug?

[2020-01-08 16:49] carlosscastro commented on #150
@crow-ua, I see, that is not a great user experience, I agree. Let me pass the message on to my team to see whether there is a plan to do automatic refresh at some point. I'll update this after talking to them. Thanks for your input!

[2020-01-08 17:38] jmnsf commented on #102
@clearab yep, I mentioned that it's possible to pull that URL [here](https://github.com/microsoft/BotFramework-Services/issues/102#issuecomment-534130615). The issue is we're talking about embedded images here; it's not enough to pull the image, I have to know where _in the content_ each attachment is.

This would be easier if the URLs inside `content` were valid, since I'd only have to find-and-r

[2020-01-08 17:56] bwamie commented on #162
@v-kydela  The reason why Facebook throws an error is not because the value is complex but rather because text is null. Facebook Messager expects a string or number to be passed in the text property. Actually, BF Facebook channel drops any value passed in value property regardless of its type. If a channel supports complext data then that should be passed in value property otherwise always pass it

[2020-01-08 17:56] #162 closed

[2020-01-08 19:18] v-kydela commented on #166
@jameslew - I'll unassign myself so you can take care of this

[2020-01-08 21:07] EricDahlvang commented on #164
That is odd, if you are only seeing this during a promotion.

I would choose only the webhooks your bot actually requires.  I haven't had time to test if any of the hooks your bot is currently subscribed to are potentially causing the issue.  However, a co-worker pointed out to me that [messaging_optins](https://developers.facebook.com/docs/messenger-platform/reference/webhook-events/messaging_opt

[2020-01-08 21:57] EmanuelCD95 commented on #164
Yes, it is truly odd...

In that scenario we have so many exceptions that the bot slows down to a point were it does not respond at all.

If that does happen with message_optins, this could be the reason why we have so many of that exceptions when clients are redirected to Facebook messenger.

I'm feeling like unsubscribe messaging_optins and message_echoes and check if it solves the issue. Or do

[2020-01-08 22:21] anusharavindrar commented on #165
@turbozapekanka just to give more context on the same.

Having said that, I am having difficulty to repro the issue as I am getting the 'Hello and Welcome' message just once. Can you share the steps to repro so that I can give it a try on my end?

[2020-01-09 04:01] EricDahlvang commented on #164
This exception seems to be thrown while retrieving a key during reading or writing [UserState or PrivateConversationState](https://github.com/microsoft/botbuilder-dotnet/search?q=invalid+activity-missing+From.Id&unscoped_q=invalid+activity-missing+From.Id). These BotState classes require an `Activity.From.Id`

[code]

I would start with eliminating any web hooks the bot is not specifically using o

[2020-01-09 16:05] turbozapekanka commented on #165
The repro steps are below:
1. Deploy Echo bot https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/02.echo-bot to Azure.
2. Connect bot to Facebook messenger using instructions https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-facebook?view=azure-bot-service-4.0#connect-a-bot-to-facebook-messenger
3. Message to the facebook page using f

[2020-01-09 20:29] Jeffders commented on #160
When you have the Enhanced Authentication enabled, you will see the following behavior for which trusted origins are used:

1. If you configure trusted origins as part of the configuration UI page, then these will ALWAYS be used as the only set. Sending no or additional trusted origins when generating a token or starting a conversation will be ignored (i.e. they are NOT appended to the list or cro

[2020-01-09 20:32] anusharavindrar commented on #165
@turbozapekanka do you get the 'Hello and Welcome' message twice every time you connect your echo bot to the facebook channel(connected to the same user or the same page/app) or every time you test, do you create a new page and connect it to the bot(and still get the welcome message twice)?

[2020-01-09 21:09] turbozapekanka commented on #165
I only get it the first time I send a message. To reproduce this I used another facebook account, added it to testers role in facebook app, and messaged from a new account. Subsequent messages do not trigger OnMembersAddedAsync method at all, so I do not receive _any_ welcome message. I don't know how to make the bot forget about previous conversation and start over.

[2020-01-09 22:04] CoHealer commented on #42
Sincerest apologies that I dropped this. The content did eventually update, now pointing to https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/conversation-basics?tabs=dotnet

[2020-01-09 22:04] #42 closed

[2020-01-09 22:23] iMicknl commented on #42
@CoHealer thanks for the update, looks good!

[2020-01-10 08:59] marcasmar94 commented on #7
Any updates?

[2020-01-10 09:31] Rakesh5594 opened #167 "MS Bot to Teams Integration issue"
Bot OnSend Activity is returning twice and it results error: activity must include non empty 'text' field or at least 1 attachment

[2020-01-10 18:04] mdrichardson commented on #167
Since you have this opened [on SO](https://stackoverflow.com/questions/59679230/ms-bot-to-teams-integration-issue), I'm going to close this and provide support there.

[2020-01-10 18:04] #167 closed

[2020-01-10 18:55] mickeydjw commented on #151
Closing due to lack of response

[2020-01-10 18:55] #151 closed

[2020-01-10 18:56] #154 closed

[2020-01-10 18:56] mickeydjw commented on #154
Fix has been checked in.

[2020-01-13 10:03] Rakesh5594 commented on #167
Hi Richardson, The SDK Version we are using are v4 and attached the error we are getting in Azure as warnings and below is log report FYR.. In mainDialog: displayHelpOptions step Innnnnnn onSendActivities Innnnnnn onSendActivities Dispatch Intent: Qna IT intents In QnaMaker dialog - confirm Innnnnnn onSendActivities Innnnnnn QnA if Innnnnnn onSendActivities Regex not found. Sending answer Innnnnnn

[2020-01-13 17:23] EricDahlvang commented on #168
Yes, Bots require users to accept files sent to them.  More information can be found here: https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-and-receive-files?tabs=dotnet#using-the-teams-bot-apis

[2020-01-13 18:22] anusharavindrar commented on #165
@turbozapekanka  its how Facebook handles the user information on their end. Facebook maintains a list of people that have connected to an app, either through the facebook apps such as games, or via Messenger and stores this information in either PSIDs or ASIDs, accessable through the Facebook Graph API v2.0.

As per this behavior, when you connect a **new facebook account(user)** to the bot **for

[2020-01-14 00:42] jameslew commented on #166
Hi @sherlock666 ; right now we're evaluating when to do this.  Often as not we find customers stand up their own web services and then create a Bot Registration rather than using the deployed web app (for long term after trial anyway).

As we plan for this; what expectations would you have of the template?  Environment, OS, etc?

[2020-01-14 02:26] sharonchansy opened #169 "[Teams] Bot does not get conversationUpdate consistently on Teams app installation"
We have a bot hosted on our own cloud, registered on Azure Bots Channel Registration, with Teams channel enabled.
We created a Teams app pointing to this bot, with scope personal, group & teams.

When we "upload a custom app" to install for personal scope, majority of the time the bot gets a conversationUpdate for the user who installed the app. When testing, we uninstall then install the app agai

[2020-01-14 21:08] EricDahlvang commented on #168
The services team pointed out the maximum message size is 256k, which explains the inline attachment failure.  A PR is here https://github.com/microsoft/BotBuilder-Samples/pull/2130 to reduce the image size, which enables Sample 15 on the Direct Line channel.

[2020-01-16 06:45] Rakesh5594 opened #170 "Not able to retain selected values in adaptive card On Submit."
I am trying to retain the selected values in adaptive cards after submitting with user input. So I am using updateActivity() function(which is an in-built function).
When I try to run the code on Webchat channel(and emulator) it throws onTurnError() after user submits the adaptive card.
So it the issue from my side or the updateActivity() is not supported by microsoft in webchat channel(and bot em

[2020-01-16 06:55] EricDahlvang commented on #164
@EmanuelCD95 hopefully one of the above options were helpful.

Closing this issue now. Please open a new issue if you run into anything else.

[2020-01-16 06:55] #164 closed

[2020-01-16 16:34] jwiley84 commented on #169
Hi @sharonchansy!

The `conversationUpdate-memberAdded` is a bot specific event, and should only be sent to the bot a single time, when a user adds (or is added) to the bot. That being said, conversationUpdate pertains to other events within the bot, including removing members, adding team members to a team bot, renaming the team, etc.

Can you expand on what you mean by 'guaranteed way to be noti

[2020-01-16 18:13] EmanuelCD95 commented on #164
Hi @EricDahlvang,

I'm sorry for the delay.
We found out that the problem was due to the webhook related to messenger redirect.
It was in that particular case were we receiving that exception.

Thank you for your help.

[2020-01-16 19:23] v-kydela commented on #170
@Rakesh5594 - Are you talking about the Teams issue described [here](https://stackoverflow.com/questions/57870044/adaptive-card-clears-input-on-submit) and [here](https://stackoverflow.com/questions/59710556/after-submit-adaptive-cards-are-not-retaining-value-of-text-entered-in-text-box)?

If so, that problem does not apply to Web Chat and Emulator. Adaptive Cards do not clear their inputs on thos

[2020-01-16 20:31] clearab commented on #161
I don't believe using an inline image tag has ever been supported by Teams - if it was working for a while it was a bug/regression.

[2020-01-16 20:31] #161 closed

[2020-01-17 08:19] niveditapdixit commented on #155
@amistry79,
we are also facing the same issue .  403 returned while generating new token using Directline Service , please let us know what is the resolution used for this issue

[2020-01-17 11:16] Rakesh5594 commented on #170
But I have been facing the issue in webchat as well as in emulator.
I have attached the image below, before submitting the cards I have selected the values as below.
![before_submit](https://user-images.githubusercontent.com/55781178/72608335-6a2d3e80-3948-11ea-920e-89452d171ddb.JPG)

After clicking next, the values are replaced by the placeholder values from the json file.

![after_submit](https:

[2020-01-17 13:20] lpnieto opened #171 "How I know if it is better working with Web App Bot or Bot Channel Registration?"
I would like to deploy a chatbot which I have in Visual Studio project in Azure Directory to connect it throw Teams Application. How I can be sure that it is the correct option? what is the difference between them?  Because the panel configuration is difference, App Settings appears in Web App Bot but not in Bot Channel Registration.
Thaanks! :)
![image](https://user-images.githubusercontent.com/5

[2020-01-17 16:08] mdrichardson commented on #155
@amistry79,

This is not expected behavior. Can you please provide the following information:

appId and/or bot name
How long has your bot been deployed and when did you begin experiencing this behavior?
Does your bot work when hosted locally?
In what circumstances are each of those error codes presented?
What are steps to reproduce each of those error codes?

[2020-01-17 17:40] anusharavindrar commented on #160
@maximicciullo does the above explanation answer your doubts? Do you need any more help?

[2020-01-17 17:45] anusharavindrar commented on #165
@turbozapekanka I am currently in the process of reproducing your issue. Have you encountered the same issue on the FB channel using some other sample as well other than the echo-bot sample?

[2020-01-17 17:49] jwiley84 commented on #171
Hi @ilpnieto

The Web App Bot and Bot Channels Registration serve two slightly different purposes. A Web App Bot is going to be a conglomerate of your bot code, an app service, and you channels registration. It's a good choice if you want to create a pre-deployed bot, then download and alter the code, then redeploy. It's essentially a web app (your bot code and the app service), and your bot chann

[2020-01-17 17:49] #171 closed

[2020-01-17 18:22] v-kydela commented on #170
@Rakesh5594 - What version of Emulator are you using? Here's a screenshot of Emulator 4.7 retaining all Adaptive Card inputs after the submit action is clicked:

![image](https://user-images.githubusercontent.com/41968495/72635770-772f3b00-3912-11ea-9390-f733e35ae265.png)

If you are experiencing something different in Emulator, please post a screenshot of that. If you are experiencing something d

[2020-01-17 18:45] jwiley84 commented on #169
A welcome message can be sent to the user on that single `conversationUpdate-memberAdded` event. As you can see here, I roughed up an app manifest in teams, and added Teams to the channels list in the azure portal. When I hit 'test' on the bot, it sent the initial welcome message to me (the user) (please ignore the name of the bot, it's a personal project):

![image](https://user-images.githubuser

[2020-01-17 19:03] clearab commented on #169
A couple of things to add here:

The conversationUpdate event is sent in slightly different instances depending on context:
- For a 1:1 conversation between the bot and a user (personal scope) the event is only sent the very first time the bot is installed. Technically, it is sent when the conversation is created between the bot and the user. If the user uninstalls the bot, this conversation is no

[2020-01-17 19:59] turbozapekanka commented on #165
I haven't checked other examples but I believe any example that uses this condition "if (member.Id != turnContext.Activity.Recipient.Id)" will behave the same.

[2020-01-18 13:01] lpnieto commented on #171
Hi Jessica! First of all thank you for your support. I have a bot deploy with Visual Studio (I tested locally throw Bot Framework and it is running fine). I will check this information to next steps. Thanks you!! 👍

[2020-01-19 20:39] maximicciullo commented on #160
Hi @anusharavindrar, I was trying to do what @Jeffders mentioned and I guess I'm almost to solve it.

I was doing option 1 that @Jeffders mentioned but I got a 500 error response when I hitted direct line token generator endpoint.

I got trusted origins as part of the configuration UI page and in the request I only set the header with secret and body with userId and name... I guess I'm not correct

[2020-01-20 02:57] maximicciullo commented on #160
Hi @anusharavindrar, I was trying to use the option 1 that @Jeffders mentioned but I'm afraid is not working as I try to used it. Let me show you and please correct me if I'm wrong!

1. In Portal Azure ->  Channels  -> Default Site, I've activated **Enhanced authentication options**. Then I added a **trusted origin site** as https://anothersite.com (that's not a real site).

<img width="674" alt="

[2020-01-20 03:15] sharonchansy commented on #169
Thank you so much @jwiley84 @clearab !

My app works on the basis that the bot can send proactive messages to users, so if the conversationUpdate is not received by the bot on initial install, it is a fatal error.

I found another thread https://github.com/microsoftgraph/microsoft-graph-docs-contrib/issues/6688 which seems to indicate that installing the app through Graph API would generate a conv

[2020-01-20 10:06] tutul2010 opened #172 "Problem when try to call an another Rest-api at Botframework-V3+C#.net"
Hi,
I stuck with a problem as..
When i was trying to call another Rest Api end point (Rest-api done at dotnetcore 2.1) by Post-verb method at Botframework-V3+C#.net .
Problem is like as debugger point(at Visual studio 2017 IDE) was not returning to Botframework-V3 code after calling to api.
The Rest-Api app (developed at dotnetcore 2.1) was done by our team and it is working file by Postman tool a

[2020-01-20 12:22] Rakesh5594 commented on #171
I am using version 4.5 of bot emulator. Can you please let me know what exactly the code do you want me to post?
I am using waterfall dialog to send the adpative cards.
The versions for botbuilder and botbuilder-dialogs are 4.5.1 and 4.5.3 respectively

Below is the waterfall dialogs to be called
![waterfallcode](https://user-images.githubusercontent.com/55781178/72724546-9e536a00-3ba9-11ea-9b29-a

[2020-01-20 15:32] lpnieto opened #173 "Test in Web Chat - Bot Channel Registration"
Hi,

I deployed my bot in Visual Studio. Once I tested it locally I followed steps which are indicated in below post: [How to Deploy with Visual Studio](https://github.com/jwiley84/SelfHelpReadmes/blob/master/VisualStudioDeploy.md ). When I am going to test throw "Test in Web Chat" I cannot send any messages.  I check channels messages and I have next issue:
![image](https://user-images.githubuser

[2020-01-20 16:55] mdrichardson commented on #172
Closing, as this [is a duplicate](https://github.com/microsoft/BotBuilder-V3/issues/177)

[2020-01-20 16:55] #172 closed

[2020-01-20 17:02] tutul2010 commented on #172
Pls #closed as it is a time Out issue by HttpClient.

[2020-01-21 06:19] Rakesh5594 commented on #170
I am using version 4.5 of bot emulator. Can you please let me know what exactly the code do you want me to post?
I am using waterfall dialog to send the adpative cards.
The versions for botbuilder and botbuilder-dialogs are 4.5.1 and 4.5.3 respectively

Below is the waterfall dialogs to be called
![waterfallcode](https://user-images.githubusercontent.com/55781178/72780106-f474eb80-3c43-11ea-9a8a-5

[2020-01-21 17:20] jwiley84 commented on #173
Sorry for the delay!

It does sound like the password is incorrect, so here's some steps to reset it, just in case:

In the bot channels registration for your bot,  click on  'Settings', and once in settings, go to your 'Microsoft App ID'. There should be a blue link that says 'manage'. (orange box in image)

![image](https://user-images.githubusercontent.com/17333688/72825897-b7512f00-3c2c-11ea-8

[2020-01-21 17:40] v-kydela commented on #170
@Rakesh5594

1. Can you update to [the latest version of Emulator](https://github.com/Microsoft/BotFramework-Emulator/releases/tag/v4.7.0) and see if you're still experiencing the problem?
1. You just posted bot code. I asked for your Web Chat code. I need to see the HTML that you're using to host the Web Chat client.
1. It would help if you could provide the full JSON for an Adaptive Card that yo

[2020-01-21 17:49] clearab commented on #169
Depending on your scenario, you may find the Graph APIs helpful. There's an article here: https://docs.microsoft.com/en-us/graph/teams-proactive-messaging. Multiple calls can have the side effect of sending the same conversationUpdate event more than once, so you'll need to add some logic to ensure you're not responding to one you've already responded to.

You should almost always receive a conver

[2020-01-21 17:58] Jeffders commented on #160
Trusted origins is not an origin request header filter right now, so what you are trying is expected to work. It is used in user sign-in scenarios with DirectLine and WebChat to avoid needing to add the magic code two-factor authentication code.  You can read about this here:
https://blog.botframework.com/2018/09/01/using-webchat-with-azure-bot-services-authentication/

We do have a preview featur

[2020-01-21 18:51] maximicciullo commented on #160
Ok, that's a huge problem for us.

Do you have a deadline for the new feature @Jeffders ?

Thanks!

[2020-01-21 19:27] Jeffders commented on #160
Send me an email at jeffders at Microsoft dot com with your bot and or subscription and I can whitelist you. Does that work?

[2020-01-22 01:03] sharonchansy commented on #169
Thank you @clearab all clear now.
I will continue to monitor the situation and raise if I find the bot is not "almost always" receiving the conversationUpdate.

[2020-01-22 01:09] #169 closed

[2020-01-22 02:43] maximicciullo commented on #160
Sure, thank you!

[2020-01-22 12:07] sw353552 commented on #170
@v-kydela
Upon updating the emulator, it worked fine. Should we also update Webchat to 4.6.0?

[2020-01-22 16:49] v-kydela commented on #170
@sw353552 - I have repeatedly asked for your Web Chat code and you have not given it to me so I don't know how you expect me to comment on that. Generally you should be using `/latest/webchat.js` so that you don't have to do any updating, but if you're using a specific version then yes you should either update it or switch to the "latest" URL.

[2020-01-23 05:23] sw353552 commented on #170
@v-kydela Yes Me and Rakesh are from the same team.
My webchat code looks like this,

import {
    DirectLine
} from 'botframework-directlinejs';
import React from 'react';
import ReactWebChat, { createDirectLine, createStore, Components } from 'botframework-webchat';
import * as AdaptiveCards from "adaptivecards";
import axios from 'axios';
import { FontAwesomeIcon } from '@fortawesome/react-font

[2020-01-23 09:05] lpnieto commented on #173
Hi Jessica!

Sorry, I don´t see this mail before. I started again (another time) and at
least, I achieve it!! I have my bot running and I could test it throw
teams. Now I can search how deploy next steps.

Thanks you so much!! :) :

El mar., 21 ene. 2020 a las 18:20, Jessica Wailes (<notifications@github.com>)
escribió:

[2020-01-23 10:51] RuanCowley commented on #7
Any new progress on the WhatsApp Channel? We really need this. :(

[2020-01-23 16:44] jwiley84 commented on #173
Good! I'm going to close this issue. If you need further assistance, feel free to ask 'How-To' questions here on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) using the botframework tag, or file a bug on the Bot Framework github repos!

[2020-01-23 16:44] #173 closed

[2020-01-23 19:14] v-kydela commented on #170
@sw353552 - Okay, I see now that you're integrating Web Chat with React. If you had gone with [the JavaScript option](https://github.com/microsoft/BotFramework-WebChat#integrate-with-javascript) then you could be accessing the latest version automatically with no need to update.

Have you updated Web Chat yet?

[2020-01-24 12:31] Rakesh5594 opened #174 "Youtube video is not loading in Chat Bot, Throwing no error, Only break video"
In Bot Emulator while trying to play the video, Getting below code
![11](https://user-images.githubusercontent.com/55781178/73069131-f1435f00-3ed2-11ea-824b-f4f3b4606f10.JPG)

Below are the JS files code.

We are using SDK version is V4
![33](https://user-images.githubusercontent.com/55781178/73069351-86465800-3ed3-11ea-87af-cb8e70cd3f82.JPG)
![22](https://user-images.githubusercontent.com/5578117

[2020-01-24 13:56] Edwardfelix08 commented on #148
Hi @dandriscoll,
we are using Bot Framework V4, along with web chat using directline channel, and we are facing the typing indicator not displaying in the web chat channel. We are using CDN in the "HTML".

Versions:
        "botbuilder": "^4.7.0",
        "botbuilder-ai": "^4.7.0",
        "botbuilder-applicationinsights": "^4.7.0",
        "botbuilder-azure": "^4.7.0",
        "botbuilder-core":

[2020-01-24 17:46] anusharavindrar commented on #165
@turbozapekanka for some weird reason I am not able to repro the behavior which you are experiencing. Having said that, can you test one instance on your end by adding a new facebook account but not adding it to the testers role in the app and see if you can still repro the issue(getting duplicate welcome message)?

[2020-01-24 18:31] jameslew commented on #166
Thanks again @sherlock666 ; I've added your request as a +1 on our backlog item for prioritization.

[2020-01-24 18:31] #166 closed

[2020-01-24 19:01] v-kydela commented on #174
@Rakesh5594 - That YouTube link is an HTML page, not a video file. You need to provide an MP4 video file if you want to use the `video/mp4` content type, like this: https://download.blender.org/peach/bigbuckbunny_movies/BigBuckBunny_320x180.mp4

I know of no easy way to extract a video file from YouTube. Generally you should only be using videos you have the rights to or video files that have been

[2020-01-26 10:49] Rakesh5594 commented on #174
Hi kydela, Thanks for the help.
I have tried with locally stored mp4  videos as well but not working.

Yes I tried with the mp4 format you suggested already its working but any scope of able to convert the youtube video into the format you are suggesting would be helpfull.

[2020-01-27 18:13] v-kydela commented on #174
@Rakesh5594 - As I said, this is not the appropriate forum to ask how to extract a video file from a YouTube page. You might consider searching on Bing for that kind of information.

What do you mean when you say you've tried with locally stored mp4 videos? Do you mean you're trying to link to the video on the bot's web app server, or do you mean you're trying to link to a video on the user's comp

[2020-01-27 20:21] turbozapekanka commented on #165
If I don't add the user to testers it will not work at all because facebook app will not be available, it requires business or individual verification in order to work with regular users.

[2020-01-29 10:47] jbkcmouli opened #175 "webchat URL - redirection with gemini"
🚨 The issue tracker is not for implementation questions 🚨

[Question]
Hi,
Some one can please let us know why
webchat URL in the below format
https://webchat.botframework.com/embed/botname?s=secret
is redirecting to new one with slight change with gemini added in URL
https://webchat.botframework.com/embed/<botname>/gemini?b=<botname>&s=<secret>

this redirection is causing issues for our integrati

[2020-01-29 20:07] botframeworkTest commented on #175
@jbkcmouli , the embed WebChat package is being upgraded to v4.6.0. This is why you see the extra redirect.

Can you add some details about the HTTP client you use and the integration errors? Many non-browser HTTP clients will allow you to follow client side redirects. Example: https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclienthandler.allowautoredirect?view=netframework-4.8

[2020-01-29 20:09] p-nagpal commented on #175
@jbkcmouli , the embed WebChat package is being upgraded to v4.6.0. This is why you see the extra redirect.
Can you add some details about the HTTP client you use and the integration errors? Many non-browser HTTP clients will allow you to follow client side redirects. Example: https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclienthandler.allowautoredirect?view=netframework-4.8

[2020-01-29 22:32] Tiger519 commented on #175
@p-nagpal I have noticed the changes as well. For now it seems to be just visual changes, but all the colors have been completely stripped . This will not be acceptable for us to use with end users. Is there a way to restore the previous UI? I happen to have the same bot in two environments, of which only one is redirecting to Gemini. See screenshot attached.

![image](https://user-images.githubus

[2020-01-29 22:53] carlosscastro commented on #150
@crow-ua: good news is that there is a solid plan to do automatic update. Bad news is that we don't have a clear timeline yet, so we cannot really commit at this date. Feel free to check in with me or revive this bug to check back in.

[2020-01-29 22:53] #150 closed

[2020-01-30 01:22] p-nagpal commented on #175
@Tiger519, we are looking at offering styling options in the future. However, this might not work for you in the short term.

The Embed control can be upgraded by the service for new features, security and accessibility fixes at any time. If you want more control over the exact version of WebChat including branding/styling, then we recommend using WebChat from the CDN. This allows you specify the

[2020-01-30 01:23] p-nagpal commented on #175
@jbkcmouli, I forgot to mention, if you want your bots to be excluded from the upgrade now,
please email me at ponagpal at microsoft dot com. Include your bot id(s).

[2020-01-31 10:56] amistry79 commented on #155
See the attached email snapshot for degradation in the dependency duration. I received below smartdetection alert using Azure AppInsight service. Due to this issue, we see such a response in our bot.

![image](https://user-images.githubusercontent.com/3864971/73533981-0590da00-4446-11ea-905e-2f5e1a2c9673.png)
![image](https://user-images.githubusercontent.com/3864971/73534006-13def600-4446-11ea-8f

[2020-01-31 12:58] w-piotr opened #176 "Getting occasional 502 (Bad Gateway) in Teams"
Hi All,

I am creating new issue as all the similar ones refer to the begining of conversation or the Direct Line channel and not Teams.
I am getting 502 Bad Gateway error randomly and cannot find a root cause.
So far it happened 2 times out of about 30 conversation with the bot.
Both errors occurred in the middle of conversation in exactly the same waterfall step while bot displays the hero card

[2020-01-31 18:43] mickeydjw commented on #117
Issue being tracked in internal backlog.

[2020-01-31 18:43] #117 closed

[2020-01-31 18:47] #86 closed

[2020-01-31 18:58] #48 closed

[2020-01-31 19:00] #41 closed

[2020-01-31 21:05] CoHealer commented on #31
This is still a Facebook channel specific issue. Closing as by design.

[2020-01-31 21:05] #31 closed

[2020-01-31 21:23] v-kydela commented on #86
@mickeydjw - What was the resolution?

[2020-02-01 04:50] mukeshhope opened #177 "Getting error while connecting to qna maker"
Hi Team,
I am new to BotFramework services.
I am trying to connect to qna maker but i am getting error. i am trying to test QnAmaker from send message and its working fine. But when i am testing from local bot framework emulator , i am getting below error message (i have extracted error by sending the error message in response).

[code]

please help me.
Please let me know if i should provide some

[2020-02-03 07:27] jbkcmouli commented on #175
@p-nagpal thank you for the help; the client we use is SWT - Eclipse; while the investigation is going on with that how to handle the re-direction; I would take your offer to provide my bot-ids to be excluded
Since we are in production already;
I will send you the details from my official e-mail id.

[2020-02-03 10:50] pintux commented on #102
Hi,
any news about this issue?
I'm trying to get a image from  https://smba.trafficmanager.net/emea/v3/attachments/0-weu-d14-098241ee675ddf7fe06b1c223d8e2e1a/views/original using Bearer Auth using my Bot password but it always return me a 401 `{"message":"Authorization has been denied for this request."}`

[2020-02-03 17:29] dmvtech commented on #176
Hi @w-piotr We had this looked into and it seems that it was transient error, retry should've helped in that case. From our logs it seems that request to underlying dependency had timed out.

[2020-02-03 19:06] dmvtech commented on #176
Closing due to issue being transient issue.

[2020-02-03 20:10] v-kydela commented on #174
@Rakesh5594 - Are you still working on this?

[2020-02-03 20:10] v-kydela commented on #170
@sw353552 - Are you still working on this?

[2020-02-03 20:56] dmvtech commented on #177
Hi @mukeshhope Can you give me a bit more information around what you mean by:

Is this a bot from scratch or are you running a certain sample?  or did you create a bot from yeoman/visx? if you used a sample; is it one of the qna samples?

If you can share a (sanitized of personal, sensitive info) reproduction of this in another repository, then that might help me determine what is going on.

[2020-02-04 06:30] sw353552 commented on #170
@v-kydela After updating Webchat, adaptive cards are retaining the values selected by the user.

Thnx for helping.

[2020-02-04 07:25] mukeshhope commented on #177
Hi Dana,
Thank you so much for your response.
I tried to get a response of qna maker from postman and it works fine (this is what i mean by sending a message to qna maker and works fine.)
i made a call to
https://muct-bot-service.azurewebsites.net/qnamaker/knowledgebases/<myknowledgenaseid>/generateAnswer
from post man and i am getting correct response.
![Captureqnaresponse](https://user-images.gi

[2020-02-04 08:25] w-piotr commented on #176
Thank you, is there any particular reason why the dependency had timed out? Is the problem in app service or on Teams side? I would assume that retry (RepromptDialogAsync) should help in case of chatbot to user messages but any idea how to retry the activity which comes from the user to chatbot?

[2020-02-04 23:44] dmvtech commented on #177
Can you try the following sample:

https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/11.qnamaker

I want to make sure that runs correctly first. If so, then we can figure out what the difference might be between the two.

[2020-02-05 02:17] ganeshsam14 opened #178 "Getting {"code":"ResourceNotFound","message":"/ does not exist"} exception while adding custom app to private channel in teams"

[2020-02-05 06:04] mukeshhope commented on #177
Hi Dana,

Sure i will try and let you know

[2020-02-05 12:32] w-piotr commented on #176
Hi dmvtech,

Can you please reopen this issue, as this is getting more and more severe (5 new cases in 5 days). Why is the request to dependencies became so unstable since last 2 weeks?
Especially please take a look at the last one which doesn't look like a timeout as it took only 64 ms
![image](https://user-images.githubusercontent.com/49780873/73841943-edd99d00-481b-11ea-9d61-b167ea3e4c33.png)

[2020-02-05 12:33] jmnsf opened #179 "[Slack] OAuth v2 with new bot scopes is not working after redirect"
Slack recently added more granular scopes and deprecated the catch-all "bot" scope that BotFramework uses by default. It also added a new oauth endpoint to use these new scopes.

I can generate a new add-to-slack link and complete the oauth flow, for example:

[code]

But on redirect the user sees:
![image](https://user-images.githubusercontent.com/6831662/73841928-8881ae00-4813-11ea-86da-c2837f3e

[2020-02-05 13:03] mukeshhope commented on #177
Hi Dana,
I tried running sample suggested by you and it works !.

Also i found that my env file has double quotes in properties and i removed that.

I removed node_modules folder and run npm install.
again and now i am getting below error.
text: "Cannot read property 'map' of undefinedTypeError: Cannot read property 'map' of undefined at GenerateAnswerUtils.formatQnaResult (C:\Mukesh\Mukesh\rnd\my

[2020-02-05 18:34] vijay1anand commented on #7
Any progress on Whatsapp Channel? Is there any other way in which we can connect the Azure Bot with the Whatsapp.

[2020-02-05 19:21] nicobytes commented on #7
@vijay1anand From Azure Bot Service is not possible but you can use **TwilioWhatsAppAdapter** instead of use **BotFrameworkAdapter** and use Twilio for send and receive message from Whatsapp

https://www.npmjs.com/package/@botbuildercommunity/adapter-twilio-whatsapp

[2020-02-05 20:55] v-kydela commented on #174
Closing due to inactivity

[2020-02-05 20:55] #174 closed

[2020-02-05 22:27] dmvtech commented on #177
Looks like you have a mismatch between your code and .env. In your code you are using **QnAAuthKey** and in the .env it is **QnAEndpointKey**.

[code]
[code]

one small change should get it working:
[code]

[2020-02-05 22:30] dmvtech commented on #178
Hi @ganeshsam14 Please provide more details. We need information about exactly what you are trying to do, steps to reproduce, version numbers, etc.

[2020-02-05 23:48] dmvtech commented on #176
My apologies @w-piotr.

Looking into this more currently. Will update you asap.

[2020-02-06 05:14] mukeshhope commented on #177
Hi Dana,
Yes it worked.
Thank you so much. you are superman.

[2020-02-06 05:14] #177 closed

[2020-02-06 13:42] bhushanvadgave opened #183 "Same Conversation Id generated for 2 different users"
## Versions
botbuilder NodeJS SDK v4.6.2
The bot is created in Azure using "Bot Channel Registration" template.

## Description
Our bot service has received messages (over directline channel) from 2 different users (userIds: OkZ7GnABPltEMu1ogKpk and RUaBGnABPltEMu1oEap2) but with the same conversation id (8KiF8gmcold8mpQpsVqasI-h). This has resulted in a corrupted session (of ConversationState sco

[2020-02-06 13:53] yasminagavalda opened #181 "[Teams] Copy/Pasted email addresses from Outlook app sent from teams are not accessible from bot"
### Issue
When a user copy an email from outlook desktop application and paste it to MS Teams, the email address is not accessible from bot.

### Expected behavior
Bot should be able to access the email address pasted on MS Teams

### How to reproduce
1. Copy an email from Outlook desktop application:
![image](https://user-images.githubusercontent.com/27521364/73941179-0960a880-48ed-11ea-8477-7fb8

[2020-02-06 17:41] v-kydela commented on #181
Hi @yasminagavalda - this probably has to do with the angle brackets being interpreted as markup. Have you tried pasting an email address without the angle brackets?

Also, the format of your activities makes it look like you're using the v3 Node SDK. While the activity schema has remained unchanged, it's possible that the transformations applied by that SDK have removed some information from the

[2020-02-06 18:56] yasminagavalda commented on #181
Hi @v-kydela, I have tried to write the same text with angle brackets and it arrives to the bot. And I have copy/pasted the same text from another app or text editor and it arrives to the bot too. The issue only exists when I copy/paste from the Outlook app.

We started this bot with v3 and it is almost finished, so we can’t migrate to v4 now. I will consider the v4 for the next bots.

[2020-02-06 18:58] jwiley84 commented on #179
Let me look into this, and if need be, pass this up to someone to get fixed.

[2020-02-06 19:28] v-kydela commented on #181
@yasminagavalda - That's interesting. The problem I'm able to reproduce on Teams for Windows is that nothing contained in angle brackets gets sent to the bot, so there's nothing the bot can do to recover the information regardless of what SDK you're using.

@billbliss
@clearab

Can you have a look at this? It appears to be a Teams bug.

[2020-02-06 20:12] dmvtech commented on #176
Hi @w-piotr I saw that @billbliss responded to you [on Stack Overflow](https://stackoverflow.com/questions/60074794/high-level-retry-logic-for-activities-which-failed-to-be-sent). Hope that explains it clearly enough. If you continue to have issues, and need assistance with this issue, please pursue support through Azure portal.

[2020-02-10 17:30] dmvtech commented on #178
@ganeshsam14 Please let us know if you still need assistance with this. If so, please provide more information and resources to reproduce the problem.

[2020-02-11 02:24] billbliss commented on #181
I think this is a regression because it used to work, and it should work. We've filed a bug. I think Kyle is right, it doesn't matter what version of the SDK you use (I wouldn't think it would). It also happens on the iOS client so this is likely a service regression.

[2020-02-11 14:58] ganeshsam14 commented on #178
@dmvtech sorry for the late response, I'm getting ResourceNotFound exception in Teams application while trying to add custom app to private channel.

![image](https://user-images.githubusercontent.com/22378589/74248043-fcf59a80-4cb4-11ea-8a01-e664549c8d06.png)

[2020-02-11 18:27] anusharavindrar commented on #165
@turbozapekanka apologize for the delay in response. I will update the thread shortly. I am trying to test using the business/brand page option.

[2020-02-11 18:52] dmvtech commented on #178
Bots cannot be added to private channels.

@Virtual-Josh @clearab For additional visibility/comments.

[2020-02-11 18:55] CoHealer commented on #176
Per @billbliss, "We are currently in the midst of rolling out a new version of our back-end service that powers all Teams chats, and we are seeing increased 502 volume. We are working to fix it - assuming this isn't an issue with Azure D1 capacity, it should go away soon. That said, putting the code in try/catch blocks seems like a good defensive measure - it really should be intermittent but it c

[2020-02-12 20:43] #178 closed

[2020-02-13 09:18] w-piotr commented on #176
Thank you for the information I believe the issue can be closed now.

[2020-02-13 09:18] #176 closed

[2020-02-14 04:48] prashanthsridhar opened #182 "Increase bot token ttl"
Is there a way to increase to the lifetime of the directline token.

[2020-02-14 20:23] stevkan commented on #182
@prashanthsridhar, unfortunately, no there is no way to adjust the lifetime of the Direct Line token. However, you can always make a call to the `v3/directline/tokens/refresh` API to refresh the token giving it a new expiry. You can read more about calling the refresh API [here](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-authentication?view=azure

[2020-02-14 20:23] #182 closed

[2020-02-17 10:51] ziaulhaque1207 commented on #7
Hi,

Can you please provide c# sample and a step by step procedure.

[2020-02-20 23:27] anusharavindrar commented on #165
@turbozapekanka I am able to repro the issue on my end when I connect a new account/app to my bot. I am suspecting it to be related to how it is handled on the Facebook end(ID generation) since as per the bot code, it should just trigger once. I will update the thread once I am able to get more info on how this is being handled on Facebook's end.
![turFB](https://user-images.githubusercontent.com/

[2020-02-20 23:34] CoHealer commented on #49
@mdrichardson "...If you need an immediate fix, you can get the user's channel and append an extra line to each line if they are using an SMS channel. Until then, this should be considered a bug."

@jameslew , can you confirm this has been triaged and added to the service backlog?

[2020-02-20 23:52] #170 closed

[2020-02-21 15:32] Pingulea commented on #181
I was able to repro from the Teams client with any text enclosed in angle brackets, not just e-mail addresses. Mine is dump C# echo bot v4.x.

![image](https://user-images.githubusercontent.com/17765085/75047804-b92a3e80-54c7-11ea-82fe-1e8772216a39.png)

It does not happen from the WebChat test.
It does not happen in a human-to-human Teams conversation.
So I guess it is in the Teams channel, indee

[2020-02-21 16:52] turbozapekanka commented on #165
@anusharavindrar Great to hear that you could repro. The cause is most likely due to member's ID is incorrect as shown on my screenshot above.

[2020-02-21 18:38] mickeydjw commented on #72
Fix Deployed

[2020-02-21 18:38] #72 closed

[2020-02-21 18:42] #16 closed

[2020-02-21 18:43] #10 closed

[2020-02-21 18:46] #5 closed

[2020-02-21 20:05] jwiley84 commented on #179
I'm still working on clarifying the instructions to add a bot to slack properly, but I am unable to repro your issue. I need a few more details from you:

My URL is as follows:

https://slack.com/oauth/authorize?scope=incoming-webhook&client_id=MYCLINTID"><img alt=""Add to Slack"" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge

[2020-02-21 21:48] mickeydjw commented on #163
Hopper item created.  Closing Issue.

[2020-02-21 21:48] #163 closed

[2020-02-22 23:10] jmnsf commented on #179
Hi @jwiley84, thanks for looking into this. Note that the new scopes are now bound to a new OAuth URL, `https://slack.com/oauth/v2/authorize`. This means also that BotFramework needs to call the `oauth.v2.access` method for exchanging the OAuth code for an Auth Token (I believe this is the part that fails since you're likely to be calling `oauth.access` instead).

I've worded the issue as a bug, b

[2020-02-23 07:14] docohe commented on #72
Thanks !

[2020-02-25 22:18] CoHealer commented on #160
Closing with white-listing

[2020-02-25 22:18] #160 closed

[2020-02-26 12:17] rurounijones opened #184 "[Feature Request]: Support for Discord as a channel"
Add Discord ( https://discordapp.com ) as a channel for the Microsoft Bot Framework:

MVP: Text channel
Amazing-to-have: Voice channel

Migrating request from issue on old repo @ https://github.com/microsoft/botframework-sdk/issues/3248 that had 43 positive reactions

[2020-02-27 21:53] anusharavindrar commented on #165
@turbozapekanka thank you for your patience. You were right, the issue was due to the fact that the channel is sending the wrong recipient id in the conversation update activity. A PR for this fix is already underway and would be merged in next week's build. You could hopefully be able to test it later next week to get the correct behavior.

Hope this helps.

[2020-02-28 00:07] anusharavindrar commented on #183
@bhushanvadgave can you provide the MicrosoftAppId, BotHandle, and UTC timestamp of when this exactly happened?

[2020-02-28 02:12] MatthiasGwiozda opened #185 "Adaptive Cards doesn't render Input.Number - values"
## Screenshots
**Activity:**

![activity_card_field](https://user-images.githubusercontent.com/22172694/74517415-5b6b8480-4f12-11ea-989f-aa50fe9bb1b1.png)
**result:**

![inputField](https://user-images.githubusercontent.com/22172694/74517413-5ad2ee00-4f12-11ea-9b2d-36160090220d.png)

**expected result:**

![inputField_2](https://user-images.githubusercontent.com/22172694/74517649-cb7a0a80-4f12-11e

[2020-02-28 18:52] #175 closed

[2020-02-28 18:56] mickeydjw commented on #125
@Jeffders Any updates on this issue?

[2020-03-01 07:09] bhushanvadgave commented on #183
@anusharavindrar
Please find the details below
MicrosoftAppId: ad684b78-c94f-4c5e-be5d-8bcb3ccd9c37
BotHandle: akzo-prod-bot-eukdlx

[2020-03-02 16:10] thejasondt opened #186 "Azure Bot Service OAuth Connection String Not Maintaining Token"
I have recently set up the Oauth Connection String (in settings in my Bot Service in Azure) with the Instagram Basic Display API - however, it seems the Bot Service is not maintaining the token.

It works at first but over time (maybe an hour) I get:

"message": "Error validating access token: Session has expired on Friday, 28-Feb-20 12:00:00 PST. The current time is Friday, 28-Feb-20 15:10:48 PST

[2020-03-02 19:05] jwiley84 commented on #186
Are you using the Instagram as sevice provider on the Azure portal, or are you using Generic Oauth?

[2020-03-02 19:06] thejasondt commented on #186
Instagram

[2020-03-02 19:21] anusharavindrar commented on #183
@bhushanvadgave thank you for the above details. I am currently working with another dev who is looking into this closely. Since the time you reported this, did you experience this behavior again in the last few weeks? We haven't heard of this behavior before, so would be interested in knowing if the same conversation ID was generated again for two different users.

[2020-03-02 21:34] jwiley84 commented on #186
You're going to have to clarify once more. The way you're using the OAuth connection string is to authenticate, but what you're describing is NOT OAuth.

[2020-03-02 22:18] jwiley84 commented on #186
Doing a bit more digging into the Insta basic display API, I think I can see what you're doing.

Using this API in the OAuth Connection String is going to return the short-lived token that is only going to last an hour. What you do with that token going forward is on you as the dev, including using it to retrieve a long-lived token (which according to the Insta API docs lasts 60 days).

In order t

[2020-03-03 04:40] jameslew commented on #184
Thank you!  We currently do not have Discord on our short term roadmap, though I will add it to the backlog.

[2020-03-03 13:55] thejasondt commented on #186
I thought the point of using the bot service connection string to authorize is to use the bot service to maintain the token refreshing etc for me? I'm pretty sure that's the reason I saw them say in the video from MS about it.

Otherwise, I don't really see the point in it. With the previous Instagram API, it maintained the tokens for us, including refreshing. Now, I may as well do the whole cycle

[2020-03-03 16:33] srikarcheruku opened #187 "502 errors while connecting to bot using directline."
Hi I am getting 502 error saying the gateway time out exception. And this is happening only once in a while at random.

We are using bot builder v4.4, memory storage of bot builder storing some information.

I would like to know what could be the root cause for it.

[2020-03-03 18:39] jwiley84 commented on #186
I watched the video you referenced, and while some of the info in it is true, some of it is outdated.

The Bot Framework Token Service (built using your service provider on the Azure portal) is responsible for using oauth to do the token retrieval, as well as storing that token once acquired. That part is true. The bot dev can use the service to handle all the exchanging of ids and secrets for tok

[2020-03-03 18:48] thejasondt commented on #186
Well we would have to handle the secure long term token storage and refreshing with the current capabilities.

Also we cannot check the token response with every message as it continues to return the old 1 hour token that has expired.

I assumed this service was to maintain the lifecycle of the token for us, otherwise I am unsure why we would use it more than once. And even then, the check the bot

[2020-03-03 19:01] jwiley84 commented on #186
You would have to maintain the storage of the long-term token, yes, because that is not the standard token returned with an oauth request.

As for checking the token response, if you run the OauthPrompt dialog, and it returns a response that the token is expired,  it will log the user out and resend the oauth prompt, prompting the user to log in again. That is handled by the Bot Builder Dialogs.

[2020-03-03 19:16] thejasondt commented on #186
To confirm, currently I use:

connector.getUserToken - which always returns the expired 1 hour token. Is this what you mean by oauthPrompt? This returns the token but not whether it is expired (though it obviously does after 1 hour), are you recommending I do a check on that then log the user out myself? Is this the token you recommend checking?

If so this would log the user out every hour.

Othe

[2020-03-03 19:22] stevengum commented on #187
@srikarcheruku, can you additional information about your bot configuration and where you're seeing these 502s? Is your bot being locally run or is it deployed to Azure?

[2020-03-03 19:24] anusharavindrar commented on #165
Closing the issue as the fix should be out in this week's merge. Please feel free to reopen this if the issue persists.

[2020-03-03 19:24] #165 closed

[2020-03-04 09:46] srikarcheruku commented on #187
Hi Steve

Thanks for the response.

It is a JS bot and has been deployed to Azure.

I am trying to connect to bot from front end using direct line, I am seeing these errors in directline channel issues in azure bot application.

What all do you need for bot configuration?

[2020-03-04 11:22] yasminagavalda commented on #181
Hi @billbliss,
Is there any news about this bug?

[2020-03-04 13:24] yasminagavalda opened #188 "[Teams] Error on POST to 'https://smba.trafficmanager.net/emea/v3/conversations': [400] Bad Request on session.endConversation() method"
### Issue
When bot uses the session.endConversation() method, it gets the following error:
[code]
It only happens on Teams
It does not happen from the WebChat test.

So I guess it is related with the Teams channel.

### Expected behavior
No error

### Steps to reproduce
1. Include `session.endConversation()` method in your bot.
2. Connect to bot using Teams channel.
3. When the bot uses  `session.

[2020-03-04 17:48] jwiley84 commented on #188
Hi! What package version are you using?

[2020-03-04 19:06] attozk opened #189 "Feature Request: Ability for bot to post a reacion"
As a developer I would like for my to be able to post a reaction to a thread.

Currently bots can only read reactions, but not add reactions.

[2020-03-05 07:52] yasminagavalda commented on #188
Hi @jwiley84! I am using v3 Node SDK.

[2020-03-05 07:56] bhushanvadgave opened #190 "DirectLine: 404 Bad Argument Unknown conversation error in POST /activities API"
## Overview of the issue
We have read the info in some places on the internet that the conversation ID expires (DL APIs starts giving Unknown conversation) if kept idle for a few weeks. Please confirm if this understanding is true. If it's true, I don't understand why it is not mentioned anywhere in botframework/directline documentations.

## Impact on us
Our system is built on top of and heavily

[2020-03-05 16:38] EricDahlvang commented on #188
I think the Teams channel does not support the concept of ending a conversation, so this activity type is not recognized.

https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channels-reference?view=azure-bot-service-4.0#uncategorized

[2020-03-06 01:13] dmvtech commented on #187
Do you have Application Insights setup for either or both of the App Service or Bot Channels Registration/Web Application bot?

This is likely related to the bot taking longer than 15 seconds. You can use logging/tracking to get a better picture of where your bot is taking time. To get a general idea if your bot is taking a long time and may be flirting with the 15 second timeout, you can run the

[2020-03-06 18:02] arturl commented on #66
Hi @gmmarc, we're adding this to our issues backlog but don't have an ETA at this time. Thanks for the suggestion.

[2020-03-06 18:02] #66 closed

[2020-03-06 18:42] #184 closed

[2020-03-06 18:53] siduppal commented on #188
@Wajeed-msft can you pls take a look?

[2020-03-06 19:17] NickEricson commented on #110
Hi @stevkan
Thanks for reporting this. I tried this out for a C# bot and got it to work. Here is what I did:

I created a C# echo bot and enabled Telegram. Then I enabled inline mode in Telegram (https://core.telegram.org/bots/inline).

I the bot code I looked at the Activity Channel Data, when I see an "inline_query" node I return a message (Text set to null) with Channel Data set to the "answerI

[2020-03-06 19:17] #110 closed

[2020-03-06 19:25] Wajeed-msft commented on #188
Chat in Microsoft Teams is persistent. There is no end of conversation. Once user creates a conversation with bot it can't be ended. You get same conversation id whenever user chats with the bot.

Please add a check for channel before you call `endConversation()`.

[2020-03-09 14:58] Jeffders commented on #186
Currently the bot service token store follows only the typical OAuth2 protocol, which includes retrieving the first access token from the identity provider. If you are using an identity provider that requires additional token exchanges, then our recommendation is for you to acquire and manage that token yourself.

[2020-03-09 21:05] CoHealer commented on #190
Issues cited above are not the only constraints on conversation IDs. This is by design.

[https://docs.microsoft.com/en-us/azure/bot-service/bot-service-resources-identifiers-guide?view=azure-bot-service-4.0](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-resources-identifiers-guide?view=azure-bot-service-4.0)

Several channels (e.g., SMS, Skype, and possibly others) have the quirk

[2020-03-09 21:05] #190 closed

[2020-03-09 23:44] p-nagpal commented on #185
This happens because of a discrepancy between the way JS and C# libs handle the InputNumber->Value. I have opened https://github.com/microsoft/AdaptiveCards/issues/3829 to request for help

[2020-03-11 20:34] iMicknl opened #191 "token.botframework.com is missing viewport meta tag"
Currently token.botframework.com doesn't scale well on mobile, because it doesn't have a meta tag to define the viewport and scale. This makes it very small and hard to read, without manually zooming.

[code]

![IMG_7029](https://user-images.githubusercontent.com/1424596/76461351-053e1400-63e0-11ea-9c6c-e7a812b74605.PNG)

[2020-03-11 20:54] dmvtech commented on #187
Hi @srikarcheruku Do you still need assistance on this? Did you find any info from the query or any logging/tracking?

[2020-03-12 10:05] srikarcheruku commented on #187
Hi @dmvtech, i checked the logs and the bot is taking more than 15 seconds to reply sometimes. We are checking how to reduce the latency from the bot application.

Anyways Thanks for the help @dmvtech .

[2020-03-12 12:57] yasminagavalda commented on #188
@Wajeed-msft What is the way to clear the dialogs stack in a chatbot in Teams?

[2020-03-12 14:49] #187 closed

[2020-03-13 22:14] p-nagpal opened #192 "DirectLine Enhanced Authentication->getsessionid results in 400 BadRequest"
This issue comes from https://github.com/microsoft/BotFramework-WebChat/issues/2970. This is a different failure from the main issue so forking into a separate workitem.

The customer reports that

"The magic code always comes back. I get a status of 400 with the https://directline.botframework.com/v3/directline/session/getsessionid]. I don't have the webchat in any Iframe and I have the trusted o

[2020-03-13 22:26] p-nagpal commented on #192
@mmarinoNet, let us use this issue to investigate the return code 400 further,

Could you verify that your client (browser or otherwise) is setting the origin header when calling getsessionid? If your browser shows that the Origin header is valid and matches the value in Trusted Origins, could share a Conversation ID so I can track the failure? Thanks.

[2020-03-13 22:58] mmarinoNet commented on #192
I think that gets initiated when I call the OAuth prompt in the Bot.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Pooja Nagpal<mailto:notifications@github.com>
Sent: Friday, March 13, 2020 5:26 PM
To: microsoft/BotFramework-Services<mailto:BotFramework-Services@noreply.github.com>
Cc: mmarinoNet<mailto:dot-net-developer@hotmail.com>; Mention<mailto:mention@

[2020-03-13 23:55] vidyakdil opened #193 "Unable to configure bot in a new channel"
I've tried to configure the Bot service in a new channel (Facebook, directline). But I'm getting the following message in the screen - "The resource you are looking for has been removed, had its name changed, or is temporarily unavailable". This issue is not there in bit services of other subscriptions. When I'm trying to get the details of other channels by clicking on edit option, I'm getting th

[2020-03-15 15:58] jameslew commented on #193
Hello @vidyakdil ; without your botid it will be difficult to diagnose this problem.  At first look, it would appear there's something inconsistent in the record that describes your bot in the bot service.

I would first suggest for an issue of this type that you engage with Azure support via the Azure portal where they can investigate appropriately and you don't have to share your botid or subscr

[2020-03-16 15:20] mmarinoNet commented on #192
Any update on this?

[2020-03-16 17:13] anusharavindrar commented on #183
Closing the issue. Feel free to reopen if you are still having issues.

[2020-03-16 17:13] #183 closed

[2020-03-16 20:30] p-nagpal commented on #192
@mmarinoNet , I looked at the logs around the timestamp you mentioned. The only error for requests ending in 400 is _Missing 'Origin' header_

Could you verify if the oauth client is indeed sending the origin header and there is not firewall that might be stripping any headers on its way to the service?

[2020-03-16 21:17] mmarinoNet commented on #192
Yes it l is there when it starts the conversation.
 I am testing it locally and the origin is http://localhost:4200.

[2020-03-16 21:26] mmarinoNet commented on #192
[cid:image001.png@01D5FBD9.88A13940]

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Pooja Nagpal <notifications@github.com>
Sent: Monday, March 16, 2020 8:30:30 PM
To: microsoft/BotFramework-Services <BotFramework-Services@noreply.github.com>
Cc: mmarinoNet <dot-net-developer@hotmail.com>; Mention <mention@noreply.github.com>

[2020-03-16 23:24] p-nagpal commented on #192
Hi @mmarinoNet, I am unable to see any other error apart from 'missing' origin on the service. Could you capture network trace as a HAR file (or Fiddler's SAZ file) and send it to us. Please remove PII if it contains any (secrets or tokens or auth headers etc.). Thanks.

[2020-03-16 23:55] mmarinoNet commented on #192
Sure.  Should I send that to you on this email or something else.

Thanks again for the help on this.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Pooja Nagpal <notifications@github.com>
Sent: Monday, March 16, 2020 6:24:41 PM
To: microsoft/BotFramework-Services <BotFramework-Services@noreply.github.com>
Cc: mmarinoNet <dot-

[2020-03-17 00:07] p-nagpal commented on #192
@mmarinoNet, could you attach the har as a txt file here with the GitHub issue (minus PII)? Thanks.

[2020-03-17 02:33] mmarinoNet commented on #192
Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Pooja Nagpal<mailto:notifications@github.com>
Sent: Monday, March 16, 2020 7:07 PM
To: microsoft/BotFramework-Services<mailto:BotFramework-Services@noreply.github.com>
Cc: mmarinoNet<mailto:dot-net-developer@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [microsoft/BotFramework-Services] Dir

[2020-03-17 19:56] mmarinoNet commented on #192
Any update to you need anything else?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Pooja Nagpal <notifications@github.com>
Sent: Monday, March 16, 2020 7:07:19 PM
To: microsoft/BotFramework-Services <BotFramework-Services@noreply.github.com>
Cc: mmarinoNet <dot-net-developer@hotmail.com>; Mention <mention@noreply.github.com>

[2020-03-18 02:02] p-nagpal commented on #192
Hi @mmarinoNet, the failure in getsessionid happens because the browser/client is not sending  an origin header in the call to _GET https://directline.botframework.com/v3/directline/session/getsessionid HTTP/1.1_.

   **Origin: http://localhost:4200**

Since the client does not send in the header, the service cannot validate if the request comes from a trusted origin. Here is the relevant snippet

[2020-03-18 02:25] mmarinoNet commented on #192
Thanks for looking at it.

The getsessionID  gets called when I press the login button on the oauth prompt in the chat window in the webpage. The client doesn’t do anything it is happening in the webchat.   How do I control the origin of that request?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Pooja Nagpal<mailto:notifications@github.com>
Sent: Tuesday, M

[2020-03-18 02:27] p-nagpal commented on #192
Hi @mmarinoNet , the request (including the headers) are generated by the browser in which webchat is rendered. Did you get a chance to look at these questions?

  1.  Do you see the same failure in other browsers?
  2.  Do you also see the same failure when running in an incognito/in-private browser session?

[2020-03-18 02:39] mmarinoNet commented on #192
I will check and let you know.

Thank you

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Pooja Nagpal <notifications@github.com>
Sent: Tuesday, March 17, 2020 9:27:48 PM
To: microsoft/BotFramework-Services <BotFramework-Services@noreply.github.com>
Cc: mmarinoNet <dot-net-developer@hotmail.com>; Mention <mention@noreply.github

[2020-03-18 11:15] sebihanu opened #194 "Getting 502 (Bad Gateway) in Teams for replying a "Typing" activity"
Hi!

I receive 'BadGateway' response for the following snipped code. This started to happen from 03/16/2020 only in Teams. In Facebook and in WebChat it works fine.

[code]

Exception:

Request logs from Teams

The same requests from Facebook channel

I'm using .Net packages of Microsoft Bot Builder, version 4.7.0.

[2020-03-18 11:19] sebihanu commented on #193
Try to logout or clear your browser authentication cookies/ use incognito. It worked for me.

[2020-03-18 14:58] jameslew commented on #194
Adding @Wajeed-msft from MSTeams to help you with this issue.  Thanks for reporting!

[2020-03-18 14:59] jameslew commented on #193
I'm assuming this as been resolved.  In addition, a hotfix went out yesterday that should have fixed this issue on the bot service servers.  Closing.

[2020-03-18 14:59] #193 closed

[2020-03-18 15:02] Wajeed-msft commented on #194
@sebihanu- Are you trying this in tenant from Europe region?

[2020-03-18 15:04] jameslew commented on #189
Hello @Attozk; sorry for the delay in responding. Can you tell us which channel you're using?

[2020-03-18 15:07] jameslew commented on #59
Closing as inactive.

[2020-03-18 15:08] jameslew commented on #62
Closing this issue as inactive.  If it is still an issue, please reactivate.

[2020-03-18 15:08] #62 closed

[2020-03-18 15:11] jameslew commented on #69
Transferring to our internal backlog for triage.  Thank you for reporting!

[2020-03-18 15:11] #69 closed

[2020-03-18 15:12] jameslew commented on #79
+ @Wajeed-msft  to add to Teams backlog for evaluation.

[2020-03-18 15:18] jameslew commented on #95
Made pull request with fix.

[2020-03-18 15:18] #95 closed

[2020-03-18 15:19] jameslew commented on #186
@thejasondt Jason; does that answer your question?  If so, would like your confirmations so we can resolve this item.  Thank you!

[2020-03-18 15:21] sebihanu commented on #194
Yes, West Europe

[2020-03-18 17:26] jameslew commented on #49
Thanks for the report. I've added it to our internal backlog for prioritzation and will close this one.  If the issue changes or otherwise, let us know!

[2020-03-18 17:26] #49 closed

[2020-03-18 17:51] attozk commented on #189
No worries, @jameslew would be nice to have the bot be able to add reactions to messages in Teams client

[2020-03-19 07:14] Wajeed-msft commented on #79
@jameslew - I have added this to backlog.

[2020-03-19 15:39] Wajeed-msft commented on #194
I have raised the ticket for this. This seems related to recent outage happened in Europe region.

[2020-03-20 17:47] jameslew commented on #186
Closing, please reactivate if you have further questions.

[2020-03-20 17:47] #186 closed

[2020-03-20 17:49] jameslew commented on #181
@Wajeed-msft can you take a look while Bill is oof?

[2020-03-20 17:53] jameslew commented on #126
#2 should now be resolved.  We'll investigate 1 & 3 and provide an update.  @dmvtech

[2020-03-20 17:55] jameslew commented on #125
Updating documention coming shortly per @DDEfromOR

[2020-03-20 17:55] jameslew commented on #79
Closing as this is tracked internally in the Teams backlog.

[2020-03-20 17:55] #79 closed

[2020-03-20 18:46] dmvtech commented on #126
number 1 has been addressed by the comment that is now added in this page:
![image](https://user-images.githubusercontent.com/43397658/77196354-6d57be80-6aa0-11ea-8414-52a5906adc97.png)

[2020-03-22 03:14] joynext opened #195 "The page cannot be displayed because an internal server error has occurred."
Keep getting this error from the Channels Blade of my Bot Cognitive servce

<img width="688" alt="Screen Shot 2020-03-22 at 11 11 16 AM" src="https://user-images.githubusercontent.com/60085952/77241524-2f88a080-6c2e-11ea-982a-cd788e49d6e9.png">

I am unable to integrate my q and a bot to the slack or Ms teams

Note: Issue happens after I click Ms Teams , Slack , Facebook etc..

[2020-03-23 02:10] EricDahlvang commented on #195
Hi @joynext

Thank you for reporting this.  However, I'm unable to reproduce the problem with my bots.  It might be related to a local browser cache.  Have you tried signing out, and back in?  or using incognito browser mode?

[2020-03-23 12:13] PylotLight commented on #102
I am also facing the same issue, trying to find a useable url to grab the image.
The whole payload is here:
`{"contentType":"image/*","contentUrl":"https://smba.trafficmanager.net/apac/v3/attachments/0-sa-d5-660912596a9c791800d78d4eba19eddf/views/original","content":null,"name":null,"thumbnailUrl":null}`
The attachment code:
`var attachment = turnContext.Activity.Attachments?.FirstOrDefault();`

A

[2020-03-23 12:15] Nikitha-MSFT commented on #181
@yasminagavalda  - We found this as a regression Bug, we have opened a bug for this, will get back to you once fix will be rolled out

[2020-03-23 21:23] craigjensen commented on #49
The SMS channel defaults to TextFormat='markdown' which is likely what's causing the differences in display.  Please try setting TextFormat='plain' and see if that helps.

[2020-03-24 02:02] joynext commented on #195
Thanks Eric, it looks like this is now fixed. closing the issue now.

[2020-03-24 02:02] #195 closed

[2020-03-24 02:13] joynext opened #196 "I'm getting repeated responses from my azure chat bot in Slack."
I'm getting repeated responses from slack channel.
<img width="355" alt="Screen Shot 2020-03-24 at 10 02 16 AM" src="https://user-images.githubusercontent.com/60085952/77381005-b917aa00-6db7-11ea-97a2-ad340319d888.png">

It works perfectly fine from azure web chat as well as from MS Teams. (as well as from the local bot emulator)

<img width="440" alt="Screen Shot 2020-03-24 at 10 08 31 AM" src="h

[2020-03-24 05:23] sree00718 commented on #194
Hello..Is this issue fixed?If not any update on how long it could take?

[2020-03-24 13:20] mkulgeorge commented on #194
This is not working as of yesterday? has this been fixed?

[2020-03-25 16:11] jwiley84 commented on #196
Hi @joynext!

I'm unable to repro this. Can  you explain more about your bot?  Is it a standard echo bot? Did you create it locally and then deploy it, or did you create it straight on Azure? What language SDK is it in?

[2020-03-26 11:00] s-stefanov commented on #194
Experiencing the same issue and this is really a blocker!
Can be reproduced with normal `Echo Bot` and adding this snippet:
`
        this.onMessage(async (context, next) => {
            await context.sendActivity({ type: ActivityTypes.Typing });

            // By calling next() you ensure that the next BotHandler is run.
            await next();
        });
`

[2020-03-26 11:09] Wajeed-msft commented on #194
Please take a look at [API outage: Bots posting typing indicators may receive 502s](https://developer.microsoft.com/en-us/microsoft-teams/blogs/outage-bots-posting-typing-indicators-will-receive-502s/).

[2020-03-26 11:12] s-stefanov commented on #194
I understand. Thank you for the quick reply. 💯

[2020-03-26 19:09] fenris opened #197 "Telegram channel returns POST to chatbot failed: POST to the bot's endpoint failed with HTTP status 500"
Intermittent having this issue with my chatbot using qnamaker channeling through Telegram bot

Log Stream output:

[2020-03-27 03:52] arturl commented on #179
Hi @jmnsf, we understand the issue but don't have a date on when we do this work. We're putting it on the backlog. Thanks for reporting it.

[2020-03-27 16:08] Utilisator opened #198 "Access token has expired"
In my teams bot (C#) implemented Authentication with Azure AD. On my Channel Registrator I added Generic OAuth2 connection. Bot flow is:
1. Sign in on Azure tenant
2. Periodically get Microsoft Graph Security Alerts from logged in tenants via Microsoft.Graph library

After an hour throw an exception - "Microsoft.Graph : Access token has expired".
Question is  - in which way can I solve this proble

[2020-03-27 16:36] Jeffders commented on #191
Thank you for reporting this!

I checked in a fix for this, but it won't be deployed for another few weeks, so look for this to roll out in April. It's a lot easier to use with the Viewport tag on there :-)

[2020-03-27 16:42] Jeffders commented on #198
This is a known behavior with the token service: that it can return an expired token. If you get that exception, you can call the SignOut method on the BotFrameAdapter and then sign the user in again by sending them a new OAuthPrompt.

There is a workitem on the service team to improve the expired token handling within the service, but that won't be addressed for several more weeks at this point.

[2020-03-27 16:42] #198 closed

[2020-03-27 16:59] iMicknl commented on #191
Thanks @Jeffders!

[2020-03-27 18:14] v-kydela commented on #197
Hello @fenris

It looks like your bot code is throwing an error that has something to do with button data. Button payloads are formatted differently in different channels so it's likely that your bot isn't programmed to adapt its payloads to Telegram.

In order to help you, we will need to see your relevant bot code and we will need repro steps that explain what user/bot interactions take place wh

[2020-03-30 04:32] balyasbabu opened #199 "Error when showing CSV attachment when deployed in MS Teams channel , working properly in local machine."
The CSV is generated during the execution of the code for each session.
Using bot framework sdk-V3

Code used below

          fs.readFile('./'+session.message.user.id+'.csv', function(err, data){
             var contentType = 'text/csv';
             var base64 = Buffer.from(data).toString('base64');
             var csvpath=process.cwd();
             csvpath=csvpath+'\\'+session.message.user.i

[2020-03-30 14:03] Wajeed-msft commented on #188
If you want to pop all dialogs off the stack, you can clear the dialog stack by calling the dialog context's cancel all dialogs method.

[2020-03-30 14:08] Wajeed-msft commented on #102
Hi @PylotLight - Could you please try [File Upload sample code](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-and-receive-files?tabs=dotnet#example-using-the-bot-framework-sdk) and let me know if it works for you? If it doesn't work, could you please share your App Manifest which we could test at our end?

[2020-03-30 16:26] Stardox opened #200 "Random 403s, 412s and 502s when bot tries to reply to Microsoft Teams conversation"
I have MSBF chatbot built using .NET SDK v4. The bot is deployed to Azure and has enabled _Microsoft Teams_ and _DirectLine_ channels. The MS Teams tenant's location is Europe.

Since approx. last week I have noticed increased amount of errors in my logs when I handle the `conversationUpdate` event and try to send _welcome message_ to the user using `TurnContext.SendActivityAsync(...)` call.

All

[2020-03-30 17:09] clearab commented on #200
You should only receive that 403 message when the bot is not enabled for that tenant, either because tenant admins have disabled all apps, or your app specifically. Changes to this permission can take a while to propagate across a large tenant (particularly for users who have never logged into Teams).

For the 412/502 I'd need to see the message that generated the response. Since you mention sendi

[2020-03-30 23:31] v-kydela commented on #197
@fenris - Are you still working on this?

[2020-03-31 02:26] stevkan commented on #199
To attach a file to be sent from a bot in Teams, you need to employ the methods described under [Send and receive files through your bot](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/bot-v3/bots-files) found in the Teams docs. This doc provides example code in C#, but you should be able to interpolate it into Javascript to meet your needs.

Additional information can be refer

[2020-03-31 02:26] #199 closed

[2020-03-31 07:40] PylotLight commented on #102
I ended up finding another sample for getting a token to download from the secure link.
So that'll work for now.

[2020-03-31 08:47] baki32 commented on #200
We are facing absolutely same issue. It's not related to message size as we found evidence of exactly same message going through just fine in App insights. This should be enterprise ready product so we would like to see some official acknowledgement of this. Looking at azure health console just hurts as there are failures everywhere but all is allays green there..

[2020-03-31 19:36] fenris commented on #197
Hi,
Sorry for the late reply.

Please find the link of the bot source code for your perusal.

https://1drv.ms/u/s!AopkDJYAZ52wp9d3t7cj31nBcjCiow?e=zNxzvV

On Tue, Mar 31, 2020 at 7:31 AM Kyle Delaney <notifications@github.com>
wrote:

[2020-03-31 21:36] jwiley84 commented on #196
@joynext Are you still experiencing this issue?

[2020-04-01 01:37] joynext commented on #196
Thank you, it looks like the error is now gone.

[2020-04-01 01:37] #196 closed

[2020-04-01 07:49] jvanderbiest opened #201 "Facebook location (GeoCoordinates) webhook api v6.0 support"
Starting with version 6.0 of the Facebook webhook API any location picker messages are not picked up by the Azure Bot Service (message sent with my Android phone on Facebook Messenger). This is still working with <= v5.0 and the messages are still received (I verify by using ngrok web interface if the message is forwarded from the bot service).

The problem is that when creating a new Facebook app

[2020-04-01 18:00] v-kydela commented on #197
@fenris - Thank you for the bot code. I have removed the link so that your secret keys remain secure. Would you please provide steps that would allow me to reproduce the error while running your bot?

[2020-04-01 18:40] fenris commented on #197
Thanks Kyle,
Sorry forgot to remove the secret keys from that source file.

I just deployed the bot once i've published the qnamaker. Then I channeled
it to the telegram bot.
After that start session with the telegram bot and start asking questions

On Thu, Apr 2, 2020 at 2:00 AM Kyle Delaney <notifications@github.com>
wrote:

[2020-04-01 20:10] v-kydela commented on #197
@fenris - Are you saying you encounter the error no matter what message you send to the bot? It's not related to the cards and buttons that are part of multi-turn QnA prompts? You encounter the error when you say "hello"?

[2020-04-01 20:36] fenris commented on #197
It's intermittent .. sometimes the errors is not occurs ..

Please find the attached screenshot

On Thu, Apr 2, 2020 at 4:10 AM Kyle Delaney <notifications@github.com>
wrote:

[2020-04-01 20:39] fenris commented on #197
is it because there is too many or lengthy messages replied/ fast respond by the bot to telegram?

[2020-04-01 21:33] v-kydela commented on #197
@fenris - It looks like your Markdown isn't getting rendered in your email replies. Please reply directly in GitHub

![screenshot-chat-with-bot](https://user-images.githubusercontent.com/405473/78184167-a1b57c80-749b-11ea-9694-472c5f591afb.jpg)

[2020-04-01 21:34] v-kydela commented on #197
From the screenshot, the error does not look intermittent. It looks like you can reproduce it consistently using specific questions. Is that the case? Can you tell me what the bot's response to that question was supposed to be?

[2020-04-02 02:16] fenris commented on #197
here are the expected reply as screenshot

![qnamaker-test](https://user-images.githubusercontent.com/405473/78203965-f1f80300-74ca-11ea-9bee-6540d9cf17d7.jpg)

[2020-04-02 05:00] clearab commented on #200
My apologies for the delayed response. I've received additional information from Teams:

- They are investigating the increase in 412 responses, for now they recommend developers retry when getting this response.
- The 403 responses are probable directly related to my previous response, and the increased propagation time for permissions during this massive usage spike.
- For 502s, there was an ong

[2020-04-02 06:04] baki32 commented on #200
Thanks for letting me know. Is there a reason why it is not acknowledged in Azure Service status? If that is not the right place is there some service health portal for Bot Service and Basic channels? It is really challenging to learn about failures on GitHub threads.

[2020-04-02 15:11] sremiger1 commented on #179
Can you summarize a work around that can be used?  We are in the same position.

[2020-04-02 15:33] v-kydela commented on #197
@fenris - So you're not expecting any buttons? That's very strange that the error message you posted is about button data.

[2020-04-02 15:55] fenris commented on #197
the words "kilang-kilang" occurs below errors:

(node:14520) UnhandledPromiseRejectionWarning: Error: BotFrameworkAdapter.processActivity(): 500 ERRORReferenceError: InputHints is not definedat BotFrameworkAdapter.adapter.onTurnError [as turnError] (D:\home\site\wwwroot\index.js:46:72)at process._tickCallback (internal/process/next_tick.js:68:7)
at BotFrameworkAdapter.<anonymous> (D:\home\site\www

[2020-04-02 17:33] v-kydela commented on #197
@fenris - Are you saying you're seeing the error in the log stream blade of your app service resource in the Azure portal?

[2020-04-02 17:41] v-kydela commented on #197
When I try the phrase "kilang-kilang" it does send me a card with buttons:

![image](https://user-images.githubusercontent.com/41968495/78280528-19040400-74ce-11ea-8fe0-51912d49dfe5.png)

It seems your bot is programmed to disambiguate possible QnA pairs. Does that response not look familiar to you?

[2020-04-02 19:20] jmnsf commented on #179
@sremiger1 I'm afraid I bit the bullet and just integrated with Slack directly. With this being a blocker on getting an app published on the Slack App Directory and not having access to the Blocks API I just went ahead and made the switch.

I'm not using any of the botframework SDKs (just the REST API) so that made it a lot easier I think.

[2020-04-03 06:11] fenris commented on #197
inside qnamaker test, it doesn't show card  but inside my emulator & Test in web chat (azure portal) shown exactly like your yours with the card.

Is it a limitation from telegram to post multiples cards?

[2020-04-03 12:53] rrc2k4 opened #202 "There was an error sending this message to your bot: HTTP status code Unauthorized"
We are encountering error message for the requests sent to our web api's from bot framework.

Error message: There was an error sending this message to your bot: HTTP status code Unauthorized
BotFramework: V3
Coding Language: C#
Bot End Point API:  hosted in our company network and exposed to internet.
Nuget Package Versions: Microsoft.Bot.Builder & History -3.20.1
Chat platform: Web chat & MS Tea

[2020-04-03 15:49] rrc2k4 commented on #202
We were able to identify the root cause of the issue and fixed it.

Our new application servers security protocols were old version & it was failing to communicate to Microsoft to get Authentication token. while it was receiving requests from azure but was unable to respond to them as it does not have authentication token.

In Global.asax, Application_Start() method we ensured that our application

[2020-04-03 15:49] #202 closed

[2020-04-03 15:50] v-kydela commented on #197
@fenris - No, it's not a limitation to post multiple cards to Telegram. Are you saying you're able to post one card to Telegram and you're only encountering the error when you try to send subsequent cards?

[2020-04-03 15:59] fenris commented on #197
yeah .... you are right ..

[2020-04-03 16:33] p-nagpal commented on #192
Hello @mmarinoNet were you able to try this in a different browser or incognito mode? Does the error continue to persist? Let us know if you were able to make progress. Thanks.

[2020-04-03 16:33] v-kydela commented on #197
@fenris - Can you show me what the card looks like in Telegram?

[2020-04-03 17:24] #194 closed

[2020-04-03 17:26] arturl commented on #201
Thanks for the report @jvanderbiest, we'll start working on it soon. I'll respond back when we have an ETA for deployment.

[2020-04-03 17:34] #98 closed

[2020-04-03 17:41] v-kydela commented on #98
@Andrea-Orimoto - Why was this closed? Was there a fix?

[2020-04-04 00:41] dmvtech commented on #126
Regarding number 3: there is no way to do this programmatically nor through CLI tools. It can be done with the UI only.

As these questions have been answered, I am closing this. If you need further assistance, please create new tickets for a specific issue.

[2020-04-04 00:41] #126 closed

[2020-04-07 22:56] v-kydela commented on #197
@fenris - Are you still working on this?

[2020-04-08 21:14] clearab commented on #200
I've dug into the health reporting a bit, and currently the only health reporting we do is for the service all up on the Azure Service status page. We'll explore how to service potential channel health issues in the future.

[2020-04-08 21:14] #200 closed

[2020-04-09 12:05] GamalMohamed commented on #7
Any updates guys on adding Whatsapp channel support?

[2020-04-10 03:04] arturl commented on #201
We have a fix available. ETA for deployment sometime early May (will resolve when deployed).
In the new format, the `Latitude` and `Longitude` will not be present. Instead, the entity will have a deep link to Bing map API in the `hasMap` field.

Usage example:

[code]

[2020-04-10 16:08] Jeffders commented on #125
Documentation is now merged. Thanks @DDEfromOR

[2020-04-10 16:08] #125 closed

[2020-04-10 16:40] jameslew commented on #189
Great clarification; @Wajeed-msft , can you comment here?

[2020-04-10 16:42] #102 closed

[2020-04-10 20:35] jameslew commented on #7
We are still working on a plan for this. The business model associated with providing platform for WhatsApp is a bit different from other channels and as such we are still investigating, as well as working with partners to help customers get going in the interim. I don't yet have an ETA until we work out the details.

[2020-04-11 22:38] ziaulhaque1207 commented on #7
GamalMohamed

We have successfully integrated Azure Bot with WhatsApp. We have launched our Covid19 Tracker ChatBot. You can check with this link:
http://wa.me/14073377601?text=hi

I can help if you want.
Just connect with me on zia@elitedigital.ai

[2020-04-12 15:41] jvanderbiest commented on #201
@arturl thanks for the update and the quick implementation.

Can you confirm we are still able to read the `Latitude` and `Longitude` values from the different structure?

[2020-04-12 16:52] arturl commented on #201
@jvanderbiest, sometimes lat/lon will be in the deep link, and sometimes you will get an address or a place name. Look for a Bing maps APIs for getting info about a place.

[2020-04-12 18:29] jvanderbiest commented on #201
@arturl thanks but we were always using the coordinates directly for further bot processing and changing the implementation like this we are unable to provide that functionality. Is this because of the Facebook API v6.0 where you are unable to just forward these coordinates?

[2020-04-12 22:02] arturl commented on #201
Facebook doesn't send the coordinates. It sends a URL that the channel forwards as is.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jonas Van der Biest <notifications@github.com>
Sent: Sunday, April 12, 2020 11:29:13 AM
To: microsoft/BotFramework-Services <BotFramework-Services@noreply.github.com>
Cc: Artur Laksberg <Artur.Laksberg@microsoft.com>; Mention

[2020-04-13 07:57] bhushanvadgave opened #203 "Receiving "Conversation ID not found" errors in adapter's onTurnError"
## Versions
NodeJS v10.16.3
BotBuilder NodeJS SDK v4.6.2
OS: NodeJS Docker Image

## Describe the bug
In the production, our bot service adapter's onTurnError listener is receiving plenty of but intermittent errors for directline channel users. When printed the error object, it looks like below
[code]
Some of the conversation IDs for which the errors have occurred are below:
[code]
We are not able

[2020-04-14 08:06] Unders0n commented on #7
@ziaulhaque1207 , have youused just twilio or twilio with ms botbuilder? Can you reveal a little more on overall schema please?

[2020-04-14 09:45] ziaulhaque1207 commented on #7
@Unders0n We have used MS Bot, Twilio and WhatsApp Business.

[2020-04-14 10:04] Unders0n commented on #7
@ziaulhaque1207 can you please describe high level architecture?

[2020-04-14 10:05] ziaulhaque1207 commented on #7
@Unders0n please provide your mail id will share.

[2020-04-14 10:09] Unders0n commented on #7
@ziaulhaque1207 vzzlom@gmail.com

[2020-04-14 10:16] marcasmar94 commented on #7
@ziaulhaque1207

I am interested as well if you can please, marc.asmar94@gmail.com

[2020-04-15 08:26] droidriz commented on #7
@ziaulhaque1207 i also need one pls help!
srmshaikhrizwan@gmail.com

[2020-04-15 08:27] droidriz commented on #7
@marcasmar94 @Unders0n  did u guys receive anything?
pls help

[2020-04-15 11:24] yasminagavalda commented on #188
Hello @Wajeed-msft,
As I have seen, dialog context is included in botbuilder-dialogs which is only available for v4, correct me if I'm wrong. We are using v3.
Is there any way to clear the dialogs stack in a chatbot in Teams developed with v3 Node SDK?

[2020-04-15 16:28] #181 closed

[2020-04-15 16:29] Andrea-Orimoto commented on #181
Closed because bug has been filed and been tracked elsewhere. If there are any additional issues, please re-open or file a new issue. Thanks!

[2020-04-15 17:12] p-nagpal commented on #192
Closing due to inactivity.

[2020-04-15 17:12] #192 closed

[2020-04-16 17:51] clearab commented on #188
@EricDahlvang or @stevengum can you assist here?

[2020-04-16 18:39] EricDahlvang commented on #188
The endConversation method in the v3 sdk can be found here: https://github.com/microsoft/BotBuilder-V3/blob/master/Node/core/lib/Session.js#L273

You should be able to clear state similar to how this method is, but without sending an endOfConversation activity to the channel.

More information about clearing state can also be found here: https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bo

[2020-04-16 22:47] craigjensen commented on #203
The fix has been deployed.  Please reopen if you see this again

[2020-04-17 03:23] arturl commented on #185
We're tracking the issue in AdaptiveCards: https://github.com/microsoft/AdaptiveCards/issues/3829

[2020-04-17 17:10] v-kydela commented on #197
Closing due to inactivity

[2020-04-17 17:10] #197 closed

[2020-04-22 05:30] Wajeed-msft commented on #189
@attozk - We have raised new feature request for this. We are tracking it internally.

[2020-04-22 05:38] attozk commented on #189
Thanks!

[2020-04-22 08:23] matthiasdilger opened #204 "[TRACKING] & in user names causes mentions to miss text property"
## Versions
SDK 4.8
nodejs v10.20.1

## Describe the bug
Teams allows the & character in user names. When a user sends a message to a bot and mentions a user with the & character, the entities mention object is missing the 'text' property (`<at>username</at>`) causing functions like TurnContext.removeMentionText to fail.

## To Reproduce
Create a user in Teams called "Test ($~&)"
Send a message to

[2020-04-22 15:12] bhushanvadgave commented on #203
@craigjensen
Errors are still occurring in our bots.
Below are some of the conversation Ids for which error occurred.
`
LrgaRN4IOeV9Thpi3vt8vA-h
SdwjhlmM1X4zgjJfzh6Ke-h
9V2gmnWSiTRKrcCQWcxfaG-h
BccRGINMspOJOkQ8jOiUHQ-h
`

[2020-04-22 16:33] craigjensen commented on #203
There's a scenario that the original fix didn't address but it appears to be a fairly rare corner case.  We'll get a fix ready but knowing how often you are seeing this will help us prioritize getting it deployed.

[2020-04-26 07:20] bhushanvadgave commented on #203
@craigjensen The error count varies from 5 to 20 per day depending on usage by the customers.

[2020-04-27 09:39] Gousia-MSFT commented on #204
@matthiasdilger Thanks for reporting this. I have raised a bug for this.

[2020-04-27 14:35] craigcliff commented on #102
Hi @PylotLight, do you mind please sharing the sample that you used?

Thanks

[2020-04-27 15:00] craigjensen commented on #203
The fix will go out in the next deployment which is planned for this week

[2020-04-27 16:10] jwiley84 commented on #204
https://github.com/microsoft/botbuilder-js/issues/2111

[2020-04-27 18:56] ramgesg opened #206 "Traffic from MS Teams conversational bot not reaching bot through Azure Application Gateway"
## Versions
SDK : 4.7
NodeJS: 10.20
OS: Alpine 3.11.6

## Describe the bug
Traffic from MS Teams conversational bot not reaching bot through Azure Application Gateway

## To Reproduce
Steps to reproduce the behavior:
1. Deploy Bot Application in AKS Cluster
2. Expose the service via Application Gateway
3. Enable Teams Channel
4. See Application Gateway for access logs. No traffic should be found

[2020-04-27 22:18] PylotLight commented on #102
@craigcliff Hey Try this:
I used this to handle attachments that are uploaded to onedrive/sharepoint, and those uploaded directly to teams, might be a better way, but at least it works.

[code]

[2020-04-29 05:29] craigcliff commented on #102
Thank you pylotlight... Much appreciated.

[2020-04-30 17:47] tameezmoosa commented on #7
@ziaulhaque1207 please also send me the WhatsApp api detail tameezmjoburg@gmail.com

[2020-05-01 18:05] dmvtech commented on #206
@Gousia-MSFT @Wajeed-msft Are you guys able to give any insight or assistance here?

@clearab as well.

[2020-05-01 18:12] Wajeed-msft commented on #206
@ramgesg - Could you please share the Bot Id and timestamp of the issue?

[2020-05-01 18:49] ramgesg commented on #206
@Wajeed-msft , please find below the details;
BotID: 5a879d25-5db7-4481-844f-ba3d053e8b85
TimeStamp: 4/27/2020, 3:42:13.546 PM (UTC)

Note: The timestamp is as per application insights, hence there might have been minor latency

Additional information :

Activity ID: 1588002132547
Activity type:  message
Bot ID: MBFBOT
Channel ID: msteams
Conversation ID: a:1vstDiztKcL0xGIiDfmxdvXOq8YBiaEK9sQOn9BS

[2020-05-01 21:13] craigjensen commented on #203
Fix has been deployed - please reopen if you see this again

[2020-05-01 21:13] #203 closed

[2020-05-03 17:54] mahfouaddarwish commented on #7
@ziaulhaque1207 please send me details mahfouaddarwish@gmail.com

[2020-05-04 07:46] Wajeed-msft commented on #206
@ramgesg - We are looking into logs for this.

[2020-05-07 14:32] msalemor opened #210 "Botframework - OAuth mixed scope settings (MSGraph and Azure Devops)"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.8

## Describe the bug

Following the directions on this document:

https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=

[2020-05-07 21:40] MichaelHaydenAtMicrosoft commented on #188
@yasminagavalda , please let us know if clearing the state was able to resolve your issue as per the [above fix](https://github.com/microsoft/BotFramework-Services/issues/188#issuecomment-614827735)

[2020-05-08 05:52] jayadrathamondal commented on #205
Any news on this feature? We need this feature badly.

[2020-05-08 10:12] yasminagavalda commented on #188
@MichaelHaydenAtMicrosoft I tried it last week and by clearing the state I was able to fix the issue. Thanks!

[2020-05-08 17:00] eduardocampano opened #207 "Downloading media attachements on message from Teams"
I'm trying to download an audio attachment from a message payload coming from Teams but I get a 401. I tried using an access token from `token.botframework.com` but no luck yet.

[code]

I did some research but I couldn't find any proper documentation. Can please you point me in the right direction?

Thanks in advance.

[2020-05-08 17:53] MichaelHaydenAtMicrosoft commented on #201
We believe this issue has been resolved, thank you, closing.

[2020-05-08 17:55] MichaelHaydenAtMicrosoft commented on #188
Thank you! Closing issue.

[2020-05-08 17:56] Jeffders commented on #191
This has now been deployed.

[2020-05-08 17:56] #191 closed

[2020-05-11 08:32] BeeMaia commented on #205
We also need to update activities in transcript. Any news on it?
Thanks

[2020-05-11 23:15] dmvtech commented on #207
Are you doing something like the following?:
[code]

With Teams, another option is to use `Attachment.Content["downloadUrl"]`. But, that can cause issues at times, specifically if files were sent via clipboard. That's why the above is better.

Please see more info here:
https://stackoverflow.com/questions/61230395/cannot-access-images-from-microsoft-teams-activity-when-added-by-clipboard

[2020-05-12 07:14] surezg opened #211 "Bot Builder C# SDK Cannot access a disposed object. Object name: 'SslStream'."
Hello All,
I am getting this error frequently while sending message from bot to the user. Following is the code snippet where I receive this error. I am using bot builder sdk version 4.4.3

`ConnectorClient.Conversations.SendToConversationAsync(activity);`

Error:
System.Threading.Tasks.TaskCanceledException: The operation was canceled. ---> System.IO.IOException: The read operation failed, see in

[2020-05-12 08:38] Sujit-Gaikwad commented on #205
Any update on this feature???

[2020-05-12 13:44] eduardocampano commented on #207
Correct, I tried the approach you mention and using the ctor overload with the tenantId, which produces a different access token. But I still get 401. Do I need to negotiate another access token for this skype API?

In the messagePayload I get on the message extension I don't get any `downloadUrl`, the JSON I shared is the only information I have about the attachment.

[2020-05-12 20:55] haacked opened #208 "Slack Connector appears to return the incorrect user for Activity.From"
I've set up a Microsoft Bot Framework Instance running in asp.net core (with C#). I've connected to Slack using Microsoft's Bot Channels Registration.

In my bot code, I have something like:

[code]

__Expected:__ `From.Name` would be the name of the person sending the message that the bot is responding to.
__Actual:__ It returns the name of the bot.

I wrote a DEBUG bot to spit out more informati

[2020-05-13 10:15] Wajeed-msft commented on #206
Could not create SSL/TLS secure channel is a very generic error. Though from the connections settings on the bot endpoint it might be caused by cipher suites. SMBA supports following cipher suites:

TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
TLS_ECDHE_RSA_

[2020-05-13 10:39] ramgesg commented on #206
@Wajeed-msft, Thank you for the information. In our Azure Application gateway's SSL policy following cipher suites were missing; adding it resolved the issue. Can this be added in the documentation [Bot works in Web Chat but not in other channels](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-troubleshoot-bot-configuration?view=azure-bot-service-4.0#bot-works-in-web-chat-but-not-i

[2020-05-13 10:39] #206 closed

[2020-05-13 10:48] 4ININ opened #209 "Telagram Webhook not send preCheckoutQuery to my bot"
I trying get preCheckoutQuery from telegram webhook
After configure webhook https://dev.botframework.com/ was set correctly like
{"ok":true,"result":{"url":"https://telegram.botframework.com/api/telegram/my-bot/secret","has_custom_certificate":false,"pending_update_count":0,"max_connections":40}}
My endpoint myhost/api/messages
After this steps my bot handle messages correctly, but preCheckoutQuer

[2020-05-13 16:15] v-kydela commented on #209
Linking: https://github.com/microsoft/botframework-sdk/issues/5828

[2020-05-13 17:13] dmvtech commented on #208
hi @haacked

Per my comment on the stack overflow post; for me, i'm getting the user portion of the email address of the user that I am signed in with. For example, my slack user is `stuff@<mydomain.com>`. `From.Name` for me shows up `stuff`. Please see screen shot below of my slack user I am using to test.

![image](https://user-images.githubusercontent.com/43397658/81843086-f409a480-9501-11ea-95

[2020-05-13 18:23] haacked commented on #208
I revoked the app and then reinstalled it and now I'm getting the same result as you do.

The more important info to me is the `From.Id` portion. That seems to be the Slack user id concatenated with some other string. For example, slack user ids tend to start with `U` and look something like `U055A5DKDT5`, but the `From.Id` I get looks like `U055A5DKDT5: T013108BYLS` I'm assuming that second part

[2020-05-14 06:20] Gousia-MSFT commented on #211
@surezg Could you please share your manifest file and exact repro steps with us?

[2020-05-15 17:06] arturl commented on #201
Closing - thanks for verifying.

[2020-05-15 17:06] #201 closed

[2020-05-15 17:07] arturl commented on #179
We have a fix, will be deployed soon. ETA end of May.

[2020-05-16 01:14] haacked commented on #208
This suddenly came back.

I changed my debug skill into Middleware.

[code]
Abbot Debug Information {messageStatus}
---------------------------------
Id: {activity.Id}
Type: {activity.Type}
Text: {activity.Text}
DeliveryMode: {activity.DeliveryMode}
TextFormat: {activity.TextFormat}
Attachments.Count: {activity.Attachments?.Count}
From
Role: {activity.From?.Role}
Id: {activity.From?.Id}
Name: {act

[2020-05-18 21:09] eduardocampano commented on #207
When using:
[code]
or the constructor with the `tenantId` returns a JWT access token is meant to be used with `https://api.botframework.com`.

I tried, for example, grabbing the object ID from the skype API URL and then use it with Bot Framework REST API :
[code]

But I still get 401 response.

I couldn't find any good documentation to obtain a `skype_token` to be able to access the attachment fro

[2020-05-19 13:27] dkonyayev opened #212 "User's Locale in IEventActivity"
## Issue
I need to get user's culture during OnEventActivityAsync so that the bot can send welcome message in the right language. When user sends a message, IMessageActivity has property locale. However, OnEventActivityAsync passes IEventActivity which does not have this property.

## Proposed change
Add locale or culture to IEventActivity

## Component Impact
Microsoft.Bot.Schema.IEventActivity

[2020-05-20 13:57] fmolina5656 commented on #7
@ziaulhaque1207 please send me details facundo1052@gmail.com

[2020-05-21 06:10] Crazedpeanut opened #213 "No ConversationUpdate event when sideloading or installing via organisation catalog"
Similar to #169

This issue is only occuring for 1:1 chats

I am attempting to store the users id, serviceUrl, and aad Object Id so I can proactively reach out to them.

I am not receiving ConversationUpdate events when sideloading the app or installing via the organisations app catalog.

Manifest: https://gist.github.com/Crazedpeanut/ff7b7051746f0d38e1f298aaad387e14

I have tried a few scenarios,

[2020-05-21 18:13] NickEricson commented on #188
Closing, thanks!

[2020-05-21 18:13] #188 closed

[2020-05-21 18:15] compulim opened #214 "[Waiting for Adaptive Card fix] Part of the content of Adaptive Card is lost while sending through Direct Line channel"
(Original reported at https://github.com/microsoft/BotFramework-WebChat/issues/3166)

## Background

The customer is sending an Adaptive Card with an image stored using data URI. The original card is in the [attachments](#attachments) section below.

The size of the image is [well under limit](https://docs.microsoft.com/da-dk/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-api-refere

[2020-05-22 00:11] Crazedpeanut commented on #213
Just updated this issue, the issue only occurs for 1:1 conversations

[2020-05-22 16:45] MichaelHaydenAtMicrosoft commented on #205
Hello, thank you for the feedback.  I conferred with our team on this and unfortunately we do not have a short term ETA for this feature, it is a large work item and needs to be evaluated against other priorities.  We’ve captured this in our planning backlog however and will evaluate it during upcoming planning milestones. Our apologies for any inconvenience here.

[2020-05-22 16:51] haacked commented on #208
Ok, now it's working again. I didn't make any code changes. Did you all deploy a fix?

[2020-05-22 18:07] Bradrajkumar opened #215 "Bot framework integration with Cisco Webex teams bot"
Hi all,
The description provided for webex as a channel is not sufficient to fully integrate the bot framework with Webex bot. Where I can get fully described information for bot framework integration with Cisco Webex teams bot.

[2020-05-22 23:14] dmvtech commented on #213
Thanks @Crazedpeanut

Just to confirm; by "_replacing the bot_", you mean that you are creating a new bot channels registration/web app bot/AAD app, correct?

Also; you are _always_ getting the conversationUpdate, but _**only after**_ the first message is sent by the user that has installed the bot?

[2020-05-22 23:32] dmvtech commented on #208
Not that I know of. I'll see if I can find any info on that.

I'm glad it's working for you, but I won't close this just yet. I think it best to keep an eye on it. Please let me know if anything changes again.

[2020-05-23 00:56] Crazedpeanut commented on #213
@dmvtech correct!

[2020-05-23 07:23] tithu opened #216 "Bot emulator not showing data in cards"
I am trying to display tickets data in my bot emulator chat. When I try to do that, I only get blank card in response from Bot. When I click on card, I can see card data in left console but card in chat is not showing that corresponding data. Any idea on this issue?

![Capture](https://user-images.githubusercontent.com/22043776/82724529-5c236c00-9cf4-11ea-8eab-2abc0b38d511.jpg)

[2020-05-25 14:39] jagdishkumawat30 commented on #7
I connected WhatsApp to QnA Maker using Twilio and Azure Functions. You can also implement LUIS instead of QnA Maker. Here is how I did it - [Create WhatsApp Bot](https://youtu.be/oVXWNzH5DII).
For improving this bot, you can implement conversational flow in Azure Functions or connect Azure functions to direct line channel.

[2020-05-25 16:52] TameezAustell commented on #7
@jagdishkumawat30 can you please share the code script of the function

[2020-05-25 17:33] 4ININ commented on #209
@v-kydela, @craigjensen any feedback?

[2020-05-25 18:07] v-kydela commented on #216
@tithu - Thank you for the question. Your text block JSON looks fine, but can you paste the JSON for the whole card please? Does the card display correctly in any other channels or the designer? https://adaptivecards.io/designer/

Just so you know, the Emulator repo is here: https://github.com/microsoft/BotFramework-Emulator

[2020-05-26 15:45] dmvtech commented on #215
Hi @Bradrajkumar By _description_, are you referring to this documentation?:
https://docs.microsoft.com/en-us/azure/bot-service/bot-service-adapter-connect-webex?view=azure-bot-service-4.0

[2020-05-26 16:23] jagdishkumawat30 commented on #7
@TameezAustell Source code is available [here](https://jd-bots.com/2020/05/26/create-whatsapp-bot-using-qna-maker/).

[2020-05-26 16:56] NickEricson commented on #7
There is a C# Adapter from Infobip available as well:

Source: https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries/Bot.Builder.Community.Adapters.Infobip

Nuget: https://www.nuget.org/packages/Bot.Builder.Community.Adapters.Infobip/

[2020-05-26 19:34] dmvtech commented on #208
Closing this one as well. Again; let us know if this returns.

[2020-05-26 19:34] #208 closed

[2020-05-26 21:50] dmvtech commented on #207
I'm still looking into this. Unfortunately I'm having (different) problems of my own investigating. Thanks for your patience. Stand by.

[2020-05-26 23:46] Crazedpeanut commented on #213
Any updates on this one?

[2020-05-28 01:11] siddharthpant92 commented on #105
Hi,
I came across this thread when I tried to find a solution to my problem. I'm getting the same error as mentioned originally (ServiceError). I've just started building a bot and was trying to follow the steps mentioned here https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-send-and-receive-messages?view=azure-bot-service-4.0#send-message . But when i send

[2020-05-28 07:26] rrc2k4 opened #217 "Authentication in Bot framework"
I have couple of queries on authentication mechanism between web api's with bot framework SDK and Azure hosted endpoint/Microsoft Cognitive  services.

I am aware that once we configure our web api's end point in azure bot services there is app id and password generated which we have to mention in our web.config for authentication between web api's and azure. Wanted to know what authentication mec

[2020-05-28 16:13] Bradrajkumar commented on #215
hi @dmvtech ,
yes i am using the same link which you have added here.

[2020-05-28 16:27] dmvtech commented on #215
Thank you. Investigating. I'll let you know what I find.

[2020-05-28 17:40] dmvtech commented on #215
Hi @Bradrajkumar, did you make sure your both was running per [this section](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-adapter-connect-webex?view=azure-bot-service-4.0#create-and-update-a-webex-webhook)?.

[2020-05-28 17:53] Bradrajkumar commented on #215
Yes , I did this part but I haven't published but I am running it locally.
There is a "put" method recommended for connection but it's not worth it
using and instead I used "post" and it's working ok for establishing the
connection.

On Thu, 28 May 2020, 11:11 pm Dana V, <notifications@github.com> wrote:

[2020-05-28 18:46] dmvtech commented on #217
The Microsoft Bot Framework team prefers that **how to** or advisory questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2020-05-28 18:46] dmvtech commented on #217
Essentially, the connector services utilize Oauth.
https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-authentication?view=azure-bot-service-4.0#authentication-technologies

I don't know much about LUIS other than it a subscription key which provides access to the API:
https://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/

[2020-05-28 18:46] #217 closed

[2020-05-28 18:56] dmvtech commented on #217
More info for LUIS:
https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-keys

[2020-05-28 23:35] dmvtech commented on #213
Hi @Crazedpeanut Still looking into it. I'll try and have more info in an update for you tomorrow.

[2020-05-29 01:07] serraventura commented on #7
We are in 2020 and this feature request is still open.

It looks like Microsoft Bot Framework will be deprecated. I wouldn't doubt based on Microsoft past tools history.

[2020-05-29 01:28] Crazedpeanut commented on #213
Thanks!

[2020-05-29 06:48] rrc2k4 commented on #217
Thanks for the details...that helps.

[2020-05-29 12:04] baki32 opened #218 "DeleteActivityAsync doesn't work on Teams app on iOS."
Hi,
we are facing issue with our bot that is working on teams. We are leveraging option to delete messages to simulate Suggested actions functionality. When we need to collect specific input from user we display buttons and on the next turn that activity is removed. It works fine on teams app in Windows. However deletion doesn't happen in iOS. Since channel is shared I was able to do screenshots o

[2020-05-29 16:40] arturl commented on #179
The fix has been deployed. We will update the documentation soon.

[2020-05-29 17:15] dmvtech commented on #211
Closing due to inactivity. Please supply your manifest and exact repro steps if you still need assistance.

[2020-05-29 17:15] #211 closed

[2020-05-29 23:41] dmvtech commented on #213
Sorry for the delay. Is this working for you at any time? Or is it failing every single time? Per @clearab 's comment [here](https://github.com/microsoft/BotFramework-Services/issues/169#issuecomment-575754306), it may not work 100% of the time. But I doubt that is the case if you can't ever get it to work.

I was able to get it to break in the `OnTeamsMembersAddedAsync` method by using the [teams

[2020-05-29 23:52] NickEricson commented on #7
The business model associated with providing a platform for WhatsApp integration is a bit different from our other channels. We are continuing to work in this area, including working with partners to provide the connectivity everyone wants.

How to integration with WhatsApp, irrespective of Bot Framework, has been evolving over the last several months. WhatsApp uses Business Solution Providers (BS

[2020-05-31 03:23] Crazedpeanut commented on #213
@dmvtech just to confirm,
In your test, did you add the bot as personal bot, or a team bot?

I'll updating the ids in the manifest

[2020-05-31 08:12] Sujit-Gaikwad commented on #205
Hi @dmvtech,
can you please keep this issue for tracking. atleast will get to know by which quater this feature is expected to replese.
regards,
sujit gaikwad

[2020-05-31 19:14] KoradaRajesh opened #250 "Displaying # at end of response"
I have tried to give # at the starting of response but while rendering it displaying # both at the starting and end of the text.

![image](https://user-images.githubusercontent.com/51915291/83360699-ce551a00-a3a0-11ea-8a89-b77ddbd38a1a.png)

![image](https://user-images.githubusercontent.com/51915291/83360715-0a887a80-a3a1-11ea-9bec-145cabccde2d.png)

[2020-05-31 23:41] Crazedpeanut commented on #213
@dmvtech I tried to use the bot Id as the app Id for the manifest, but with the same result.

[2020-05-31 23:57] Crazedpeanut commented on #213
Personal Bot Added
<img width="578" alt="1" src="https://user-images.githubusercontent.com/7700874/83365761-fe76da00-a3ed-11ea-9b1e-16e73e2641bf.PNG">

No Posts from Bot Framework. Ignore the OPTIONS, they are from the Azure Portal
<img width="859" alt="0" src="https://user-images.githubusercontent.com/7700874/83365771-05055180-a3ee-11ea-8f72-96808854537d.PNG">

Disable Notifications
<img width="5

[2020-06-01 00:05] Crazedpeanut commented on #213
@dmvtech it's happening every time

[2020-06-01 08:35] Jakob-vdH opened #219 "Removing Messages From DirectLine Cache - GDPR Compliance"
Hi all,

I am searching for a way to actively remove conversation messages from the directline cache. I've seen from this issue microsoft/BotFramework-DirectLineJS#119 that the messages are only stored for 24 hours, but the conversations with the users of our customer could hold sensitive information and for the customer storing these messages for 24 hours is seen as an unnecessary risk. Is it pos

[2020-06-01 12:39] iMicknl commented on #7
@NickEricson a [Twilio WhatsApp adapter (JavaScript)](https://github.com/BotBuilderCommunity/botbuilder-community-js/blob/master/libraries/botbuilder-adapter-twilio-whatsapp/README.md) is available as community extension as well.

[2020-06-01 19:22] swagatmishra2007 commented on #210
you need 2 separate oauth connections - one for the devops scopes and one for graph scopes.
The reason is that both sets of scopes generate separate tokens, and hence aad only looks at the set of scopes it encounters first -  So you get a graph token if user_impersonation is at the end and a devops token if you have it at the beginning

[2020-06-01 19:22] #210 closed

[2020-06-02 06:37] Trinetra-MSFT commented on #218
@baki32 , We have forwarded your query to right channel. we will update you shortly

[2020-06-02 08:10] craigcliff opened #220 "Users are intermittently receiving onTurnError: " Conversation not found""
SeeNode version: v10.14.1
OS: Microsoft Windows [Version 10.0.14393]
BotBuilder NodeJS SDK v4.8.0
Channel: MSTeams

Good day,

Our Teams users are intermittently experiencing an unhandled error: Conversation not found, when conversing with the Bot, in Production.

Below are examples of 2 users that experienced this problem.

{ timeStamp: 2020-06-02T07:25:32.740Z,
  user: '*********',
  text: 'canc

[2020-06-02 18:15] dmvtech commented on #220
@Wajeed-msft Any thoughts on this one?

[2020-06-02 19:42] clearab commented on #213
Hi - I've escalated to the Teams support team (the event is created in their infrastructure), and will follow here as soon as I hear back.

[2020-06-02 21:30] Jakob-vdH commented on #219
Is it correct, that using the new Direct Line App Service Extension, no messages would be cached by the Direct Line Extension, hence resolving my issue altogether?

Thank you very much for your help during this hard times.

[2020-06-03 00:35] arturl commented on #179
Closed prematurely. The fix is still in development and will be deployed by 5/11.

[2020-06-03 01:09] v-kydela commented on #216
@tithu - Are you still working on this?

[2020-06-03 04:13] Crazedpeanut commented on #213
Thanks guys

[2020-06-03 08:12] Gousia-MSFT commented on #220
@craigcliff Could you please share the Bot id?

[2020-06-03 08:48] craigcliff commented on #220
@Gousia-MSFT

Hi, the ID is as follows:  203d0b8b-a4a0-43ee-b64e-5100f81d297a

[2020-06-03 20:43] EricDahlvang commented on #212
Please try casting the activity to `IMessageActivity` :

[code]

[2020-06-04 18:14] v-kydela commented on #216
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2020-06-04 18:14] #216 closed

[2020-06-05 08:52] kittu610 opened #221 "Unable to add email channel in azure bot service"
Hi
![error](https://user-images.githubusercontent.com/49742373/83856948-eed1fb00-a737-11ea-9473-ae5fe9390e4c.PNG)

I was trying to enable the email channel in azure bot service but its trowing an error.

please find the following image for reference

[2020-06-05 18:43] dmvtech commented on #221
Hi @kittu610 This is a O365 email account that you are using, correct?

https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-email?view=azure-bot-service-4.0

[2020-06-06 00:35] matthiasdilger commented on #204
Hi, the issue is still present (using SDK 4.9)

Bot receives message:
[code]

And just the mention:

[code]

As you can see, the text property is still missing.

[2020-06-08 03:19] Nikitha-MSFT commented on #204
The bug is not fixed. We are tracking it internally, We don't have ETA to share when it will be available.

[2020-06-09 06:54] Gousia-MSFT commented on #220
@craigcliff We are checking this internally.

[2020-06-09 07:12] kittu610 commented on #221
Hi

Sorry for the delay
Yes i was using o365 mail id

[2020-06-10 06:28] craigcliff commented on #220
Thanks @Gousia-MSFT

[2020-06-11 14:45] fj4870 opened #222 "Disable Magic Code"
We have built chatbot using bot V4 with Direct line channel.
I am trying to disable the magic code functionality by following steps mentioned in the bot framework official document (https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-authentication?view=azure-bot-service-4.0).

Unfortunately steps have been specified for C# and Javas script in the officia

[2020-06-11 16:14] Vignesh25viswanat opened #223 "[Slack] Generating Bot Embed Code for OAuth v2"
Slack recently deprecated the bot scope in favor of more granular scopes. I have already migrated my app from the bot scope to granular scopes on the Slack' developer portal. I'm trying to get an embed code for my "Add to Slack" button. I'm trying to get the embed code from channel settings on Bot services as defined here [https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-conn

[2020-06-12 17:14] stevkan commented on #222
For your implementation, are you using a particular template or setup that you are drawing from? Or, do you have complete code that you could share for reproducing?

[2020-06-12 18:14] fj4870 commented on #222
Hi Stevkan
We are using reactwebchat and which has been extended from botframework-webchat.

Sample code for your reference

<ReactWebChat
directLine={this.state.directLine}
styleOptions={WEBCHAT}
User={{ id: 'dl_123', name: 'user_name' }}
disabled={!this.state.chatEnabled}
locale={this.state.locale}
store={store}
/>

Please let me know if you need more information on the same.

[2020-06-13 17:32] turbozapekanka opened #224 "Facebook channel information is not deleted when I delete a bot"
I experienced this a few weeks ago, just forgot to report.
Not sure if this is a "feature" but I see this as a potential security breach.

Repro steps:
1. Deploy a bot.
2. Connect to the facebook (appID, App Secret, pageID, page token)
3. delete the bot.
4. redeploy the bot with the same name
5. Create a facebook channel.
6. appID, App Secret, pageID, page token are restored automatically. <-- NOT

[2020-06-14 23:19] Crazedpeanut commented on #213
Hi @clearab, haven't heard anything for a while, are we able to ping the Teams team?

[2020-06-15 10:40] Nikitha-MSFT commented on #221
@kittu610  - Could you please go through the [docs ](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-email?view=azure-bot-service-4.0)as suggested by dmvtech

[2020-06-15 18:50] stevkan commented on #222
Can you read over this blog post, [Using WebChat with Azure Bot Services Authentication](https://blog.botframework.com/2018/09/01/using-webchat-with-azure-bot-services-authentication/), and then verify the below questions for me? When reading, you shouldn't need to update your code with the provided example code as it looks like you already have all the necessary components in your bot. But, doubl

[2020-06-15 19:10] cleemullins commented on #225
We in the SDK believe this could be closed, but wanted to confirm.

[2020-06-15 19:12] clearab commented on #213
Nothing yet - I'll escalate. I'm assuming you're still experiencing this?

[2020-06-16 01:46] Crazedpeanut commented on #213
Performed the same steps as above, same result

[2020-06-16 13:49] Gousia-MSFT commented on #220
@craigcliff Could you please share the timestamp of when the issue happened?

[2020-06-16 16:11] rajivcoomar commented on #222
Is the Direct Line channel is enabled in your bot's Channel's blade in Azure? -	Yes
"Enhanced authentication options" has been enabled within the Direct Line channel?-	Yes
You have added at least one trusted origin? This should be where your are hosting your bot.-	Yes. **Do you mean the bot messaging endpoint or the webchat ui endpoint??**
That the user Id begins with "dl_". - 	Yes

We have also g

[2020-06-16 18:17] craigcliff commented on #220
@Gousia-MSFT
I don't have record of the previous failures timestamps, I have however since then enabled app insights on the webapp.

The most recent failure details are as follows:

[code]

The event before the "conversation not found" error above, reflects the following:

[2020-06-16 23:22] dmvtech commented on #221
The email channel uses the Exchange Web Service API's (EWS). So the account you use must have EWS access enabled.  Some accounts don't which may be the problem you are experiencing.   We've also seen several instances recently where EWS access has been revoked which causes bots to suddenly stop working.  I'd recommend that you use an account that you have full control over to avoid these situation

[2020-06-17 02:46] youyu16 commented on #223
@Vignesh25viswanat Can you delete the slack channel and add it again?
then the link will be the V2 auth and you can modify the scope on your own.
![image](https://user-images.githubusercontent.com/17819112/84849395-be6b5480-b087-11ea-95aa-4312e17304c7.png)

[2020-06-17 20:17] stevkan commented on #222
This would be the URI the bot will be hosted at. For example, if I created a bot with a messaging endpoint of `my-bot.azurewebsites.net/api/messages` and am hosting that bot on a website via Web Chat at `https://my-website.somewhere.com/help`, I would enter `https://my-website.somewhere.com` as the trusted origin. Or, in my case, I run my bot and a web server locally. The bot is on port 3978 and t

[2020-06-17 20:31] rajivcoomar commented on #222
It worked, I earlier added only http://localhost, now i changed to http://localhost:3300 where my local UI is pointing and I was able to login without magic code.
This should have been mentioned in the azure doc, in the example they have given only http://localhost, no where mentioned of port.
Thank you for all your help.

[2020-06-18 16:32] Jeffders commented on #219
Hello,

There is not a capability to flush the messages for a conversation or user in Direct Line sooner than the 24 hour limit. This is something one could do with Update and Delete activities that we have in our backlog but do not have any delivery date for. I will add this as a scenario for that feature.

For Direct Line App Service Extension, you are correct that there is no cache, because DL

[2020-06-18 16:32] #219 closed

[2020-06-18 18:04] MichaelHaydenAtMicrosoft commented on #225
Closing issue

[2020-06-18 18:04] #225 closed

[2020-06-18 19:38] jameslew commented on #209
Hello @4ININ , thanks for the report, and sorry for the delay.  We've dug into this and don't currently have Update implemented in the Telegram connector i.e. it's new feature work rather than a bug and will take some investigation/planning.

We will put it on our backlog to evaluate for future implementation, however I cannot provide an ETA at this time given our current backlog and committed wor

[2020-06-18 19:39] anusharavindrar commented on #224
@turbopazenka, thanks for reporting this. Did you create a new bot within the same subscription and tenant with the same name or in a different subscription and tenant? I will attempt a repro on my end and update the thread with my findings.

[2020-06-18 20:13] #209 closed

[2020-06-18 20:22] turbozapekanka commented on #224
same everything

[2020-06-18 21:46] anusharavindrar commented on #224
@turbozapekanka, I am able to reproduce the issue.
Adding @craigjensen to further investigate what might be causing this behavior.

[2020-06-18 23:33] dmvtech commented on #223
@Vignesh25viswanat Have you been able to test the workaround suggested by @youyu16 ?