[2021-11-04 15:34] rR6kULhc5xgS commented on #318
Hey @anusharr, I wanted to check if you had any updates on this issue, or if there was anything additional I could provide to help with your investigation. Thanks!

[2021-11-05 00:09] luhan2017 commented on #313
The package is already released, @zhixzhan, could you help create a PR in composer to update to the new version? https://www.npmjs.com/package/@azure/arm-botservice/v/3.1.0

[2021-11-05 21:37] stevkan commented on #318
@rR6kULhc5xgS, thank you for your patience. Unfortunately, @anusharr had to attend to some outside matters, so I will be assisting in her place going forward. Before doing so, she shared the code with me that you had sent to her. I will take a look at and get back to you with any questions I may have.

[2021-11-05 23:32] stevkan commented on #321
@pedro-ramirez-suarez, were you able to re-run the capture session using the above instructions?

[2021-11-05 23:43] pedro-ramirez-suarez commented on #321
I have not but we think that we have identified the cause and seems related with some time outs, I'll post more details later.

[2021-11-11 11:17] Nivedipa-MSFT commented on #228
@mrakn ,@Sujit-Gaikwad - The feature for increasing the size limit is currently in dev state and there is no ETA to share.We will inform you once we get any update

[2021-11-11 15:56] saikumaru commented on #59
@sgellock and @jameslew do you have an update on this please? Its not just teams, but also any channel which receives two user responses when bot is processing a long running API.

[2021-11-11 16:04] sgellock commented on #59
@saikumaru, I apologize that you haven't gotten any data from the service team on this issue.  I've reached out to jameslew just now and asked for some traction.

[2021-11-11 16:09] jameslew commented on #59
Hey there.  I'll add the MS Teams team to this.  In the context of MS Teams, the messages from your bot go directly to the Teams endpoint without passing through Bot Service servers, so we'll need their input.

[2021-11-11 16:12] jameslew commented on #59
@Wajeed-msft - can you take a look here and provide guidance?

[2021-11-16 05:02] Wajeed-msft commented on #59
@Jameslew, @ruggedjungleboy , @saikumaru - I have copied this over to Microsoft Teams repo here: https://github.com/MicrosoftDocs/msteams-docs/issues/4592

[2021-11-17 19:05] stevkan commented on #318
@rR6kULhc5xgS, thank you again for your patience. Unfortunately, some necessary testing was needing to be done on our SDK which blocked my time, but I am now free. I looked at your code and was hoping to run it but it looks like it may only be part of the app. Are you able to provide a reproducible working copy that I can test against?

In the meantime, I'll continue to look over the code already

[2021-11-17 19:29] rR6kULhc5xgS commented on #318
Thanks, @stevkan. I sent the complete code to the email listed on your GitHub profile.

[2021-11-17 23:26] stevkan commented on #321
Closing due to inactivity. If the problem persists, please feel free to re-open.

[2021-11-17 23:27] #321 closed

[2021-11-18 03:20] arturl commented on #308
This issue is still on our backlog.

[2021-11-19 09:26] syedjalal12 opened #322 "I cant see my adaptive card on the emulator. it appears as blank."
I'm using Python Bot Builder framework and I'm testing it on the emulator.
Now I know that my adaptive card JSON file is perfect because it show's all the data as I desired on both VisualStudio Code and https://adaptivecards.io/designer/.
However when I run the emulator my adaptive is completely blank.

Now the code I'm using for my adaptive card is:

        `def adaptive_flight_card_attachment(s

[2021-11-19 09:30] syedjalal12 commented on #322
This how the adaptive card appears:
![Bot Framework Emulator 19_11_2021 2_28_18 pm](https://user-images.githubusercontent.com/56470771/142599208-31981a91-2578-4bda-b8c3-64b461f64e70.png)

And this is how it should be:
![QuickAdaptiveJSONfile json - Python Behave BDD - Visual Studio Code 19_11_2021 2_30_12 pm](https://user-images.githubusercontent.com/56470771/142599427-70a57f6f-a8f5-486a-ab16-4487

[2021-11-19 18:48] ToddN commented on #59
Since this moved to the Teams github repo, closing it here to avoid a dupe.

[2021-11-19 18:48] #59 closed

[2021-11-20 21:30] haacked opened #323 "Please add support for the Slack `bot_changed` event"
Related to #262

It appears that the [`bot_changed`](https://api.slack.com/events/bot_changed) event is not forwarded by Azure Bot Service to my bot.

In Slack, a user can change the Bot Username in the App configuration page as shown in the screenshot.

<img width="794" alt="Slack App configuration page where the bot username was changed" src="https://user-images.githubusercontent.com/19977/14274

[2021-11-20 22:36] haacked commented on #323
It may be that the `user_change` event is raised when this changes, but I'm not getting that from Bot Service either.

[2021-11-23 20:08] stevkan commented on #318
@rR6kULhc5xgS, can you check that the email sent? I don't see it in my inbox or junk mail folder. If it's not compressed or is sizeable, it may be getting blocked before reaching me. Another option is to store it via a cloud service and provide a link I can download it from.

[2021-11-29 22:28] ToddN commented on #323
Thanks for your request. We are evaluating it.

[2021-11-30 14:43] rR6kULhc5xgS commented on #318
@stevkan Sorry for the delay. I sent you another email with a link to download the project. Thanks.

[2021-12-02 15:57] jcbartle commented on #228
@mrakn - thanks for posting the UserVoice links. Since those sites have all been taken down, here is the link to the most relevant Feedback Portal item I could find:

[Microsoft Teams - Remove the limit on the length of messages](https://feedbackportal.microsoft.com/feedback/idea/731d5aa0-272e-ec11-b6e6-00224827b493)

[2021-12-08 17:21] #313 closed

[2021-12-08 20:13] MasonStricklin opened #324 "List of bots not appearing on dev.botframework.com"
# Version

Not using sdk

# Describe the bug

Hello,

I believe I ran into a similar issue as https://github.com/microsoft/BotFramework-Services/issues/248.

When I login to dev.botframework.com and navigate to my list of bots, none of my bots appear.

# Expected behavior

I expect 3 bots to appear in this list: 1) the production bot (in below screenshot), 2) a staging version of the bot, and 3) a

[2021-12-09 18:43] mgbennet commented on #324
What are the bot Ids of the bots you're expecting to see? Also, is the account you're logging in to the dev portal tied to the email address of your github account or a different email address?

[2021-12-09 18:55] MasonStricklin commented on #324
Here are the 3 bot ID's. I took these from their manifest files.

1) Local development bot ID: `f90d1293-c2c9-493a-9b6b-a9a4146a58f6`
2) Staging bot ID: `4a5b685b-8fb3-4952-bb68-b299a422a85e`
3) Production bot ID: `2c951ed5-c5c6-493f-9b02-4b42e3ba536c`

As for the email, yes it's different than my github email. The email address I use to log into the bot framework is "operations@qualified.com".

T

[2021-12-10 01:24] KygekDev commented on #247
@alanszp I think they want everyone to use Azure. I can't even zip Teams metadata package without an Azure account with the appropriate subscription.

[2021-12-10 01:56] KygekDev commented on #247
@clearab Thank you for your response. I am using the Teams Developer Portal because the App Studio app has been deprecated. However, the Teams Developer Portal only allows me to create app packages. So, how I can connect the app package to my development source code in my local machine?

[2021-12-10 17:57] stevkan commented on #318
@rR6kULhc5xgS, @JDKMX33 - thank you for your patience.

First, I'm curious to know if the issue is still occurring. The last date mentioned was on 9/11.

As for running the provided code, is this something I could run locally with the right appsettings properties entered? If so, can you tell me what the minimum appsettings properties are that need to be filled in. I've taken a few stabs at what I

[2021-12-13 18:54] rR6kULhc5xgS commented on #318
@stevkan Thanks for your continued help with this. I sent you an updated solution link that will hopefully run for you, it just needs your own chat bot token added.

This does still happen to us, but much less frequently than before. The last time this happened was around 12:34 AM on 12/9/2021 (UTC), and seemed to affect at least 5 conversations.

Regarding the comment I made about FullStory, I wa

[2021-12-14 05:41] cglong opened #325 "Add channel for Google Business Messages"
I recently interacted with a bot via [Google Business Messages](https://businessmessages.google/). Is there a way a channel can be created for this platform?

[2021-12-14 17:15] mgbennet commented on #324
I've confirmed that those bots are owned by that email address. Are you certain that you're logged in with the account tied to that email address? You can check by clicking on the box to the right of the notification bell at the top of the page.

[2021-12-14 18:11] ToddN commented on #325
Thanks for your request. This is under consideration.

[2021-12-14 20:53] MasonStricklin commented on #324
Thanks for confirming.

Yeah, I am sure that I am logged into the operations@qualified.com email address. Here's a screenshot:

![Screen Shot 2021-12-14 at 12 44 27 PM](https://user-images.githubusercontent.com/8322505/146076672-19fd8422-2dc8-49e9-bd83-696c527d0dd3.png)

---

Furthermore, if I navigate to https://dev.botframework.com/bots/new (while logged in as operations@qualified.com) and creat

[2021-12-20 00:48] Bolleman opened #326 "Slack interactive messages not working with azure bot service connector"
I'm using the Slack channel in Azure Bot Service (for clarity, not the Slack adapter package).   My bot is receiving bot events properly, but block kit button clicks (aka interactive messages) generate the following error.
![400errorSlack](https://user-images.githubusercontent.com/8999611/146694939-4839fd0a-ed5a-4ab4-ae1a-f0cb3a6d1261.png)
The Slack channel shows as Healthy but nothing is being fo

[2021-12-20 08:23] aldvintumbelaka opened #327 "Prompt and Hero Card button does not send the respond back to the bot in Slack"
Hi,

I'm having a problem where I have prompt button or hero card button in Slack.
When the user click the button, it doesn't send any response back to the bot.

Here's my code (using Hero Card)
![image](https://user-images.githubusercontent.com/33532350/146734748-377f033b-a981-41b3-a9a8-8989b897f35f.png)
![image](https://user-images.githubusercontent.com/33532350/146735661-d095f696-c053-4e47-9d41

[2021-12-20 08:26] aldvintumbelaka commented on #327
Found this issue, might be related #326

[2021-12-20 19:52] dudeed commented on #324
Thank you for the information requested Mason, we will get back after analyzing it.

[2021-12-23 03:13] youyu16 commented on #327
manage to repo this, looks like our server never get the imback message when I click the button on slack, checking

[2021-12-23 03:44] youyu16 commented on #327
@aldvintumbelaka have you set the action webhook as well?
![image](https://user-images.githubusercontent.com/17819112/147184896-47cd4e22-108c-4f3f-8c3d-c0d4dab646fe.png)

[2021-12-23 04:11] aldvintumbelaka commented on #327
Hi @youyu16 Yup I've set the webhook URL as well.
But, if I set the URL to use _https://slack.botframework.com/api/Action_ as per the documentation, it will not work, but if I set it to my ngrok URL, it will work, but looks like it's missing the context.

it only has payload, callbackid as the request body.
Is there any way for me to get the context from the request body?

Thanks

[2021-12-23 04:12] youyu16 commented on #327
@aldvintumbelaka any exception occur when you sent that action message?
you can find it on in web console
![image](https://user-images.githubusercontent.com/17819112/147186906-8454b7c9-fe6a-4959-93ef-d2a3e311472b.png)

[2021-12-23 04:16] youyu16 commented on #327
Also, if its not work for slack.botframework.com. please check the oauth settings, have you set the endpoint in redirect url
![image](https://user-images.githubusercontent.com/17819112/147187058-bb2f2e37-001a-49f4-8f6a-78b770fadc65.png)
please make sure the interactive is on as below
![image](https://user-images.githubusercontent.com/17819112/147187136-c28989e8-937e-4d3b-91e9-b1b1a444aff7.png)

[2021-12-23 04:20] youyu16 commented on #327
When I click the button on slack I will get full activity with all the things bot needs and the original message from Slack inside ChannelData Filed. Can you put what you received here?

[2021-12-23 04:22] youyu16 commented on #327
@aldvintumbelaka this is part of the message what I got
![image](https://user-images.githubusercontent.com/17819112/147187511-97516cbe-7cb6-4728-a59a-36e65e31c45b.png)

[2021-12-23 04:39] aldvintumbelaka commented on #327
Looks like it's a bit different in mine.
Here's the form data for a normal message
![image](https://user-images.githubusercontent.com/33532350/147188613-bd7c347b-2cef-462c-b182-e8dd546960a1.png)

And here's the form data from a button
![image](https://user-images.githubusercontent.com/33532350/147188761-78c8e004-c67b-48b0-8e21-284b91e79f10.png)

[2021-12-23 04:45] aldvintumbelaka commented on #327
@youyu16 The problem is when I try to pass it to the botframework adapter process activity,
![image](https://user-images.githubusercontent.com/33532350/147188879-8476b27f-6aa0-4acf-a065-18a7487e2937.png)

it returns me with this message: validateAndFixActivity(): missing activity type

When i do a check, here's the different between the normal message request body and request body that I got from

[2021-12-23 10:23] ssss141414 commented on #327
Hi @aldvintumbelaka ,
I just followed all steps in section **Create a Slack application using the Azure portal** in the doc, from the scratch: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-4.0#create-a-slack-application-using-the-azure-portal. This is my test result:

1 For sending hero card, it works well. I can click the button and se

[2021-12-23 11:18] ssss141414 commented on #326
Hi @Bolleman ,
We're trying repro it. Can you provide your code about constructing this Activity with buttons?

[2021-12-23 13:39] aldvintumbelaka commented on #327
Hi @youyu16 I'm using the azure portal, not the slack adapter. But, i'm using node js, not the C# SDK. Do you think it might be the issue?

[2021-12-23 13:57] ssss141414 commented on #327
Hi @aldvintumbelaka ,
Since everything goes well in C# SDK in my side, let me try to use js SDK to see if we can repro it. If can't, this shows we missed something in configuration...

[2021-12-23 17:57] Bolleman commented on #326
I created a new Composer project with one dialog, as follows.  The Slack bot channel registration contains the default scopes.

I haven't put in a trigger in this dialog to handle the event/activity from the Slack button click yet as I was waiting to see it come through on ngrok first so I know what it will look like.  If you also happen to know what trigger I should use that would be awesome as I

[2021-12-23 18:17] Bolleman commented on #326
I just did another search and discovered there is an older way to construct interactive messages in Slack is using attachments instead of block kit.  I added this approach to the previous dialog (new version below) and it works.  A key difference between the old and new is the parameter callback_id.   Since I now see this comes through as a regular message activity, that answers the other question

[2021-12-23 18:17] #326 closed

[2021-12-26 19:25] ssss141414 commented on #327
Hi @aldvintumbelaka ,
I've tried node js SDK, but everything still went well.

I use sample here: https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/javascript_nodejs/02.echo-bot
And I use your code:
![image](https://user-images.githubusercontent.com/18118994/147418043-dbbd46f5-4886-47c2-ac73-c802186fb5fd.png)
But everything worked in my side, with bot echoing '1'.
![image](https://

[2021-12-29 01:06] stevkan commented on #318
@rR6kULhc5xgS, unfortunately, I am unable to get your solution to run. A colleague and I have run thru the code but I simply can't get past the initial conversation update. Any activity sent after the conversation update consistently results in a 502 error regardless of changes we make to the code to try and alleviate the issue.

Also, while I don't _think_ this is the source of the issue, why in

[2021-12-29 14:32] JDKMX33 commented on #318
@stevkan thank you for sharing the piggy back and post activity event links. The postActivity() was carried over from previous version of webchat we were using. We only use it in two places, when the connection is fulfilled and on the unload event before the user window closes.

[2021-12-29 20:32] stevkan commented on #318
Revisiting the frequency and occurrence - I'm not sure this was answered:

Additionally, have you tried repro'ing the issue connecting as a user and communicating with the bot? I'm wondering if any warnings or error messages are generated in the dev console of the browser.

The reason I ask is I've encountered an issue in the past, when using Web Chat's store, when trying to send an activity when

[2022-01-03 18:25] rR6kULhc5xgS commented on #318
For how far into the conversation it happens, I've never seen any consistency. It could happen at any time, and since it would affect all active conversations at once, it could impact a conversation that had just started as well as one that had been going for a while at the same time. I've never been able to reproduce the problem locally or when testing otherwise. The good news is that this issue

[2022-01-04 12:13] ssss141414 commented on #327
@aldvintumbelaka ,
Hi, any update about this issue? Is there any more detail that can help us troubleshoot this issue?

[2022-01-05 01:42] aldvintumbelaka commented on #327
Hi @ssss141414 sorry i have a limited internet access during new year break, I'm testing it again now. I'll try to redo all the configuration and do another check.

[2022-01-05 06:06] aldvintumbelaka commented on #327
Hi @ssss141414 I've got it working now. Looks like there is a miss-configuration issue in the redirect url and event subscriptions.
Thanks for your help. I'll now close this issue.

[2022-01-05 06:06] #327 closed

[2022-01-06 13:03] fabiank0 opened #328 "Cannot save bot: `Please correct the errors and try again.'"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
No SDK, dev.botframework.com

## Describe the bug

Bug: Settings in the dev.botframework.com page cannot be changed, leading to an error.

C.f. the discussion in the

[2022-01-10 15:39] devtfq commented on #228
Hi @Nivedipa-MSFT  @v-chetsh , we have been seeing this issue regarding message size for a while too.. is there some way teams can lift this limitation?

[2022-01-11 11:59] v-chetsh commented on #228
@devtfq - We are checking it with engineering team and let you know the updates.

[2022-01-11 16:58] devtfq commented on #228
Thank you @v-chetsh

[2022-01-11 19:03] MasonStricklin commented on #324
Hello, checking in to see if there are any updates?

[2022-01-13 06:42] mgbennet commented on #324
@MasonStricklin We're still a bit stuck on this what's going on here. Couple things to check with you:
1) Were you able to see the bots with this account at an earlier time?
2) Do you happen to know if that account's user type is "guest" on the AD tenant? This can happen if the account is invited to the tenant.
3) If you can, can you collect a .har file of logging in from at https://dev.botframewo

[2022-01-14 10:50] devtfq commented on #228
Hi @v-chetsh  @Nivedipa-MSFT  , can we please change the status to 'Open' as the problem still persists?
I can see the same issue raised in multiple forums as well, but sadly no fix has been provided by MSFT so far.

[2022-01-14 12:16] v-chetsh commented on #228
@devtfq - We are checking it internally with engineering team and inform you accordingly.
I am not seeing a option to re-open it.
@mrakn - Could you please me to reopen it.

[2022-01-14 12:19] v-chetsh commented on #228
@devtfq -  The feature for increasing the size limit is currently in dev state and there is no ETA to share

[2022-01-17 20:07] stevkan commented on #318
Closing the issue as mitigated/resolved. As you mentioned, if you have new data to share or the frequency of occurrences increases significantly, please feel free to re-open.

[2022-01-17 20:08] #318 closed

[2022-01-20 13:01] rodriguesnich opened #329 ""Sign In code was not found or expired""
# Describe the bug
After the bot asks to sign in if the action isn't completed for a while when trying to sign in again:
"The Sign In code was not found or expired. Please try asking the bot to sign in again".

# To Reproduce
Steps to reproduce the behavior:
- Ask for sign-in on Teams
- Didn't complete the action
- wait for a while ( a day in my case)
- Try to sign in, on the last sign-in card

#

[2022-01-20 17:14] anishprasad01 commented on #328
@MatDumoulin

Thank you for the report. We are investigating.

[2022-01-21 07:34] bobokids commented on #329
Ported the bug to Composer repo: https://github.com/microsoft/BotFramework-Composer/issues/8926

[2022-01-21 09:14] ssss141414 commented on #323
Hi @haacked ,
It seems Bot User is a legacy feature: https://api.slack.com/legacy/custom-integrations/bot-users. Also I cannot find it anywhere in my App Configuration.
![image](https://user-images.githubusercontent.com/18118994/150499649-68d881b8-5bd2-4223-ab7c-8483ee9e5cec.png)

If I misunderstand the feature, please provide the detailed repro steps. Thank you very much.

[2022-01-23 02:41] alokkms opened #330 "[Question] ChosenInlineResult message update not received from telegram"
I have implemented a simple bot with channel specific handling for telegram's inline mode (using the example shared in #110).

I have also enabled "inline feedback" on the telegram bot (https://core.telegram.org/bots/inline#collecting-feedback).

But when the user selects one of the inline results, I do not receive any callback for the ChosenInlineResult (https://core.telegram.org/bots/api#choseni

[2022-01-24 23:30] #329 closed

[2022-01-25 13:41] ssss141414 commented on #308
In progress.

[2022-01-26 23:10] MatDumoulin commented on #328
Hi there!

To follow up on the issue, I think we found why the "Please correct the errors and try again." error was occuring. Through [Microsoft documentation](https://docs.microsoft.com/en-us/previous-versions/azure/bot-service/bot-service-migrate-bot?view=azure-bot-service-3.0), we found that [https://dev.botframework.com/](https://dev.botframework.com/) is not the official way of managing your

[2022-01-26 23:14] anishprasad01 commented on #328
@MatDumoulin

We are working on getting that error resolved, but in the long-term migrating to Azure is the best bet.

I don't understand what you mean by this. Migrating a bot to Azure happens irrespective of channel.

[2022-01-28 00:54] bobokids commented on #324
Hi @MasonStricklin, any update on this issue?

[2022-01-28 00:57] bobokids commented on #328
We had a PR ready for this issue. Incident 284309614 : [PR Ready]Need a fix: Cannot save bots in Dev Portal

[2022-01-28 16:10] fabiank0 commented on #328
Thanks @MatDumoulin. @anishprasad01 Do you still need an App ID of a Bot?

[2022-01-28 16:17] anishprasad01 commented on #328
Nope, we're good. Once the PR makes its way through and goes live, the problem should be fixed and we'll close this issue.

[2022-01-29 04:59] MasonStricklin commented on #324
Hello, thanks for the bump and sorry for the delay. I have been traveling and wasn't able to respond. Here are my responses to the questions @mgbennet asked.

Yes. The last time I logged in and accessed these configurations was mid-2021.

I don't think that is the case. This is the only account I see in our directory. The user type is listed as `Member`.

I saved a .har file and sent it to the ema

[2022-01-30 01:48] cosmicshuai commented on #328
I have a PR fix this issue.

[2022-02-03 17:20] Anshul21 opened #332 "ShowTypingMiddleware not working in SLACK"
**Is your feature request related to a problem? Please describe.**
show typing middleware doesn't work in slack.

**Describe the solution you'd like**
Expected behavior is to see bot is typing so that user knows bot has received the message.

**Describe alternatives you've considered**
n/a

[2022-02-07 04:23] ssss141414 commented on #308
PR merged. Will come to prod in a week.

[2022-02-09 09:09] bobokids commented on #330
@alokkms, this feature is not supported in telegram channel. Currently we do not have plan to add the new feature support. but please let us know if you have biz justification and we can put this request to our backlog.

[2022-02-10 07:45] #330 closed

[2022-02-10 23:09] MasonStricklin commented on #324
Hello, checking in again. @mgbennet, have you had a chance to review the email I sent you?

I am still at a point where I don't _need_ to access these bots. However, I'd love to regain access before anything arises that would require access.

[2022-02-11 07:28] ravipulluri commented on #7
@main

check this url
https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/blob/master/libraries/Bot.Builder.Community.Adapters.Infobip.WhatsApp/README.md

[2022-02-14 09:36] ssss141414 commented on #308
Hi @stevkan ,
The feature is onboard. Please have a try with:
[code]

Screen shot:
![image](https://user-images.githubusercontent.com/18118994/153838137-74df7572-3a66-4a8f-91d6-69929d9df6fb.png)

[2022-02-14 16:14] #328 closed

[2022-02-14 22:53] MasonStricklin commented on #324
Also, I filed an issue here, because I saw #248 was similar to my problem and you were able to help this user out. If there is another Github project or another way to file this issue with Microsoft, I can followup there too.

[2022-02-17 16:03] devtfq commented on #228
Hi @v-chetsh @Wajeed-msft  ,is the size limit lifted ?

Could you kindly check with the development team? Just doubtful as I am able to see a significant improvement in the card size.. I am able to send data which I was not able to send about months before.Its coming out fine. Can we please check once?

[2022-02-18 00:48] bobokids commented on #308
Fix released in 2/14.

[2022-02-18 00:48] #308 closed

[2022-02-18 00:49] bobokids commented on #323
We have no plan to support the feature as it's  deprecated in Slack.

[2022-02-18 00:49] #323 closed

[2022-02-18 22:26] jacobpoly73 opened #331 "Guidance needed for DirectLine Integration with Bot Composer"
I am hoping to get some guidance on implementing DirectLine with a Bot Composer generated Bot. I haven't got any responses elsewhere and so was hoping maybe I could get some help on this forum.

I would like to add the DirectLine Token integration into my Bot Composer project so that I can retrieve tokens dynamically and not have to hardcode the Bot Secret into the Embed Code. Few things,
- The Bo

[2022-02-22 09:48] devtfq commented on #228
@v-chetsh  could you kindly check with the development team once?

[2022-02-22 10:04] Nivedipa-MSFT commented on #228
@devtfq - We are checking with the engineering team. We will get back to you soon.

[2022-02-23 00:05] ramfattah commented on #331
Hi @jacobpoly73,

Have you had a chance to follow [Direct Line Token Sample](https://github.com/microsoft/BotFramework-WebChat/tree/main/samples/01.getting-started/k.direct-line-token) documentation? This sample demonstrates how to integrate Web Chat in C# and JavaScript.

Let me know if the above doc helped.

[2022-02-23 05:58] devtfq commented on #228
@Nivedipa-MSFT  thank you so much. Eagerly waiting for the response

[2022-02-24 15:36] jcbartle commented on #228
Morning, @devtfq / @Nivedipa-MSFT. I can confirm that, as of this morning, I am still getting the following error if the card size passes some limit. Not sure what that limit is, but, if I attach too large of an object to the Value property of an action button and add that to a Hero Card, I get the following error:

Operation returned an invalid status code 'RequestEntityTooLarge'

[2022-02-25 05:32] devtfq commented on #228
I understand @jcbartle , but i feel some improvement came across the size limit. For my use case., along with the remaining card payload,  I was not able to send a particular choice set  whose elements totally consist  of 1700 characters, but now I am able to send the same payload.. also I'm able to send the choice set with total element size of about 5200 characters too..along with the remaining

[2022-03-01 01:55] stevkan commented on #332
@Anshul21, I tested this with a colleague and what we were able to determine is the `typing` activity, whether from the middleware or as an independent activity, is not being honored when sent to Slack. I am unsure if the issue is on the BotFramework Services side or something with Slack, itself.

@Services team - who would be the right person to own this item for further investigating?

[2022-03-01 16:48] #331 closed

[2022-03-02 04:40] devtfq commented on #228
@Nivedipa-MSFT do we have an update from the engineering team?

[2022-03-02 13:32] sunijk opened #333 "Not able to Make call with Skype BOT using Skype IOS version 8.81.0.268"
HI Team,

We are facing some issue while making a call with Skype BOT using IOS Skype version 8.81.0.268. Instead of making a normal video call it popups with a group call and the end user is not able to attend the call.

![image](https://user-images.githubusercontent.com/14799495/156370259-603acf88-6c92-4573-93f8-82a9ccb83061.png)

With previous version of  Skype version, we were able to make vid

[2022-03-02 17:30] MasonStricklin commented on #324
Hi again, bumping to ask if there are any updates. Thanks!

[2022-03-02 18:20] dudeed commented on #324
Mike, can you reply to Mason, or have someone in STCA attach to this issue on Github to make progress?

From: Mason Stricklin ***@***.***>
Sent: Wednesday, March 2, 2022 9:30 AM
To: microsoft/BotFramework-Services ***@***.***>
Cc: Ed Dude ***@***.***>; Comment ***@***.***>
Subject: Re: [microsoft/BotFramework-Services] List of bots not appearing on dev.botframework.com (Issue #324)

Hi again, bump

[2022-03-03 12:30] Nivedipa-MSFT commented on #228
@devtfq - This feature is currently in internal review Process.

You can check the updates [here ](https://docs.microsoft.com/en-us/microsoftteams/platform/whats-new)or subscribe to[ RSS feed](https://docs.microsoft.com/en-us/microsoftteams/platform/whats-new#get-latest-updates).

[2022-03-04 00:53] bobokids commented on #332
Shiyi, could you help to take a look?

[2022-03-04 01:07] arturl commented on #333
Hi @sunijk - this does not look like an issue with Bot Framework. What technology are you using to build the bot?

[2022-03-04 02:21] sunijk commented on #333
We are using Microsoft Bot framework with Node JS technology. The user is able to make a direct video call using Skype, but when they use action button to make call using Bot, it makes a group call with IOS device.
This was working fine till they updated the Skype version in IOs devive.

[2022-03-04 02:23] sunijk commented on #333
Is there any other option to make a call using action button with Bot framework.

[2022-03-25 16:28] RamkumarManavalan opened #334 "Unable to upload Microsoft Excel sheet in Slack Channel"
Details of the Composer version I use:
- Version:  2.1.1
- Electron: 8.2.4
- Chrome: 80.0.3987.165
- NodeJS: 12.13.0
- V8: 8.0.426.27-electron.0

I use the "File or Attachment" option to accept files from users in Slack. Every other common file types work, except for Microsoft Excel/Word files. The "File or Attachment" does not return any result back, but shows a preview of the file properly. Plea

[2022-03-28 21:17] MasonStricklin commented on #324
Hello, checking in again. It's been almost a month since my last bump. Any update?

Is there another org I can reach out to who might be able to help? Or am I correct in that this is the right place to report this sort of issue?

[2022-03-30 03:53] dudeed commented on #324
I am on another team now, and Mike will have to suggest others to include on this thread.

@Mike ***@***.***>, how is this issue going and is there anyone else who should be added to it now?

From: Mason Stricklin ***@***.***>
Sent: Monday, March 28, 2022 2:18 PM
To: microsoft/BotFramework-Services ***@***.***>
Cc: Ed Dude ***@***.***>; Comment ***@***.***>
Subject: Re: [microsoft/BotFramework-Ser

[2022-03-31 14:39] mrakn commented on #228
@v-chetsh and @Nivedipa-MSFT, thank you so much for the updates. Unfortunately I cannot reopen this issue since it has been closed by repository collaborator - @clearab.

[2022-04-05 06:22] RamkumarManavalan commented on #334
Thank you so much @stevkan.

Please keep this thread posted on which release this bug is planned to be fixed as part of.

[2022-04-08 02:57] RamkumarManavalan opened #340 "OAuth Sign in: Unable to let the user switch the credentials"
Details of the Bot Framework Composer version I use:
    Version: 2.1.1
    Electron: 8.2.4
    Chrome: 80.0.3987.165
    NodeJS: 12.13.0
    V8: 8.0.426.27-electron.0

I use the 'OAuth Login' of the composer to let the user sign in via service providers (I support Google & Microsoft for now). This works.

When the user logs out, I tried using "Sign out user" option of composer, but I kept getting

[2022-04-18 17:18] RamkumarManavalan commented on #334
Any update on this, team? We are totally blocked on this.

[2022-04-21 13:02] ssss141414 commented on #334
Hi @RamkumarManavalan ,
I'm working on fixing this issue. Sorry for keeping you waiting.

[2022-04-21 13:03] ssss141414 commented on #332
Investigating.

[2022-04-24 13:19] bobokids opened #335 "Slack channel: Update registerBeforeOAuthFlow property to enable saving customer data"
Current Slack channel only support registerBeforeOAuthFlow as readonly property. Per the API design, it should be true/false value and updatable. Please check detail requirement from customer here: https://github.com/Azure/azure-sdk-for-go/issues/17358

[2022-05-05 06:06] inb18 commented on #140
Hi,
I am working on bot that and implementing user authentication , I did oauth connection setting with generic oauth 2.0 but i get this error while I test connection
on url:-https://token.botframework.com/.auth/web/redirect?code=zNEUkT&state=82e83c4f6bd7425c929f9c6b0fe140fe
{
  "error": {
    "code": "ServiceError",
    "message": "Missing session cookie (consent82e83c4f6bd7425c929f9c6b0fe140fe)

[2022-05-05 07:42] inb18 opened #336 "Generic Oauth 2.0 in Oauth Connection Setting in Azure for Bot User Authentication"
Hi,
I am working on bot that and implementing user authentication , I did oauth connection setting with generic oauth 2.0 but i get this error while I test connection
on url:-https://token.botframework.com/.auth/web/redirect?code=zNEUkT&state=82e83c4f6bd7425c929f9c6b0fe140fe
{
"error": {
"code": "ServiceError",
"message": "Missing session cookie (consent82e83c4f6bd7425c929f9c6b0fe140fe) in consent

[2022-05-05 11:51] gjorgjevski opened #337 "Directline - internal server error 500, happening intermittent, URGENT!"
Our backend project:  .NET Core 3.1
Using Directline and Microsoft webchat.

## Describe the bug
We are getting internal server error from Directline channel and its intermittent. There is no a specific case when you will get this error its just random and its happening. It can be for example if you call the same directline call for 10 times the error can happen 3 times. 3 of 10 .

## To Reproduce

[2022-05-07 06:21] xieofxie commented on #336
@inb18 This url `https://token.botframework.com/.auth/web/redirect?XXX` is not copyable. You should use one like this `https://token.scratch.botframework.com/api/oauth/signin?signin=` before the redirect

[2022-05-09 05:43] inb18 commented on #336
Hello,
Actually I am configuring Oauth Connection Setting using Generic Oauth 2.0 for my domain , I provided login url in Authorization Url after succesfull authentication my domain url return code and state to the redirected url. And redirect url is https://token.botframework.com/.auth/web/redirect as per this documentation https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentica

[2022-05-11 05:38] Danieladu commented on #336
hi @inb18 , could you provide the botid so that we can check the log to see what happens. Thanks.
![image](https://user-images.githubusercontent.com/7289268/167776438-e9ee7c2e-9cdb-4c28-a610-c73987b70025.png)

[2022-05-11 11:49] dhruviqvia opened #338 "How to disable user typing text box with Azure bot"
I am looking for recommendation on disabling attachment and text box when adaptive card is displayed in webchat/directline channel. I am looking for complete code on webchat side.

I tried the sample :
https://github.com/microsoft/BotFramework-WebChat/blob/main/samples/05.custom-components/l.disable-adaptive-cards/index.html

However ended up getting javascript error

Can anyone share recommendati

[2022-05-11 16:51] dmvtech commented on #338
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2022-05-13 19:03] michaelwittig opened #339 "BadArgument: Incoming request was redirected to the wrong geo! Current geo: EMEA, Target geo: EUDB"
Hi,

we recently received a new error that we never saw before when calling the `GET /v3/conversations/${conversationId}/members` API.

[code]

The tenant's service URL so far was `https://smba.trafficmanager.net/de/`. Is it possible that this value changes? is there an event indicating the change?
Could this error be related to the "Multi-Geo capabilities"?

Thanks

[2022-05-17 21:22] MasonStricklin commented on #324
Hello all,

I ended up signing up for an Azure support subscription and filing a bug within Azure.

A hotfix was released, and it looks like I am able to once again access these bots in the Bot Framework portal. I will close this issue.

Screenshot:
![Screen Shot 2022-05-17 at 12 59 23 PM](https://user-images.githubusercontent.com/8322505/168912297-dfcf914e-c45c-41fa-b61a-a31a5166243f.png)

[2022-05-17 21:22] #324 closed

[2022-05-18 03:29] xieofxie commented on #336
What oauth provider do you use?

[2022-05-18 18:55] stevkan commented on #339
@michaelwittig, this appears to be related to an on-going initiative that Microsoft has been pursuing for the last year. In short, the EUDB stands for EU Data Boundary and represents a greater commitment to not transfer data outside the EU. You can read the latest FAQ here, [EU Data Boundary for the Microsoft Cloud](https://techcommunity.microsoft.com/t5/security-compliance-and-identity/eu-data-bo

[2022-05-18 19:20] stevkan commented on #339
@michaelwittig, I also notified the Services team. Someone from that team will move forward in assisting you.

[2022-05-19 08:25] michaelwittig commented on #339
Thanks @stevkan , let me answer your questions below:

We first saw this error at around 2022-05-13T14:07:24.576 UTC which should be 07:07 PDT (similar to what is reported on SO).

I don't know if the issue is/was transient. We removed the message from our queue too early to see the error go away.
I have not seen this error again since then (not sure if this is good or bad).

We store the service

[2022-05-19 08:49] ssss141414 commented on #334
The fix will be onboard next week.

[2022-05-19 16:10] bobokids commented on #337
https://dataexplorer.azure.com/clusters/botframeworkprod/databases/bfwprodKusto?query=H4sIAAAAAAAAA22QMW/DIBCF9/yKa5bYkpGBALGjukunrlWnLhUOh4JkmwRjpa3644uTtMoQCZ2OE9+7xwt4nHCMI1/8wGmPASG6Pg10f4AnMDrifM845ZxQSSh/o3R7Pu/5HeTxDrK5h7Q+vhhoGlgG50lMOFGtqKTUnLBWWyKU3ZCaMZUE1BrtWrLloiz/eH/AoKPzw8dVppJmh4xpWdfKaKEqRNsqZBWvhKmsvIUDjlMXn71BeHBDxigrgFM6l9SJuRN0PRcxO8bPiIMBDCHgERrIbvj07RDHk4t7WMnV/Hqc+l4H951i8V

[2022-05-20 02:42] luhan2017 commented on #339
@michaelwittig, based on your service url: "https://smba.trafficmanager.net/de/", your request is sending to SMBA service which is a Teams specific scenario and is not owned by ABS team. I have created an incident to SMBA team, I will update this thread when I get a response from them.

[2022-05-20 04:26] RamkumarManavalan commented on #334
Glad to hear. Thank you so much.

[2022-05-20 07:00] michaelwittig commented on #339
Thanks @luhan2017

[2022-05-31 03:38] RamkumarManavalan commented on #334
@ssss141414 , has this fix been rolled out to production? If yes, which version of bot framework should I upgrade to?

[2022-05-31 18:11] michaelwittig commented on #339
@luhan2017 no, sorry. I don't know what smba stands for, nor who is responsible for helping developers write chatbots for Teams. So far I have opened issues on GitHub and mostly received a response....

[2022-06-09 02:30] ssss141414 commented on #334
@RamkumarManavalan Yes the fix has come to Prod. Since the fix is on server side, you don't need to update version. Please have a try to see if the issue persists. Thank you.

[2022-06-09 02:33] ssss141414 commented on #335
We’ve update the swagger file, so that we can set ‘registerBeforeOAuthFlow’ property to true.

[2022-06-09 12:36] bobokids commented on #337
Hi @gjorgjevski , do you still repro the issue. We didn't see similar pattern in the bot service log data.

[2022-06-09 12:38] gjorgjevski commented on #337
Seems it got resolved by itself. But i am more than sure that came from
some changes in cloud.
Thank you.

On Thu, Jun 9, 2022, 14:36 Jing Li ***@***.***> wrote:

[2022-06-10 03:53] #335 closed

[2022-06-10 03:53] bobokids commented on #335
Resolved in code.

[2022-06-10 03:55] bobokids commented on #334
Resolved the issue for now. Please reactivate it if you still get it repro-ed.

[2022-06-10 03:55] #334 closed

[2022-06-10 03:56] #337 closed

[2022-06-10 03:57] bobokids commented on #337
Closed the issue for now. May reactivate this issue if we have proper repro steps to help the investigation.

[2022-06-10 03:58] bobokids commented on #336
@inb18, do you have the info xieofxie mentioned above?

[2022-06-14 18:24] EricDahlvang commented on #340
Hi @RamkumarManavalan

Sorry, I'm not sure why that is happening. I've transferred this issue to the BotFramework-Services repository as the token service is part of Azure Bot Service. Maybe someone here will have some ideas.

[2022-06-17 00:04] luhan2017 commented on #339
@michaelwittig I got a response from Teams team, here is the response.

 We did get IcM for that issue in May as well but it should be fixed by now (probably starting from May 20th it's fixed). Please check with a customer if they can still a repro. From our telemetry we no longer see those errors

Could you please try again and let me know if it still not works.

[2022-06-17 06:13] xieofxie commented on #340
Hi @[RamkumarManavala](https://github.com/RamkumarManavalan) it is advised to use Service Provider `Azure Active Directory v2` for Microsoft and `Google` for Google.

I have verified that they worked in signin and signout scenario (after signout, user could not get token any more).

Hi @[EricDahlvang](https://github.com/EricDahlvang), could you help to verify Composer works as what SDK does? Thank

[2022-06-20 08:10] michaelwittig commented on #339
@luhan2017 Thanks. I have not seen this error again.

[2022-06-20 08:10] #339 closed

[2022-06-20 19:32] EricDahlvang commented on #340
Yes, Composer and SDK work similarly. What this issue is about however, is the account selection or consent popup.  For AAD apps, you can go here: https://portal.office.com/account/?ref=MeControl#apps and remove consent under 'You can revoke permission for these apps' The login experience is different when consent has not been provided. As far as I know, the bot framework user auth api does not pr

[2022-06-22 22:39] milapshah15 opened #341 "Size Limit on Adaptive Cards"
Hello Team,

We are implementing a usecase where I need to send a large JSON in the payload. Sometimes I get below error. I am sure there would be a size limit but is there a way to overcome this may be by sending compressed JSON or something? Open for suggestions

`{
    "error": {
        "code": "MessageSizeTooBig",
        "message": "Message size too large."
    }
}`

[2022-06-23 06:07] xieofxie commented on #340
@[RamkumarManavalan](https://github.com/RamkumarManavalan) For the signout, please reach out to Composer / SDK for fix. For your request, I have verified with the following configs, please test:

Microsoft:
|Name|Value|
|-|-|
|Authorization URL Template|https://login.microsoftonline.com/common/oauth2/v2.0/authorize|
|Authorization URL Query String Template|?client_id={ClientId}&response_type=code&

[2022-06-23 09:13] luhan2017 commented on #336
@inb18 , we didn't see your response for a long time, do you still see the error?

[2022-06-28 08:08] kafka-yu opened #342 "Is the serviceURL of "https://smba.trafficmanager.net" fixed?"
Hi team,

We're building msteams bot app, question about the 'serviceURL', now we received is "https://smba.trafficmanager.net/xxx (region?). Will this domain fixed (means won't change, we can always trust https://smba.trafficmanager.net)? Since for security reason, we want to add a whitelist in backend server to ensure URLs only under this domain is allowed.

Thanks.

[2022-06-30 11:54] kafka-yu commented on #342
hi @ericwill-msft @EricDahlvang, would you pls help check? Thank you!

[2022-07-01 03:49] luhan2017 commented on #341
@milapshah15 We have a size limitation for ABS payload as 256k, please make sure your payload size don't exceed that value.

[2022-07-13 10:03] darrenparkinson opened #343 "ServiceError - Missing session cookie when using Generic Oauth 2 Service Provider with Auth0"
I'm trying to set up Auth0 as a Service Provider in the Azure Bot configuration for use with Microsoft Teams.

I'm getting the sign in box pop up in teams and Auth0 sends me an email to complete the login, but when clicking the link in the email I just receive the following error:

[code]

The service provider connection settings are as follows:

Service Provider: Generic Oauth 2
Client id: client

[2022-07-14 16:23] ramfattah commented on #343
Hi @darrenparkinson, I'm investigating this issue.

[2022-07-15 02:20] boydc2014 commented on #342
Hi, @kafka-yu this smba endpoint, from what we know, is a well known Teams api endpoint, you should be safe to trust this endpoint.

[2022-07-19 06:36] kafka-yu commented on #342
Good to know that, Thanks! @boydc2014

[2022-07-19 06:36] #342 closed

[2022-07-22 01:58] luhan2017 commented on #341
@milapshah15 I am closing this issue since it is inactive for 3 weeks, please reactive it if needed.

[2022-07-22 01:58] #341 closed

[2022-07-22 01:59] luhan2017 commented on #336
@inb18 , I am closing this since it is inactive for a long time, please reactive it if it is still needed

[2022-07-22 01:59] #336 closed

[2022-07-22 02:29] luhan2017 commented on #340
closed since inactive for long time, please reopen if needed.

[2022-07-22 02:29] #340 closed

[2022-07-22 02:29] #332 closed

[2022-07-22 02:30] luhan2017 commented on #325
So far no plan to support Google Business Messages channel.

[2022-07-22 02:30] #325 closed

[2022-07-25 09:30] xieofxie commented on #343
@[darrenparkinson](https://github.com/darrenparkinson) our login requires session cookie to be present. so if you don't signin in the same browser (from an email link etc.), the signin will fail.

[2022-08-05 16:17] ramfattah commented on #343
Closing due to inactivity. @darrenparkinson, please re-open if needed.

[2022-08-05 16:17] #343 closed

[2022-08-10 00:46] dweeb1937 commented on #324
Did they give any indication of what the cause was? I'm having a similar issue.
Similar? It does show bots, but long deleted ones, and none of the current ones. If I paste a current bot ID after the ?id= I get "Unable to find the bot with the specified ID".

[2022-08-10 01:04] MasonStricklin commented on #324
Here was their exact description of the problem:

I wasn't quite sure what to make of this. Since they had a hotfix, I simply waited until it was released and no further action was required on my end.

Your situation sounds somewhat different. Might be worth re-opening this issue, opening a new issue, or reaching out to Azure support.

[2022-08-11 09:43] Olakhrisat opened #345 "bot framework - web chat - uploading attachment with Arabic name"
Hi All,

I am using the default web chat from Microsoft and I have noticed while uploading an attachment with Arabic name that the upload API failed

![image](https://user-images.githubusercontent.com/59798587/184106655-9a8620d2-6b67-4175-ad06-e27ea9135085.png)
![image](https://user-images.githubusercontent.com/59798587/184106668-54a84e01-4fa2-4277-a502-90119f07c592.png)

any idea? how to fix this

[2022-08-23 09:02] sandhi23 opened #344 "Receiving The bot is not part of the conversation roster for few users"
Hi,

Our bot is not able to communicate with few users using our Teams personal app published on the Teams Catalog.

We have stored the the conversation reference when the app got installed. Sending any activity over that conversation gives
an error "The bot is not part of the conversation roster.','Stack':'Error: The bot is not part of the conversation roster."

This is happening on couple of Ten

[2022-08-26 03:21] luhan2017 commented on #344
@sandhi23, This is seems a Teams related issue, could you please contact Teams for this?

[2022-08-30 08:55] yashna-shravani commented on #102
Can anybody help with downloading the image through ContentUrl in Python. Not sure how authentication is done for Bot in MSTeams developed using SDK Python in this case

[2022-09-01 11:04] iliosana commented on #160
Hi @Jeffders, do you have any update on this?

[2022-09-01 23:56] amaroRafael opened #346 "Don't have access to my bots from Bot Framework Portal"
Issue Description
When I go to My Bots at Bot Framework Portal I can't find my bot.

Bot info of one of the already registered and working but now missing bots:
Bot Id: CINOLATeamsApp-local-debug
App ID: cb636e51-f9b3-49c6-8b94-66ad1a514d24
SDK Platform: .NET

The email that was associated is '@gome.ai'

[2022-09-02 09:56] ZiyuanGuo commented on #345
This issue had been already fixed, please try again.

[2022-09-02 10:01] #345 closed

[2022-09-05 23:12] ramfattah commented on #346
Hi @amaroRafael

It appears I'm also not able to see all of my bots at https://dev.botframework.com/bots
I noticed my bots only show up after creating a new bot here https://dev.botframework.com/bots/new

Checking with engineers on this issue and will report back soon. Thanks.

[2022-09-07 09:55] moooyo commented on #346
Hi @amaroRafael

we confirmed your information and found you submitted a request of clean up your privacy data to us. So, we removed you from the bot's owner list. This change usually occurs when someone leaving the organization. Can we confirm that what happened in 8/31/2022 12:00:26 AM(UTC)?

[2022-09-07 15:52] amaroRafael commented on #346
Hi @moooyo

Thanks for replying to me.

Let me explain the situation.
My account was in two organizations, two different tenants.
And I removed this account from one of the tenants. However, the tenant that I left was not the same tenant who is the owner of the bots.
So, it shouldn't have removed me from the bots.

I can provide you with the tenant ids to confirm this information if you need it.

[2022-09-08 06:17] boydc2014 commented on #346
Hi, @armaansood. I apologize for the inconvenience for the situation. We've identified an issue around handling tenant information when a data clean up request is triggered and we are working on a fix for it. But unfortunately, we can't simply bring it back for you as our process requires a little bit confirmation to recover your ownership.

I would suggest two options
1. If your current tenant ha

[2022-09-08 17:58] amaroRafael commented on #346
Hi @boydc2014

I was the bot owner, sometimes I also add my Manager as the owner of bots, but I don't remember if I included him this time. Can you at least let me know if there is any email of the owner included that is from "@gome.ai"?
If it doesn't have any email there, this means that I was the only owner of this bot.

About the 1. suggestion.
When I use the Teams Toolkit, it will auto-create

[2022-09-09 01:59] luhan2017 commented on #344
Close it for now, please feel free to reopen if needed.

[2022-09-09 01:59] #344 closed

[2022-09-09 02:50] boydc2014 commented on #346
Hi, @amaroRafael our log shows you were the only owner, thus there is no owner right now after clean up.

About suggestion 1. Yes, the approach you were using is basically Teams Studio calling Azure Bot Service(which is us) creating the record for you using your identify (individual identity) in dev.botframework.com and enabling Teams channel for that bot.  The functionality is the same when Teams

[2022-09-09 15:59] amaroRafael commented on #346
Hi @boydc2014 ,

Is it possible to remove this bot from botframework.com so I can use the same application to create a new bot?
I am asking this because we have an environment where this application is already in use by some users.

[2022-09-13 01:48] boydc2014 commented on #346
Yes, @amaroRafael we can do that. Can you help send a email with the original owner email (assume you still hold) to [bfwktriage@microsoft.com](mailto:bfwktriage@microsoft.com) and we can do the clean up

[2022-09-13 07:10] Jeff-Zhang-Github opened #347 "send message to AU/APAC with error 400,payload is incorrect"
## Version
springboot

## Describe the bug

`adapter.continueConversation(
                        appId, reference, turnContext -> turnContext
                                .sendActivity(message)
                                .thenApply(resourceResponse -> null)
                );`

when bot send message to AU(https://smba.trafficmanager.net/au/)/APAC(https://smba.trafficmanager.net/apac/) wi

[2022-09-15 16:01] ramfattah commented on #347
I've transferred this issue to the BotFramework-Services repository as there seem to be outages for users in Australia. Maybe someone here will have some ideas.

[2022-09-16 06:57] boydc2014 commented on #346
Bot has been cleaned up.

[2022-09-16 06:57] #346 closed

[2022-09-16 06:58] boydc2014 commented on #347
Thank you @ramfattah. This url is Teams service endpoint, i will open an internal ticket to Teams and see what they get.

[2022-09-23 12:49] mpelekh opened #348 "[Teams] Images are not accessible when are sent from MS Teams to the bot via message extensions"
**Images are not accessible when are sent from MS Teams to the bot via message extensions**

**Steps to reproduce:**
_1. Use the snipping tool anywhere on your screen._
_2. Paste it onto a message in a channel._
    <img width="400" alt="Screenshot 2022-09-23 at 15 18 35" src="https://user-images.githubusercontent.com/9514958/191958545-55c26833-232c-45b4-a648-47cd110bc8e7.png">

_3. Send._
_4. Sen

[2022-09-23 17:35] anishprasad01 commented on #348
Hi @mpelekh,

A few questions:

- What language are you using?
- What version of the Bot Builder packages are you using?
- How is this bot deployed?
- Does the behavior change depending on which Teams client or conversation you use?

[2022-09-26 09:14] mpelekh commented on #348
Hi @anishprasad01 !

Typescript.

`botbuilder`: **4.16.0**
`botframework-connector`: **4.16.0**
`botframework-schema`: **4.16.0**

The issue is reproducible for the bot application from AppSource as well as for the custom build application.
The bot is deployed as a node.js web server built with `restify` (**v. 8.6.1**) framework.

No, it doesn't. The behavior is the same for both Web and for Deskt

[2022-09-28 20:37] anishprasad01 commented on #348
I was able to reproduce this behavior. The bot is creating the Hero Card by getting the image from `messagePayload.body.content` as sent by Teams, and the `attachments` are indeed empty. You cannot simply access the URL provided in body, for security.

Let me verify if this is expected behavior or not, as that will inform next steps.

[2022-10-11 15:12] anishprasad01 commented on #348
@mpelekh,

Based on what I have heard from Teams and this [Teams documentation](https://learn.microsoft.com/en-us/microsoftteams/platform/messaging-extensions/how-to/action-commands/define-action-command) on messaging extensions, it appears that this functionality is expected behavior, and will not be changed. Further inquiries on this point should be directed to Teams, as we don't control this on

[2022-10-11 15:12] #348 closed

[2022-10-17 10:10] boydc2014 commented on #347
Sorry for the late response. I've opened ticket to Teams team in internal system and they've confirmed this is due to a recent regression they got related to Newstonsoft.Json update. They've fixed it at 9/13.  Things should be back then.

[2022-10-17 10:10] #347 closed

[2022-11-01 08:57] jacksonngoo commented on #228
Any update on this? Seems like it has not been updated for a couple of months.

[2022-11-02 10:40] Nivedipa-MSFT commented on #228
@jacksonngoo - We will check the status from engineering team and update you soon.

[2022-11-07 15:39] martinlarosa opened #349 "smba.trafficmanager.net/amer returning 404 when sending Teams message"
I'm receiving a lot of errors from the bot backend when trying to reply to a user in Teams. This is not happening to my particular user so I can't reproduce it.

The exception I'm seeing being logged is a Not Found being returned by:
POST `https://smba.trafficmanager.net/amer/v3/conversations/{id}/activities/{id}`

I'm using a C# bot with Bot Framework Composer  and using 4.17.2 version of the Bot

[2022-11-11 02:02] boydc2014 commented on #349
Hi, @martinlarosa this url is the Teams service url where bot sending messages to, is this a transient issue or a persistent issue?

If you have a few particular timestamps of failed requests, i can route this to Teams service team for further investigation.

[2022-11-11 15:35] martinlarosa commented on #349
It used to happen sparsely, but now it's happening a lot. Multiple times an hour when I created the ticket, less so now.

2022-11-11 01:56:22.352 UTC
2022-11-11 01:56:34.082 UTC
2022-11-11 02:19:13.028 UTC
2022-11-11 02:34:40.545 UTC

[2022-11-22 12:37] ahmedmahmoudR commented on #228
Any update on this?

[2022-11-22 12:40] Nivedipa-MSFT commented on #228
@ahmedmahmoudR - We are checking the status with the engineering team. We will let you know once we have any updates on it.