[2020-06-19 08:12] #221 closed

[2020-06-19 15:15] Vignesh25viswanat commented on #223
@dmvtech We will test this next week and test the workaround. Thank you for following-up

[2020-06-19 23:20] #179 closed

[2020-06-22 16:37] RootOfAllEval opened #226 "DirectLine Intermittently Throwing 429 Errors"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.9.3

## Describe the bug
DirectLine API throwing 429 errors intermittently during conversation operations.

## To Reproduce
I noticed while testing our bot

[2020-06-22 18:19] dandriscoll commented on #226
Hello, there are two possible causes for this issue:

1. Your client is sending traffic that has triggered our rate limiting logic. We have had bugs in prior versions of Web Chat and DirectLine-JS that can contribute to this problem. Please make sure any copies of Web Chat and DLJS are the latest version.
2. We occasionally encounter service instability that causes these 429s. We did experience th

[2020-06-22 18:20] dandriscoll commented on #226
If you happen to see 429s that persist beyond a few hours, even on the latest Web Chat, please send a conversation ID where you experienced the problem and we will investigate. (Conversation IDs are completely random and assigned by Direct Line.)

[2020-06-22 18:57] RootOfAllEval commented on #226
Thanks for the response @dandriscoll! The pattern of instability you mentioned does seem to fit the cases I've seen on my end, so it seems like it's most likely a service issue. Are there any steps we can take on our end to mitigate such issues? Our bot has high visibility with our customers, so we get a lot of reports during degradations/downtime. Also, it doesn't seem like the [Azure Status page

[2020-06-22 20:08] dandriscoll commented on #226
The most important thing you can do is to make sure your version of Web Chat and DLJS are updated. This is the primary contributor to 429 errors.

We update the Azure Status page when an issue persists, but typically we are able to resolve the issue before those updates are posted and visible.

I'll close this issue now as the service problem has been mitigated. (In the event that it resurfaces, w

[2020-06-22 20:08] #226 closed

[2020-06-22 20:10] anusharavindrar commented on #224
@turbozapekanka, a fix for this has already been checked in this week's build. You should be able to test it out by early next week.

[2020-06-23 07:19] Gousia-MSFT commented on #220
@craigcliff We were able to identify the root cause of the issue. We have raised a bug to track this.

[2020-06-23 17:18] #224 closed

[2020-06-23 17:36] varunbmallik opened #227 "Choice Prompt not rendering as buttons for bot enabled with Direct Line Speech Channel"
## Screenshots

![image](https://user-images.githubusercontent.com/61541615/85034595-e3eb8180-b19f-11ea-9c98-fc036e0c9a55.png)

## Version

NPM node module botbuilder4.8.0

## Describe the bug
Choice prompt values are rendering as string values instead of buttons for bot enabled with Direct Line Speech channel.

## Steps to reproduce

Create a NodeJS basic bot (not echo bot)
Setup DirectLineSpeech

[2020-06-23 17:37] cwhitten commented on #227
Currently flagged as a Direct Line Speech Service issue. cc @NickEricson

[2020-06-23 23:52] stevkan commented on #222
Closing as resolved.

[2020-06-23 23:52] #222 closed

[2020-06-24 05:46] baki32 commented on #218
Hi, sorry I have missed your question - I am running iOS 13.5.1 and also latest Teams client 2.0.14

[2020-06-24 09:45] craigcliff commented on #220
@Gousia-MSFT
Thanks, the bug appears to be happening more frequently.  Yesterday in particular the error occurred 4 times:

[2020-06-25 10:34] mrakn opened #228 "[Teams] Message size limits and adaptive cards (413 RequestEntityTooLarge / MessageSizeTooBig)"
I have chatbot powered by .NET Bot Framework V4 and the primary communication channel that is used to communicate with the bot is Microsoft Teams.

I have a use case where based on user's input I call an APIs and based on the responses I dynamically build the adaptive card that is then sent to the user. There are however few instances, where trying to send the AC to the user results in error 413 -

[2020-06-25 16:33] dmvtech commented on #223
Just touching base. Any update?

[2020-06-25 16:45] dandriscoll commented on #228
@Wajeed-msft can you assist?

[2020-06-25 23:51] compulim commented on #227
Thanks @EricDahlvang, great simple explanation. ❤

@stevengum sync-ed with Jitendra from DLSpeech team. They have a fix in their head, just need to dump it out. 😉

[2020-06-26 05:46] NandaCodeBox commented on #169
Even i am facing the same issue. Raised new issue in the "Company COmmunicator" repository.

If there is any solution for this fatal issue would be really helpful.

Issue URL: https://github.com/OfficeDev/microsoft-teams-company-communicator-app/issues/178

[2020-06-26 05:51] NandaCodeBox commented on #213
Even i am facing the same issue. Raised new issue in the "Company Communicator" repository.

If there is any solution for this fatal issue would be really helpful.

Issue URL:
OfficeDev/microsoft-teams-company-communicator-app#178

Same issue reported:
https://github.com/microsoft/BotFramework-Services/issues/169

[2020-06-26 08:02] Gousia-MSFT commented on #220
@craigcliff Thanks for sharing this information. We are actively working on the bug fix.

[2020-06-26 16:53] dmvtech commented on #207
@anusharavindrar is investigating

[2020-06-26 17:17] MichaelHaydenAtMicrosoft commented on #212
Closing

[2020-06-26 17:17] #212 closed

[2020-06-26 17:39] Vignesh25viswanat commented on #223
@dmvtech We were able to general an embed URL based on oauthV2 after we deleted and created the channel again. However, the scope contains more permissions than we requested on api.slack.com. Based on @youyu16 we would need to modify the scope on our own to tailor it to the permissions we requested on slack api?

[2020-06-26 18:16] arturl commented on #223
@Vignesh25viswanat, right -- look at the scope parameter in the generated link (`https://slack.com/oauth/v2/authorize?scope=your_scopes_here`) and replace it using any of the scopes from [https://api.slack.com/scopes](https://api.slack.com/scopes).

[2020-06-26 20:09] Vignesh25viswanat commented on #223
I can confirm that this works. Thank you!!

[2020-06-26 20:18] arturl commented on #223
Thank you for confirming!

[2020-06-26 22:00] dmvtech commented on #223
Closing this as resolved.

[2020-06-26 22:00] #223 closed

[2020-06-29 00:35] Crazedpeanut commented on #213
Hey @NandaCodeBox, I am speaking with Teams support. I'll update this issue once we find a solution

[2020-06-29 05:09] NandaCodeBox commented on #169
Hi Team. Will be there any update ?

[2020-06-29 05:09] Subhasish-msft commented on #213
@Crazedpeanut  @NandaCodeBox , Can you please share your bot id and timestamp of the issue?

[2020-06-29 05:28] NandaCodeBox commented on #213
"botId": "63666cdf-1bed-4816-931f-d8453578961f",

On Mon, Jun 29, 2020 at 10:39 AM Subhasish <notifications@github.com> wrote:

[2020-06-29 05:36] Subhasish-msft commented on #213
@NandaCodeBox , Can you please share the timestamp of the reported issue?

[2020-06-29 05:44] NandaCodeBox commented on #213
@Subhasish-msft <https://github.com/Subhasish-msft>,

Please refer to the below time stamps..as you can refer there are only 2
receptenst are receiving messages but i have installed this apps for three
more in addition to the current two users.

[image: image.png]

On Mon, Jun 29, 2020 at 11:07 AM Subhasish <notifications@github.com> wrote:

[2020-06-29 05:44] NandaCodeBox commented on #213
@Subhasish-msft,

Please refer to the below time stamps..as you can refer there are only 2
receptenst are receiving messages but i have installed this apps for three
more in addition to the current two users.

![image](https://user-images.githubusercontent.com/17465542/85977192-bac9bd00-b9f9-11ea-8d87-90bce289e273.png)

[2020-06-29 12:05] Subhasish-msft commented on #213
@NandaCodeBox , The shared screenshot is for sending message time stamp.  We need sideloading timestamp to investigate the bot event issue.

[2020-06-29 13:53] NandaCodeBox commented on #213
it is just a few minutes back exactly on the same day.

On Mon, Jun 29, 2020 at 5:35 PM Subhasish <notifications@github.com> wrote:

[2020-06-30 04:08] NandaCodeBox commented on #213
@Subhasish-msft <https://github.com/Subhasish-msft>,  Is there any update
on this?

On Mon, Jun 29, 2020 at 7:23 PM Nanda kumar <nandhu.se@gmail.com> wrote:

[2020-06-30 05:19] Subhasish-msft commented on #213
@NandaCodeBox  We checked the log about the bot, and it says the bot is disabled by the tenant admin. This permission issue is why the bot cannot get any events. Could you please check whether the admin disabled the bot?

[2020-06-30 06:27] baki32 commented on #218
Hello, is there any update?

[2020-06-30 11:52] NandaCodeBox commented on #213
No, I have set the appropriate permission and setup policies. Please refer below. Also the Apps were successfully displayed in Side Rail in Teams.

Could you please let know where this configuration need to be checked. Link would be helpful.

Screenshots from https://admin.teams.microsoft.com/

Permission Policies

![image](https://user-images.githubusercontent.com/17465542/86122399-66a40300-baf5-

[2020-06-30 21:40] Andrea-Orimoto opened #229 "Move localization pipeline secrets to keyvault"

[2020-07-01 22:21] TurinTur opened #230 "Alexa channel - certification by Amazon"
Hi, I created an Azure Bot and connected it to a simple QnAMaker service. This bot is connected to the Alexa channel following the steps here
https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-alexa?view=azure-bot-service-4.0

This is so recent that I wonder if it has been truly tested and validated. The issue is, I'm trying to deploy a Alexa skill connected to the bot,

[2020-07-02 04:50] shaikShehanaaz opened #231 "MS teams - adaptive card - toggle visibility buttons are highlighted by default"
Following is the JSON, in which we are trying to display weather info:
`{
        "type": "AdaptiveCard",
        "version": "1.2",
        "body": [
          {
            "type": "ColumnSet",
            "columns": [
              {
                "type": "Column",
                "width": "stretch",
                "items": [
                  {
                    "type": "TextBlock",

[2020-07-02 04:52] shaikShehanaaz commented on #231
This is how it is rendered:

![image](https://user-images.githubusercontent.com/37263235/86317757-df1dd780-bc4d-11ea-88fe-9b3a49fc0508.PNG)

[2020-07-02 16:12] jwiley84 commented on #230
If Amazon put in a restrictive process in the last month since that doc was published, we're unaware. That being said, I can attempt to repro your issue and see if I can track down what's going on.

[2020-07-03 07:00] Trinetra-MSFT commented on #218
We have an Bug for this.  we will update once it is resolved

[2020-07-03 16:57] haacked commented on #208
@dmvtech this is happening again. Has there been any recent changes/deployments?

[2020-07-03 17:01] haacked commented on #208
Ok, this seems to be on my side. Somehow my Slack app permissions changed and when I reinstall the app, it started working again. I'm unclear on what permissions are needed to get the correct behavior here, but it seems to be between me and Slack. :smile:

[2020-07-06 17:58] jwiley84 commented on #231
Hi @shaikShehanaaz

Does this behaviour persist if you use the dark mode on teams? Or is it light mode only? There are some behaviours (the colors of the buttons in teams for instance) that are limited by channel. Are you trying to change the color entirely, or is the button not behaving as expected?

[2020-07-06 19:39] anusharavindrar commented on #207
This is an issue with downloading media from teams, and the problem is being tracked [here](https://github.com/MicrosoftDocs/msteams-docs/issues/1805).

[2020-07-06 19:39] #207 closed

[2020-07-07 09:40] NandaCodeBox commented on #213
Hi @Subhasish-msft,

Is there any update ?

[2020-07-08 04:24] Subhasish-msft commented on #213
@NandaCodeBox , There are two manifests for Company Communicator. Can you try adding both app Ids to app setup policy. It seems you are getting the exception because of a different AppId.

[2020-07-08 04:51] NandaCodeBox commented on #213
@Subhasish-msft, Just to clarify.I have cross checked ones again as per the deployment documentation the author and user manifest holds the same bot id.

[2020-07-08 14:16] NickEricson commented on #230
@garypretty for the question regarding the 'phrase' slot.

Hi TurinTur,

I'll answer some questions and we may need to follow up for some others.
_The session being left open_
Currently the session remains open by default. We will change that with the next release to close it by default - that should be deployed next week (there potentially could be delayed due to things outside our control).

_Th

[2020-07-08 14:23] garypretty commented on #230
@TurinTur For the phrase slots, can you confirm that you updated the "<EXAMPLE PHRASE>" elements listed [in the JSON](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-alexa?view=azure-bot-service-4.0) to be relevant to your skill?  This method of publishing to Alexa has been proven out in the community for the last 18 months before the channel was enabled within Azure

[2020-07-09 05:04] fj4870 opened #232 "Contact Center Integration with Microsoft Bot Framework"
I am developing a Chatbot using Direct Line for webchat and I want to redirect my Users to Live Agent whenever they are not happy with Bot response by following options

1) Live Skype Call from webchat
2) Voice Call to Avaya Contact Center

Do we have any plugins or libraries which can help me these integrations.

[2020-07-09 09:50] rrc2k4 opened #233 "DirectLine#There was an error sending this message to your bot: HTTP status code GatewayTimeout"
We have noticed "There was an error sending this message to your bot: HTTP status code GatewayTimeout" error intermittently for our bot in direct line channel while it works fine in web channel.

SDK Platform: .NET
SDK Version: V3
Microsoft.Bot.Builder:3.12.2.4
Microsoft.Bot.Connector:3.12.2.4

Issue is not consistent, it happens intermittently. Had this issue on 1st July 2020 for 4-5 conversation

[2020-07-09 16:54] arturl commented on #232
Hi @fj4870, you can start reading our high level guidance here: http://aka.ms/bfhandoff. At the end of that page you will find links to GitHub samples for integration with LivePerson and Microsoft Omnichannel. Other customers already have used these samples to implement integrations with ServiceNow, RingCentral and others agent engagement systems.
We don't have Avaya Contact Center integration, bu

[2020-07-09 16:56] arturl commented on #233
Hi @rrc2k4, thanks for your report. We will look at the telemetry on our end and let you know what we see.

[2020-07-09 22:35] dmvtech commented on #232
[Bot builder community](https://github.com/BotBuilderCommunity) would be a great place to submit samples if you come up with them.

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the pre

[2020-07-09 22:35] #232 closed

[2020-07-10 05:44] arturl commented on #233
@rrc2k4, I see that the first two conversations failed because the bot failed to respond in 15 seconds. Total bot time was 16132 ms and 15726 ms correspondingly. The error is reported as "Failed to send activity: bot timed out"
The third conversation (m1SS1l0mUmogH3w7QtHI-6) actually succeeded although it also took quite long (8737 ms).

So, what I see point to a problem with the bot, but me know

[2020-07-10 07:54] rrc2k4 commented on #233
Thanks for the detailed analysis. Could you please help to analyse this conversation id as well AWsbW9vK8Wa6VqbwDxJ7Jk-j
I missed out mentioning this id, this is the first conversation id which has started this issue, i believe it never reached the bot.

Regarding m1SS1l0mUmogH3w7QtHI-6 conversation id , bot responded(8737ms) below 15 seconds right , so it should have been a valid scenario then wh

[2020-07-10 10:10] rrc2k4 commented on #233
We further did analysis of requests reached to our bot services hosted in our data center and found below details. Was only able to get  2 conversation ID's from directline so based on those details here is our analysis.
1) ConversationID:H8dDuLyjdICspPZa4v49u-5

ActivityID | DirectLine   TimeStamp | Acitivity | Message | Processed by   Bot Service | Observation
-- | -- | -- | -- | -- | --
H8dDuLy

[2020-07-10 10:17] rrc2k4 commented on #233
I was only able to pull conversations from directline only for 2 ID's using https://directline.botframework.com/v3/directline/conversations/<<conversationid>>/activities url but for other id's it always gives  output as below, it doesn't returns conversation activities.
{ "activities": [], "watermark": "1009"}
And from activityhistory url (https://directline.botframework.com/v3/directline/conversa

[2020-07-10 16:47] yoagauthier opened #234 "Buttons not working on Slack when creating new bot"
Hello !

## STR
I want to create a new bot on Slack for 1-to-1 messages. This bot uses buttons

1. Created a Slack App following the [doc](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-4.0&tabs=abs) (no up to date regarding Bot user by the way)
2. Connected the Bot Channel Registration to my backend
3. I send a text message from Slack t

[2020-07-10 16:53] arturl commented on #234
Thanks for the report, we're taking a look now.

[2020-07-10 17:00] arturl commented on #234
I confirm that we recently added support for Slack V2 scopes. All newly configured Slack channels will use the V2 scopes. The link you pasted into the href value of the HTML contains scopes that can be refined as needed. Consult [https://api.slack.com/scopes](https://api.slack.com/scopes) for the full list of available scopes.

Let us know if you can make it work by tweaking the scopes. In the mea

[2020-07-10 17:07] yoagauthier commented on #234
What do you mean by the _link pasted into the href value_ ? You mean the one from the Channels tab ?
![image](https://user-images.githubusercontent.com/19170035/87180103-2fe1a000-c2e0-11ea-9391-4385c600fc9d.png)

I can see that it seems to contains some v2 Slack scopes indeed, I'll try to add some others.

[2020-07-10 17:48] arturl commented on #234
Yes, it's the link in the HTML that has the button, something like this:

[code]

[2020-07-10 23:19] arturl commented on #233
@rrc2k4, I looked at the conversation AWsbW9vK8Wa6VqbwDxJ7Jk-j and found that it failed because of an issue in our service (failure in an in-memory database we depend on). I started an investigation and we'll be tracking this issue internally. Please accept my apologies on behalf of the product.

To get the list of activities, use the following syntax:
`/v3/directline/conversations/{conversation-i

[2020-07-13 08:52] rrc2k4 commented on #233
Thanks for the details, will wait for your update on service failure.

[2020-07-13 15:57] Andrea-Orimoto commented on #229
Tracking work item for Bruce. Localization pipeline in VSO needs secrets stored in keyvault like other pipelines.

[2020-07-13 23:40] arturl commented on #233
I'm tapping my collogue @rajivpb who let me know that the fix for the issue is already in the works and should be deployed soon. We will close this issue once the fix is out.

[2020-07-14 06:29] Trinetra-MSFT commented on #228
@mrakn ,  Currently message size limit is 28 kb. Please raise a user voice for this so we can take up for feature request.

[2020-07-14 08:26] rrc2k4 commented on #233
Sure,will wait for the fix. Thanks for the update.

[2020-07-15 02:45] clearab commented on #228
Unfortunately no, this is the limit currently. The team is exploring the possibility of increasing it in the future.

[2020-07-15 02:45] #228 closed

[2020-07-17 18:30] hhasenauer opened #235 "ExtractEntityMetadata crashes on specific entity"
## Version
"Microsoft.Bot.Builder" Version="4.9.3"

## Describe the bug
An specific german entity, namely "**Sicherheitsdienstmitarbeiterinnen**" throws an exception in LuisUtil:ExtractEntityMetadata() when calling .RecognizeAsync() on the Dispatch Model.

## To Reproduce
I have created a minimal .lu example to generate a LUIS Language Model to reproduce the error.
[code]

And here the matching Di

[2020-07-17 18:48] MichaelHaydenAtMicrosoft commented on #235
Transferred from support team and acknowledged.

[2020-07-20 00:58] karangupta8 commented on #160
Hi @Jeffders , I have the same issue in my org where cyber security has pointed out this vulnerability of CSRF attack.
I see this thread is 6 months old. Is there any new ETA on the feature release of verifying request headers?
Our org will not let us use a preview feature in production. Is there any other alternate that can be used to fix this issue?
It'll be highly appreciated as it has become a

[2020-07-20 01:05] karangupta8 commented on #136
Hi @jameslew , has this been fixed yet? If yes, where can I find the steps to reciprocate the solution?

[2020-07-20 07:02] Nikitha-MSFT commented on #231
When you add an action inside the column the button will render with blue background,If you add button directly to card without using column the button will render with white background.
Could you please try this sample JSON:
`{
    "type": "AdaptiveCard",
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "version": "1.2",
    "actions": [
        {
            "type": "Acti

[2020-07-23 12:01] apurva1112 commented on #161
![download](https://user-images.githubusercontent.com/42499837/88284053-581ec500-cd0a-11ea-9c10-3f1be2897215.png)

[2020-07-23 12:02] apurva1112 commented on #161
![download](https://user-images.githubusercontent.com/42499837/88284103-708edf80-cd0a-11ea-89f0-a26a08af6ab0.png)

[2020-07-24 01:58] mxie220 opened #236 "Azure Bot Internal Server Error with DirectLine and Web Chat channel"
**I keep getting internal server error when trying to test the bot from the Azure portal:**
![image](https://user-images.githubusercontent.com/16497068/88354119-3c1b3200-cda3-11ea-854d-a0a7713f6561.png)
**Hooked it up to App Insights to check what the error was and this was the call stack I got:**
Microsoft.Bot.Schema.BotException:
   at Microsoft.Bot.ChannelConnector.BotAPI+<PostActivityToBotAsyn

[2020-07-24 05:21] arturl commented on #234
The fix has been deployed. If you still see an issue, let us know

[2020-07-24 05:21] #234 closed

[2020-07-24 05:48] arturl commented on #205
@compulim, looking at WebChat repo I don't see the support there. Can you confirm?
We do support it in some channels that allow it, for example Telegram.

[2020-07-24 10:24] MikeCardiff opened #237 "Direct Line channel - SendActivityAsync receiving 503 Service Unavailable"
Using the C# SDK we are calling:
[code]
Since this morning (roughly 7am UTC) we have started receiving a 503 Service Unavailable message when sending messages. It happens often, but not all the time. This screenshot from App Insights shows the failure:
![image](https://user-images.githubusercontent.com/63668650/88382299-10e31380-cda0-11ea-9374-bc633314b804.png)

 Sending a message again after the

[2020-07-24 10:28] chatbotalex opened #238 "DirectLine works intermittently (502 / 503 error codes)"
Hi there,

Can you please tell me if DirectLine is experiencing some problems right now? We have lots of 502/503 errors in requests

![image](https://user-images.githubusercontent.com/45290552/88382274-ca49e500-cdb0-11ea-9f07-cd533c17b5c3.png)

Request URL:https://directline.botframework.com/v3/directline/conversations/8eM0OdqP3Z3IZ7smB7w1Ym-h/upload?userId=c83d1d8d-9463-4c8a-af23-a00db7606598
Req

[2020-07-24 10:30] reizY10 commented on #238
We are experiencing the same issues!

[2020-07-24 10:40] chatbotalex commented on #238
Another example

Request URL:https://directline.botframework.com/v3/directline/conversations/C46gOO3jIbO4QZl4E0cp51-h/upload?userId=1ac40575-3df6-4bc3-9474-46a83d67ee1a
Request method:POST
Remote address:62.217.251.222:8080
Status code: 503 Service Unavailable
Version:HTTP/2.0
Referrer Policy:no-referrer-when-downgrade

[2020-07-24 10:45] chatbotalex commented on #237
Same here

Request URL:https://directline.botframework.com/v3/directline/conversations/C46gOO3jIbO4QZl4E0cp51-h/upload?userId=1ac40575-3df6-4bc3-9474-46a83d67ee1a
Request method:POST
Remote address:62.217.251.222:8080
Status code: 503 Service Unavailable
Version:HTTP/2.0
Referrer Policy:no-referrer-when-downgrade

[2020-07-24 12:42] MikeCardiff commented on #237
Just an update for anyone having the same issue.

I've had a reply from Azure support. They have said that the Direct Line channel is having a region outage at the moment and they are working on a fix.

[2020-07-24 13:27] Jeffders commented on #238
Thank you for reporting. I can confirm that there was a period where Direct Line in West Europe was returning 503s and 502 gateway timeouts intermittently. Our live site team engaged on the issue and it is resolved now. Please let us know if you continue to see issues with these API calls.

[2020-07-24 13:27] #238 closed

[2020-07-24 13:49] MikeCardiff commented on #237
Azure support have confirmed that the isse has been resolced. Closing it here too.

Thanks!

[2020-07-24 13:49] #237 closed

[2020-07-24 19:54] stevkan commented on #236
Is this a deployed bot or are you running locally with tunneling software (like ngrok)? If it has been published, can you verify you have both the MicrosoftAppId and MicrosoftAppPassword values set in the App Service Configuration?

You also mention the bot is communicating with the QnA service. How are you verifying this if the bot is not spinning up?

[2020-07-24 21:59] MichaelHaydenAtMicrosoft commented on #233
Fix has deployed that should fix this problem. Closing issue for now.

[2020-07-24 21:59] #233 closed

[2020-07-26 14:42] saikumaru opened #239 "Please add documentation on retrieving user profile details from Alexa channel"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
Currently there is no documented way of retrieving User Profile from Alexa channel. The same is available for Teams channel.

**Describe the soluti

[2020-07-27 12:58] rrc2k4 commented on #233
Thanks for the update and for the fix.

May we ask some brief technical description of the issue and the fix provided, We have to inform our clients.

Thanks & Regards,
Ravi

[2020-07-27 16:53] arturl commented on #233
This was an issue with Redis component that we depend on. We upgraded the version of the Redis client that should fix it based on our analysis.

[2020-07-28 11:17] MatthiasWeibel commented on #213
@clearab - any updates on this from the Teams support team? We are blocked because of this issue.

[2020-07-28 11:37] Subhasish-msft commented on #213
@NandaCodeBox , Did you try to add both app Id in allowed app list ?

[2020-07-28 15:50] NickEricson commented on #239
@saikumaru The Alexa channel is actually running the Alexa adapter you linked at it's core. So, almost always, the method is the same.

@garypretty Do you have any docs on how to get the linked account / user profile info for Alexa?

[2020-07-28 15:50] NandaCodeBox commented on #213
@Subhasish-msft  Yes did tht ! are u able to reolicate this issue ? Have you tried adding this app to more than 3 users?

[2020-07-29 12:39] jwsheppa commented on #213
@Subhasish-msft I am running into the same issue with our organization. It looks like installing the application using the App Setup Policies in Teams will not register a conversation ID with the bot (Company Communicator).

[2020-07-29 13:37] NandaCodeBox commented on #213
@nishandi, Is this issue got resolved. We have been waiting for many days. Please do support.

[2020-07-29 13:56] Subhasish-msft commented on #213
@NandaCodeBox  As the log says bot is disabled by tenant admin, Can you please verify the "AllowedTenants" config value of the web app in azure portal. It should be same tenant as your MS Teams.

[2020-07-30 15:24] milazzom opened #240 "Teams channel and PostBack behavior for adaptive card action"
When a user selects a card action (with the postBack type) in a Teams chat, the title (or text) of the action is being sent back to the bot as a message from the user, instead of the data value that is configured on the card.

Expected behavior: User clicks on button embedded in an adaptive card (button is a cardaction w/ postBack type).  Card action value payload is sent silently to the bot, whic

[2020-07-30 15:38] milazzom commented on #240
UPDATE:  When using the Teams channel, it looks like the CardAction's text property is being sent back to the bot silently, while showing the title property of the card as the message from the user within the channel.

[2020-07-30 16:30] v-kydela commented on #240
@milazzom - There seems to be some confusion here. You say you're using an Adaptive Card, but the terms "CardAction" and "postBack" only apply to Bot Framework cards, also known as rich cards. Teams has a way of having Adaptive Card submit actions mimic some rich card actions, but postBack isn't one of those. My blog post may help clear some things up for you: https://blog.botframework.com/2019/07

[2020-07-31 09:46] saikumaru commented on #239
@garypretty please can you advise us.
We would really need this piece of data in order to extend our Bot to wider audience.

[2020-07-31 17:05] MichaelHaydenAtMicrosoft commented on #230
Please advise if issue is resolved. Otherwise we will close

[2020-07-31 17:05] #230 closed

[2020-07-31 18:03] arturl commented on #231
@shaikShehanaaz, I hope the solution from @Nikitha-MSFT works for you. If not, feel free to reactivate.

[2020-07-31 18:03] #231 closed

[2020-08-03 08:52] Gousia-MSFT commented on #240
@milazzom Are you facing this issue in Teams channel? Could you please share some code snippet on how you are sending the data on submit?

[2020-08-03 13:06] mrakn opened #241 "[DirectLine] Increased amount of ServiceError failures when replying to user"
I have V4 bot built using .NET SDK that is deployed to MS Azure and uses DirectLine as its communication channel.

Randomly when I try to send message **from bot backend to end user** using library method `ReplyToActivityWithHttpMessagesAsync`, the DirectLine call fails with 500 (InternalServerError) with following response payload:
`{ "error": { "code": "ServiceError" } }`

I have checked the log

[2020-08-03 21:12] cleemullins commented on #204
Spoke with @tacri and She will sync with @Wajeed-msft to figure out how to drive this forward.

[2020-08-03 21:15] cleemullins commented on #213
@NandaCodeBox Any updates on this? Per @Subhasish-msft this looks like a per-tenant issue. Can you confirm?

We'll close this out next week (8/10) if we don't hear back.

[2020-08-03 21:21] NandaCodeBox commented on #213
@Subhasish-msft <https://github.com/Subhasish-msft>  /  @cleemullins   No
not at all. Actually I have already provided the artifacts which are
required. Currently the tenant is dissolved. No more access to the
resources in the Subscription.

Also there are multiple people facing the same issue. I would request you
not to close this issue.

On Tue, Aug 4, 2020 at 2:45 AM Chris Mullins <notification

[2020-08-03 21:22] cleemullins commented on #240
@milazzom It seems, based on the feedback from @v-kydela  and @Gousia-MSFT that this is something we can close out. Are you able to confirm this works as intended now?

[2020-08-04 02:20] cleemullins commented on #213
@NandaCodeBox Understood.

@Subhasish-msft  - Can you please advise review this, and recommend a path forward?

[2020-08-04 06:23] Wajeed-msft commented on #213
Internal Tracker: [Bug 952901: No ConversationUpdate event when sideloading or installing bot via organization catalog](https://domoreexp.visualstudio.com/MSTeams/_workitems/edit/952901)

[2020-08-04 06:25] Wajeed-msft commented on #218
Internal Tracker: [Bug 954637: DeleteActivityAsync doesn't work on Teams app on iOS](https://domoreexp.visualstudio.com/MSTeams/_workitems/edit/954637)

[2020-08-04 06:26] Wajeed-msft commented on #204
Internal Tracker: [Bug 889851: & in user names causes mentions to miss text property](https://domoreexp.visualstudio.com/MSTeams/_workitems/edit/889851)

[2020-08-04 06:29] Wajeed-msft commented on #220
Internal Tracker: [Bug 2187287: SMBA maps all 404 responses to return "Conversation not found" error message](https://skype.visualstudio.com/SCC/_workitems/edit/2187287)

[2020-08-04 18:52] stevkan commented on #236
Closing due to lack of response. If the issue persists, please feel free to re-open.

[2020-08-04 18:52] #236 closed

[2020-08-05 22:18] BruceHaley commented on #229
Done. Key vault location: https://ms.portal.azure.com/#@microsoft.onmicrosoft.com/resource/subscriptions/a063f4ff-3220-4977-8aaf-c9682e9869a3/resourceGroups/BotFrameworkSDKPipelinesKeyVaultsRG/providers/Microsoft.KeyVault/vaults/IntercomKeyVault/secrets

[2020-08-05 22:18] #229 closed

[2020-08-06 15:45] saikumaru commented on #239
@NickEricson can you please recheck if the right person was tagged and if you can reassign appropriately.

I need this information before I can publish the Alexa skill in marketplace. If you can let me know with a Yes/No about the possibility with current state of channel libraries, it would very much helpful.

Thank you!

[2020-08-07 17:22] MichaelHaydenAtMicrosoft commented on #241
Thank you for posting. Could you please provide specific conversation IDs for where you see the failures?

[2020-08-07 17:37] arturl commented on #205
Not supported.

[2020-08-07 17:37] #205 closed

[2020-08-07 20:31] v-kydela commented on #240
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2020-08-07 20:31] #240 closed

[2020-08-07 22:36] arturl commented on #189
At this point there is no ETA on when this feature becomes available, closing the issue.

[2020-08-07 22:36] #189 closed

[2020-08-08 00:55] NickEricson commented on #239
Hi - As you probably know Alexa gives can give you the user id of the speaker and device owner. The easiest way to get these ids is from the ChannelData in the Activity. The ChannelData will include the full SkillRequest from Alexa.

https://developer.amazon.com/en-US/docs/alexa/custom-skills/request-and-response-json-reference.html#request-body-syntax

see: session.user.userId and context.System.

[2020-08-08 02:09] saikumaru commented on #239
Thank you for your elaborate reply @NickEricson this is really helpful.
I will go back and try the series of steps you have outlined.

Just wondering if you will be adding the same to the channel specific documentation for future reference.

[2020-08-10 05:04] mrakn commented on #241
Hi @MichaelHaydenAtMicrosoft, below is table with the more details. Regarding conversation ids, I included **only first 12 characters**. And regarding activity id, not sure how accurate it is, but I grabbed it from request url.

UTC timestamp | Conversation id | Activity id
--- | --- | ---
2020-07-03T04:59:29.1334462Z | 7j8ba4K35awE | 0000005
2020-07-07T18:20:20.0968174Z | 7OFlRCbTn9eI | 0000035
2

[2020-08-10 19:07] craigcliff commented on #220
Hi,

I'm unable to access the link above - i get an access denied page.

Is there any progress on this issue?  It appears to be happening more frequently of late.

[2020-08-10 20:15] tacri commented on #213
The fix for this issue is being rolled out, ETA for WW deployment is the end of this week.

[2020-08-10 20:38] tacri commented on #220
@craigcliff , are you still seeing this issue? There was a bug related to PUT requests which was fixed and deployed WW. At this point the "Conversation not found" should be returned **consistently** for a given thread/activity if the channel or message was deleted and the bot is trying to update it.

[2020-08-11 05:22] mrakn commented on #241
Here are few more erroneous scenarios that happened in the meantime. Instead of getting ServiceError back, these requests simply timed out after 100 seconds. Again I included only first 12 characters of conv id.

UTC timestamp | Conversation id | Activity id
--- | --- | ---
2020-08-10T15:03:07.7602982Z | HbjVMYurA0OC | 0000000
2020-08-10T16:22:05.960295Z | D2SkOrp2iQZ8 | 0000000

[2020-08-13 14:25] collegewap opened #244 "Ability to retain conversation history in Directline Speech"
## Feature Request

**Is your feature request related to a problem? Please describe.**

As mentioned in https://github.com/microsoft/BotFramework-WebChat/issues/2573, directline speech does not support retaining conversation history.

**Describe the suggestion or request in detail**

Since the [a.direct-line-speech](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/03.speech/a.

[2020-08-14 05:58] sivakumar1302 opened #243 "Microsoft.Bot.Schema.BotException An error occurred while sending the request. The remote name could not be resolved: 'hpusstoredevbot.corp.hpicloud.net'"

[2020-08-14 17:03] NickEricson commented on #239
Hi @saikumaru - Let me know how it goes.

I will think about how we can improve our documentation. This would be a good addition.

[2020-08-14 18:04] krisrok opened #242 "Add StreamingConversations sample"
The samples use polling and an external library (websocket-sharp) but should also cover the Microsoft.Bot.Streaming.Transport.WebSockets.WebSocketClient the StreamingConversations APIs use.

An example is outlined here: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-net-client?view=azure-bot-service-4.0

[2020-08-14 18:08] krisrok commented on #242
Hey @EricDahlvang, sadly I could not get it to work with our bot using the code on the linked site. But I am using it in Unity3D _and_ have no access to the bot configuration on azure so it's not an ideal testbed.

[2020-08-14 20:22] EricDahlvang commented on #242
Unfortunately, that document mistakenly points to 'nuget' as the source to find Microsoft.Bot.Connector.DirectLine 3.0.3-Preview1 when in fact, it is currently only published here: https://botbuilder.myget.org/feed/experimental/package/nuget/Microsoft.Bot.Connector.DirectLine

We are in process of releasing this to nuget, but will update that doc with the correct link in the interim.  Apologies fo

[2020-08-14 21:10] krisrok commented on #242
I used the source directly. Are the concepts outlined in the linked document not applicable to the version maintained „here“? (Quotation marks because the issue got moved for whatever reason)

[2020-08-14 21:13] krisrok commented on #242
Oh and the doc mentions you have to subscribe to the myget feed.

[2020-08-14 23:27] v-maji opened #245 "when use a invalid security token to post a message, I get the exception on null conversation, expect forbidden exception"
I am try to create a negative test for DL in that when I use dummy security token, I would expect forbidden exception (httpStatusCode 403 throw.  Instead I got this:

"Assert.IsNotNull failed. Failed to start a conversation."

This is not helpful to point out the root cause of problem which is invalidate security token.

[2020-08-15 00:32] EricDahlvang commented on #242
You used the source directly?  Please elaborate on the issues you encountered.

[2020-08-17 11:21] AnaHencheIB commented on #213
We have the same problem in Iberia (Tracker: 21381623) ... could you tell us if the problem has been solved or how to solve it?
Thx in advance!

[2020-08-17 20:47] tacri commented on #204
The root cause has been identified and we are investigate possible fixes for the issue.

[2020-08-17 21:31] clearab commented on #220
Hi! I'm going to go ahead and close this issue, please let me know if the issue persists.

[2020-08-17 21:31] #220 closed

[2020-08-20 04:42] rungsoso opened #246 "Why Line channel alway send push messages"
The [Line channel ](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-line?view=azure-bot-service-4.0) Why is Line channel alway reply user by sending push messages(Paid message)? Why not send a reply message(free message) that can be sent up to 5 messages?

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should

[2020-08-24 06:14] baki32 commented on #241
Hi @craigjensen. When you open MS Bot framework page almost first thing that it showcases that this is Enterprise grade ready solution. I am not even getting started on issues with MS teams here but you can imagine how do we look like in front of 17 000 users that are using this bot when we have to fight unexpected transient issues. I believe SDK should handle these kind of issues with default ret

[2020-08-27 21:26] arturl commented on #246
Hi @rungsoso ,
LINE documentation states ([link](https://developers.line.biz/en/reference/messaging-api/#send-reply-message)) that reply tokens cannot be reused and become invalid after a certain unspecified period of time. Bot Framework LINE channel tries to use REPLY mechanism where possible and only falls back to PUSH when needed.

Specifically, if a bot responds with a single message promptly,

[2020-08-27 21:26] #246 closed

[2020-08-27 23:22] arturl commented on #245
Talked to v-majj, agreed to close the issue.

[2020-08-27 23:22] #245 closed

[2020-08-28 13:06] stefan-reich opened #247 "Teams bot without Azure subscription"
Hi,

I'm trying to create a Teams bot (custom code in Java), but I don't have an Azure subscription. I have an app ID, but I need to get the all important "app password", right? Can I even do that without an Azure subscription? I don't have a credit card.

When I try to register the bot in Azure portal, I get "You are currently signed into the 'BotCompany.de' directory which does not have any subs

[2020-08-28 13:30] Wajeed-msft commented on #213
@AnaHencheIB - This fix was deployed WW on 19 Aug 2020. If you are still facing this issue, please share the Bot Id and Timestamp of installation.

[2020-08-28 17:36] clearab commented on #247
Hi! Please see the documentation here: https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/create-a-bot-for-teams#without-an-azure-subscription

[2020-08-28 17:36] #247 closed

[2020-08-28 18:30] dacopan opened #248 "Bot created not listed in dev.botframework.com"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Not using sdk

## Describe the bug
I've created bot a few months ago (https://dev.botframework.com/), it is working now i can chat with it in Teams, but from a few d

[2020-08-28 19:52] arturl commented on #204
I see from our internal records that the issue is resolved and we're waiting for the fix to be deployed worldwide. Will close the ticket when the deployment is confirmed.

[2020-08-28 20:01] #239 closed

[2020-08-28 20:01] MichaelHaydenAtMicrosoft commented on #239
Documentation and resources provided

[2020-08-28 20:07] arturl commented on #218
Work still in progress according the internal ticket.

[2020-08-28 22:31] NickEricson commented on #239
Documentation link: https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/blob/develop/libraries/Bot.Builder.Community.Adapters.Alexa.Core/Documentation/how-to-user-information.md

[2020-08-29 00:21] #213 closed

[2020-08-29 16:16] NandaCodeBox commented on #213
@clearab @AnaHencheIB Will check this week and update.

[2020-08-31 11:05] Trinetra-MSFT commented on #218
@baki32 , Please find the [recording for iOS mobile](https://drive.google.com/drive/folders/1Sc6vqakr1AFjsoeCw20U0vsKIzGEVwDn?usp=sharing). Team has fixed the issue. They found message doesn't get deleted if you stay on that chat once you move from chat and come back the activity got deleted. PR for the fix will be raised soon.

[2020-09-05 02:35] p-nagpal commented on #214
There is a silent error when reading the card in the C# Adaptive Card library. This card format seems to be allowed in the visualizer https://adaptivecards.io/visualizer/index.html?hostApp=Bot%20Framework%20WebChat but in C#, there is a failure reading this file as an Adaptive card, specifically converting the png string to a Uri. This failure is swallowed and the result is an invalid Adaptive Car

[2020-09-05 02:37] p-nagpal commented on #243
Closing the issue due to inactivity. @sivakumar1302 please let us know if we can continue to help you. Thank you.

[2020-09-05 02:37] #243 closed

[2020-09-05 19:02] EricDahlvang commented on #242
I tried the latest codebase from https://github.com/microsoft/BotFramework-DirectLine-DotNet with:

[code]

Using this bot:
[DLASE_Bot.zip](https://github.com/microsoft/BotFramework-Services/files/5178498/DLASE_Bot.zip)

This works as expected.

[2020-09-10 19:47] mgbennet commented on #248
It looks like we received an account deletion request for the owning account of this bot on the 20th of August. We don't delete the bot in cases like that, we just remove the deleted account as the owner of the bot. Thus this bot currently has no owner, but will continue to work. Is this an active bot?

[2020-09-10 21:22] dacopan commented on #248
it is strange, I'm not deleted my account, I have my account active, and yes the bot is active and response well

[2020-09-11 05:38] matzegebbe opened #249 "Simple Rest bot "send a message" not working. First step GET /v3/conversations already fails"
Hi!
I created a bot in a teams app via the app studio.
[code]
so far so good. Getting the credentials works fine via

[code]
after that my plan is to chat with users who have installed the app:
![image](https://user-images.githubusercontent.com/3482021/92867810-523b8b00-f401-11ea-84d7-c7e4780053c9.png)

How can I send a message to someone who is already interacting with the bot?! I checked the doc

[2020-09-11 16:38] haacked commented on #69
Are there any updates on this? We're concerned that Slack customers will not want to install a bot built with Bot Framework if the bot has access to every message sent in every channel the bot is in.

[2020-09-11 16:47] arturl commented on #204
The fix is in, if you still see this issue let us know.

[2020-09-11 16:47] #204 closed

[2020-09-11 17:15] arturl commented on #218
Issue is fixed.

[2020-09-11 17:15] #218 closed

[2020-09-11 17:34] v-kydela commented on #249
@matzegebbe - Get Conversations only works for Direct Line. You could try Create Conversation or you could try Send to Conversation if you have the conversation ID, etc.

Can you explain more about what you're trying to do? Do you want to message all users who have interacted with the bot, or do you want to message specific users based on their emails or something?

[2020-09-11 17:40] matzegebbe commented on #249
It worked with the python bot sdk. Thanks

[2020-09-11 17:40] #249 closed

[2020-09-11 18:45] nisheetjain commented on #244
Thanks for reporting this issue,

Have you considered using 'Conversation_Conversation_Id' property to pass an existing conversation id to allow retaining/resume an existing conversation

Usage:
`            botFrameworkConfig.SetProperty(PropertyId.Conversation_Conversation_Id, conversationId);
`

FYI @compulim , @cwhitten

[2020-09-11 19:27] compulim commented on #244
AFAIK, conversation history is not preserved because there are no service backends for conversation management. This is also true for Direct Line App Service Extension, which shares the same architecture as DLSpeech.

Setting the conversation ID will not retrieve the past conversation history as there is no conversation management service between the bot and the client.

When the team designed the

[2020-09-13 07:21] matthiasdilger commented on #204
Issue still there (using SDK 4.9)

[code]

This mention should also have

`text: '<at>Test ($~&)</at>'`

[2020-09-13 11:23] abhi421 commented on #168
GetUploadedAttachment is still not working in Teams.
When tested in Bot emulator, GetUploadedAttachment works well and the file could be uploaded.
Sample type: BotBuilder-Samples/samples
Sample language: NodeJS
Sample name: 15. handling attachment

[2020-09-14 03:16] arturl commented on #204
@tacri, can you please take a look at the new repro from @matthiasdilger above?

[2020-09-14 05:02] carlosscastro commented on #241
Hello @baki32 , In case you hadn't figured that out you can provide a custom retry policy to the BotFrameworkAdapter constructor. Depending on what adapter subclass you are using, there are slightly different ways of configuring it, let us know if you need help with that.

Regarding retrying in general, there is a default policy but different developers have different needs, which is why folks are

[2020-09-14 06:22] rajivpb commented on #241
Thanks for the response @carlosscastro .

@baki32 , thanks for your feedback, and let us know if there are any other questions. If you do see any issues, please provide us with the operation_ids and we're happy to investigate. If there's nothing else, I'll close this issue in a few days.

[2020-09-14 15:40] haacked opened #258 "OnInstallationUpdateRemoveAsync not called when removing bot from Slack workspace"
I have a bot connected to Slack via the Azure Bot Service (Bot channels registration). When a customer installs my bot into their Slack workspace, I can see that the `OnInstallationUpdateAddAsync` handle is invoked in my bot class (`ActivityHandler`).

However, when they remove the bot from their Slack workspace, the corresponding `OnInstallationUpdateRemoveAsync` method is never called.

Slack do

[2020-09-14 18:33] baki32 commented on #241
Thanks both, we will have a look into this. I still believe there should be basic default at least but it may happen in the future

[2020-09-14 18:47] #241 closed

[2020-09-15 01:35] arturl commented on #250
Hi @KoradaRajesh,

Facebook channel interprets this string as markdown. If you want to avoid this, set text format of the message as "plain":

[code]

[2020-09-15 01:35] #250 closed

[2020-09-15 10:40] Wajeed-msft commented on #181
**Updates:** This has been fixed and deployed. Please let us know if you are still facing this issue.

[2020-09-15 11:38] abhi421 opened #251 "GetUploadedAttachment is still not working in Teams."
GetUploadedAttachment is still not working in Teams.
I tried to upload 400 bytes png image but it doesn't work
working in bot emulator
Sample type: BotBuilder-Samples/samples
Sample language: NodeJS
Sample name: 15. handling attachment

_Originally posted by @abhi421 in https://github.com/microsoft/BotFramework-Services/issues/168#issuecomment-691658783_

[2020-09-15 15:25] maheshpardeshi opened #252 "The page cannot be displayed because an internal server error has occurred. Azure Bot Framework"
Getting below error while click on Teams in azure bot framewrok channels.
![Capture](https://user-images.githubusercontent.com/6695075/93230811-b65da680-f795-11ea-8b19-2405b3f50bef.PNG)

The page cannot be displayed because an internal server error has occurred.

[2020-09-15 16:10] Andrea-Orimoto commented on #252
Hi @maheshpardeshi could you please share the botId?

[2020-09-15 16:27] maheshpardeshi commented on #252
Hi Team, this is a bot framework bot, and app id
is 8362bf3e-05a1-4089-8d08-8e9d0c5d7380 this one.

Please let me know if any more details want, if this is not what you want
then please suggest where exactly I can get it.

Regards,
Mahesh.

On Tue, Sep 15, 2020 at 9:40 PM Andrea-Orimoto <notifications@github.com>
wrote:

--
Regards
Mahesh Pardeshi
8484882401

[2020-09-15 16:42] jwiley84 commented on #251
As I mentioned in the issue you linked, sample 15 does not work for teams. Please use [sample #56 Teams File Upload](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/javascript_nodejs/56.teams-file-upload) and let us know if the problem is still occuring.

[2020-09-15 16:58] arturl commented on #168
Reopening. Apparently since size is not the issue here. Assigned to @johnataylor

[2020-09-15 18:35] Andrea-Orimoto commented on #252
Hi @maheshpardeshi can you please retry now?

[2020-09-15 21:48] Andrea-Orimoto commented on #252
Hi @maheshpardeshi, we believe the issue is fixed now, please re-open this ticket if you're till experiencing it. Thanks for reporting the issue!

[2020-09-15 21:48] #252 closed

[2020-09-16 05:03] maheshpardeshi commented on #252
Hi Andrea, thanks for support its working.

[2020-09-16 21:50] haacked commented on #69
In my local testing, I am receiving the `app_mention` event, it's just the Bot Service (or .NET Bot Framework) converts it to a Message Activity.

[2020-09-17 05:14] Manish-MSFT commented on #251
@abhi421 : [Sample ](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/javascript_nodejs/56.teams-file-upload) and let us know if you still face issues.

[2020-09-18 08:32] abhi421 commented on #251
![image](https://user-images.githubusercontent.com/30606440/93575484-55adb400-f9b7-11ea-9c13-6cc96ca00730.png)
yes sample 56 working fine in my chatbot but I don't want to show file consent card I directly wanted to show file info card

[2020-09-18 16:50] arturl commented on #251
Thanks @abhi421. @jwiley84, can you help with this:

[2020-09-18 17:18] NickEricson commented on #214
We will, in the near future, begin processing Adaptive Cards less in the DirectLine channel. This should allow arbitrary properties to flow through DirectLine. The client will need to interpret these properties which, depending on the client, may mean an AdaptiveCard library update.

I will update this thread when that change is in production.

[2020-09-18 21:43] jwiley84 commented on #251
If you're trying to bypass the "BOTNAME needs permissions to upload this file to your OneDrive", I don't believe you can. Per the Teams apps documentation:

![image](https://user-images.githubusercontent.com/17333688/93647396-344fc680-f9bd-11ea-9fc8-4beccca820ab.png)

This is per: https://docs.microsoft.com/en-us/microsoftteams/app-permissions

[2020-09-19 05:03] abhi421 commented on #251
@jwiley84 yes I can't bypass file consent card. Is there any other way to upload file on oneDrive/sharePoint which work in teams.

[2020-09-19 06:54] Wajeed-msft commented on #251
Hi @abhi421 - You can post messages with card attachments referencing existing SharePoint files using the Microsoft Graph APIs for [OneDrive and SharePoint](https://docs.microsoft.com/en-us/onedrive/developer/rest-api/). Please take a look at [send and receive files with a bot](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-and-receive-files?tabs=dotnet#usi

[2020-09-19 17:56] EricDahlvang commented on #168
GetUploadedAttachment is not intended to work on Teams. Sample 56 with the  FileConsentCard is the sample to use for teams.

[2020-09-19 17:59] EricDahlvang commented on #168
From the readme of sample 15:

NOTE: A specific example for Microsoft Teams, demonstrating how to upload files to Teams from a bot and how to receive a file sent to a bot as an attachment, can be found here

[2020-09-22 17:17] MichaelHaydenAtMicrosoft commented on #251
Hi @abhi421 , did Wajeed's solution work for you?

[2020-09-22 21:06] EricDahlvang commented on #168
Closing this, since sample 15 is not intended for Teams.

[2020-09-22 21:06] #168 closed

[2020-09-23 11:20] dstvishnu opened #253 "Unable to Send attachment using directline but there is not an issue if we are using emulator."
Unable to send an attachment using directline but we are not facing an issue if we use it from an emulator. We are using a directline channel for communicating between mobile app and bot.
We are receiving the below error in the bot logs and this occurs in a loop two or three times.

[code]

the version of botbuilder used is 4.9.1

[2020-09-23 19:48] v-kydela commented on #253
Thank you for the report, @dstvishnu. I would like to help but I have a few questions.

1. Are you sending the attachment from the bot to a Direct Line client or are you sending the attachment from a Direct Line client to the bot?
1. What is the attachment?
1. Can you share any relevant code and repro steps?

[2020-09-24 07:02] alexandruf opened #254 "DirectLine not working (502 Bad Gatewat)"
Hi there,

Can you please tell me if DirectLine is experiencing some problems right now? We have 502 errors in request starting from aprox 45 minutes ago (~09:00 EET)

From client perspective, 502 Bad Gateway.
From bot perspective is 503 Server Unavailable (on SendAsync)

APP ID: a6c8bf7d-1cba-47af-a470-d6b8247dadd8

[2020-09-24 07:38] alexandruf commented on #254
This happens particularly in https://directline.botframework.com/v3/directline/conversations/{convID}/upload?userId={userId}

https://directline.botframework.com/v3/directline/conversations/{convId}/activities , used for ping activity, endOfConversation and so on, gets 200 OK

[2020-09-24 08:35] alexandruf commented on #254
internal DNS problems, now resolved completely. Sorry for the inconvenience

[2020-09-24 08:35] #254 closed

[2020-09-24 10:29] dstvishnu commented on #253
Hi @v-kydela

1.We are sending an attachment from bot to directline.
2.Attachment is a simple .jpeg image of size around 200 kb.
3. In the bot side in one step we will prompt the user to provide a screenshot.

[code]

[code]

[2020-09-24 18:32] v-kydela commented on #253
@dstvishnu - I'm sorry but I'm a bit confused by your answers. In your answer to question 1 you say you're sending the attachment from the bot to Direct Line, meaning the attachment is in a bot-to-user message. But in your answer to question 3 you say you're prompting the user to provide a screenshot, implying that the attachment is in a user-to-bot message. Which is it?

[2020-09-24 18:54] dstvishnu commented on #253
@v-kydela sorry for the confusion. We are sending image mobile to bot. I updated the comment

[2020-09-24 19:45] v-kydela commented on #253
@dstvishnu - Thank you for the clarification. In that case I have some more questions for you.

4. Does the bot receive the activity at all or does the request fail before it reaches the bot? To answer this, you may want to run your bot locally and have Direct Line send messages to it through a tunneling service like ngrok.
5. Are you able to send an image attachment to your bot using the [Direct

[2020-09-25 10:12] dstvishnu commented on #253
@v-kydela
4. We received the activity in the bot but from directline, we are getting the activity again and again.
5. We are able to send the image using the Bot Framework Emulator without any issue

[2020-09-25 17:09] v-kydela commented on #253
@dstvishnu - For your answer to question 4, I will need some more information to clarify what you're saying.

6. Are you saying the bot is processing the activity correctly or is just receiving the activity and not processing it correctly? You had said at the start that you're unable to send an attachment but now it's sounding like you are able to send it and you're just encountering errors along

[2020-09-25 20:54] NickEricson commented on #214
@compulim We have found that some cards (OAuth cards) require some transform as they go through the DirectLine channel otherwise they end up being interpreted as a string during serialization which breaks WebChat. We need to consider more scenarios here before we make any changes because of unintended side effects. Perhaps we should chat offline and report back.

[2020-09-28 07:10] arturl commented on #7
Bot Framework support for WhatsApp has been [announced at Microsoft Ignite](https://techcommunity.microsoft.com/t5/azure-ai/ignite-2020-conversational-ai-updates/ba-p/1691841).  For more info, see https://aka.ms/bfwhatsapp.

[2020-09-28 07:10] #7 closed

[2020-09-28 07:28] ahmetkocadogan commented on #7
@arturl  I added MessageBird WhatsApp channel support, my PR is merged. https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries/Bot.Builder.Community.Adapters.MessageBird

[2020-09-28 14:58] mrakn opened #255 "[DirectLine] Downloading received attachments randomly fails with "File not found" error"
We have built chatbot using .NET SDK of Bot Framework V4 that is deployed to MS Azure. The bot was built before the concept of virtual assistants / skills was introduced to the framework, so I guess you could call it virtual assistant bot.

One of our communication channels, that we support is DirectLine. Our customers are connecting to our bot through DirectLine using [Web Chat component](https:/

[2020-09-28 22:34] v-kydela commented on #255
Hello, @mrakn. I'm afraid I cannot reproduce this issue on my end. And while I can see your conversation ID's in our logs, I don't see any information about the request ID's.

I should warn you that as an intermittent issue, not only will this be difficult to reproduce, it will also be difficult to tell if the problem is fixed. Therefore the most important thing you can do is come up with a way to

[2020-09-28 23:09] v-kydela commented on #253
@dstvishnu - Are you still working on this?

[2020-09-29 16:23] dstvishnu commented on #253
@v-kydela We can close this issue.There was a bug in our code. We resolved it. Thanks for the help.

[2020-09-29 17:32] #253 closed

[2020-09-30 06:15] mrakn commented on #255
Hi @v-kydela, thanks for replying.

Here is the sample file which we failed to download. As you can tell, its just regular jpg file with average size. Also when I tried tried to upload and download the file again, it worked just fine:
![Adobe digital edition prompt error](https://user-images.githubusercontent.com/64434438/94648471-e4dd9480-02f2-11eb-89d8-c6cca3860f99.jpg)

Other file types were al

[2020-09-30 11:10] dejancg opened #256 "GetAadTokensAsync calls the wrong token endpoint, contrary to what was configured in Azure Portal Bot Channels Registration"
## Version
Using Microsoft.Bot.Builder v4.10.3 with Microsoft Teams

## Describe the bug
`IUserTokenProvider.GetAadTokensAsync` doesn't call the token endpoint configured in Azure Portal - Bot Channels Registration - Settings. Instead, it calls what seems to be a hardcoded relative path `/connect/oauth2/token`.

## To Reproduce
Steps to reproduce the behavior:
1. Go to *Azure Portal -> Bot Channel

[2020-09-30 16:43] v-kydela commented on #255
@mrakn - Sure, go ahead and send me whatever information you have. If your bot is just trying to download the file with a GET request then it should be no different from entering the URL into your browser's address bar. So I have two questions for you:

1. Do subsequent GET requests with the same failing URL also fail?
1. Have you tried pasting the URL into your browser's address bar?

[2020-09-30 18:34] #251 closed

[2020-09-30 18:35] jwiley84 commented on #251
Closed due to inactivity

[2020-10-01 00:21] EricDahlvang commented on #256
Transferred to the BotFramework-Services

@Jeffders is this something we can address, or is this outside of our services?

[2020-10-01 07:30] swagatmishra2007 commented on #256
I will take a look and report back, on what the issue is. It is something within our services, but need to see what's going on

[2020-10-01 15:20] petrformanek opened #257 "Telegram - Hero card text size is limited"
Hello,
when I send a simple hero card to telegram channel I will get an error when size of the Title and Text property exceeds 200 characters.
Why there is such limitation? Telegram supports 4096 characters in a message.
Can you fix it?

Example of a hero card:
[code]

[2020-10-01 18:14] v-kydela commented on #257
@petrformanek - Thank you for the question. It sounds like the Telegram connector is using the hero card text for something other than raw message text. Would it be acceptable for you to send your long text outside of the hero card?

[2020-10-01 19:39] petrformanek commented on #257
Thanks for a quick reply. Unfortunately it is not acceptable workaround as I would have to either create a channel specific reply or some customization for hero cards replies for telegram channel. The "long" text is actually not that long, it is a couple of lines which easily exceeds 200 characters.
I would rather see it fixed on telegram connector.

[2020-10-02 07:42] mgbennet commented on #248
@dacopan, I've restored the original owner to the bot record. If you sign in with the account that created the bot, you should see it in your list of bots.

[2020-10-02 07:42] #248 closed

[2020-10-02 12:17] mrakn commented on #255
@v-kydela, I have just sent you an e-mail titled _DirectLine - Attachments errors telemetry (issue 255)_ with more technical / personal details.

And to answer your two questions:
1. Unfortunately I was not able to verify this yet, because by the time I am back online and check the logs, the token in the url is already expired.
2. Yes and it works, but I could not verify this against the scenarios

[2020-10-02 17:28] v-kydela commented on #255
@mrakn - You may be able to answer question one by coding the bot to retry the GET request if it fails, and to log both attempts.

[2020-10-02 21:41] nisheetjain commented on #244
@collegewap

here is the [SetProperty API](https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.dialog.dialogserviceconfig.setproperty?view=azure-dotnet#Microsoft_CognitiveServices_Speech_Dialog_DialogServiceConfig_SetProperty_Microsoft_CognitiveServices_Speech_PropertyId_System_String_) that you will need to pass the conversationId correctly.

Does this help?

[2020-10-02 23:59] v-kydela commented on #257
@petrformanek - I'm afraid I cannot reproduce the issue. I send the hero card like this:

[code]

And the text gets automatically truncated by the Telegram connector as expected:

![image](https://user-images.githubusercontent.com/41968495/94978001-2a0aed80-04d0-11eb-9277-7972c26c284b.png)

There may be something else wrong with your card. Please provide the following:

1. An example of a card tha

[2020-10-05 08:12] dejancg commented on #256
Hey @swagatmishra2007, any update on this, or should we just cache our tokens locally and forget this token service exists?

[2020-10-05 08:34] mrakn commented on #255
@v-kydela, I have just implemented the retry policy. Will let you know once I gather requests telemetry. In the meantime could you please take check out existing telemetry that I shared? Thank you.

[2020-10-05 17:30] v-kydela commented on #255
@mrakn - I had a look but I didn't see anything that explained why you're getting the error. I may need to escalate this but I'd like to try digging a little deeper first.

[2020-10-05 20:57] v-kydela commented on #257
@petrformanek - Are you still working on this?

[2020-10-06 04:45] swagatmishra2007 commented on #256
The current code assumes that if GetAADTokens is being called, then the call is being made to login.microsoftonline.com and hence the url is constructed as such. That is why the url ends up being mangled like you see.
i am going to make some changes such that in generic oauth, this assumption is not made and hence the url remains intact, but first i am going to have to ensure that no other bot has

[2020-10-06 13:59] scipe opened #259 "Typing indicator not working in slack"
Typing indicator not working in slack, but works in MS Teams.

## Version (NodeJS)
    "botbuilder-adapter-slack": "^1.0.13",
    "botbuilder-storage-mongodb": "^0.9.5",
    "botkit": "^4.10.0",

## Describe the bug
I trying to send "typing" indicator to MS Teams and Slack. It working great in MS Teams, but not working at all in Slack.

## To Reproduce
```await this.bot.reply(this.message, { type:

[2020-10-07 18:30] jwiley84 commented on #258
Hi Services Team! Can we look into modifying the slack adapter to enable support for https://api.slack.com/events/app_uninstalled and convert it to an InstallationUpdate with 'remove' action?

[2020-10-08 13:17] johseffer commented on #115
I'm using the version 10.0.4 of the SDK and the problem still here, the receipt cards are showed fine at the bot framework emulator but dont do when using the facebook messeger channel.

[2020-10-08 16:53] jefecodered commented on #228
@clearab Is there another issue that is tracking this?

[2020-10-08 16:56] clearab commented on #228
No, there isn't an Issue tracking this. The limitation is applied by the Teams backend services, and is universal in that infrastructure. We've made their product group aware that this is a common ask - if you'd like to add your voice to that you can reach out to them directly using one of the methods outlined here: https://aka.ms/teamsdevfeedback.

[2020-10-08 18:31] lzc850612 commented on #259
Transferring to BotFramework-Services repo

[2020-10-09 17:03] arturl commented on #244
@collegewap, can you try the suggestion below and let us know if it worked for you?

[2020-10-09 17:18] NickEricson commented on #214
@compulim We have a workaround for this issue so I am resolving this for now. We can revisit the benefits of schema validation or passthrough in the future as we gain additional information.

[2020-10-09 17:18] #214 closed

[2020-10-09 20:45] hristp commented on #259
This is a bug. Slack channel implements SendTypingActivityToUserAsync -- need to figure out why it's not showing up.

Documentation [here](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channels-reference?view=azure-bot-service-4.0#uncategorized) is incorrect. Typing is supported by multiple channels (DirectLine, Facebook, Slack, Kik and Telegram, I think). Docs needs update.

[2020-10-13 21:35] v-kydela commented on #255
@mrakn - Are you still working on this?

[2020-10-13 22:10] arturl commented on #257
Hi @petrformanek -- we tried the scenario you described and did not see any errors. If you can tell us what error you're seeing and precise steps to reproduce it, we'll be happy to look again.

[2020-10-14 03:43] swagatmishra2007 commented on #256
@dejancg The fix has been deployed everywhere. Can you retry your scenario?
Feel free to re-open if the issue persists

[2020-10-14 03:43] #256 closed

[2020-10-14 11:56] dejancg commented on #256
Thank you @swagatmishra2007.
It now indeed calls the correct endpoint. As a side note, it refreshes the access token successfully, but only once. It seems to assume that the refresh token is reusable and doesn't update it, but the identity provider is currently configured to issue a new refresh token each time the access token is issued. As our application is still in development phase, it shouldn

[2020-10-14 20:06] swagatmishra2007 commented on #256
interesting...the code seems to update the refresh token from the response it gets while asking for an access token. Let me look further into it

[2020-10-15 04:52] penguinsource opened #260 "Service error 'Unknown' when attempting to send a (non-reply) message"
Hi!

I am using the Bot Framework Rest API with Node. I am successfully sending reply messages upon a user sending a message (in MS Teams).

I am now trying to start a conversation, to which the response comes back successful, with a conversation id.
( POST /v3/conversations returns me an id - great!)

Then, I try to send a message to that conversation id and I keep getting Service error 'Unknown'

[2020-10-15 11:01] unemx opened #261 "Slack buttons randomly not working and skipping logs"
## Context
Channel: Slack.
Installation: standard (using the link provided by bot framework)
Conversation type: 1 on 1.

## Issue
The first buttons of a conversation between the bot and a user sometime doesn't do anything.
We can see in the logs the user initiating the conversation, having a few interactions up until the point the bot ask them to confirm something and provide a button to do so.

A

[2020-10-15 16:16] penguinsource commented on #260
Pretty please halp? Sending an activity is failing.. seems like an integral part of the **service as a whole** which isn't replaced in any way by the Graph API :(. Is this not a critical failure? Am i doing something very wrong? Because I've gone over this documentation over and over and not only is it impossible to know which APIs to use anymore, but it's not working 👎

[2020-10-15 18:17] v-kydela commented on #261
Thank you for the report, @unemx

You might be interested in reading these other issues:

- https://github.com/microsoft/BotBuilder-Samples/issues/2553
- https://github.com/microsoft/botbuilder-dotnet/issues/4246

Can you determine if you're using a [classic](https://api.slack.com/rtm#classic) Slack app or not?

[2020-10-15 19:21] dmvtech commented on #260
Hi @penguinsource

That's all the error/information you get? (`ServiceError`). In the bot registration in Azure portal; do you see any further information/error message/help in the Channels blade for Teams? For example, something like:
![image](https://user-images.githubusercontent.com/43397658/96176192-db525000-0ee0-11eb-8ed1-c2afb714852a.png)

[2020-10-15 19:31] penguinsource commented on #260
Hi @dmvtech! Sorry to be a noob about Azure but I'm not sure how to get to that page. Is it around here somewhere:
![image](https://user-images.githubusercontent.com/2596623/96177216-807a2200-0efb-11eb-91ed-6d381a941e83.png)

[2020-10-15 21:31] dmvtech commented on #260
So, when you create a bot resource (either a Bot Channels Registration or a Web App Bot), it _will_ create a App Registration (an AAD app), but it is itself also another resource type (`Microsoft.BotService/botServices`) of it's own. You should be able to see any/all by going [here](https://portal.azure.com/#blade/HubsExtension/BrowseResource/resourceType/Microsoft.BotService%2FbotServices).

Thes

[2020-10-15 23:12] v-kydela commented on #255
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2020-10-16 01:35] penguinsource commented on #260
Okay cool thanks! Yes I remember registered MS Teams as a channel. I don't have any errors logging there:

![image](https://user-images.githubusercontent.com/2596623/96201879-b8995900-0f2b-11eb-9439-fe6d8761e48d.png)

And I retried a few more calls and it's the same issue - I get the conversation id successfully but I get the service error upon sending an activity.

I am going to go through a full

[2020-10-18 20:20] EricDahlvang commented on #260
Hi @penguinsource

Can you share a repro project, without the keys and secrets? We cannot copy/paste the screenshots.

By looking at your screenshots, I'm surprised the calls are able to generate a conversation.id.  I thought the Teams channel requires TenantId for this call, as is done here: https://github.com/microsoft/botbuilder-js/blob/main/libraries/botbuilder/src/botFrameworkAdapter.ts#L484

[2020-10-19 11:42] petrformanek commented on #257
Hi @v-kydela,
thanks for looking at it. Now when I have more information I can provide STR. The text needs to contain markdown. When it contains markdown and the text is cut (replaced by ...) then there is an error sending hero card to telegram.

[code]
In this case you will get `Microsoft.Bot.Schema.ErrorResponseException: Operation returned an invalid status code 'BadRequest'` exception.
In case

[2020-10-19 18:29] v-kydela commented on #257
@petrformanek - You will not get the error if you set the text format to plain:

[code]

@arturl - That said, it does seem like there are some problems here so I'll reopen the issue

1. Telegram card text shouldn't be limited to 200 characters
2. Markdown text should be truncated without error just like plain text

[2020-10-19 19:03] craigjensen commented on #259
Slack [typing indicators](https://api.slack.com/events/user_typing) are only supported on the old RTM api which is no longer supported by the botframework so this is by design

[2020-10-19 21:01] arturl commented on #259
Thanks @craigjensen. @scipe, we'll look into adding typing support if there is a new API we can use but for now this is by design.

[2020-10-19 21:01] #259 closed

[2020-10-19 21:02] arturl commented on #257
Thanks for clarification @petrformanek we'll look into it.

[2020-10-20 01:17] dmvtech commented on #260
hi @penguinsource Thanks for the info.

Lots of good info/suggestions from @EricDahlvang, as usual. I can try and see if I can set up something similar, but as Eric suggested if you can share a sanitized repro, then that might expedite things a bit.

[2020-10-20 01:27] penguinsource commented on #260
@dmvech @EricDahlvang thank you very much for your input - I really appreciate it! A few pressing issue have come up on my side but I'm going to go through your suggestion asap by the end of the week.

[2020-10-20 07:11] arturl commented on #257
Hi @petrformanek, according to [Telegram documentation](https://core.telegram.org/bots/api#sendphoto) caption field for photo messages (which is what Hero cards are mapped to) can be up to 1024 characters long (not 4096, that's a text message limit).
I'll change the limit to 1024.

[2020-10-21 16:59] arturl commented on #261
@unemx, can you share the relevant portion of the bot's source code (minimal repro case would be ideal). Also if you can send me your bot id, I will look at the telemetry on our end (you can email me [here](mailto:arturl@microsoft.com))

[2020-10-22 02:30] penguinsource commented on #260
Hi @EricDahlvang , I updated the service url to **https://smba.trafficmanager.net/amer** when creating a conversation and it responds with bad format of conversation id - i added the tenant id and now creating a conversation and sending a message works (aweeeeeeeeeeeesomeeeeeeeee)!!!

You can create a conversation id using **https://smba.trafficmanager.net/api** without a tenant id which you shoul

[2020-10-22 02:39] penguinsource commented on #260
Since I have a knowledgeable audience about this product in this topic, I might as well ask - I could not find a way to do this with the Graph API, at least not any documentation pointing to initiating a conversation with a user.

Is it possible?

Is this Bot Framework API going to be deprecated in favor of the Graph API?

If yes, do you know if there are any plans of updating the Graph API to sup

[2020-10-22 16:08] mrakn commented on #255
Hi @v-kydela. Sorry, I was occupied with some other activities. In the meantime I have managed to implement the retry policy for the process of downloading attachments from DirectLine. And I can now confirm, that subsequent wait + retry attempts to download the file **do work** as expected - I am able to download the file on 2nd try.

So to me it looks like at the moment we receive the attachment

[2020-10-22 22:42] v-kydela commented on #255
@arturl - Can you look at this? It looks like Direct Line user-to-bot attachment URL's aren't always available at the moment the activity containing the attachment is sent to the bot.

[2020-10-22 23:43] dmvtech commented on #260
Hi @penguinsource Thanks for the follow up!

I _think_ the documentation is aimed to be more generic and mostly focused on Direct Line and not for the intricacies of using Teams. Additionally, i'm not sure if /amer is going to be a global fix, as I'm guessing it probably depends on the regional location of the resources (my assumption is /amer is Americas). @EricDahlvang  any input here?

Also; yo

[2020-10-23 17:08] #260 closed

[2020-10-23 17:12] arturl commented on #244
Workaround provided, if the solution doesn't work feel free to reactivate.

[2020-10-23 17:12] #244 closed

[2020-10-25 05:16] arturl commented on #255
@mrakn, it would help me if you could provide the following info:
- How do you upload attachments -- do you send them in the activity object or by uploading? Do you attach content "inline" or by a Url?
- Conversation IDs for successful and failed (404) calls. I realize that you already provided that info above but that data has expired and I am no longer able to see it in our telemetry.

I see ver

[2020-10-27 07:11] mrakn commented on #255
@arturl, our customers use [WebChat JS client](https://github.com/microsoft/BotFramework-WebChat) to interact with our bot. So to upload attachments they use paperclip button that you can also see on [following MockBot page](https://microsoft.github.io/BotFramework-WebChat/01.getting-started/a.full-bundle/). This seems to generate following request:
`POST https://directline.botframework.com/v3/dir

[2020-10-27 10:59] elibery opened #265 "Signing in error"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Version 3.30

## Describe the bug
When trying to sign in getting message:
"The Sign In code was not found or expired. Please try asking the bot to sign in again".
Th

[2020-10-27 20:17] arturl commented on #255
@mrakn, thanks for the data -- this is exactly what I need. Your cases demonstrate a slight synchronization delay in data propagation when the upload and download happen in different regions. Your retry solution is a fine work-around for now. We're implementing a fix and I will report back when we have a deployment ETA.
Thank you for reporting the issue and helping us diagnose it.

[2020-10-28 15:14] b0rnua commented on #98
I have faced with the very same problem, is there any solution if not @Andrea-Orimoto why this issue is closed?

[2020-10-29 02:02] arturl commented on #257
The fix has been deployed. Here is the output from the repro case:
![image](https://user-images.githubusercontent.com/1875734/97516317-1b3d1c80-1950-11eb-80fe-2ecadb8e6ff6.png)

[2020-10-29 02:02] #257 closed

[2020-11-03 11:59] GaurangNaik commented on #181
@Wajeed : The issue is still there only difference is when I copy and paste any piece from one of the replies of Teams Bot itself then it doesnt work.
Example: I have a welcome message in my bot, where I show an example how to proceed. If I copy the text from the example and paste in my chat, my bot doesnt take that as input and restarts the conversation from again rendering the Welcome message.
I

[2020-11-03 18:00] haacked opened #279 "Extra slash character in the attachment URL with Slack"
## Version
What package version of the SDK are you using. __4.10.3__

## Describe the bug
When sending a message in Slack with an attachment, the `turnContext.Activity.Attachments[0].AttachmentUrl` property contains an extra slash character. It's not a big deal, but I noticed it when filing microsoft/botbuilder-dotnet#4888

## To Reproduce
Steps to reproduce the behavior:
1. Create a bot and conne

[2020-11-03 18:59] haacked opened #262 "Add support for Slack Events API"
Somewhat related to #258. I have a [microsoft/botbuilder-dotnet](https://github.com/microsoft/botbuilder-dotnet/) bot connected to Slack via the Azure Bot Service (Bot channels registration). The [Slack Events API](https://api.slack.com/events-api) has a rich set of events that are important to keep my bot updated. Some that I'm particularly interested in are:

* [`user_change`](https://api.slack.

[2020-11-06 00:37] arturl commented on #261
Closing -- cannot reproduce the problem. Feel free to reactivate if you have small self-contained repro.

[2020-11-06 00:37] #261 closed

[2020-11-06 00:41] arturl commented on #255
We've implemented the fix, should get deployed the week of 11/9.

[2020-11-06 00:41] #255 closed

[2020-11-09 16:11] Morhpeuss opened #263 "Landing Page URL does not work for Slack channel"
Hello,

I am developing a bot but I need to redirect the user during bot installation and store any information (teamid, team name etc.) .

I added a Landing Page Url in Slack Channel Registration.

I expected that during the application installation from the Slack portal (Application Direction, Slack Button) I will be redirected to my Landing Page with the authorization code, but I was redirected

[2020-11-09 17:01] jwiley84 commented on #263
Closing as a duplicate of this Stack Overflow question: https://stackoverflow.com/questions/64749206/authorize-slack-bot

[2020-11-09 17:52] EricDahlvang commented on #263
ABS team, is this an issue with how the service handles the Landing Page URL?

This has come up before:
https://github.com/microsoft/BotFramework-Services/issues/263
https://github.com/microsoft/botframework-sdk/issues/1316

I'm unable to find a valid resolution or answer for this anywhere.

[2020-11-13 20:23] dudeed commented on #263
I am looking into this, I will set up a Slack bot and trace what is happening wrt landing page configuration and eventual redirect use.

[2020-11-16 19:14] dudeed commented on #263
@Morhpeuss Is your bot a Slack legacy using the old 'bot' permission bundle, or a v2 bot?

[2020-11-19 14:17] mrakn commented on #228
Just for the reference, here are all existing User Voice suggestions related to size limits in MS Teams if anyone would like to vote and add own insights:
* [Maximum message length is too short.](https://microsoftteams.uservoice.com/forums/555103-public/suggestions/31511941-maximum-message-length-is-too-short)
* [Your message is too long. Please shorten it before sending](https://microsoftteams.us

[2020-11-22 16:35] elibery opened #264 "Use certificate instead of secret for OAuth configuration"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2020-11-22 19:14] EricDahlvang commented on #264
Transferred to botframework-services.

[2020-11-23 07:04] CharingJC opened #266 "Feature Request: Bot service connect with Line OpenChat"
# Background

August 19, 2019 – LINE Corporation ("LINE") announced the launch of OpenChat, the new enhanced **group** functionality for the LINE messaging app. It will be awesome if we can have related feature update to enable ABS for OpenChat.

*To use OpenChat, please update LINE to at least 9.12.0 on an iOS device or 9.13.0 on an Android device.

## More information

website: https://openchat-

[2020-11-24 12:15] shashank16341 opened #267 "Updating bot end point takes too much time to reflect"
1. Go to Azure Portal
2. Go to bot service
3. Go to Settings blade
4. Modify the messaging endpoint to a new URL(ngrok/ conveyor URL).

It's taking more than 30min to reflect and because of this issue development activities are getting impacted alot. Previously endpoint used to reflect as soon as we update it. This behavior is being shown from yesterday. Please help out asap.

[2020-11-24 12:21] vidyakdil commented on #267
I'm facing this issue since today morning. If we go to "Test from webchat" blade in Azure, it's hitting the bot engine. But if tested from Facebook, it's not hitting the end point. It's taking around 30-40 minutes to point to the URL updated in the bot service settings

[2020-11-24 12:49] PoojaGidd commented on #267
I am facing same issue from today morning. its taking more then 30mints to point to the URL updated in the azure bot service setting.

[2020-11-25 11:37] ashok-dot opened #268 "Operation returned an invalid status code 'Gone'"
Hi,

I am facing one issue chatbot application after migrated the luis app. Bot Info
Bot Framework SDK Version: 4.3.2
SDK Platform: .NET Core 3.1
Active Channels: Microsoft Teams Chatbot
Deployment Environment: Azure App Service (West Europe)

I am facing the below issue after migrated LUIS ,it changed appkey,appID and hostname , i have configured correctly and save. i was restart machine ,i am ch

[2020-11-25 18:19] craigjensen commented on #267
I confirmed that this is a bug in the service code.  We'll get a fix out in the next release.  ETA 12/3

[2020-11-25 18:28] jwiley84 commented on #268
Closing as a duplicate of: https://stackoverflow.com/questions/65004353/operation-returned-an-invalid-status-code-gone

[2020-11-25 18:29] #268 closed

[2020-11-26 01:08] stevkan commented on #263
@Morhpeuss, I am able to get the landing page to work. Here are the steps I took.

1. Create a landing page on a hosted site
    - Mine looks like this: https:[sitename].azurewebsites.net/slack
1. Add the landing page to the Slack channel in your bot's Azure settings.
2. Navigate to https://api.slack.com and locate your Slack app
3. On the left-side menu, under 'Basic Information', scroll down to

[2020-11-26 05:27] youyu16 commented on #266
@CharingJC Currently, the bot can not join a OpenChat like group/room chat.
[How invite bot to Line Square or OpenChat | LINE developers community (line-community.me)](https://www.line-community.me/en/question/5d47a63f851f743fd7cda978)

[2020-11-26 07:59] vidyakdil commented on #267
Thank you for the update

[2020-12-01 21:10] arturl commented on #266
Hello, thank you for the feedback.  I conferred with our team on this and unfortunately we do not have a short term ETA for this feature, it is a large work item and needs to be evaluated against other priorities.  We've captured this in our planning backlog however and will evaluate it during upcoming planning milestones.

[2020-12-01 21:10] #266 closed

[2020-12-02 01:53] stevkan commented on #263
Closing as resolved.

[2020-12-02 01:53] #263 closed

[2020-12-02 19:01] MichaelHaydenAtMicrosoft commented on #265
Fix should go out in this week's deployment

[2020-12-02 19:20] Jeffders commented on #264
We happen to be working on this capability for Azure Active Directory, but it will still be several weeks before it is available for people to use. I will update the issue once it's available.

[2020-12-03 07:52] vidyakdil commented on #267
Hi @craigjensen , can you please share an update on this

[2020-12-03 09:53] DingmaomaoBJTU commented on #258
Hi, thanks for reporting this! The fix to support app_uninstalled event is on the way and need some time to go to production. Will update when it is available to use~

[2020-12-03 09:56] DingmaomaoBJTU commented on #262
Hi, thanks for reporting this! This is a good point but considering not involving too many fixed behavior, we will not support all events by default. The fix to support user_change, team_join and team_rename events is on the way and needs some time to go to production. Will update when it is available to use~

[2020-12-03 16:00] craigjensen commented on #267
fix should be live now - please reopen if you're still seeing this

[2020-12-03 16:00] #267 closed

[2020-12-03 17:52] EricDahlvang commented on #263
Thank you for this @stevkan !

[2020-12-04 06:33] huyjack178 opened #270 "Failed to decrypt conversation id for format *==@p2p.thread.skype"
Hi, currently, our old skype group has id with this format 19:I3RyYW5jaHVvbmc4Mi8kYW5ocGRfYnM7MzZjNzE3ZjFjMjI4YWI4MA==@p2p.thread.skype

And when send via bot framework, I got this Failed to decrypt conversation id error in portal
Can you help me solve this problem?
![image](https://user-images.githubusercontent.com/11793001/101130022-498bd700-3635-11eb-8444-fcf1cd983258.png)

[2020-12-04 17:52] haacked commented on #258
Thanks for the update! Looking forward to it!

[2020-12-04 17:55] haacked commented on #262
Great! Thanks!

[2020-12-08 10:19] michaelwittig opened #269 "PUT /v3/conversations/${conversationId}/activities/${activityId} return 403 ServiceError Unknown"
We receive odd responses from time to time when updating messages in MS Teams:

Request:

* Path: /v3/conversations/${conversationId}/activities/${activityId}
* Method: Put
* Headers:
    * Authorization: Bearer xxx
    * Content-Type: application/json; charset=utf-8
* Body:
[code]

Response:
[code]

[2020-12-08 16:32] jimsam commented on #269
I have the same error message as you but with a response code 400 with the following request:

Request:

- Path: /v3/conversations/<conversation_id>/activities
- Content-Type: application/json
- Authorization: Bearer <token>
- Body:
[code]

[2020-12-08 18:12] v-kydela commented on #269
Thank you for the report, @michaelwittig. It looks like you're trying to use an Adaptive Card in Slack. Is that correct? Slack doesn't support Adaptive Cards, so your card would be converted to an image that looks like this:

![image](https://user-images.githubusercontent.com/41968495/101523224-29ae2900-393d-11eb-9bbd-2cfd2c0de0d0.png)

If that's what you're intending, then I have a few questions:

[2020-12-08 18:21] jimsam commented on #269
@v-kydela A few minutes ago I managed to solve my issue by another closed issue that I found, the problem was that the URL that documentation has to make a new activity is a POST at https://smba.trafficmanager.net/apis/v3/conversations/<converations id> but actually is  https://smba.trafficmanager.net/amer/v3/conversations/<converations id>

I really didn't found anywhere what other variation migh

[2020-12-08 18:22] michaelwittig commented on #269
Hi @v-kydela

Sorry. We use the request to update a message in Teams, not Slack.

[2020-12-10 23:39] #265 closed

[2020-12-10 23:39] swagatmishra2007 commented on #265
The fix should be out already. Please reactivate if needed

[2020-12-11 19:36] v-kydela commented on #269
@jimsam - You had been using a service URL for Skype. Teams uses region-specific service URL's. Can you tell us what documentation you're talking about?

@michaelwittig - In case your issue is the same as Jim's can you let me know what your host URL is?

[2020-12-11 20:03] jimsam commented on #269
@v-kydela No, I use this for a bot that I build for Teams in order to get a new activity to a conversation with a specific user in Teams from another application, the reference for that has [here](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-send-and-receive-messages?view=azure-bot-service-4.0)

[2020-12-11 20:20] v-kydela commented on #269
@jimsam - That doc says `https://smba.trafficmanager.net/apis` is only an example and does not say it is a service URL you should use for Teams. The doc says:

If the doc is still confusing and is leading customers to use `https://smba.trafficmanager.net/apis` as their service URL then is there some way it could be more clear?

[2020-12-11 20:23] selvaduraiece opened #271 "DirectLine Enhanced Authentication->getsessionid results in 400 BadRequest and Without DirectLine Enhanced Authentication->Giving magic code, instead of automatic login"
I am facing few strange issues.

1. I have enabled DirectLine Enhanced Authentication -->I added trusted origin as well. But if I try to hit using webchat I am getting 400 error and bot not able to connect even.
2. I have disabled DirectLine Enhanced Authentication --> My bot is working at least but still getting magic code, instead of auto login.

I need your assistance on How to get rid of magic

[2020-12-11 20:35] jimsam commented on #269
@v-kydela I think that I was confused at that point because I didn't read the whole documentation most likely because the /apis/ was making a lot of sense and never got to a point to question the actual URI when I got the error.
But as you point out there is a part of the documentation that describes where to find the correct URI, you just need to read all of it and not partially as I did.

[2020-12-12 15:29] michaelwittig commented on #269
@jimsam not sure why you hijack that issue  for an error report that is not the same. as you mentioned, your response code is different. So please go and open your own issue.

@v-kydela no, I don't run into the sam issue as @jimsam and I don't appreciate that he discusses a very different problem here. We use endpoints such as `https://smba.trafficmanager.net/amer/`, `https://smba.trafficmanager.n

[2020-12-13 11:55] elibery commented on #265
Thanks!!!

[2020-12-14 19:55] stevkan commented on #271
@selvaduraiece, please take a look at this blog posting, [Enhanced Direct Line Authentication Features](https://blog.botframework.com/2018/09/25/enhanced-direct-line-authentication-features/) for additional help. Check if there are any additional steps you maybe missed. With Enhanced Authentication, pay particular attention to the `userID` property as this value needs to be sent in the request pay

[2020-12-14 20:07] selvaduraiece commented on #271
Ya I got it work. Thanks a lot. I am facing strange issue as mentioned here - #3639, it would be great if I get fix for this issue.

[2020-12-14 20:07] #271 closed

[2020-12-15 00:35] v-kydela commented on #269
@michaelwittig - I'm sorry but I can't seem to reproduce the error so far, though it sounds like you're saying it's intermittent. Are you sending the request in Postman? Is the message in a personal, group, or channel chat?

In any case, it looks like Teams should implement more verbose error messages.

[2020-12-15 08:00] michaelwittig commented on #269
@v-kydela It's a channel message. A retry of the request does not fix the problem. For certain conversations/activities is always fails with the above error. Is it possible that error like: channel removed e.g. are not properly handled?

[2020-12-15 21:14] v-kydela commented on #269
@michaelwittig - Thank you for the info. Whether the channel is deleted or the conversation ID is just made up, I get a descriptive error message when trying to update an activity:

[code]

I tried updating an activity in a channel thread using a fake ID, and I got a descriptive error message again:

[code]

However, I do get the unknown error when I try updating an activity in a channel thread us

[2020-12-16 14:13] michaelwittig commented on #269
@v-kydela It's possible but I don't know. We see this Unknown Error in the wild not on my tenant, but tenants I have no control over. Therefore, I have no idea what those tenants are doing. All I see is an error message that is of ne help to figure out what's going on. And you are asking me to reverse engineer that :) Sorry, I guess it's easier to just look at the code and ensure that no one ever

[2020-12-16 18:14] Weatwagon opened #272 "Access Botframework Api Published Behind Azure Application Proxy"
## Issue

We have a 3rd party vendor who recently released an integration with MS Teams with a provided bot. The bot is published individually into our own tenant. We have their application already published via the Azure Application Proxy. The botframework api is part of the application and can not currently be published separately. Currently the bot cannot communicate to the on-prem api through

[2020-12-17 18:15] v-kydela commented on #269
@michaelwittig - All right, well for now I guess we should treat this as an issue with the error message. I will unassign myself so the appropriate people can have a look at it.

[2020-12-17 18:49] MichaelHaydenAtMicrosoft commented on #270
Transferring to Skype Team

[2020-12-17 21:30] theentropic commented on #272
I'm a developer running into the same situation (and from the sounds of it, may even be the 3rd party vendor above).  I'd be happy to provide any background information needed to work through the situation.  From what I can tell, the Bot Framework needs to hit an anonymous endpoint and then there is an authentication mechanism that occurs within that.  Is there a way to force the Bot Framework to

[2020-12-18 20:36] 007-fr opened #273 "Activating Cortana Channel in Bot Framework"
When I attempt to add Cortana as a channel in a Bot via Azure, I receive a number of different errors errors.
![image](https://user-images.githubusercontent.com/66075770/102659004-ae235780-4146-11eb-8fde-79731a88cf55.png)

When I 1st click deploy, I get the incorrect image error.
![image](https://user-images.githubusercontent.com/66075770/102659031-baa7b000-4146-11eb-81ca-95867669e2d3.png)

Once I

[2020-12-18 22:58] arturl commented on #269
@michaelwittig, can you share your bot id, conversation id (partial would be OK) and timestamps of the events where you got the error. I'll look it up on the Azure Bot Service end. Is this a recent problem, and if yes when did it start happening?

Going though this thread, I assume this is happening in Slack channel only and any reference to Teams/Skype is irrelevant.

Also, can you confirm the er

[2020-12-19 22:06] Jeffders commented on #272
I've read through your posts a few times and am having trouble understanding which particular calls are not working/authenticating :(

Is it that the bot cannot receive messages from Teams?
OR is it that the bot cannot send messages back to Teams?
OR is it that the bot can send and receive messages, but it cannot call into other APIs that are on premises?

Sorry I'm having trouble following. @thee

[2020-12-20 01:49] theentropic commented on #272
When I'm coding the /api/messages endpoint in C#, I have not been able to figure out how to use the [Authorize] tag (or add a policy) to secure that endpoint.  The only way the Bot will respond to anything from within teams (without throwing a 401 response) is if [AllowAnonymous] is decorated on the call.

Hopefully that explains it a bit better, I'm on my phone at the moment and can post an examp

[2020-12-21 07:32] michaelwittig commented on #269
@arturl My issue is about updating messages in MS Teams, not Slack. Sorry for the confusion.

bot id: 1dd5785b-d8b3-400d-8e1f-af7c939cd70f
conversation id: (not available anymore, we drop logs after 14 days)
activity id: 1607010293547
time: ~Dec 3, 2020 05:17:22.948 PM

No, it happens from time to time.

Yes, 403.

[2020-12-21 20:16] Weatwagon commented on #272
Our 3rd party application vendor has packaged their web application and the "api/messages" endpoint for the bot communications as a single service. Which for us is on-prem.

We already had the web application published externally with Azure App Proxy with Azure AD pre-auth turned on. We find this to be very secure and allows our end users to access many of our web services.

With pre-auth enabled

[2020-12-21 20:20] Weatwagon commented on #272
I found something similar with access APIs behind Azure Proxy https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-secure-api-access not sure if it is applicable with botframework

[2020-12-21 22:08] EricDahlvang commented on #273
Hi @007-fr

Cortana Skills have been retired, except for members of the TAP program:
https://docs.microsoft.com/en-us/cortana/skills/third-party-deprecation#how-do-i-build-cortana-skills-in-the-future

https://docs.microsoft.com/en-us/cortana/enterprise/overview

https://github.com/MicrosoftDocs/bot-docs/issues/1959

I'm not sure how to contact someone from the TAP program.  Does anyone on the ABS

[2020-12-21 22:18] stevkan commented on #273
I have seen it suggested in forums that Enterprise-level customers need to reach out to a Microsoft Account rep in order to start the process of joining a TAP program. But, I don't know if that is still the case and no link / reference was provided in those cases.

[2020-12-22 09:46] Trinetra-MSFT commented on #269
@michaelwittig , is this a prod bot? If you can provide us the tenant id as well i can check the logs for the bots?

[2020-12-22 11:21] michaelwittig commented on #269
@Trinetra-MSFT, yet, it is. Tenant id: f1123783-951a-416c-be65-baaf60761486

[2020-12-23 19:38] Jeffders commented on #272
@theentropic , you do not use the [Authorize] tag when coding the /api/messages endpoint. The authentication is done inside the controller call by the BotAdapter class. You can find some trouble shooting steps here: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-troubleshoot-authentication-problems?view=azure-bot-service-4.0

The short of it is that the BotAdapter uses the MsAppId

[2020-12-23 19:42] theentropic commented on #272
Yes, I do have that part working and I know that's where the authentication is happening.  AppId + Password is set and working without any issues.

But, what I believe is happening with the initial issue listed here is that there is no way to send a request to the /api/messages endpoint from the Bot Framework if you are using Azure Proxy with pre-auth enabled.  The call does not pass through, and

[2020-12-28 09:23] bommareddysandhya opened #274 "In Team SSO not getting the id_token field as token response"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-12-30 11:42] konstlut commented on #270
This is a confirmed bug on Skype backend side. The issue has been mitigated for the specific bot and the general fix will be rolled out on the first week of January.
@huyjack178 , @MichaelHaydenAtMicrosoft , @hcyang

[2020-12-30 21:41] EricDahlvang commented on #274
@ABS is access to the id_token something the bot framework auth service can provide?

[2020-12-30 22:52] Jeffders commented on #274
We do not support providers that return the "id_token", only the "auth_token" property, so what @joshgummersall said is correct.

If you still wanted to use the OAuthCard, the easiest way would be to make your own oauth endpoint and call it in your OAuth connection setting, and in your endpoint you call your identity provider and copy the id_token property over to the auth_token field.

[2020-12-30 22:52] #274 closed

[2021-01-04 17:27] Jeffders commented on #272
Ah, I understand now.  Azure Proxy requires the incoming call to the bot to be authenticatable with an AAD application and using a user identity. For _incoming_ calls to the bot, Azure Bot Service does not use a user-configurable AAD application (channel services such as Direct Line use an Azure Bot Service owned AAD application and a certificate to create the service to service authentication tok

[2021-01-04 17:27] #272 closed

[2021-01-06 01:54] DingmaomaoBJTU commented on #262
This changed had been merged to production in 12/14 and you may have a try now~ Let me know if you meet any issue~

[2021-01-06 01:55] DingmaomaoBJTU commented on #258
This changed had been merged to production in 12/14 and you may have a try now~ Let me know if you meet any issue~

[2021-01-10 08:45] elibery commented on #264
Hi @Jeffders, Any updates?

[2021-01-11 20:04] haacked commented on #258
I confirmed this works now. Thanks!

[2021-01-11 20:04] #258 closed

[2021-01-11 21:37] haacked commented on #262
I confirmed these are working. Thanks!

[2021-01-11 23:11] swagatmishra2007 commented on #264
@elibery  we have this feature in private preview for now. I have emailed you internally

[2021-01-11 23:11] #264 closed

[2021-01-12 00:58] p-nagpal commented on #273
Hi @007-fr, we have fixed the errors in the screenshot above and you should be able to make progress now.  However, please keep in mind, that Cortana Skills have been retired except for TAP program: https://docs.microsoft.com/en-us/cortana/skills/third-party-deprecation#how-do-i-build-cortana-skills-in-the-future.

[2021-01-12 01:12] 007-fr commented on #273
@p-nagpal The company I work for is member of the tap program, but I don’t think it’s a good idea to start Cortana if it’s already retired.

What the recommendation for using voice interaction in the Bot Framework?

[2021-01-12 07:34] michaelwittig commented on #269
@Trinetra-MSFT any news on this issue?

[2021-01-12 17:24] luffynextgen opened #282 "[Slack] Messages from third party bot does not trigger OnMessageActivityAsync"
# Version
4.11.1

# Describe the bug

I'm trying to make my bot respond to another slack bot messages.

I implemented the echo bot model from azure.

I tried to use the default task implemented in the template (OnMessageActivityAsync) and I also tried with the OnTurnAsync task.

In either case the tasks are just not triggered when the message is emitted by a slackbot.
It looks like the messages co

[2021-01-15 04:28] p-nagpal commented on #273
Hi @007-fr, the roadmap for Cortana Skills will be updated on https://docs.microsoft.com/en-us/cortana/skills/third-party-deprecation#how-do-i-build-cortana-skills-in-the-future as we make changes. Additionally, you might also be interested in looking at Direct Line Speech Channel. Here is some documentation on building voice assistants with Direct Line Speech Channel: https://docs.microsoft.com/e

[2021-01-15 04:28] #273 closed

[2021-01-21 09:47] kandelabr opened #275 ""Title" keyword is added to Facebook when using adaptive cards with actions"
## Version
Azure bot framework channel registration, Facebook channel

## Describe the bug
When using adaptive cards on Facebook channel, with actions or in carousel, "Title" is added to the card. On webchat channel everything looks fine.

## Expected behavior
"Title" keyword should not be visible. Since title is required to be sent to Facebook, there should be an option to provide meaningful titl

[2021-01-21 20:36] NickEricson commented on #275
@kandelabr - Thank you for reporting, I will look into what we can do.

[2021-01-22 18:03] MichaelHaydenAtMicrosoft commented on #270
@konstlut Wanted to check to see if the fix was rolled out already and if we can close this issue since it has been mitigated.

[2021-01-23 00:46] SonOfJesseAsSnekithan opened #276 "clicking 'submit' button on adaptive card is not working for WebEx Adapter"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.
I have already created an attachmentAction web hook in https://developer.webex.com/docs/api/v1/webhooks.
Adaptive card was rendered successfully, but when bot user click 'submit

[2021-01-24 07:24] konstlut commented on #270
Yes, we believe the problem should be fixed for all bots and all conversations in Skype and Microsoft Teams. Thank you, @MichaelHaydenAtMicrosoft

[2021-01-25 19:46] MichaelHaydenAtMicrosoft commented on #270
Thank you @konstlut! Closing issue.

[2021-01-26 00:34] swagatmishra2007 commented on #248
test comment

[2021-01-26 03:31] danghoanghai commented on #270
hi @MichaelHaydenAtMicrosoft . I see that the issues have not fixed. Why this issue closed? I still keep monitoring it.
hi @konstlut Please notify me when the issues have been fixed. Thanks :)

[2021-01-27 01:24] dgancho commented on #168
@EricDahlvang This link is broken, 404

[2021-01-27 10:32] michaelwittig commented on #269
@NickEricson can you help me out here?

[2021-01-27 18:08] MichaelHaydenAtMicrosoft commented on #270
@danghoanghai , can we get a fresh new set of logs? We want to check to see if there is another issue. Root cause for original issue has been addressed per our developers.

[2021-01-28 07:55] danghoanghai commented on #270
@MichaelHaydenAtMicrosoft ya, sure. Here are the errors I got a few minutes ago before I comment on this post.
If you need more information (group ID, bot ID), please contact me by my email. I will provide you, even add you and your bot into my error group. The error still Not Found

![image](https://user-images.githubusercontent.com/18319715/106106192-c049da00-6177-11eb-89d2-a6e1af67a7a6.png)

[2021-01-28 19:29] MichaelHaydenAtMicrosoft commented on #270
@konstlut, please see above comment for new customer logs.

[2021-01-29 00:30] MichaelHaydenAtMicrosoft commented on #269
We’re going to update error code returned to the bot. Fix would be deployed to Production by 2nd of February.

[2021-01-29 13:46] michaelwittig commented on #269
Thanks for the update @MichaelHaydenAtMicrosoft

[2021-01-29 20:06] NickEricson commented on #275
Hi @kandelabr,

Adaptive Cards have a Title field

https://github.com/microsoft/AdaptiveCards/blob/9330134a661a4e15c6a066d14ceec1dd031bdba7/source/dotnet/Library/AdaptiveCards/AdaptiveCard.cs#L115

that has been deprecated. I contacted the Adaptive Cards team and they are considering adding something new that would have a similar meaning... but the design and review can take time. I suggest we sta

[2021-02-01 09:04] kandelabr commented on #275
hi @NickEricson

yes that would be perfect. Thank you very much.

[2021-02-02 16:07] dradoaica opened #277 "ReconnectToConversationAsync with client withsecret key returns conversation token without "user" claim"
### [Github issues](https://github.com/Microsoft/botframework-directline-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Microsoft.Bot.Connector.DirectLine 3.0.2

## Describe the bug
ReconnectToConversationAsync with client withsecret key returns conversation token

[2021-02-03 19:28] p-nagpal commented on #277
Hi @dradoaica, could you reconnect to the conversation with clientViaConvToken? This should have the right token state with user claim.

Here is test I tried and it contains the user claim in the reconnected conversation:

            Conversation conversation;
            using (DirectLineClient tokenClient = new DirectLineClient(secretKey))
            {
                var tp = new TokenParamet

[2021-02-03 20:54] dradoaica commented on #277
Hi @p-lekkala, we do not store the client token resulted from GenerateTokenForNewConversationAsync. We have another authetication in our app, so by using the secret key we reconnect the user authenticated in our app to his conversation (even though his client token from BotFramework had expired). Maybe an option to generate a client token for an existing conversation and with that token cu call th

[2021-02-04 07:50] vitaliishandra opened #278 "Bot installation issue"
We have teams application that supports proactive user messaging and static app. App is certified and published in Teams App store.

Customer installed and pinned our app to 'Global (Org-wide default)'. As a result only ~10% users received the latest version of our bot application. It tooks few days after app install and more than 50% users were already opening and logged in MS Teams but not recei

[2021-02-04 19:00] MichaelHaydenAtMicrosoft commented on #270
@danghoanghai, @huyjack178 - looks like our engineers found a different issue and adjusted the configuration. Can you try again and see if an error is generated? If so, please give us any error codes or timestamps that may be associated. Thank you!

[2021-02-05 02:37] danghoanghai commented on #270
hi @MichaelHaydenAtMicrosoft the error is the same as above. Conversation not found.
![image](https://user-images.githubusercontent.com/18319715/106981914-87bc8880-6795-11eb-99f3-7a9327e562bc.png)
Here is the image with the timezone GMT +7 (Vietnam). Hope it will be helpful.

[2021-02-05 18:25] MichaelHaydenAtMicrosoft commented on #270
Thank you! @konstlut please see above

[2021-02-05 18:40] haacked commented on #262
Hi, it's me again. I'm running into with these events not being sent to one of my bots. Here's the situation:

I have two Bot Channel Registrations:

Bot | Channel | Endpoint
---- | ------- | ------------
`abbot-bot` | Slack | My Bot hosted as an Azure Web App
`abbot-bot-haackdev` | Slack | My Bot running locally using ngrok

They both are connected to Slack with the same permissions.

In my testi

[2021-02-05 18:43] haacked commented on #262
I should also mention that Azure Bot Service does not show any errors with the Slack channel. The health status says "Running" with both bot registrations.

[2021-02-05 19:34] jwiley84 commented on #276
Hi @SonOfJesseAsSnekithan ! Sorry for the delay, I'll get right on a repro of this, and see what's going on. Thank  you for your patience!

[2021-02-06 00:37] DingmaomaoBJTU commented on #262
OK, let me try if I can repro it~

[2021-02-06 00:43] haacked commented on #262
@DingmaomaoBJTU it might be on the Slack side. I’m also talking to their support to look into it.

[2021-02-08 10:55] DingmaomaoBJTU commented on #262
@haacked I see... I could not get a repro on my side, (I followed the guide here https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-4.0&tabs=abs and add user_change additionally).
If there is anything on our side I can do to help, please let me know.

[2021-02-08 16:43] haacked commented on #262
Ok, this was a PEBKAC issue.

![image](https://user-images.githubusercontent.com/19977/107251828-9e5b1d80-69e9-11eb-9ade-30b8831053e7.png)

Everything is working fine. Thanks for looking into it though.

[2021-02-08 16:43] #262 closed

[2021-02-08 19:45] NickEricson commented on #275
Hi @kandelabr  - this change should be deployed world wide now. Let me know if you see any issues.

[2021-02-08 19:45] #275 closed

[2021-02-08 20:04] MichaelHaydenAtMicrosoft commented on #269
@michaelwittig - wanted to check to see if this is working correctly for you now.

[2021-02-08 23:01] mrivera-ms opened #280 "Activity.Text is set to filename and not the message text when sending a Slack message with attachment"
Issue initially reported in the [Dotnet SDK repo](https://github.com/microsoft/botbuilder-dotnet/issues/4888). We are keeping the original issue to track the fix in the SDK Slack Adapter. This item tracks the fix in ABS.

[2021-02-09 01:39] p-nagpal commented on #277
Hi @dradoaica, extending ReconnectToConversationAsync to support token parameters is a good suggestion. This would be a new feature in Directline and we will start evaluating the feature request.

Meanwhile, the recommended method for getting user claims in the token is to implement a token cache and save the latest unexpired token for use in the call to ReconnectToConversationAsync.

[2021-02-09 07:28] kandelabr commented on #275
hi @NickEricson, working great now. Thanks a lot.

[2021-02-11 03:57] Nikitha-MSFT commented on #278
Could you please share tenant id? Also could you please share how you are removing the version for store app?

[2021-02-11 08:33] michaelwittig commented on #269
@MichaelHaydenAtMicrosoft I can confirm that I'm not seeing the error anymore in our logs.

[2021-02-11 08:33] #269 closed

[2021-02-11 16:15] vitaliishandra commented on #278
Tenant Id: 3013a262-bac5-4391-ab35-d43cf52ad904
Apps where removed from installed and pinned apps in Teams app Global setup policy:
![image](https://user-images.githubusercontent.com/56965286/107664099-bd310c80-6c94-11eb-801a-815bf8b95788.png)

Additionall info:
We install app via Microsoft Graph and the latest version was successfully installed for all users. However via setup policy it doesn't w

[2021-02-11 20:12] Enghouse-CCSP-PS opened #281 "c# bot stop to work on FB channel"
## Version
What package version of the SDK are you using.
3.12.2.4

## Describe the bug
suddenly all our FB bot stop to work on FB channel with error Microsoft.Rest.HttpOperationException Facebook API error
in app insight we see below log:

[code]

## To Reproduce
Steps to reproduce the behavior:
just start to chat to bot

[2021-02-11 21:22] EricDahlvang commented on #281
Transferring to the BotFramework-Services repo.

Hi @Enghouse-CCSP-PS

I'm not aware of anything which might be causing this, but it seems unlikely to be the Bot Builder sdk.

[2021-02-12 00:08] p-nagpal commented on #277
Adding @Jeffders to track feature request.

[2021-02-12 00:08] #277 closed

[2021-02-12 00:40] MichaelHaydenAtMicrosoft commented on #281
@Enghouse-CCSP-PS -

1. The return call from the send should include FBs error message internally.
2. Verify your channel config thru FB
3. Failing the above, please submit a ticket to Azure support with the Bot ID.

[2021-02-12 19:41] v-kydela commented on #281
@Enghouse-CCSP-PS - Can you post any screenshots of what you're seeing in the Messenger window? Is the bot not responding or responding with an error message or what?

[2021-02-13 11:58] Enghouse-CCSP-PS commented on #281
The issue presented itself like this Exception, other than the _Facebook API error_ message not much to go on:

[code]

However, we have used the stack-trace to locate that the issue is coming from trying to set the Typing indicator (not new code for us):

[code]
When we comment this section out the subsequent Dialog works fine.  I tried adding a 3s delay between Typing and subsequent Dialog, in c

[2021-02-15 16:44] azenchenko commented on #270
@danghoanghai there seems to be two different issues that happened to your bot and in original report here. We have un-flighted your bot from experimental feature that might cause Conversation Not Found error. Can you please check again and let me know if there'd be an issue again by providing timestamp and conversationid.
Thanks!

[2021-02-15 20:45] v-kydela commented on #281
@Enghouse-CCSP-PS

That's very strange that typing activities would suddenly start returning errors for you. Facebook typing indicators are working fine for me, and I've tested in a v4 bot and in Postman. It's possible that the problem is unique to the v3 SDK, but you will notice in the [readme](https://github.com/microsoft/BotBuilder-V3) that v3 has been deprecated and long-term support has ended

[2021-02-16 18:39] stevkan commented on #282
@luffynextgen, for clarification, I have been able to confirm that the BotFramework connector service is able to receive messages from other bots/apps on the Slack channel. However, by design, we do not deliver activities between Azure bots and bots/apps on other channels. There are a number of reasons this type of action is restricted, including minimizing the chance of runaway conversations betw

[2021-02-16 18:39] #282 closed

[2021-02-17 05:32] billreynolds007 commented on #168
404 bump

[2021-02-17 08:29] abhilashmurthy opened #286 "Skype bot VideoCard not showing correct thumbnail image"
## Version
Using Azure Portal with REST endpoints for Skype bot

## Describe the bug
In my Skype bot, video cards have something called a Thumbnail URL. Although my thumbnail URL is populated, the first frame of the video before it is played in Skype is not actually showing the thumbnail URL, it is just showing the first frame of the video itself. Since the thumbnail is populated, the frame of the

[2021-02-18 07:29] Nikitha-MSFT commented on #278
@vitallishandra - Could you please share the Application id? Also Is this a Teams global app?

[2021-02-19 23:14] v-kydela commented on #281
@Enghouse-CCSP-PS - Are you still working on this?

[2021-02-22 10:52] Jagadeesh-MSFT commented on #168
Hi @dgancho, @billreynolds007   Could you please try this [document](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/bots-filesv4#message-requesting-permission-to-upload).

[2021-02-22 19:25] MichaelHaydenAtMicrosoft commented on #270
@konstlut , please see comment above.

[2021-02-22 22:09] MichaelHaydenAtMicrosoft commented on #270
@danghoanghai - See above. Please check to see if you are getting the same error. If so, please provide timestamp and Conv ID.

[2021-02-24 02:47] hojojon commented on #270
@azenchenko @MichaelHaydenAtMicrosoft I still have the same problem as @danghoanghai does. The timestamp is "2021-02-24 10:04:55.043936+09:00" and my conversation id is "19:I2hlb3F1YXk3MC8kc2YuLi4xMjM7ZGRiZWFkZGEwYzdiOTgwZA==@p2p.thread.skype".

![image](https://user-images.githubusercontent.com/17516086/108934668-5a764280-7690-11eb-8906-3d2e93189153.png)

[2021-02-24 05:10] kaisunc commented on #270
I'm getting

 {"error":{"message":"Conversation id does not support uppercase characters"}}

for any target chat ids similar to hojojon.

[2021-02-24 07:46] danghoanghai commented on #270
hi Micheal, I still cannot send messages to my chat group. Here is the result from Azure:
![image](https://user-images.githubusercontent.com/18319715/108964462-13974580-76ae-11eb-92bf-e40e9c3345d6.png)
and here is my conversation ID: **19:I3NlbGVuYTExNTg4LyQyMTgxYThkZDE4YWY3NDFj@p2p.thread.skype**

If you want to add your bot to this group for convenience to testing, please send me your contact or

[2021-02-24 09:53] SergeyPr opened #283 "DirectLine loses activities sometimes"
### Version
Microsoft.Bot.Builder DotNet 4.10.3
botframework-webchat Js 4.9.2

### Description
We are using Bot Framework SDK with communication via the WebChat channel.
When the user enters the chat page, we are sending an "event" activity to notify the bot. When the bot receives this "event" activity it prepares initial "message" activities as a response.
Last month our customers reported the is

[2021-02-24 11:25] Kadae opened #284 "[JavaScript/NodeJS] Improve CardFactory/AdaptiveCards the rendered image quality for unsupported platforms"
This is the similar issue to my https://github.com/microsoft/AdaptiveCards/issues/5421 - Just don't know where is a problem...

Example: Telegram doesn't support Adaptive Cards, so BotFramework renders image. Image quality is very very low.
Is there a way to improve the image quality on NodeJS? They're so pixelated... Thank you.

[2021-02-24 20:18] stevkan commented on #283
Possibly related to Web Chat issue #[3623](https://github.com/microsoft/BotFramework-WebChat/issues/3623)

[2021-02-24 20:31] stevkan commented on #283
@SergeyPr, the above referenced issue (and associated [PR](https://github.com/microsoft/BotFramework-WebChat/pull/3705)) fixes a race condition that was occurring between some bot and user activities, in particular, between the initial activities. This would result in a time out warning in the browser's console and, sometimes, the 'losing' activity being lost.

The fix is in and will be available

[2021-02-25 10:20] Mallipriya-MSFT commented on #283
Hi @SergeyPr,  Thanks for reaching out to us. We are the developer support team for Microsoft teams focused on helping developers resolve their code issues specifically to Teams channel.

[2021-02-25 14:19] Jeffders commented on #284
Azure Bot Services uses the AdaptiveCards.Rendering libraries from Nuget to assist in the "image rendering" of cards. These renderers do have limitations. If you look in these libraries, the only parameter that controls the resulting image is "width", which says nothing of card resolution.

I've opened an issue with that library on Adaptive Cards and you can follow it here:
https://github.com/micr

[2021-02-25 14:19] #284 closed

[2021-02-26 00:11] cwhitten commented on #285
Transferring to the services repository for discussion.

[2021-02-26 00:48] #281 closed

[2021-02-26 10:20] Jagadeesh-MSFT commented on #278
@vitallishandra - Could you please share the Application id? Also Is this a Teams global app?

[2021-02-26 14:14] vitaliishandra commented on #278
The application Id is 5d7b15f5-b634-49fe-9d62-88a9eb0fea3d (retrieved from Graph Api).
Brainstorm App is globally publsihed: https://appsource.microsoft.com/en-us/product/office/WA200001549?tab=Overview

[2021-02-26 16:11] dandriscoll commented on #285
The Direct Line API and infrastructure was designed to support multi-user chat. I suspect that if you try it, you'll find that it works.

Since we built it, we've found that multi-user scenarios are extremely uncommon, and much of the machinery around Direct Line (notably Web Chat) does not feature multi-user capabilities.

[2021-02-27 00:11] armstrong-charles commented on #276
When webhook for attachmentActions was created at webex teams portal, by default, it was created using logged on user token, once i change it to use the bot access token, I get the notification now. Thanks

[2021-02-27 00:26] SonOfJesseAsSnekithan commented on #276
When webhook for attachmentActions was created at webex teams portal, by default, it was created using logged on user token, once i change it to use the bot access token, I get the notification now. Thanks

[2021-02-27 18:31] #285 closed

[2021-03-01 20:07] MichaelHaydenAtMicrosoft commented on #286
@konstlut

[2021-03-01 22:32] Zerryth commented on #276
closing, as customer states it's working for him again

[2021-03-01 22:32] #276 closed

[2021-03-02 06:09] Nikitha-MSFT commented on #278
We are checking with internal team, Will get back to you

[2021-03-02 18:59] MichaelHaydenAtMicrosoft commented on #270
@danghoanghai @hojojon
Thank you for your patience.  From what I understand, there is an issue with our internal partner service that was mitigated with a workaround that doesn't work for some scenarios. They have disabled the workaround and would like you to repro one more time so as to help in the original issue being debugged and ultimately fixed. Apologies for asking you to do this again.

@az

[2021-03-03 07:05] danghoanghai commented on #270
thank Michael, I have tested and the bot can send messages now. Thank you for your support and thank dev team for the effort.

[2021-03-03 07:20] hojojon commented on #270
@MichaelHaydenAtMicrosoft Thank you for your support. I've checked again and now I don't see any error. My bot works correctly as before.

[2021-03-03 18:53] MichaelHaydenAtMicrosoft commented on #270
Great! Glad to hear that this now working! I am going to close this issue.

[2021-03-03 18:53] #270 closed

[2021-03-03 18:54] MichaelHaydenAtMicrosoft commented on #283
Hi @SergeyPr - just wondering if you were able to try Stevkan's suggestion by testing with the published daily package?

[2021-03-03 19:35] SergeyPr commented on #283
Hi @stevkan
Thank you for you help. We could not test daily package on our servers for now, but we have tries a fix, described in the issue [3623](https://github.com/microsoft/BotFramework-WebChat/issues/3623) with adding timeout before sending the first event. It looks like it solved the problem

Hi @MichaelHaydenAtMicrosoft For now we just applied the fix with timeout described here: [3623](http

[2021-03-03 19:37] MichaelHaydenAtMicrosoft commented on #283
Thank you SergeyPr. This is great news! I will close the issue for now. Please let us know if the issue returns.

[2021-03-03 19:37] #283 closed

[2021-03-06 02:11] arturl commented on #279
I have a fix, ETA for deployment 3/16/2021

[2021-03-06 02:28] arturl commented on #280
We cannot fix this without breaking backward compatibility. We are working on a feature (schema transformation versioning) that would allow bots to opt into the new behavior but until then it must remain unchanged. I'm closing it for now, we will re-evaluate once we have schema transform versioning available.

[2021-03-06 02:28] #280 closed

[2021-03-08 18:45] v-kydela commented on #279
@arturl - Will the fix apply to Telegram and LINE as well?

[2021-03-08 21:59] arturl commented on #279
Yes @v-kydela

[2021-03-09 23:33] JonathanFingold opened #287 ""Azure Bot Services" should be "Azure Bot Service" singular"
- On the [Azure Bot Services](https://azure.microsoft.com/en-us/services/bot-services/) marketing site, the product name appears with an "s" (plural).
- In the docs and according to Andrea the singular version is the official service name.

See also https://github.com/MicrosoftDocs/bot-docs/pull/2041

[2021-03-10 18:17] 007-fr opened #288 "Unable to Delete Orphaned User State"
Hello BotFramework gurus,

Recently I updated the user state in my code base to a new location. In doing so, I noticed that the BotFramework state still has my original object in it. Now if I try to get or save the state, it throws this error when I attempt to deserialize the state into my new object.

![image](https://user-images.githubusercontent.com/66075770/110675949-7229ec80-81a1-11eb-933f-0b

[2021-03-10 18:23] 007-fr commented on #288
My code base works in the BotFramework emulator because I am only using session state instead of cosmos so the state is automatically cleared after each session.

The issue I am seeing is when I publish it to the WebChat (where I am using Cosmos for saving the state) .

[2021-03-10 19:03] MichaelHaydenAtMicrosoft commented on #287
@Andrea-Orimoto to address as part of resource naming. Closing issue for now.

[2021-03-10 19:03] #287 closed

[2021-03-11 19:41] v-kydela commented on #288
Hello @007-fr

Do you mean this to be a bug report or a how-to question?

[2021-03-11 20:06] 007-fr commented on #288
I looked through the objects returned from state, and could not find a way to delete an orphaned property so, it may be a bug or enhancement.

[2021-03-11 21:33] v-kydela commented on #288
@007-fr - I'm sorry but I'm having a hard time understanding your bug report as you've written it, so I'll need to ask some clarifying questions.

What do you mean by this? What was the previous location, and what is the new location? Are you talking about Azure storage resources?

What does this mean? Are you examining the state using a storage explorer? What is your original object?

By session

[2021-03-11 22:50] 007-fr commented on #288
Recently I updated the user state in my code base to a new location. - What do you mean by this? What was the previous location, and what is the new location? Are you talking about Azure storage resources?

- Originally I had a class in my .NET code "Dialogs.POC.SalesAndVolumeState" and I saved an object of it into the UserState (inside of Cosmos DB). I copied that class to a Dialogs/Shared folder

[2021-03-12 00:24] v-kydela commented on #288
@007-fr - Thank you, I think I understand your problem now. When you said you updated to a new location you meant the class file changed directories, but the important part is that it has a new type name. You've made changes to your state schema and that's broken old conversations. This problem is not uncommon.

Would you be satisfied with deleting your existing state to start fresh, or do you wan

[2021-03-12 02:36] 007-fr commented on #288
The Cosmos DB that I have is shared across multiple skills. Let me check and see if the container is shared.

Now, that makes sense for the Emulator. I kept the out of the box config for WebChat which must be re-using the ID's.

[2021-03-12 17:30] v-kydela commented on #288
@007-fr - There's not really one "out of the box config" for Web Chat, but if you show me the HTML you're using then I'll be able to tell

[2021-03-12 20:07] MichaelHaydenAtMicrosoft commented on #278
Hi @Nikitha-MSFT , any updates here?

[2021-03-13 23:07] 007-fr commented on #288
I think I found where ID for the user is located now..
![image](https://user-images.githubusercontent.com/66075770/111052040-8ed65680-8425-11eb-9766-3899f4aae038.png)

The containers were not shared between my skills, so I added a new container in Azure and it resolved my issue. Deleting the existing one would have resolved it as well as you stated. (I wanted to keep that history for now)

Side No

[2021-03-15 17:58] v-kydela commented on #288
@007-fr - Please have a look at the Web Chat [samples](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/02.branding-styling-and-customization/a.branding-web-chat) for branding, styling, and customization. The `bubbleMinWidth` and `bubbleMaxWidth` styles look promising. If you need more help with that, please ask a question on Stack Overflow. I will close this issue as resolved

[2021-03-15 17:58] #288 closed

[2021-03-15 19:45] 007-fr commented on #288
Thanks again!

[2021-03-15 20:42] MichaelHaydenAtMicrosoft commented on #286
Thank you for reporting. Per our Skype team, the fix for this should be rolled out sometime in early April.

[2021-03-15 20:42] #286 closed

[2021-03-17 18:27] #279 closed

[2021-03-18 09:51] hpksp opened #289 "Bot DirectLine Service Issue"
We have two bot clients which are using Direct Line service (directlinejs v0.11.4) with web sockets enabled. Both clients store user id and conversation id for the first time and use them to reconnect later. We pass an empty value for the watermark property when reconnecting as stated in the documentation since we don't expect any old messages back from the directline cache.

_"In this request URI

[2021-03-18 11:13] Swati02041991 opened #290 "POST to bot timed out after 15s"
I am using Bot framework .Net SDK v4 and directline channel. I keep getting this timeout exception in the very last step of the entire conversation. Once I get this error, the bot continues to timeout till I refresh the Sharepoint website on which it is hosted.

In App insights I can see the following:
problemID - Microsoft.Bot.Schema.BotTimeoutException at Microsoft.Bot.ChannelConnector.BotAPI+<P

[2021-03-18 14:33] craigjensen commented on #289
Please add a couple of conversation Id's and I'll take a look in our logs and see if I can tell what's happening.

[2021-03-18 14:42] craigjensen commented on #290
The 15s timeout is not configurable.  If your bot needs to do extensive processing you may need to update it to quickly ack the message and move the processing to a background thread where it can be completed asynchronously.

[2021-03-19 03:44] hpksp commented on #289
Here are two Conversation Ids;
1. 1OYjMVzVO2KGafXB7mpbmD-h
2. 4IKQedsAYSPEQT949Ng7L5-h

**Reconnect request & response (partial);**
Request: _https://directline.botframework.com/v3/directline/conversations/4IKQedsAYSPEQT949Ng7L5-h?watermark=_
Response: _streamUrl=wss://directline.botframework.com/v3/directline/conversations/4IKQedsAYSPEQT949Ng7L5-h/stream?watermark=-&t=************_

Not sure "-"

[2021-03-19 03:58] hpksp commented on #289
Here are two Conversation Ids;
1. 1OYjMVzVO2KGafXB7mpbmD-h
2. 4IKQedsAYSPEQT949Ng7L5-h

**Reconnect request & response (partial);**
Request: _https://directline.botframework.com/v3/directline/conversations/4IKQedsAYSPEQT949Ng7L5-h?watermark=_
Response: _streamUrl=wss://directline.botframework.com/v3/directline/conversations/4IKQedsAYSPEQT949Ng7L5-h/stream?watermark=-&t=************_

Not sure "-"

[2021-03-19 04:03] hpksp commented on #289
Here are two Conversation Ids;
1. 1OYjMVzVO2KGafXB7mpbmD-h
2. 4IKQedsAYSPEQT949Ng7L5-h

**Reconnect request & response (partial);**
Request: _https://directline.botframework.com/v3/directline/conversations/4IKQedsAYSPEQT949Ng7L5-h?watermark=_
Response: _streamUrl=wss://directline.botframework.com/v3/directline/conversations/4IKQedsAYSPEQT949Ng7L5-h/stream?watermark=-&t=************_

Not sure "-"

[2021-03-19 04:14] hpksp commented on #289
Here are two Conversation Ids;
1. 1OYjMVzVO2KGafXB7mpbmD-h
2. 4IKQedsAYSPEQT949Ng7L5-h

**Reconnect request & response (partial);**
Request: _https://directline.botframework.com/v3/directline/conversations/4IKQedsAYSPEQT949Ng7L5-h?watermark=_
Response: _streamUrl=wss://directline.botframework.com/v3/directline/conversations/4IKQedsAYSPEQT949Ng7L5-h/stream?watermark=-&t=************_

Not sure "-"

[2021-03-19 13:30] Nikitha-MSFT commented on #278
I just checked this appId, it's a Teams Global app. I saw the store version already updated to 1.0.5 with bot. But the new change from 1.0.4 to 1.0.5 is adding a bot. That will need user's consented upgrade. We don't force auto upgrade for apps added a new bot. But the users should be able to find the new version of this app from apps store and upgrade it

[2021-03-19 13:56] vitaliishandra commented on #278
It is just one of the issue.
What about another case:
1. Customer didn't have our app installed
2. Customer installed our app globally
3. Some users didn't receive the latest version of app after login in MS Teams

Relogin/clearing cache/PC restart sometimes helps to solve the issue for some users but not for all. Sometimes it is shown in web version but not desktop. It is reproduced for different

[2021-03-19 17:56] haacked commented on #280
Thanks for following up! I logged the original issue this is based on.

@arturl Is there an issue tracking the schema transform versioning?

I understand that changing the behavior breaks backwards compatibility, but is this not a relatively safe breaking change considering the current behavior is a bug?

I imagine that very few people are relying on their Slack message text to get overridden and

[2021-03-20 02:08] craigjensen commented on #289
There haven't been any changes to those code paths in the last couple weeks so I'm not sure why you started to see differences in the last couple days.  Have there been any changes on your end that may account for this?

I took a look at our logs and nothing jumps out as unusual.  For convId 1OYjMVzVO2KGafXB7mpbmD-h, I see a total of 14 activity messages (plus some typing messages that are not rep

[2021-03-20 02:50] craigjensen commented on #289
I found a regression in the directline code.  We'll get a fix out early next week.

[2021-03-20 03:02] hpksp commented on #289
I was just about to create a brand new bot channel registration and try out the direct line to verify the issue (when I saw your previous reply), but then you found the issue :D Thanks for looking into this. Looking forward for the fix soon.

[2021-03-20 03:08] craigjensen commented on #289
The regression is in the reconnect code that builds the stream url.  We're ignoring the passed in value and always adding '-' for the watermark.  We'll get a fix out next week.  In the mean time you may be able to work around it by patching the watermark before opening the websocket.

[2021-03-20 03:15] hpksp commented on #289
We don't have a way to patch the clients as there tightly embedded into our ERP solution. Only option is to wait for a fix from your side.

[2021-03-22 15:27] orsharab opened #291 "Can't delete bot registration resource"
I can't delete bot registration - msbot-i9tekgf, subscription ID - 0a05d163-70d7-4b44-a4ca-1e1df8acad43
Tried both Azure portal and AZ cli and got the same error -

`{"error":{"code":"UnknownError","message":"message: Illegal characters in path. original trace:    at System.IO.Path.CheckInvalidPathChars(String path, Boolean checkAdditional)\r\n   at System.IO.Path.GetFileName(String path)\r\n   at

[2021-03-23 03:22] xieofxie commented on #291
Hi @orsharab do you use a custom url for the bot icon? (i.e. an external url) If so, it could be a bug in our service

[2021-03-23 05:48] orsharab commented on #291
Seems like it
![image](https://user-images.githubusercontent.com/78015512/112099427-28330480-8bac-11eb-8082-49ed37ad9653.png)

[2021-03-23 06:17] xieofxie commented on #291
@orsharab There are two cases:
1 is uploading a file from Portal and
2 is set an url from ARM api.
Could you verify which one is it?
You could use F12 to see the url of the displayed icon. If it is case one, it should be like `background-image: url("//bot-framework.azureedge.net/bot-icons-v1/BOTID_SOMEVALUE.png");`.

[2021-03-23 06:39] orsharab commented on #291
It was set with ARM API

[2021-03-23 06:48] xieofxie commented on #291
@orsharab I see.. It is a bug in our service. A workaround: you could upload some arbitrary icon to replace the one you set and delete again. It should work in this way.

[2021-03-24 06:51] KayMKM commented on #280
Hi @haacked I am working on fixing this bug now. We will keep the old behavior in old schema transformation version. And fix this in new version. I think though there might be a few bots are relying Slack message to get attachment name, we need to prevent breaking these bots' behavior.

[2021-03-24 07:02] orsharab commented on #291
The workaround solved the issue, thanks @xieofxie!

[2021-03-24 08:56] xieofxie commented on #291
Create an internal work item to fix this. Close the issue now

[2021-03-24 08:56] #291 closed

[2021-03-24 18:09] haacked commented on #280
@KayMKM thanks for following up!

I suppose these bots would be broken today if there's more than one attachment attached to the message though.

I understand.

[2021-03-25 06:37] hpksp commented on #289
Hi @craigjensen, any update on this?

[2021-03-25 14:20] craigjensen commented on #289
We're in the process of rolling out the fix worldwide.  Should be complete by EOW

[2021-03-25 21:46] #289 closed

[2021-03-25 21:46] craigjensen commented on #289
The final release just completed.  Let me know if you continue to see this issue

[2021-03-26 00:02] MichaelHaydenAtMicrosoft commented on #290
@Swati02041991 - Just following up to see if Craig's workaround was helpful in resolving your issue.

[2021-03-26 03:13] Swati02041991 commented on #290
Yes, we optimised the code and seems to work fine.

On Fri, Mar 26, 2021, 5:33 AM Michael Hayden ***@***.***>
wrote:

[2021-03-26 04:45] hpksp commented on #289
I can now confirm that the issue has been resolved.

**Reconnect request**
https://directline.botframework.com/v3/directline/conversations/{conversation_id}?watermark=

**Reconnect response**
streamUrl=wss://directline.botframework.com/v3/directline/conversations/{conversation_id}/stream?**watermark=6**&t={t}

**Observation**
DL service returns the stream URL with the latest watermark value.

Than

[2021-03-26 12:27] Nikitha-MSFT commented on #278
For global policy it need to update from the user. user should reinstall the bot.

[2021-03-26 13:07] vitaliishandra commented on #278
@Nikitha-MSFT Yes, we laready understood it that user needs to reinstall it manually if he had the old version. But what about the case I described in the latest comment (where no any version was installed previously)?

[2021-03-26 16:44] MichaelHaydenAtMicrosoft commented on #290
Great! I shall close this case. Thank you!

[2021-03-26 16:44] #290 closed

[2021-03-29 05:30] Nikitha-MSFT commented on #278
Are you facing issue when new user install the app? if yes could you please share you manifest to test?

[2021-03-29 19:02] kluhman opened #292 "Slack Channel Does Not Include Team Id"
I am using the Azure Bot Service to connect to Slack, but it does not appear to be sending the Slack Team Id in the activity to our Bot. We can obtain the Team Id from the channel data directly, but that is not a fool-proof solution, since the contents of that Channel Data are not consistent between messages. For example, for a simple text activity, it contains a `SlackMessage` property, but for b

[2021-03-30 21:18] arturl commented on #292
Hi @kluhman, it's pretty hard for us to do this reliably, for the reasons you stated yourself. If we get it wrong, it will be hard to change without breaking bots dependent on it.

Can you try a middleware approach similar to this and see if it works for you: https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs#L1689

[2021-03-31 15:30] kluhman commented on #292
@arturl Yep, we can do an approach like that. I was just hopeful it would be possible to do this on the ABS side to minimize channel specific code in our implementation. It seemed to me that the ABS connector already has some mechanism of parsing the Team Id from the various types of Slack requests because it is used in the `<user-id>:<team-id>` recipient and from account object ids. I'm pretty su

[2021-04-01 11:07] Nikitha-MSFT commented on #278
@vitaliishandra - please share the required inputs if the issue still persists?

[2021-04-05 10:02] bhushanvadgave opened #297 "Sending Proactive Message to Facebook user with Message Tag"
## Versions
NodeJS 10.16
BotBuilder NodeJS SDK 4.8.0
Channel: Facebook Messenger
Facebook App ID: 1366431413469216

## Context
Our bot needs to send proactive messages (notification) to Facebook users, **outside of 24-hour window**. We are using `channelData` property of Activity to include `messaging_type` and `tag` data while sending the message.

## Description of the bug
Below is the the sampl

[2021-04-06 17:31] MichaelHaydenAtMicrosoft commented on #292
Hi @kluhman  - just wondering if Artur's solution will suffice for now. If so, we would like to close this issue.

[2021-04-07 13:27] kluhman commented on #292
Yes, we have a workaround in place for this. But it would be great in the future to have support from the ABS for this

[2021-04-07 20:46] MichaelHaydenAtMicrosoft commented on #292
Closing with suggestion to provide future support from us for this feature.

[2021-04-07 20:46] #292 closed

[2021-04-08 17:43] MichaelHaydenAtMicrosoft commented on #278
@vitaliishandra - Please let us know if you need anything else from us and if we can close this issue.

[2021-04-13 18:22] #278 closed

[2021-04-20 14:00] mountju commented on #195
hello, @joynext !
I have the same issue now.
what did you do to fix it?

[2021-04-20 15:32] damlaalkan opened #293 "Azure Bot does not support Adaptive Card Version 3.0"
## Describe the bug

The bot which uses adaptive cards version 3.0 and works perfectly in Bot Framework Composer Web Chat and Bot Emulator does not works when it has published and deployed on Azure Bot. In each browser Chrome, Edge, Firefox, it gave the adaptive cad error and when the adaptive cards updated to version 1.0 it worked. The version 1.0 does not support new features. What should be don

[2021-04-23 17:51] NickEricson commented on #293
Hi @damlaalkan - Does AdaptiveCards 2.5.1 support the feature you need? If so try using that version in your bot.

If that doesn't work - what is the feature you need and what is the error you are seeing. Do you have the json for the Adaptive Card you send and the Adaptive Card you receive in WebChat (when it doesn't work)?

[2021-04-23 21:18] MasonStricklin opened #294 "Not receiving conversationUpdate event when our bot is installed for a team"
Hello,

My Microsoft Teams Bot (listed in AppSource here: [link](https://appsource.microsoft.com/en-us/product/office/WA200002720?tab=Overview)) does not always receive the conversationUpdate event when a bot is installed for a team.

I have a user who installed our app to one team. Our app received the conversationUpdate event and we triggered a welcome message to the general channel of that team

[2021-04-26 10:26] Mamatha-MSFT commented on #294
Hi @MasonStricklin, I will repro at my and will let you know.

[2021-04-26 18:45] MasonStricklin commented on #294
Let me know if there is any info that I could provide that could help.

[2021-04-27 13:46] Mamatha-MSFT commented on #294
Hi @MasonStricklin Could you please send the conversationUpdate event method code snippet.

[2021-04-27 18:37] MasonStricklin commented on #294
Here is a snippet taken from the controller where I handle conversationUpdate/membersAdded events. Our app is ruby on rails fyi.

I also posted this issue on Stackoverflow. I went more in depth describing the problem here, so it might be worth taking a look at my SO post too ([link](https://stackoverflow.com/questions/67288654/is-there-a-reason-why-i-would-not-receive-a-conversationupdate-membersa

[2021-04-30 19:42] cleemullins opened #295 "Autogenerated Azure SDKs use old Swagger Files"
The .Net SDK for Azure uses a very old swagger file (from 2017) and needs to be updated:
* https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/botservice/Microsoft.Azure.Management.BotService/src/Generated/SdkInfo_AzureBotService.cs#L14
![image](https://user-images.githubusercontent.com/1165321/116746087-e5392d80-a9b0-11eb-9678-9a38465158b1.png)

The Python SDK for Azure uses an old swagger

[2021-05-01 12:24] Mamatha-MSFT commented on #294
Hi @MasonStricklin - I am unable to repro the issue. I am getting conversationUpdate event when our bot is installed for a team. I have added my bot to multiple teams and I am getting welcome message.

 If the bot added already to teams then you will not receive welcome message.

[2021-05-03 17:25] MichaelHaydenAtMicrosoft commented on #293
Hi @damlaalkan - Just following up to see if Nick's suggestion on upgrading versions worked for you? Please let us know.

[2021-05-03 21:43] v-kydela commented on #294
@MasonStricklin - Thank you for the code sample.

How did you determine that the bot isn't receiving conversation updates? Is it possible that the bot is receiving the conversation update activities but just isn't responding to them correctly? Could it just be encountering errors perhaps?

[2021-05-05 16:02] damlaalkan commented on #293
Hello NickEricson,

There is no 2.5.1 Adaptive Card version, I could not find it in https://www.adaptivecards.io/designer/

The situation is 1.3 version adaptive card works fine in Bot Composer WebChat and Emulator but when I publish the same bot it does not work in the web channel and gives error as "The maximum supported version is 1.0"

I also add the screenshots.
![errorhtml](https://user-imag

[2021-05-05 16:03] damlaalkan opened #296 "Enabling Application Insight with Bot Composer and does not get "LuisResult" or "QnAMaker" name in telemetry data."
When I enable the application insight with Bot Composer and set log personal information to true, I can see in Apllication Insight log in CustomEvents the log name "BotMessageReceived" and "BotMessageSend" but I cannot collect luis or qna data as in the document:

https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-telemetry-analytics-queries?view=azure-bot-service-4.0#total-intents-by-

[2021-05-05 20:59] tsuwandy commented on #296
Related issue https://github.com/microsoft/BotFramework-Composer/issues/7533

[2021-05-07 10:21] youyu16 commented on #297
@tdurnford We do support message tag in channeldata and I just check the code, it looks like we always check if there is message tag inside channeldata. Currently no error was found about masAppId: b08d39ff-0815-4f73-9ee6-56c256454a23 in our log.
@bhushanvadgave Please check if the channelData serialized to string. it must be a JSON object, not a string. if that is correct, please try to catch the

[2021-05-10 07:58] danghoanghai opened #298 "Sometimes the response is BadGateway but the messages have been sent to chat group"
I am using Bot Framework to send messages to chat groups. Sometimes, I got the issue that the results when I action send message to Azure response the **BadGateway** error, but the skype group received the messages.

I am using .NET Core 2.2 now.

[2021-05-10 16:54] v-kydela commented on #298
Thank you for the report, @danghoanghai

It sounds like you're saying you have a Skype bot and sometimes when the bot sends messages to Skype you see an error even though the messages are delivered successfully. Is that correct? Where are you seeing the error? Can you post screenshots?

I should warn you that Skype bots are deprecated and it's unlikely that you'll be able to find a solution to thi

[2021-05-11 02:12] youyu16 commented on #297
@bhushanvadgave Could you please repro the issue and provide the timestamp?

[2021-05-11 04:17] danghoanghai commented on #298
Thank you for the early response. I am using Try catch in my code and it's throwing an exception BadGateway. I usually get this exception before, but this case just appears about 2 weeks ago. Here is the exception I had captured.
![image](https://user-images.githubusercontent.com/18319715/117757455-58149500-b24a-11eb-99a5-380d3ffd2d8b.png)

[2021-05-11 21:15] MichaelHaydenAtMicrosoft commented on #295
@hailiu2586  - any updates here?

[2021-05-11 22:31] haacked opened #299 "Slack Hero Buttons Clicks Do Not Include Original Message Text"
Hi! I'm using the C# BotFramework 4.12.2. In the code sample below, I also use `Microsoft.Bot.Builder.Dialogs` 4.12.2 to generate the choice buttons.

Rendering the buttons (actually, Hero cards) works great! But when a user clicks on them...

[code]

This is the response:

[code]

If you look at the `original_message`, you can see that the text is blank. According to the [Slack docs](https://api.

[2021-05-11 22:36] haacked commented on #299
Also, the `replyToId` is null. It'd be nice if that were set to the message. I'm trying to match up the click with the message that the click corresponds to.

[2021-05-12 03:47] haacked commented on #299
Ok, I think I figured out why. I have a middleware that sets the outgoing `ChannelData.Text` property to `turnContext.Activity.Text` and then sets `turnContext.Activity.Text` to `null`. The reason for this is we wanted the `<@SlackUserId>` formatting to work, which didn't work when setting `turnContext.Activity.Text`.

Any ideas how I can work around that?

[2021-05-12 13:53] sbasu60 commented on #44
Function and Web App bots are essentially the same thing. The core difference is that most of the business logic for a functions bot is contained in one or more Azure functions which are c# scripts, while the business logic for a WebApp bot is contained in an WebAPI running as an App Service. Now, a Bot Channels Registration is an entirely different beast. This resource is what you use when you wa

[2021-05-12 19:25] v-kydela commented on #298
@danghoanghai - Well I don't see any obvious reasons why you might be encountering this problem. Like I said, Skype bots have been deprecated for a while and you can't expect to get any official support for these kinds of problems. You could try debugging more on your own, but my recommendation is to switch to a supported platform like Microsoft Teams. I'll go ahead and close this now.

[2021-05-12 19:25] #298 closed

[2021-05-12 19:36] hailiu2586 commented on #295
The following PR and SDK release requests have been created/submitted

1. sdk-for-net: https://github.com/Azure/azure-sdk-for-net/pull/20955
2. sdk-for-js: https://github.com/Azure/azure-sdk-for-js/pull/15208
3. sdk-for-python: https://github.com/Azure/azure-sdk-for-python/pull/18615
4. sdk-for-java/ sdk-for-go: https://github.com/Azure/sdk-release-request/issues/1535

[2021-05-12 19:45] v-kydela commented on #299
Thank you for the report, @haacked

It sounds like you're saying you no longer think there's a bug, but you're encountering a problem based on your own middleware. What is the problem, and what are you trying to do? Can you post screenshots, links, etc.?

[2021-05-12 20:40] haacked commented on #299
@v-kydela Yeah. The above code is the repro. The only thing its missing is I also have middleware that does the following (pseudocode).

[code]

Even though I set the `Activity.Text` to null, I expected that when the user clicked the button, all the info Bot Framework needs to populate the original message would be there. Does that make sense?

[2021-05-12 21:09] v-kydela commented on #299
@haacked - There's still a lot of missing information about your problem and it sounds like you don't know how to get us on the same page as you. Maybe I can ask some guiding questions that will help.

Your middleware is taking the activity text and putting it in the activity channel data instead. The channel data has the same effect on Slack as the text would because the Slack connector uses the

[2021-05-12 23:05] MichaelHaydenAtMicrosoft commented on #294
@MasonStricklin - following up to see if you need additional support with this issue?

[2021-05-13 17:25] harshithkashyap opened #300 "Adaptive Card 1.4 Support for Directline channel"
## Version
BotbuilderJS - 4.13.2

## Describe the bug
The latest release of the [Adaptive Cards](https://github.com/microsoft/AdaptiveCards/releases/tag/21.03) package has enabled support for Action.Execute type with Adaptive Card Version 1.4. This is currently working with Teams bot when sending an 1.4 AC using the directline channel results in _We're sorry, this card couldn't be displayed_ card

[2021-05-13 22:26] MichaelHaydenAtMicrosoft commented on #294
Resolving issue for now due to lack of response from OP.

[2021-05-13 22:26] #294 closed

[2021-05-14 00:13] NickEricson commented on #293
@damlaalkan - We will make a change that may help you soon. What I believe is happening is that the DirectLine service is using an older version of Adaptive Cards. DirectLine processes the Adaptive Cards attached to messages and this processing can drop properties that exist in newer versions of Adaptive Cards.

We now support a feature, Schema Transformation Version, within bots.
https://docs.mic

[2021-05-14 04:29] haacked commented on #299
I misspoke. The reason we're using the channel data for the Text is because we want to support Slack stye markdown in our responses. We only do this for the Slack channel. For example, two differences are:

[code]

No, if the `Text` property is set on `Activity` AND it's set on `ChannelData`, they both are sent to the response. This is not the behavior I expected. Is that by design?

[2021-05-14 16:14] v-kydela commented on #299
@haacked - The behavior of the connector services is somewhat complicated, but I presume that's by design. Thank you for the information so far. Do you think you might be able to answer the rest of my questions? I need to have a good idea of what's happening in order to help

[2021-05-14 17:08] haacked commented on #299
Ah, that might explain it then. If that's by design, can you help me understand why? I feel like my mental model of ChannelData must be incorrect. It is surprising to me that if both the `IMessageActivity.Text` AND `ChannelData.Text` are set, that I get two messages.

Sure! I set up a simpler example.

Here's my bot code.

[code]

## Test Case 1

I don't have any middleware set up in this example.

[2021-05-14 18:04] tdurnford commented on #300
@dandriscoll Can you chime in on this?

[2021-05-14 19:09] v-kydela commented on #299
@haacked

Think of it like this. Suppose `IMessageActivity.Text` and `ChannelData.Text` contain two different values. If the Slack connector was only supposed to display one of them as a message, how would it know which one to display?

It generally makes sense, but there's still some important information I need in order to diagnose the problem. It was good of you to provide screenshots, but they

[2021-05-14 19:10] harshithkashyap commented on #300
@tdurnford @dandriscoll I went through #87 and it seems like there still is no permanent fix for this and it wasn't clear from the directline team why they need to serialize the AC sent by the customer. #87 seems to have taken almost 5 months to get a new version of AC out. I'm trying to use `Action.Execute` from AC as we have bots deployed to Directline as well as Teams and would prefer to avoid

[2021-05-14 19:24] harshithkashyap commented on #300
@tdurnford Adding a little more context into this, we're a multi-tenant bot and we let our customers configure messages or responses they send back proactively. When we receive a response from the customer to the bot, we deliver the response as it is to the end bot user. It's going to end up requiring us to add the middleware both on frontend as well as backend to specify the AC contentType, check

[2021-05-14 23:51] haacked commented on #299
Well my original mental model was that the `ChannelData` represented the final form of the JSON that would get posted to the Slack API in order to send a message. So if both were set, `ChannelData` would win.  But now I can see my mental model is incorrect. It looks like they are effectively two different messages sent to Slack. And that matches up with your hunch:

I think this also explains the

[2021-05-14 23:51] #299 closed

[2021-05-18 03:59] KayMKM commented on #280
@haacked We had fixed this issue in schema transformation version 1.2. You can refer to this doc to upgrade the version: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-manage-channels?view=azure-bot-service-4.0#bot-schema-transformation-version

[2021-05-18 23:09] DDEfromOR commented on #300
We have roadmap items for upgrading the AC packages in DirectLine to 1.4, and for enabling support for the inline responses required by the Action.Execute schema, but no firm ETA. Having this customer request will help bump the priority of those changes, so thank you for opening the issue.

I think WebChat will also need updates to support the Action.Execute model, but @compulim  would be the expe

[2021-05-20 17:35] MichaelHaydenAtMicrosoft commented on #295
Closing this ticket for now. Please reopen if the concern has not been addressed or resurfaces.

[2021-05-20 17:35] #295 closed

[2021-05-20 17:37] MichaelHaydenAtMicrosoft commented on #293
@NickEricson  @arturl  - checking to see if changes have been rolled out yet?

[2021-05-20 17:38] MichaelHaydenAtMicrosoft commented on #297
@bhushanvadgave - please let us know if you tried to repro this issue and received timestamp?

[2021-05-20 17:51] jrpavoncello commented on #205
We also require this to support hiding hero cards or adaptive cards after they've been interacted with.

[2021-05-20 17:54] NickEricson commented on #293
@damlaalkan We have releases version 1.3. You will need to update your bot (see the docs above) - please let us know if this resolves your issue.

[2021-05-24 18:32] MichaelHaydenAtMicrosoft commented on #297
Resolving issue for now. Please reopen if this resurfaces or issue is not addressed.

[2021-05-24 18:32] #297 closed

[2021-05-26 10:14] d-bauer opened #301 "Adaptive Cards on Slack not available after 24hours"
## Version
C# with Bot Framework SDK v4.13 (and .NET Adaptive Cards v2.7.0)

## Describe the bug
When using the bot framework and connect it to a slack channel, bot sent adaptive cards get automatically transformed to images (which is fine!) and displayed correctly in chats.
Those images sadly are NOT available after 24hours, leaving an empty image (see screenshot below).

## To Reproduce
Steps to

[2021-05-26 17:50] MichaelHaydenAtMicrosoft commented on #300
@harshithkashyap @compulim - do we have anything else to add here? Please let me know if the provided information on our roadmap will suffice for now.

[2021-05-26 18:35] craigjensen commented on #301
This by-design.  The images are uploaded to the temporary attachment cache which has a ttl of ~24hrs.  It may be possible to upload them directly to Slack but that would require a design change and need to be costed.

[2021-05-26 18:35] #301 closed

[2021-05-26 22:00] compulim commented on #300
In the next release of Web Chat (4.14.0), we will bump to AC renderer 2.9, which will support AC schema 1.4. It should unblock this issue. Link to the merged pull request, https://github.com/microsoft/BotFramework-WebChat/pull/3846.

The change is currently live in our dev branch, https://github.com/microsoft/BotFramework-WebChat/releases/tag/daily.

However, our PM is working on a plan to enable

[2021-05-26 23:18] mmiele opened #302 "Unable to validate JWT tokens. OpenID provider spec is not correctly implemented"
This issue cannot be addressed in documentation, see https://github.com/MicrosoftDocs/bot-docs/issues/2064 opened by https://github.com/nvioli.

According to the [OpenID provider spec](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfig),

and in section 4.3,

The `iss` field of the JWT token provided by the Bot Connector is `https://api.botframework.com`, but the metadata /

[2021-05-27 10:40] sunijk opened #304 "Slowness for chat messages in Skypebot"
## Version
Microsoft Boat framework in Node JS

## Describe the bug

I have created a Skypebot application in Node JS. Recently we face slowness for chat messages in Skypebot . Some times we don't see messages in skype , once we close open the skype messages are displayed at once.

Skype bot app uses some commands to communicate to other users, but due to the slowness of message it doesn't execute

[2021-05-27 15:26] sedashgh opened #303 "Configure Bot Email Channel Error"
When I try to add an email channel to a Bot which already works with Teams I am unable to save the email credentials even though the email credentials are valid office 365 users who can sign in to Outlook 365.

From a Bot Channels Registration - > Channels - >Email dialog -> Enter credentials -> Save I can see the following output in Developer Tools in Chrome.
https://dev.botframework.com/api/bots

[2021-05-27 17:23] MichaelHaydenAtMicrosoft commented on #300
Thanks @compulim ! I am going to close this issue for now.

[2021-05-27 17:23] #300 closed

[2021-05-27 17:25] MichaelHaydenAtMicrosoft commented on #293
Closing issue. Please let us know if new information surfaces that would facilitate us investigating this issue further.

[2021-05-27 17:25] #293 closed

[2021-05-27 19:11] sgellock commented on #304
@sunijk are you using the Skype channel?

[2021-05-27 21:23] v-kydela commented on #304
Linking: https://stackoverflow.com/questions/67718155/slowness-for-chat-messages-in-skypebot

[2021-05-28 00:02] craigjensen commented on #303
Please try running the Ews test tool referenced near the bottom of [this ](https://github.com/microsoft/BotFramework-Services/issues/221)issue and see if it helps isolate the problem.

[2021-05-28 00:21] willportnoy commented on #302
Can you use a custom authorizer with AWS API Gateway that lets you specify the OIDC document location?

It seems like it might be a common situation - for example, the issuer field on https://login.microsoftonline.com/contoso.com/.well-known/openid-configuration is https://sts.windows.net/6babcaad-604b-40ac-a9d7-9fd97c0b779f/.

[2021-05-28 06:16] sedashgh commented on #303
Yes. It revealed an AutoDiscover problem. I am trying to find out how to fix that with Office 365.
Under Manage Email apps all apps are enabled. I have a primary domain so that when I tried EWSTest on the original domain somedomain.onmicrosoft.com it got farther. I now see that sending mail to the primary domain fails whereas I can send mail to the original domain however channel registration fail

[2021-05-28 06:31] sunijk commented on #304
Yes, I am using Skype channel?. This bot app is working for last 1 year without any slowness issue. But for last 3 months we are facing some slowness for loading messages.

[2021-05-28 12:00] Mamatha-MSFT commented on #304
Hi @sunijk  - Taking this for internal discussion with team and will update you.

[2021-05-31 21:47] v-kydela commented on #304
@Mamatha-MSFT - Has a conclusion been reached yet?

[2021-06-01 09:54] sunijk commented on #304
Is this due to the issue of Skype channel?

[2021-06-01 16:22] JonathanFingold opened #305 "REST API links broken"
Originally reported by @jmnsf in bot-docs [issue 2044](https://github.com/MicrosoftDocs/bot-docs/issues/2044)

[2021-06-03 07:03] Mamatha-MSFT commented on #304
Hi @v-kydela @sunijk - we are checking this issue with engineering team. Will update you immediately once I got update from them.

[2021-06-03 13:47] sgellock commented on #304
@Mamatha-MSFT the correct next step is to open an ICM against the Skype team. The issue you are seeing is on their side and there isn’t a remedy we can perform on our side to address the issue.

[2021-06-03 17:38] willportnoy commented on #302
@nvioli I had hoped that there was a workaround where you could specify the OIDC location as simple configuration (since it seems like a common need).

(I agree with your reading of the specification)

Although we might be able to add additional routes to serve the OIDC at the proper path, we won't easily be able to fix the issue in our other clouds (the "domain" of the issuer doesn't match the do

[2021-06-04 09:42] xieofxie commented on #303
Hello @sedashgh, if I understand it correctly, you added a primary domain(someprimarydomain.com) for the original domain(somedomain.onmicrosoft.com), so you could add xx@someprimarydomain.com in the somedomain.onmicrosoft.com tenant.
And your status is as below:
| Domain\Action | Send email to | EWSTest | channel registration |
| --------------- | --------------- | --------------- | --------------

[2021-06-04 10:31] sedashgh commented on #303
Thanks very much. I will add the necessary records in the domain provider.

[2021-06-04 10:31] #303 closed

[2021-06-06 12:25] najwachehaibi opened #306 "{"code":"ResourceNotFound","message":"/ does not exist"}"
please how can i fix this issue?

[2021-06-07 16:42] dmvtech commented on #306
Hi @najwachehaibi Can you please give more information? Where are you getting this error? What were you doing when it happened?

[2021-06-08 05:20] sunijk commented on #304
We are doing some logic flow using the Conversation Id of the user. Since the Conversation Id of the user will be different for each channel we cannot switch this to another channel. We are managing some registration process based on this Conversation Id. For skype channel the conversation Id is like "29:1mKNIVkZ...1" and I think for teams it is some what like "19:22abc...." . In case we move to a

[2021-06-09 16:24] v-kydela commented on #304
@sunijk - To be clear, the expectation would be that if you start using another channel, that would mean your users would start new conversations with the bot. Of course, a move like that would have implications beyond just the bot, but it would be worth it given the diminishing support for Skype. Are you saying you're worried about existing conversations being affected by the move, or are you say

[2021-06-09 18:13] MichaelHaydenAtMicrosoft commented on #305
Upon further investigation, this appears to be a case of broken “bookmark”, where somebody saved a link somewhere (internal docs in this case) and we moved the doc.

Docs team is in the process of investigating the redirect file for this.

Other than that, I’m not sure we can do anything about this.

[2021-06-09 18:13] #305 closed

[2021-06-09 23:53] dmvtech commented on #306
Hi @najwachehaibi Are you still having this issue? Any more information you can give us?

[2021-06-10 06:19] sunijk commented on #304
Yes, I am worried about the existing conversations and also we have done some registration process based on the Conversation Id, so it will be incompatible with the Teams conversation Id.

[2021-06-11 17:42] MichaelHaydenAtMicrosoft commented on #302
Issue is mitigated for public cloud. Closing for now. Please reopen if this breaks again.

[2021-06-11 17:56] nvioli commented on #302
@MichaelHaydenAtMicrosoft I'm not sure what that comment means. If you're using the presence of a workaround in my specific use case to argue that the issue is mitigated, I disagree. The issue is about noncompliance with a spec, and the whole point of having standards is that developers should not need to build workarounds.

@willportnoy, you mentioned that it may be possible to add routes to serv

[2021-06-14 22:04] v-kydela commented on #304
@sunijk - Are you still working on this?

[2021-06-15 04:45] sunijk commented on #304
We are doing mandatory registration process in another application using the Conversation Id of the user.  Are you sure that the Conversation Id of skype & teams channels are not different. And this skype bot application is mainly used by the a deaf community. So we cannot switch the channel easily.

[2021-06-15 16:20] willportnoy commented on #302
@nvioli Bot Framework also has a presence in the other Microsoft clouds, and adding additional routes in those clouds won't mitigate the issue (because the JWT issuer doesn't match the OIDC url host name).

I'm looking into adding the additional route in the public cloud to mitigate this issue.

[2021-06-15 16:53] MichaelHaydenAtMicrosoft commented on #306
Closing due to lack of response. Please reopen if you need us to investigate further.

[2021-06-15 16:53] #306 closed

[2021-06-16 23:14] v-kydela commented on #304
@sunijk - It sounds like we're still not talking about the same thing. There are two potential problems you might be worried about:

1. Teams using different conversation ID's from the ones Skype uses
2. Teams using a different format for conversation ID's from the one Skype uses

I think it's important to understand and acknowledge that these are two different problems. I'm still not sure I under

[2021-06-17 06:29] sunijk commented on #304
My concern is the problem 1. Teams using different conversation ID's from the ones Skype uses. As I mentioned already we have done user registration in another web application based on the Skype Conversation Id.
That is why I am afraid of moving the channel to teams.

Let me check with my client for installing insiders version and report via “report a problem” with the logs.

[2021-06-18 21:09] v-kydela commented on #304
@sunijk - Have you checked with your client yet?

[2021-06-21 18:09] mareekuh opened #307 "Icon for Azure Bot is using the wrong blue"
Background of Azure bot Icon is wrong blue
Please fix to be the following Azure blue :  HEX 0078D4

<img width="766" alt="Screen Shot 2021-06-21 at 11 07 50 AM" src="https://user-images.githubusercontent.com/48503434/122807970-16cbc800-d281-11eb-8a89-c8d0b2a655c3.png">

(Already filed months ago in ADO but not yet fixed)

[2021-06-21 21:54] v-kydela commented on #304
@sunijk - Do you still need help?

[2021-06-22 06:41] sunijk commented on #304
Let me know how to install installing insiders version for getting logs

[2021-06-22 16:13] Andrea-Orimoto commented on #307
Tracking this in ADO, we don't need this additional issue here.
https://fuselabs.visualstudio.com/BotFramework/_workitems/edit/60336

[2021-06-22 16:13] #307 closed

[2021-06-23 18:03] v-kydela commented on #304
@sunijk - Here you go: https://www.skype.com/insider/

[2021-06-24 16:53] dulfe opened #308 "Slack DeliveryMode = Ephemeral does not work (again)"
I am reporting this issue again because the first time I did it was merged with another one but never fixed.

Issue microsoft/botbuilder-dotnet#5604 was merged with microsoft/botbuilder-dotnet#5602 and closed, but the solution for microsoft/botbuilder-dotnet#5602 (Commit microsoft/botbuilder-dotnet#5665) only fixed one issue.

`DeliveryMode = Ephemeral` still does not send an "ephemeral" message.

[2021-06-24 18:40] willportnoy commented on #302
@nvioli I've added the other route to help mitigate your issue.

https://api.botframework.com/.well-known/openid-configuration

[2021-06-24 18:40] #302 closed

[2021-06-26 05:51] shaun0024 opened #309 "Issue sending messages to Teams bot using REST API instead of SDK"
I have set up a Teams bot using the botbuilder SDK to send out proactive messages and it is working fine. However, I am now trying to use the REST API and am encountering an "Authorisation has been denied for this request error". I have been using this link as reference: https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-send-and-receive-messages?view=azure-bo

[2021-06-28 19:59] v-kydela commented on #304
@sunijk - Did you get the logs yet?

[2021-06-29 14:37] sunijk commented on #304
Where I can find the logs with skype insiders version.

[2021-06-29 16:03] v-kydela commented on #304
@sunijk - Try clicking "report a problem" according to these instructions: https://support.skype.com/en/faq/FA34643/skype-for-windows-10-insiders-your-most-asked-questions

[2021-07-05 10:30] BK3223 commented on #269
Hi ALL,
I am also facing similar issue.

[2021-07-07 15:54] anusharavindrar commented on #304
@sunijk, are you still working on this?

[2021-07-08 09:11] SrinagaramalakshmiM commented on #256
Hi ,
Regarding this getAadTokens() does the resourceurl parameter takes only resources of http urls  because when I'm trying to pass the api:// based url it was throwing an error can u pls look into this

[2021-07-08 09:36] SrinagaramalakshmiM commented on #256
@swagatmishra2007 can u pls look into this issue

[2021-07-09 18:07] stevkan commented on #304
Closing due to inactivity. If the issue persists, please feel free to reopen.

[2021-07-09 18:07] #304 closed

[2021-07-23 01:50] ppapebright opened #310 "Getting 200 for /conversation/{id}/upload?userId={id} but no attachment in stream"
The bot is sending back this message in the stream after uploading a file to the conversation via this method:
https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-send-activity?view=azure-bot-service-4.0#upload-one-attachment

**"text": "Looks like you tried to send an attachment. Currently, I can only process text. Please try sending your message again w

[2021-07-26 18:50] MichaelHaydenAtMicrosoft commented on #309
@tacri - looking for some Teams support here, as we cannot see issue with REST vs SDK in botframework

[2021-07-27 06:32] pannerselvam-yaltech opened #311 "Error: Malformed adaptive card"
I am trying to display customers list in MS Teams. My Adaptive card will shown in Bot composer and Developer web chat also, But when i host my app in Azure and connect my channel as MS Teams, it's show error message as "The bot encountered an error or bug" ,"To continue to run this bot, please fix the bot source code." And in console "name: 'DialogContextError',
  message: 'Malformed adaptive card

[2021-07-27 21:55] stevkan commented on #311
It looks like your adaptive card isn't structured correctly or there is something wrong on the adaptive cards side. When pasting your JSON in the [Designer](https://adaptivecards.io/designer/), if I put values into the Sample Data Editor, all the adaptive card properties acquire the values except for `telephone1`.

This suggests the issue is not in the BotFramework but instead either your JSON isn

[2021-07-28 05:01] pannerselvam-yaltech commented on #311
However, I added Main container in card. and get proper response in Teams.
Thanks all guys.

{
    "type": "AdaptiveCard",
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "version": "1.2",
    "body": [
        {
            "type": "Container",
            "items": [
                {
                    "type": "TextBlock",
                    "text": "${item.name}",

[2021-07-28 05:01] #311 closed

[2021-07-28 05:15] pannerselvam-yaltech opened #312 "Get User's coordinates in MS Team"
I would like to show near customers list in MAP with their address. so how can i get user live lat and lon in bot composer while using MS Team as Channel.

[2021-07-28 07:45] xieofxie opened #313 "Bot created in Composer doesn't show 'Open In Composer' in Azure"
## Describe the bug

![image](https://user-images.githubusercontent.com/2876650/127284082-88d96cb5-4bf4-4536-b9c0-6d7787a44d59.png)

should be:

![image](https://user-images.githubusercontent.com/2876650/127284064-e842f370-fff0-4b6e-bef2-9f71787edabe.png)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ]

[2021-07-28 16:13] dmvtech commented on #312
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2021-07-28 16:13] dmvtech commented on #312
There is no coordinate data that comes from `ChannelData` with the Teams channel. My assumption is that there is anything that the Teams client would have that convey that, but you might want to look into Teams GRAPH stuff to confirm.

Additionally, you could ask the customer for their location and store that in user state. Then you could have an API/call in the bot that would lookup long/lat. The

[2021-07-28 16:13] #312 closed

[2021-07-28 22:35] EricDahlvang commented on #309
The sdk ensures `TenantId` is present in `Activity.Conversation.TenantId`:

https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs#L1702

This missing value might be the issue here.

[2021-07-30 00:15] hailiu2586 commented on #313
@cwhitten @luhan2017 do we know whether composer created bot has  "openWithHint" set for "azurebot"? Could you provide a point to the composer code where the property is being set before the request is sent? thanks

[2021-07-30 00:21] MichaelHaydenAtMicrosoft commented on #309
Hi @shaun0024 , please give EricDahlvang's suggestion (above) a try and let us know if this resolves the issue for you.

[2021-07-30 00:25] hailiu2586 commented on #313
@swagatmishra2007 do you know why JS SDK uses https://github.com/Azure/azure-sdk-for-js/blob/33602ffe73abe54cf4c4e232ee60057d0ab3395e/sdk/botservice/arm-botservice/src/models/mappers.ts#L106 to only allow known property names?

[2021-07-30 00:59] shaun0024 commented on #309
Hi @MichaelHaydenAtMicrosoft, thanks, will give a try over the next few days.

[2021-07-30 18:52] hailiu2586 commented on #313
I have created  PR https://github.com/Azure/azure-rest-api-specs/pull/15456/files  add the properties to the swagger spec. Once that is published, and when the new JS SDK gets AutoRest generated. The composer can take on the new JS SDK to get the property set. If the composer wants to make the scenario work without waiting, it can issue direct ARM REST PUT on the bot to patch the properties.

[2021-08-02 03:42] luhan2017 commented on #313
https://github.com/microsoft/BotFramework-Composer/search?q=openWithHint&type=code here is the composer code for openWithHint.

[2021-08-04 08:28] pannerselvam-yaltech opened #314 "Bot composer Environment variables."
In previous code version of bot framework we were using environment variable in Azure app service. Now i am using Bot composer and i couldn't maintain any user credentials and url links. what should do for it?

[2021-08-06 00:37] MichaelHaydenAtMicrosoft commented on #309
Hi @shaun0024 , just following up to see if you need any additional assistance.

[2021-08-06 00:41] MichaelHaydenAtMicrosoft commented on #310
@ppapebright - Our apologies here, but currently PVA doesn’t support handling activity with attachment natively, which is by design. and engine has not made any code change in this area since GA.

You can also check the ticket that Steven attached above, which has a similar root cause. If this is not related to a PVA project, please feel free to re-open providing additional details.

[2021-08-06 00:41] #310 closed

[2021-08-06 00:50] shaun0024 commented on #309
Hi @MichaelHaydenAtMicrosoft, sorry but I have been a little pre-occupied with some other stuff. I think we could just close this for now and when I have tested it, I will reopen if the issue persists.

[2021-08-06 00:55] MichaelHaydenAtMicrosoft commented on #309
No worries! Closing for now, please reopen if needed

[2021-08-06 00:55] #309 closed

[2021-08-20 21:47] dudeed commented on #313
Hai's PR needs to get reviewed and checked in for this to be fixed.

[2021-08-24 11:22] deman4ik opened #315 "ChoicePrompt with LG Template and Hero Card style throws error in Telegram Bot"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.14.

## Describe the bug
While using prompt with style Hero Card and language template, like this
[code]
throws

`Error:DialogContextError: Bad Request: can't pars

[2021-08-27 21:30] KittPhi opened #316 "Custom Adapter receives error: [onTurnError] unhandled error: TypeError: bot.reply is not a function"
Hello,
We've created a Custom Botbuilder Adapter to connect to the Vonage API called [botbuilder-adapter-vonage-js](https://github.com/nexmo-se/botbuilder-adapter-vonage-js). To test the Adapter's basic functionality, with a basic bot reply, we send an sms to the Vonage number and should get a sms reply back "Hello Back", but instead receive the error below.

[code]
Not sure how to actually debug

[2021-08-30 15:51] stevkan commented on #316
Closed - dupe of #[6373](https://github.com/microsoft/botframework-sdk/issues/6373)

[2021-08-30 15:51] #316 closed

[2021-09-03 17:13] Bolleman opened #317 "ConversationParameters object needed to create conversation in Bot Service email channel"
I can't find any documentation on what the [ConversationParameters](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-bot-service-4.0#conversationparameters-object) object needs to look like in order to use the Bot Service [Create Conversation](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-ap

[2021-09-07 12:28] Jeffders commented on #317
To proactively create conversations in the bot to send email to a user, you'll want to use these fields on the ConversationParameter object:

For the email channel, the fields that are used by this API call are:
[code]

[2021-09-07 14:39] rR6kULhc5xgS opened #318 "Randomly get "No such host is known" when calling directline"
This has been randomly happening with our bot for the past couple weeks where we will suddenly get a burst of System.Net.Http.HttpRequestException with the message "No such host is known". These exceptions will coincide with failed dependency calls to `directline.botframework.com/v3/conversations/{conversationId}/activities/{conversationId}` that just have a result code of "Faulted".

Usually when

[2021-09-07 23:47] Bolleman commented on #317
Thanks for the quick response @Jeffders!

Your exact payload (except with a real email address) generated the following error:
`
    "code": "MissingProperty",
    "message": "'bot' is required"
`

However, the error message was nice and specific, so I just added the bot property according to the [docs](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-re

[2021-09-08 17:50] MichaelHaydenAtMicrosoft commented on #317
Great work, @Jeffders!!
@Bolleman - is there anything further you may need here or can we close this issue?

[2021-09-08 17:59] kevinfms01 commented on #318
I took a look at server logs on our side and didn't see anything suspicious.  I did see those conversation Ids show up in the logs in that general timeframe.
A few questions for you:
1) When did the problem start happening?  Did something change on your side that coincided with when this started happening?
2) Is there a VPN, proxy, or some other layer that is running that would be managing outgoin

[2021-09-08 18:49] rR6kULhc5xgS commented on #318
Thanks for your help.

1. It looks like it's something that's randomly happened going back months, but it only started happening with more consistency (happening at least every 2 or 3 days) on 8/29. Nothing significant has changed in our application, but we have been steadily increasing the amount of traffic the bot handles, and it's increased a fair bit in the last month.
2. Not that I'm aware of

[2021-09-09 00:59] Bolleman commented on #317
@MichaelHaydenAtMicrosoft Oh yes, my bad, I should have closed.  Thanks again.

[2021-09-09 00:59] #317 closed

[2021-09-10 22:26] bwamie commented on #315
This seems to be an issue with markdown.
You may be using  a lower schema transformation version which doesnt markdown some characters such as a '.'
Try selecting  a higher version atleast greater than 1.1.
![image](https://user-images.githubusercontent.com/12407430/132923942-60efaed1-92cc-4f62-90be-ddc141272872.png)

[2021-09-14 16:50] anusharr commented on #318
@rR6kULhc5xgS, can you share your WebChat implementation code? Also, do you get any kind of error/warning on Composer while testing locally?

[2021-09-15 17:27] rR6kULhc5xgS commented on #318
I have not seen any of these errors when running locally through Composer, or had a situation where messages suddenly wouldn't go through for a few seconds and then returned to normal. That's not to say it couldn't happen in that environment, but with how randomly and quickly it happens in production, I'd probably have to be lucky to catch it locally.

We are using ReactWebChat and on initial load

[2021-09-15 17:55] mmiele opened #319 "Reconnect to a conversation in Direct Line API 3.0"
Following the user’s intent as described in the issue: [Generate a new WebSocket stream URL #2050](https://github.com/MicrosoftDocs/bot-docs/issues/2050), it sounds like the reconnect endpoint is returning the full conversation history regardless of if the ‘Watermark’ parameter is sent or not.
Reading the article [Reconnect to a conversation in Direct Line API 3.0](https://docs.microsoft.com/en-us

[2021-09-15 18:10] JonathanFingold commented on #319
@MichaelHaydenAtMicrosoft
- Michael Miele asked Daniel Evans, who thought that the watermark was not working correctly, but Daniel was not 100% sure.

[2021-09-15 18:22] craigjensen commented on #319
@mmiele Please attach a conversationId and approx timestamp and I'll see if I can figure out where the issues is.

[2021-09-17 08:14] ruggedjungleboy commented on #59
We are experiencing the same issue with long running REST API calls in Teams as mentioned by dividor above. The bot in Teams is logging multiple support tickets for the same submit action and this is a problem.

This doesn't happen in other channels or in the emulator.

Was this bug addressed or is there a workaround that can be used?

[2021-09-20 14:30] alanszp commented on #247
It seems that the section was removed. Do you have an updated page?

[2021-09-20 16:29] anusharr commented on #318
@rR6kULhc5xgS, are you making any external api calls which is taking more than 15secs/long running calls? We do see a few operations running more than 15secs.

[2021-09-20 16:43] rR6kULhc5xgS commented on #318
@anusharr We have a few flows within the bot that are making external API calls. I definitely wouldn't expect any of them to normally take 15 seconds or more, and we don't make any purposefully long-running calls. But that's not to say an API request couldn't take a long time to respond on occasion. I can try and see if slow outgoing requests correspond with these errors when they happen. On the f

[2021-09-20 18:24] mmiele commented on #319
This is the doc issue opened by the customer: https://github.com/MicrosoftDocs/bot-docs/issues/2050

[2021-09-20 18:32] MichaelHaydenAtMicrosoft commented on #315
@deman4ik - wanting to follow up to see if Edwin's solution resolved your issue. Have you tried the updated version?

[2021-09-20 18:44] JonathanFingold commented on #319
@craigjensen please follow up with https://github.com/Mohammed-Ahmed-Ismail for more information.

[2021-09-20 19:16] craigjensen commented on #319
@Mohammed-Ahmed-Ismail Please attach a conversationId and approx timestamp and I'll see if I can figure out where the issue is.

[2021-09-22 22:08] anusharr commented on #318
@rR6kULhc5xgS, a few more clarifying questions to help understand the issue better:

-  Is `botDispatch()` the "dispatch function" you are referring to? If not, can you share that code?
- What is the code behind botDispatch()? Is this where the Direct Line object is being saved to state? Or, is it only returning the token?
-  You mention that you are dynamically loading Web Chat from the Direct Li

[2021-09-23 18:47] rR6kULhc5xgS commented on #318
@anusharr Thanks for continuing to investigate this. For your first few questions, I've asked the front-end engineer to respond, since he can probably provide better answers than I can into how all of that is set up.

I haven't seen much consistency around when the error happens in the lifetime of a conversation, but anecdotally I'd say it's happening a few minutes in normally. As far as I know, t

[2021-09-27 14:22] JDKMX33 commented on #318
Correct, this `botDispatch` is for storing the direct line in that state, we are using useReduce.

[2021-09-27 18:48] MichaelHaydenAtMicrosoft commented on #315
Closing for now. Please update or reopen if additional help is needed.

[2021-09-27 18:48] #315 closed

[2021-09-27 18:50] MichaelHaydenAtMicrosoft commented on #319
@Mohammed-Ahmed-Ismail, are you able to attach a conversationid and timestamp? We will need to this in order to troubleshoot further.

[2021-10-01 00:02] MichaelHaydenAtMicrosoft commented on #318
@rR6kULhc5xgS  @JDKMX33 - Could you help fill in the blanks on these other Qs here?

- What is the code behind botDispatch()? Is this where the Direct Line object is being saved to state? Or, is it only returning the token?

- You mention that you are dynamically loading Web Chat from the Direct Line object stored in state, indicating that Web Chat is getting reloaded periodically. Is the assumpti

[2021-10-01 14:06] JDKMX33 commented on #318
This is just storing the directLine in the state. This does not return a token, just stores it in the state.

It is dynamically reloaded but only after we have received the directline. After that, the chat does not reload.

We do not have an refreshing the token logic.

[2021-10-04 18:51] MichaelHaydenAtMicrosoft commented on #319
Closing for now. We tested on our end and bot is responding. Please re-open if issue reoccurs

[2021-10-04 18:51] #319 closed

[2021-10-06 10:21] ShavaliP opened #320 "Regarding Input.Date Adaptive card"
Hi,

I am developing a chatbot for my client.
In the conversation with the bot, the user needs to enter a date using the card provided.
I am designing an Input.Date adaptive card.

<img width="420" alt="date_input_card" src="https://user-images.githubusercontent.com/87933076/136184906-f301efeb-b917-42c5-99a8-96839f9ef312.PNG">

My issue is, once a user enters a date in the card using the calendar,

[2021-10-07 17:20] anusharr commented on #320
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](https://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github repo](https://github.com/microsoft/botframework-sdk/) is the preferred platform for information on submitting bug fixes and feature requests.

[2021-10-08 13:00] JordyGit commented on #205
Please add support for updating activities in the bot emulator.

[2021-10-09 00:00] anusharr commented on #318
@JDKMX33, thanks for the above info. Can you share your complete Webchat code for us to investigate further?

[2021-10-09 03:54] luhan2017 commented on #313
Hai's PR just got merged, and I submitted api release request. I will update the package version in composer when the release is done. @MichaelHaydenAtMicrosoft

[2021-10-11 16:22] pedro-ramirez-suarez opened #321 ""Empty" messages comming from DirectLine"
## Describe the bug
Recently we started to get "empty" or incomplete messages from directline randomly, this messages represent between 1% and 2% of the total messages.

Usually we get a response like this:
[code]
And this is the response that we are randomly getting:
[code]
That "empty" response is returned no matter if the expected response it's a normal message, a hero card or an activity card,

[2021-10-15 22:25] pedro-ramirez-suarez commented on #321
We are trying to capture the error, I'll post the trace as soon as we have it.

[2021-10-21 19:21] pedro-ramirez-suarez commented on #321
Sorry for the late response, we captured the network traffic with Wireshark, you can download the session from here: https://drive.google.com/file/d/1z6Li_MN3v0BPLk-MZhjGxNftyFBuCSir/view?usp=sharing
The empty message was present a few times. let me know if you need any other thing from our side.

[2021-10-29 18:09] stevkan commented on #321
Hi @pedro-ramirez-suarez, I'm assisting on the investigation of this issue. Thank you for the saved Wireshark session you provided. Unfortunately, it doesn't provide all the data that I was hoping to see, primarily the data/content being posted. However, if you are willing to capture another session with a slight tweak, I think we can get it. At least, that is what my tests using Wireshark are sho